* ----------------------------------------------------------------------------------------
* 04. MENU STYLE
* ----------------------------------------------------------------------------------------
*/

.sticky-menu {
    position: relative;
    z-index: 999;
    width: 100%;
}
.mainmenu-area {
    background-color: transparent;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    z-index: 999;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}

@media only screen and (max-width: 991px) and (min-width: 769px){
	.mainmenu-area{
		z-index:99;
	}
}


.mainmenu-area.menu-animation {
    /* box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1); */
}
.navbar-default {
    margin-bottom: 0;
    border-radius: 0;
    background-color: transparent;
    border: none;
}
.navbar-default .navbar-nav > li > a {
    color: #000;
    /* padding: 25px; */
	/*padding: 25px 17px;*/
    padding: 10px 17px;
    font-weight: 700;
	font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
	font-family: 'Lato', sans-serif;
	text-transform:uppercase;
    
}

/*.navbar-default .navbar-nav > li > a:first-child{
    padding-left: 5px;
}*/
/* .navbar-nav > li{
	border-left:2px solid #000;
} */


.navbar-nav > li:after{
    content:'';
    width:2px;
    height:10px;
    background:#000;
    position:absolute;
    top:15px;
    /* background: transparent; */
}

.navbar-nav > li:first-child:after{
    width:0;
    background:transparent;
}



/* .navbar-nav li a:after {
    content: '';
    width: 2px;
    height: 23px;
    background: #000;
    position: absolute;
    top: 15px;
    right: 0;
    display: block;
}

.navbar-nav li a:last-child:after {
    content:'';
} */ 



li .dr-arrow:after{
	content: '';
    position: absolute;
    top: 50%;
    right: 4px;
    margin-top: -2px;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top-color: #dFeEFF;
    border-top-color: rgb(0, 0, 0);
	
}




.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #d03426;
    background-color: transparent;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #d03426;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #d03426;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:focus {
    color:#d03426;
    background-color: transparent;
}
/* dropdown menu style */

.navbar-left .dropdown-menu {
    right: auto;
    left: 0;
}
.dropdown-menu {
    background-color: #fff;
    border: medium none;
    border-radius: 0;
    /* box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.176); */
    display: block;
    min-width: 200px;
    opacity: 0;
    padding: 0;
    top: 130%;
    z-index: 999999;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transform: scaleY(0);
    transform-origin: 0 0 0;
}
.dropdown-menu li > a {
    color: #333;
    clear: both;
    display: block;
    line-height: 1.42857;
    padding: 14px 20px;
    text-transform: uppercase;
    /* white-space: nowrap; */
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
}
.dropdown-menu li > a:hover,
.dropdown-menu > li > a:focus {
    color: #32c5d2 !important;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
    background-color: #fff;
}
.dropdown-menu li > a.active {
    color: #32c5d2 !important;
}
.dropdown:hover > .dropdown-menu {
    opacity: 1;
    top: 100%;
    visibility: visible;
    transform: scaleY(1);
}


/* .mega-menu-wraper{
	border-right:1px solid #ccc;
} */

.dropdown:hover > .dropdown-menu.mega-dropdown-menu {
    opacity: 1;
    /*top: 50px;*/
    top: 38px;
    visibility: visible;
    transform: scaleY(1);
	/* box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.176); */
	webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}

.dropdown-menu .dropdown > .dropdown-menu {
    left: 300%;
    margin-top: -1px;
    min-width: 170px;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    display: block;
}
.dropdown-menu li:not(:last-child) > a {
    border-bottom: 1px solid #e9e9e9;
}
.dropdown-menu .dropdown:hover > .dropdown-menu {
    visibility: visible;
    opacity: 1;
    left: 100.5%;
}
/* mega menu */

.mega-dropdown {
    position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px 20px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
	position:absolute;
	top:63px;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {} .mega-dropdown-menu .dropdown-header {
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 15px;
    letter-spacing: 2px;
    padding: 0 0 20px 16px;
}
.dropdown-menu.mega-dropdown-menu li > a {
    padding: 10px 16px;
}
.dropdown-menu.mega-dropdown-menu li:not(:last-child) > a {
    border: none !important;
}
.mega-dropdown-menu .single-list-view {
    padding: 0 0 30px;
}
.mega-dropdown .list-text .add-to-cart-btn {
    border-radius: 0;
    padding: 5px 17px;
}
.mega-dropdown .list-text .add-to-cart-btn:after {
    border-radius: 0;
}
ul.mega-dropdown-menu li {
    position: relative;
}
.label-hot:before,
.label-new:before {
    right: 0;
    top: 0;
    padding: 0 18px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    color: #fff;
}
.label-hot:before {
    background: #F73C56;
    content: "Hot";
}
.label-new:before {
    background: #5cb85c;
    content: "New";
}
/*
* ----------------------------------------------------------------------------------------
* 04. END MENU STYLE
* ----------------------------------------------------------------------------------------
*/



@media (max-width: 1390px){
    .navbar-default .navbar-nav > li > a{
        padding: 25px 12px;
    }
}