@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Nunito');

html {
  scroll-behavior: smooth;
}

/* TOP BAR */
a:focus, a:hover {
  text-decoration: none;
}

.top_border {
  border-bottom: 1px solid #eeeeee;
}

/* .topbar_addr,.topbar_phone{
    padding: 20px 0 20px 0;
    font:600 12px 'Open Sans',sans-serif;
    text-transform: uppercase;
    border-right:1px solid #eeeeee;
}

.topbar_addr{
    padding-left: 35px;
    border-right:1px solid #eeeeee;
    border-left:1px solid #eeeeee;
    margin-right: 10px;
}
.topbar_addr i.fa, .topbar_phone i.fa{
    font-size:17px;
    color:#00bff3;
    margin-right: 10px;
    vertical-align: middle;
}
*/
.topbar_phone {
  padding: 5px 0 10px 0;
  font: 600 12px 'Open Sans', sans-serif;
  border-right: 1px solid #eeeeee;
}

.topbar_phone i.fa {
  font-size: 17px;
  color: #00bff3;
  margin-right: 10px;
  vertical-align: middle;
}

.topbar_nav {
  overflow: hidden;
  /* border-right: 1px solid #eeeeee; */
  float: right;
  display: block;
}

.topbar_nav ul {
  margin-bottom: 0;
  padding: 0;
}

.topbar_nav li {
  float: right;
  list-style: none;
  padding: 0px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
}

.topbar_nav li i {
  padding-right: 10px;
  font-size: 16px;
  vertical-align: text-top;
}

/* .topbar_nav li:last-child {
  border-left: 1px solid #eeeeee;
} */
.topbar_nav li a {
  display: block;
  width: 100%;
  padding: 8px 18px;
  border-right: 1px solid #eeeeee;
  font-weight: 500;
  color: #333;
}

.topbar_nav li:last-child a {
  color: #00b0e0;
}

.topbar_nav li:first-child a {
  border-right: 0;
  padding-right: 0;
}

.topbar_nav li a:hover, .b-topBar__lang a:hover {
  text-decoration: underline;
}

.top_searchbox {
  position: relative;
  width: 100%;
}

.top_searchbox button {
  position: absolute;
  background: #00bff3;
  color: #fff;
  top: 0;
  right: 0;
  height: 40px;
  width: auto;
  border: none;
  padding: 0px 5px;
}

.top_searchbox button i {
  padding: 0 20px;
}

input[type=text] {
  width: 100%;
  background: #fff;
  border: 1px solid #dcdcdc;
  height: 40px;
  padding: 0px 15px;
  color: #636363;
  background: #f5f5f5;
  font-size: 12px;
  outline: none;
}

textarea {
  width: 100%;
  background: #fff;
  border: 1px solid #dcdcdc;
  min-height: 70px;
  color: #636363;
  background: #f5f5f5;
  font-size: 12px;
  outline: none;
}

sup {
  color: #ff0000;
  padding-left: 3px;
  font-size: 18px;
  top: -0.10em;
}

.top_searchbox button, .newsletter_input button {
  position: absolute;
  background: #00bff3;
  color: #fff;
  top: 0;
  right: 0;
  height: 40px;
  width: auto;
  border: none;
  padding: 0px 5px;
}

button {
  background: #00bff3;
  color: #fff;
  height: 40px;
  width: auto;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0px 25px;
  font-weight: 600;
}

input:hover, input:focus {
  /* border:1px solid #e8e8e8; */
  outline: none;
}

button:hover, button:focus {
  outline: none;
}

.top_cart {
  text-align: right;
  width: auto;
  /* display: flex;
  float: right; */
}

.top_cart a {
  color: #333;
  text-decoration: none;
}

.cart_wishlist, .cart_shopping {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.cart_wishlist i, .cart_shopping i {
  font-size: 36px;
  margin-right: 10px;
}

.cart_wishlist .wishlist_count, .cart_shopping .shopping_count {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #00bff3;
  position: absolute;
  top: -2px;
  left: 20px;
  color: #fff;
  text-align: center;
  /* padding: 5px; */
}

/*
.cart_shopping .shopping_count {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #00bff3;
  position: absolute;
  top: -2px;
  left: 25px;
  color: #fff;
  text-align: center;
} */
/* NAVBAR */
.nav_main {
  padding: 8px 0px 0px;
  ;
  position: relative;
  /*z-index: 99;*/
  z-index: 9;
}

.nav_mainlogo {
  padding: 10px 0px;
  position: relative;
  z-index: 99;
}

.nav_logo {
  float: left;
  padding: 8px 0 0 0px;
  text-transform: uppercase;
}

.nav_logo h3 {
  margin: 0;
  font-size: 26px;
  line-height: 20px
}

.nav_logo h3 a {
  text-decoration: none;
  font: 700 26px 'Titillium Web', sans-serif;
}

.nav_logo h2 {
  margin: 0;
  line-height: 15px;
  font-size: 11px;
  margin-top: -5px;
}

.nav_logo h2 a {
  font: 300 11px 'Open Sans', sans-serif;
  text-decoration: none;
}

.nav_main_list {
  /* float: right; */
  /* float: left; */
}

.nav_main_list ul {
  /* margin-top: 20px; */
  padding-left: 0;
  margin-bottom: 0;
}

.nav_main_list ul li {
  float: left;
  list-style: none;
  height: 38px;
}

.navbar-collapse.in {
  overflow-y: initial;
}

.navbar-nav-menu>li>.dropdown-menu {
  display: block !important;
  height: 0px;
  overflow: hidden;
  opacity: 0;
}

.navbar-nav-menu>li.open>.dropdown-menu {
  height: auto;
  padding-bottom: 3px;
  opacity: 1;
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}

.nav_main_list ul li a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 0 15px 15px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.71px;
  color: #3a3a3a;
}

.nav_main_list ul li a:nth-child(1) {
  padding-left: 0px;
}

.nav_main_list ul li a:hover {
  border-bottom: 2px solid #00bff3;
}

.nav_main_list ul li a i.fa {
  margin-left: 4px;
}

.navbar-toggle {
  float: left;
  background-color: #00bff3;
}

.navbar-toggle .icon-bar {
  background: aliceblue;
}

.sub_nav li {
  display: block;
  float: none !important;
}

.sub_nav {
  margin-top: 0 !important;
}

.sub_nav li a {
  display: block !important;
  text-align: left;
  padding: 10px 14px !important;
}

i.fa-caret-down {
  color: #00bff3;
}

.navbar-collapse {
  padding: 0;
}

.sticky-header.sticky {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  background: #fff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0px 3px 1px rgba(0, 0, 0, 0.1);
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
  animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  border-bottom: 0;
}

/* Slider */
.banner_slider .slide {
  border: 1px solid #f2f2f2;
  padding: 6px;
}

.carousel-control, .carousel-control:hover {
  background-image: none !important;
}

.banner_slider .carousel-inner .item>img {
  width: 100%;
  height: 450px;
}

.carousel-control.right i.fa {
  height: 65px;
  width: 35px;
  border-top-left-radius: 65px;
  border-bottom-left-radius: 65px;
  right: 6px;
  position: absolute;
  top: 50%;
  margin-top: -32.5px;
  padding-top: 20px;
  padding-left: 9px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-control.left i.fa {
  height: 65px;
  width: 35px;
  border-top-right-radius: 65px;
  border-bottom-right-radius: 65px;
  left: 6px !important;
  position: absolute;
  top: 50%;
  margin-top: -32.5px;
  padding-top: 20px;
  padding-right: 9px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .active {
  opacity: 1;
}

.carousel-fade .active.left,
.carousel-fade .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .next.left,
.carousel-fade .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*TESTIMONIALS*/
.testimonial {
  /* background: #f9f9f9; */
  /* padding: 0 0 30px; */
}

.testimonial .carousel-control {
  width: 0;
}

.testimonial_img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  background: #ccc;
}

.testimonial_img img {
  width: 100%;
  height: 100%;
}

.main_title {
  text-transform: uppercase;
  font-size: 24px;
  color: #333;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 40px 15px;
  text-align: center;
}

.h1-title {
  text-transform: uppercase;
  font-size: 24px;
  color: #00bff3;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 20px 15px;
  text-align: center;
}

.carousel-3d-container {
  .carousel-3d-slide {
    padding: 20px;
  }
}

/* our Categories */
.our_categories .category_circle {
  background: #fbfbfb;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  position: relative;
  overflow: hidden;
  border: 1px solid #d4d4d4;
  margin: 0px auto;
  padding: 0px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.our_categories img {
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 20px;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.our_categories .category_circle:hover {
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.10), 0 6px 5px 0 rgba(0, 0, 0, 0.10);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.our_categories .featured_item_box h4 {
  text-align: center;
  /* text-transform: uppercase; */
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 25px;
  color: #4c4c4c;
}

.our_categories .featured_item_box .category_view {
  color: #00bff3;
  text-align: center;
  font-size: 14px;
  margin: 25px 0px 0;
}

/* Featured */
.featured_product {
  padding: 0px 0 0px 0;
  text-align: center;
  position: relative;
  /* box-shadow: 0px 30px 100px -38px rgba(0, 0, 0, 0.3); */
  /*z-index: 100;*/
  z-index: 9;
}

.featured_item_box {
  width: 260px;
  float: left;
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 15px;
  margin: 0 11px 30px 11px;
  border-radius: 0;
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* .single-product-section .featured_item_box {
  width:240px;
} */
.featured_item_box:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.10), 0 6px 5px 0 rgba(0, 0, 0, 0.10);
}

.featured_item_box>a {
  position: relative;
  display: block;
  /* margin-bottom: 15px; */
}

.featured_item_box .new_brand, .featured_item_box .m-leasing {
  background-color: #00bff3;
  color: #fff;
  font: 600 10px 'Open Sans', sans-serif;
  padding: 5px 10px;
  text-transform: uppercase;
  position: absolute;
  top: -30px;
  right: 0px;
  z-index: 1000;
}

.featured_item_box .stock_status {
  font: 600 14px 'Open Sans', sans-serif;
  padding: 2px 2px;
  text-transform: uppercase;
  position: absolute;
  top: -30px;
  left: 0px;
  z-index: 1000;
}

.featured_item_box .in {
  color: #128026;
}

.featured_item_box .out {
  color: #d1252a;
}

.feature_info {
  text-align: left;
  display: block;
}

.feature_info a {
  padding: 8px;
  color: #00bff3 !important;
  /* margin-right: 6px; */
}

.feature_ratings {
  display: block;
  padding: 0px 3px;
}

.product_brand>.feature_ratings {
  display: inline-block;
}

.feature_ratings ul {
  display: flex;
  list-style: none;
  padding: 0px;
  color: #e7a200;
  margin: 0;
}

.featured_img {
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  width: 200px;
  height: 130px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.featured_item_price {
  padding: 5px 5px;
  font: 500 14px 'Roboto', sans-serif;
  color: #1d1d1d;
  float: left;
  text-align: left;
  margin-left: 5px;
  line-height: 2;
}

.price_color {
  font: 600 16px 'Nunito', sans-serif;
  color: #31353c;
  padding-left: 5px;
  letter-spacing: 1px;
}

.featured_item_box h5 {
  font: 600 14px 'Open Sans',sans-serif;
  padding: 15px 5px 0px 10px;
  margin: 5px 0px 0px 0px;
  clear: both;
  text-align: left;
  border-top: 1px solid #B4B4B4;
  position: relative;
  height: 55px;
  display: table-cell;
  vertical-align: middle;
}

.featured_item_box a {
  color: #31353c;
  text-decoration: none;
  padding: 5px 5px;
}

.featured_item_box h5:after {
  background: url(../images/down_arrow.png) center no-repeat;
  /* content: "\f107"; */
  content: " ";
  font-family: "FontAwesome";
  width: 15px;
  left: 20px;
  height: 7px;
  position: absolute;
  top: -1px;
  display: block;
}

.product_wishlist {
  position: relative;
  float: right;
  bottom: 0;
  right: 15px;
  z-index: 9999;
}

.product_wishlist i {
  font-size: 22px;
  color: #e7a200;
}

.view_all {
  display: block;
  margin: 0;
  padding: 0;
  clear: both;
}

.view_all button {
  outline: none;
  background: #696969;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0px auto;
}

.view {
  color: #fff;
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #F7CA18;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.view:hover {
  color: #fff ;
  background-color: #343434;
}

/* Abpout us */
.about_us {
  padding: 0px 0 0px 0;
  text-align: center;
  position: relative;
  /* box-shadow: 0px 30px 100px -38px rgba(0, 0, 0, 0.3); */
  z-index: 100;
}

.about_us img {
  max-width: 100%;
}

.about_us p {
  margin: 10px 0;
}

/*VIDEO*/
.video_block .video_slide .videoslide_img {
  top: 0 !important;
  z-index: 111;
}

/* .video_block .video_slide .videoslide_img li a::after {
  position: absolute;
  content: '\f16a';
  font-family: "FontAwesome";
  cursor: pointer;
  top: 45%;
  right: 45%;
  color: #bf0c24;
  font-size: xx-large;
  z-index: 99999999;
} */
.video_block .video_slide .left {
  position: absolute !important;
  left: -50px !important;
  top: 43% !important;
  cursor: pointer;
}

.video_block .video_slide .right {
  position: absolute !important;
  right: -50px !important;
  top: 43% !important;
  cursor: pointer;
}

.video_block .video_slide .left i, .video_block .video_slide .right i {
  font-size: 46px;
}

.fancybox-overlay {
  z-index: 11111 !important;
}

.client_block {
  /* margin: 0 0 30px 0; */
  padding: 40px 0;
  background-image: url(../images/client-bg.jpg);
  background-repeat: repeat;
  background-position: center;
  position: relative;
  text-align: center;
}

.client_block .carousel-inner ul {
  list-style-type: none;
  display: block;
}

.client_block .carousel-inner ul li {
  display: inline-block;
}

.client_block .carousel-control.right i.fa {
  height: 65px;
  width: 35px;
  border-top-left-radius: 65px;
  border-bottom-left-radius: 65px;
  right: 6px;
  position: absolute;
  top: 50%;
  margin-top: -32.5px;
  padding-top: 14px;
  padding-left: 9px;
  text-align: center;
}

.client_block .carousel-control.left i.fa {
  height: 65px;
  width: 35px;
  border-top-right-radius: 65px;
  border-bottom-right-radius: 65px;
  left: 6px !important;
  position: absolute;
  top: 50%;
  margin-top: -32.5px;
  padding-top: 14px;
  padding-right: 9px;
  text-align: center;
}

/* .client_block .carousel-inner img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 20px;
} */
/*FOOTER*/
footer {
  width: 100%;
  background: #111;
  color: #7c7e83;
  padding-bottom: 20px;
}

.footer_main .footer_newsletter {
  background: #181818;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
}

.footer_main .footer_newsletter h3 {
  font-size: 22px;
  line-height: 40px;
  font-family: 'Open Sans', sans-serif;
  /* text-transform: capitalize; */
  margin-bottom: 3px;
}

/* .footer_main .footer_newsletter .newsletter_input {
    width: 50%;
    margin: 10px 0 0 0;
} */
/* .newsletter_input input {
    width: 50%;
} */
.newsletter_input button {
  width: 100px;
  text-transform: uppercase;
  font: 500 14px 'Open Sans', sans-serif;
  color: #fff;
}

.footer_info {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}

.footer_info .footer_title {
  color: #c5c5c5;
  font: 600 16px 'Open Sans', sans-serif;
  letter-spacing: 1px;
  border-bottom: solid 1px #3a3a3a;
  padding-bottom: 20px;
  margin: 0 0 30px;
  text-transform: uppercase;
}

.footer_info ul, .social_icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer_info li {
  color: #7c7e83;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
  letter-spacing: 0.5px;
}

.footer_info .personal_info li {
  text-indent: -25px;
  margin-left: 25px;
}

.footer_info .personal_info li i {
  margin-right: 5px;
}

.footer_info ul>li:first-child {
  margin-top: 0px;
}

.footer_info li i {
  font-size: 18px;
  color: #999999;
  margin-right: 20px;
  float: left;
  width: 20px;
}

.footer_info a {
  color: #7c7e83;
  text-decoration: none;
}

.personal_info a:hover, .social_icons li i:hover {
  color: #fff;
  text-decoration: none;
}

.social_icons li i {
  font-size: 20px;
  color: #999999;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  width: auto;
}

.copy_right {
  padding: 20px 0 0px;
  margin: 0px auto;
  font-size: 12px;
  text-align: center;
  border-top: 1px solid #272727;
  color: #606165;
}

/* .footer_main button:hover, .footer_main button:focus {
  outline: none;
}

.footer_main button {
  position: absolute;
  background: #00bff3;
  color: #fff;
  height: 40px;
  width: 60px;
  border: none;
  padding: 0px 5px;
} */
/*PRODUCT DESCRIPTION*/
.product_desc .product_desc_bg {
  padding: 40px;
  background: url('../images/productdesc-bg.jpg');
  background-size: cover;
}

.product_desc .product_desc_bg h3 {
  color: #fff;
  font: 700 24px 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0px;
}

.breadcrumb_part {
  list-style: none;
  margin: 0 30px;
  padding: 0;
  text-align: right;
}

.breadcrumb_part li {
  display: inline-block;
  list-style: none;
  font-size: 16px;
  line-height: 1.85;
}

.breadcrumb_part li a, .breadcrumb_part li i {
  color: #c7c7c7;
  padding-right: 5px;
  padding-left: 5px;
}

.breadcrumb_part .active {
  color: #00bff3;
}

.product_image {
  border: solid 1px #e6e6e6;
  margin: 0;
  padding: 10px;
  height: 290px;
}

.product_desc_content h4 {
  color: #00bff3;
  font: 600 20px 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.product_desc_content p {
  margin: 5px 0;
}

.product_desc_content .product_instock {
  color: #128026;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

.product_desc_content .product_brand img {
  width: 50px;
}

.product_desc_content .total_price {
  color: #565656;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;
  /* letter-spacing: 1px; */
  margin-top: 0;
}

.product_desc_content .mrp_price {
  color: #565656;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;
  /* letter-spacing: 1px; */
  padding: 5px 0 0 10px;
  margin-top: 0;
}

.product_desc_content .mrp_price {
  font-size: 20px !important;
  color: #B12704 !important;
  text-decoration: line-through;
}

.product_desc_content .save_price {
  color: #B12704 !important;
  font-size: 12px;
  font-weight: 600;
}

.product_desc_content .feature_ratings li:last-child {
  margin-left: 15px;
}

.product_desc_content .feature_ratings li:last-child a, .stock_block a {
  color: #337ab7;
  text-decoration: underline;
}

.color_blue {
  color: #00bff3;
}

.product_desc_content .total_price span {
  font: 600 26px 'Open Sans', sans-serif;
  color: #00bff3;
}

.product_desc_content .product_buttons {
  display: block;
  margin-left: 0px;
}

.product_desc_content .product_buttons button {
  margin-right: 15px;
  font-weight: 600;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e !important;
  border-color: #eea236 !important;
}

.quantity {
  /*float: left; */
  margin: 15px 10px;
  margin-left: 0;
  height: 40px;
  border: solid 1px #e6e6e6;
  display: block;
  width: 150px;
}

.quantity .group-quantity-button a {
  display: inline-block;
  width: 35px;
  text-align: center;
  line-height: 40px;
  height: 40px;
  color: #8e8e8e;
  font-size: 13px;
}

.quantity .input-text {
  border-top: none;
  border-bottom: none;
  border-right: solid 1px #e6e6e6;
  border-left: solid 1px #e6e6e6;
  line-height: 35px;
  height: 35px;
  text-align: center;
  font-size: 16px;
  color: #8e8e8e;
  width: 69px;
}

.buy_access h4 {
  color: #333;
  /* margin-top: 10px; */
  font-weight: 600;
  padding: 5px 5px 10px 0px;
  margin: 5px 0px 0px 0px;
  clear: both;
  text-align: left;
  border-bottom: 1px solid #B4B4B4;
  position: relative;
}

.buy_access h4::after {
  background: url(../images/down_arrow.png) center no-repeat;
  /* content: "\f107"; */
  content: " ";
  font-family: "FontAwesome";
  width: 15px;
  left: 20px;
  height: 7px;
  position: absolute;
  bottom: -6px;
  display: block;
}

.buy_access ul {
  margin: 0;
  padding: 0;
}

.buy_access ul .buy_access_product {
  padding: 10px 0;
  border-bottom: solid 1px #e6e6e6;
  margin-bottom: 0;
  display: inline-block;
  width: 100%;
}

.buy_access ul .buy_access_product .thumb {
  float: left;
  margin-right: 10px;
  max-width: 75px;
}

.buy_access ul .buy_access_product .thumb a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 3px;
}

.buy_access ul .buy_access_product .access_cont {
  padding: 0;
  margin-bottom: 0;
  display: inline-block;
  max-width: 150px;
}

.buy_access ul .buy_access_product .access_cont .access_name {
  color: #00bff3;
  font-size: 14px;
}

.buy_access ul .buy_access_product .access_cont .access_number {
  color: #B12704 !important;
  font-size: 14px;
  line-height: 2;
}

.key_feat_txt {
  letter-spacing: 0.75px;
}

.key_feat_txt h4 {
  font-weight: 600;
  color: #565656;
}

.key_feat_txt ul {
  margin: 0;
  padding: 0;
}

.key_feat_txt li {
  list-style: circle;
  padding: 5px 0;
  font-size: 14px;
}

.product_image .productslide_img {
  display: block;
  width: 100%;
  height: 200px;
}

.product_image .productslide_img img {
  width: 100%;
  height: 100%;
}

#owl-1 .owl-carousel.owl-drag .owl-item {
  margin-right: 0 !important;
}

#owl-2 {
  margin-top: 10px;
}

#owl_2>.owl-nav {
  display: none;
}

#owl_2 {
  padding: 10px 15px;
}

#owl_2 .owl-stage-outer .owl-stage img {
  cursor: pointer;
}

/* .slide_buttons {
  display: table;
  margin: 100px auto;
} */
.slide_buttons .prev_btn {
  background: #00bff3;
  color: #fff;
  padding: 5px;
  margin-left: 15px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 250px;
  left: 0;
}

.slide_buttons .next_btn {
  background: #00bff3;
  color: #fff;
  padding: 5px;
  margin-right: 15px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 250px;
  right: 0;
}

/* .next_btn, .prev_btn{
    float: right;
    background: #2d9070;
    color: #fff;
    padding: 10px;
    margin-left: 5px;
    cursor: pointer;
} */
.review_progress {
  height: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.review_progress_bar {
  float: left;
  width: 0;
  height: 100%;
  padding-left: 2px;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #e7a200;
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}

.comment_block {
  margin-bottom: 20px;
}

.no-margin {
  padding: 0;
  margin: 0;
}

.review_thumb {
  padding: 0px 0px;
  width: 50px;
  height: 50px;
  margin-left: 25px;
}

.review_thumb img {
  max-width: 100%;
}

.comment_block .comment_body {
  position: relative;
  padding: 15px;
  border: 1px solid #e0e0e0;
}

.comment_block .comment_body:before {
  left: -10px;
  border-color: transparent #e0e0e0 transparent transparent;
}

.comment_block .comment_body:after {
  left: -8px;
  border-color: transparent #fff transparent transparent;
}

.comment_block .comment_body:before, .comment_block .comment_body:after {
  content: "";
  border-width: 7.5px 10px 7.5px 0;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 20px;
}

.comment_block .comment_body .author {
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
}

.star-holder .star {
  display: inline;
}

.comment_block .comment_body .date {
  color: #8c8c8c;
  margin-right: 15px;
  font-size: 14px;
  /* line-height: 26px; */
}

.comment_block .comment_body .comment_text {
  margin: 10px 0 7px 0 !important;
}

#single-product-tab .new-review-form {
  margin: 53px 0 0 0;
}

#single-product-tab .new-review-form h2 {
  font-size: 22px;
  line-height: 36px;
}

#single-product-tab .new-review-form form {
  margin: 27px 0 0 0;
}

#single-product-tab .new-review-form .field-row {
  margin-bottom: 36px;
}

#single-product-tab .new-review-form .star-row {
  margin-bottom: 27px !important;
}

#single-product-tab .new-review-form .star-row .star-holder {
  padding: 9px 0 0 0;
}

.star-holder .star {
  display: inline;
}

#single-product-tab .new-review-form .buttons-holder {
  margin: -16px 0px 0 0px;
  text-align: right;
}

#single-product-tab .new-review-form .buttons-holder button {
  padding: 14px 31px;
}

/*media Query*/
}

@media (max-width: 600px) {
  input[type=text] {
    height: 35px;
  }

  .top_searchbox button, .newsletter_input button {
    height: 35px;
  }

  .nav_mainlogo {
    padding: 5px 0px;
  }

  .top_searchbox button i {
    padding: 0 5px !important;
  }

  .footer_main .footer_newsletter {
    display: block;
  }
}

@media (max-width: 768px) {
  .topbar_nav li a {
    padding: 8px 4px;
  }

  .topbar_nav li i {
    padding-right: 5px;
    font-size: 14px;
  }

  .cart_wishlist span:nth-of-type(odd), .cart_shopping span:nth-of-type(odd) {
    font-size: 12px;
    display: none;
  }

  .banner_slider .carousel-inner .item>img {
    height: 230px;
  }

  .featured_item_box {
    width: 100% !important;
    margin: 10px auto;
    align-items: center;
  }

  .review_block .comments {
    margin-top: 25px;
  }

  .product_desc .product_desc_bg {
    padding: 20px;
  }

  .product_desc .product_desc_bg h3 {
    font: 600 16px 'Open Sans', sans-serif;
  }

  .breadcrumb_part li {
    font-size: 14px;
    line-height: 1.5;
  }
}

@media (min-width: 769px) {
  .topbar_nav li a {
    padding: 8px 8px;
  }

  .topbar_nav li i {
    padding-right: 5px;
    font-size: 14px;
  }
}

@media (min-width:769px) and (max-width:992px) {
  .featured_item_box {
    width: 300px;
    margin: 0px 20px 30px 20px;
  }
}

@media (max-width:1200px) {

  /* .featured_item_box {
    width: 200px;
    margin: 0px 15px 30px 15px;
  } */
  .nav_main_list ul li a {
    padding: 0 10px 15px 10px;
    font-size: 12px;
  }

  .cart_wishlist i, .cart_shopping i {
    font-size: 30px;
    margin-right: 10px;
  }

  .top_searchbox button i {
    padding: 0 10px;
  }
}

/*style-2*/
/* .header-page-breadcrumb {
    margin-bottom: 15px;
} */
.header-page-breadcrumb .breadcrumbs {
  padding: 15px;
}

.breadcrumbs {
  position: relative;
  z-index: 1;
  color: #e05b01;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px 0 15px;
}

.breadcrumb-item {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  color: #e05b01;
}

.breadcrumb-item.current {
  color: #000;
}

.breadcrumb-item+i, i+.breadcrumb-item {
  margin-left: 5px;
  margin-right: 5px;
}

.breadcrumbs i {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4rem;
}

/*part-search.html*/
.search-part-box {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  box-shadow: 0 0 5px #ccccccc4;
  padding: 5px 0;
  background: #e4f4ff;
}

.dis-inline-block .input-text_1 {
  width: 175px;
}

.dis-inline-block input {
  margin: 5px 5px 5px 5px;
}

.search-part-box input, .search-part-box select, .search-part-box button {
  margin: 5px 15px;
}

.search-part-box input {
  position: relative;
}

.search-button-icons:before {
  font-family: FontAwesome;
  content: "\f002";
  padding-right: 10px;
  vertical-align: top;
}

.search_or {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin-right: 6px;
  margin: 3px 6px 0 3px;
}

.search_or span {
  vertical-align: -webkit-baseline-middle;
  color: #01489e;
}

.search_or {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin-right: 6px;
  margin: 3px 6px 0 3px;
}

.part-search-page {
  padding: 10px 0 0px;
  display: inline-block;
  width: 100%;
  /* overflow: hidden; */
}

.part-search-page .widget-product {
  margin-bottom: 10px;
}

.widget-product {
  margin-bottom: 37px;
  overflow: hidden;
}

.part-search {
  margin: 5px 0;
  padding: 0;
}

.part-search>li {
  border-bottom: 1px solid #e5e5e5;
  color: #4c4c4c;
  margin: 0;
  overflow: hidden;
  padding: 7px 0;
  position: relative;
}

.part-search>li a {
  font-size: 14px;
  font-weight: 600;
  color: #000;
  display: block;
  width: 100%;
  position: relative;
  padding: 5px 0px 5px;
  font-family: 'Montserrat', sans-serif;
  word-wrap: break-word;
  margin: 8px 0;
}

.part-search li:not(collapsed) .arrow:before, .part-search li:not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.part-search li:not(collapsed) .arrow:before, .part-search li:not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.part-search>li a:after {
  background: #cc9900;
  height: 1px;
  width: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
}
.part-search>.sub-menu {
  padding: 0;
}
.part-search>.sub-menu li {
  border-bottom: 1px solid #e5e5e5;
  color: #4c4c4c;
  margin: 0;
  overflow: hidden;
  padding: 7px 0;
  position: relative;
}

.part-search>.sub-menu li a {
  font-size: 13px;
}

.part-search>.sub-menu li a input {
  vertical-align: top;
  margin-right: 5px;
}

.part-search>.sub-menu.brand {
  height: 250px;
  max-height: 250px;
  overflow-y: scroll;
}

.part-search li:last-child {
  height: 58px;
}

.part-search li:last-child {
  border-bottom: 0;
}

.btn-appl-flit {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  display: block;
  width: 100%;
  border-radius: 0;
  background: #d27335;
  border-color: #d27335;
}

/*.h1-title*/
.h1-title {
  text-transform: uppercase;
  font-size: 24px;
  color: #00bff3;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 20px 15px;
  text-align: center;
}

.h2-title {
  font-size: 16px;
}

.services-list-item-wrapper {
  margin-bottom: 20px;
  margin-top: 20px;
}

.services-list-item {
  /* background: #f1f1f1; */
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 0 5px #efefef;
  margin-bottom: 20px;
}

.services-list-item-figure {
  position: relative;
  border: 1px solid #d4d4d4;
  padding: 10px;
}

.services-list-item-figure img {
  width: 100%;
  max-width: 100%;
}

.services-list-item-title {
  text-align: left;
  font-size: 20px;
  color: #105484;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

.service-desc {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: justify;
  line-height: 30px;
}

/*line-card*/
.line_card_view {
  /* border-bottom: 1px solid #efefef; */
  display: inline-block;
  text-align: left;
  width: 100%;
  /* margin: 10px; */
}

.line_card_view a {
  max-width: 250px;
  display: inline-block;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px;
  background-color: #fff;
  vertical-align: top;
  width: 100%;
  max-height: 120px;
  overflow: hidden;
  height: 100%;
  min-height: 120px;
  position: relative;
}

.img_view {
  max-width: 180px;
}

.line-card-section .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*Dealer-Locations*/
.installation-box {
  margin: 40px 0;
  /* border: 1px solid #ccc; */
}

.installation-branch-name {
  background: #00bff3;
  color: #fff;
  /* padding: 10px; */
}

.installation-branch-name h3 {
  margin: 0px 0 0 15px;
  background: #e8e8e8;
  overflow: hidden;
  padding: 10px;
  color: #555;
  font-size: 16px;
}

.installation-branch-adderss {
  border: 1px solid #e8e8e8;
  padding: 10px;
}

.installation-branch-adderss p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.9;
  font-size: 15px;
}

/*TESTIMONIAL*/
.content-testimonials {
  border: 1px solid #eee;
  padding: 10px 40px;
  margin-bottom: 20px;
  background-color: #fff;
  position: relative;
  /* width: 330px; */
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.content-testimonials:hover {
  cursor: pointer;
  box-shadow: 0 10px 5px 0 rgba(221, 221, 221, 0.55);
  -webkit-box-shadow: 0 10px 5px 0 rgba(221, 221, 221, 0.55);
  -moz-box-shadow: 0 10px 5px 0 rgba(221, 221, 221, 0.55);
  -o-box-shadow: 0 10px 5px 0 rgba(221, 221, 221, 0.55);
}

.content-testimonials .testi-thumb img {
  border: 1px solid #eee;
  height: 70px;
  margin: 0 auto;
  width: 70px;
}

.testi-details p {
  text-align: left;
  word-wrap: break-word;
  word-break: break-word;
}

/*vide.html*/
.youtube-video-section {
  padding: 30px 0;
  margin: 0 0 20px;
}

.youtube-title h4 {
  text-transform: uppercase;
  margin: 10px 0 20px;
  font-weight: 500;
  font-size: 20px;
}

.vid {
  width: 100%;
}

.vid iframe {
  width: 100%;
  height: 300px;
}

/*Aboutus page*/
.about-us-img {
  float: left;
  padding-right: 25px;
  padding-bottom: 10px;
}

.about-us-img img {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.about-us-txt p {
  line-height: 30px;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  word-wrap: break-word;
  word-break: break-word;
}

/*ContactusPage*/
.block-title h3, .block-title .h3 {
  /* font-family: 'Poppins-SemiBold'; */
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: #222;
  font-size: 20px;
  font-weight: 600;
}

.contact-info p {
  color: #666;
  font-size: 14px;
}

.contact-info p, .contact-form span {
  /* font-family: 'Poppins-Light'; */
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

.btn-color {
  background: #00bff3;
  color: #fff;
  /* font-family: 'Poppins'; */
  font-family: 'Poppins', sans-serif;
}

.title {
  margin: 10px 0 10px;
  position: relative;
  text-align: center;
  padding: 10px 0;
}

.title:before {
  border-top: 2px double #acacac;
  content: "";
  left: 0;
  margin: 0 auto;
  position: absolute;
  top: 54%;
  width: 90%;
  right: 0;
}

.title h4 {
  background: #fff none repeat scroll 0 0;
  display: inline-block;
  font-size: 20px;
  font-weight: 900;
  padding: 0 15px;
  position: relative;
  width: auto;
  z-index: 1;
  margin-bottom: 0;
  word-spacing: 8px;
  letter-spacing: 1px;
  line-height: 20px;
  margin-top: 0;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

.installation-box {
  margin: 40px 0;
  /* border: 1px solid #ccc; */
}

/*FAQ Pages*/
.faq-tab {
  padding: 10px;
  display: block;
  overflow: hidden;
}

.faq-categories>li {
  border-bottom: 1px solid #e5e5e5;
  color: #4c4c4c;
  margin: 0;
  overflow: hidden;
  padding: 7px 0;
  position: relative;
  list-style: none;
}

.faq-categories a {
  font-size: 13px;
  font-weight: 400;
  color: #898989;
  display: block;
  width: 100%;
  position: relative;
  padding: 0px 0px 10px;
  font-family: 'Montserrat', sans-serif;
  word-wrap: break-word;
}

.faq-content {
  display: block;
}

.faq-content h2 {
  font-size: 1.2857142857142858em;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  padding: 5px 16px;
  display: inline-block;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #1b1b1b;
}

.faq-question {
  font-size: 15px;
  padding: 10px 19px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
}

.faq-content p {
  font-size: 15px;
  line-height: 1.9;
  font-family: 'Open Sans', sans-serif;
}

.faq-question p a[aria-expanded="true"] {
  color: #2874f0;
}

.collapse.in {
  display: block;
}

.faq-question p a {
  font-weight: 600;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
}

/*terms-conditions page*/
.policies-content h4 {
  font-size: 1.2857142857142858em;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  padding: 5px 0px;
  display: inline-block;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: #1b1b1b;
}

.policies-content p {
  font-size: 14px;
  line-height: 1.9;
  font-family: 'Open Sans', sans-serif;
}


/*cart*/
.path-cart-list .quantity{
  border: unset;
}
td.quantity.text-center {
    border: none !important;
}
.page-heading {
    border-top: 0;
    border-bottom: 1px solid #e7e3df;
}
.page-heading:before, .page-heading:after {
    display: table;
    content: "";
}
 .page-heading h1 {
    font-weight: 900;
    font-size: 1.28571em;
    line-height: 39px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    float: left;
    margin-left: 6px;
}
.page-cart {
    font-size: 12px;
}
.page-cart .modal-gift-with-purchase-message-details {
    text-align: center;
}
.modal-default-position {
    top: 50%;
    left: 50%;
    margin: -13em 0 0 -30.5em;
    overflow-y: auto;
}
.modal .btn-close {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: transparent;
    border: 0;
    font-size: .57143em;
}
.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: 0;
    text-transform: none;
    letter-spacing: normal;
    font-size: inherit;
}
.modal-header {
    margin-bottom: 1em;
}
.page-cart .modal-gift-with-purchase-message-details .modal-header-text {
    text-transform: capitalize;
}
.modal-body {
    max-height: 50em;
}
.page-cart .modal-gift-with-purchase-message-details .removeGiftDetails {
    margin: 0 auto 2em auto;
}
.page-cart .modal-gift-with-purchase-message-details .removeGiftButtonContainer {
    display: inline-block;
}
.page-cart .modal-gift-with-purchase-message-details .giftWithPurchaseButton {
    text-transform: none;
    display: inline-block;
    max-width: 225px;
    white-space: normal;
}
.page-cart .modal-gift-with-purchase-message-details .keepGift {
    float: left;
}
.page-cart .modal-gift-with-purchase-message-details .giftWithPurchaseButton {
    text-transform: none;
    display: inline-block;
    max-width: 225px;
    white-space: normal;
}
.modal-footer:empty {
    display: none;
}
.page-cart .modal-gift-with-purchase-message-details {
    text-align: center;
}
.page-cart .subHeading {
    line-height: 14px;
    margin: .8em 0 2em 0;
}
.hidden, .hide, ul.inline-navigation .nolink {
    display: none;
}
.page-cart {
    font-size: 12px;
}
#emptyCartContinueShoppingButton {
    width: 75%;
    height: 40px;
}
.btn-accent {
    color: white;
    background: #ee4a1b;
    border-color: #ee4a1b;
}
.btn-accent, .btn-orange, .orangeButton, .btn-white, .whiteButton, .btn-toggle, .btn-toggle-accent, .btn-black, .blackButton {
    -webkit-appearance: none;
    padding: .4em 1em .4em 1em;
    margin-right: .3em;
    border: 1px solid;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: .15px;
    cursor: pointer;
    zoom: 1;
}
div.product-wrapper {
    border: 0;
    margin: 0 0 3em 0;
}
table.products {
    max-width: 97%;
    width: 97%;
    table-layout: auto;
}
table {
    max-width: 100%;
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1em;
}
table.products tr.item .image {
    text-align: center;
}
table.products tr.item td {
    border-top: 1px solid #e7e3df !important;
}
table.products tr.item .image .product-link {
    display: block;
}
table.products tr.item td {
    border-top: 1px solid #e7e3df;
}
.section-checkout .table td, .section-checkout .table th {
    vertical-align: middle;
}
.page-cart th, .page-cart td {
    letter-spacing: .15px;
    line-height: 17px;
}
.table th, .table td {
    padding: .8em;
    line-height: 26px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid black;
    vertical-align: middle;
}
table.products tr.item .image {
    text-align: center;
}
table.products tr.item .image {
    text-align: center;
}
.page-cart th, .page-cart td {
    letter-spacing: .15px;
    line-height: 17px;
}
.table th, .table td {
    padding: .8em;
    line-height: 26px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid black;
    vertical-align: middle;
}
.section-checkout .table td, .section-checkout .table th {
    vertical-align: middle;
}
table.products tr.item td {
    border-top: 1px solid #e7e3df;
}
.page-cart th, .page-cart td {
    letter-spacing: .15px;
    line-height: 17px;
}
.table th, .table td {
    padding: .8em;
    line-height: 26px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid black;
    vertical-align: middle;
}
input[type="hidden"] {
    display: none;
}
input, select, .uneditable-input {
    position: relative;
    margin-bottom: 0;
    vertical-align: middle;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
input, textarea {
    -webkit-box-shadow: inset 0 0.1em 0.1em rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 .1em .1em rgba(0,0,0,0.075);
    box-shadow: inset 0 0.1em 0.1em rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    -moz-transition: border linear .2s,box-shadow linear .2s;
    -ms-transition: border linear .2s,box-shadow linear .2s;
    -o-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;
}
input[type="hidden"] {
    display: none;
}
table.products tr.item .details a.info {
    display: block;
}
table.products tr.item .details a.info .brand {
    font-weight: 500;
}
table.products tr.item .details .link {
    display: inline-block;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
    margin: 1em 1em 1em 0;
    color: black;
}
.page-cart th, .page-cart td {
    letter-spacing: .15px;
    line-height: 17px;
}
table.products tr.item .details .link {
    display: inline-block;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
    margin: 1em 1em 1em 0;
    color: black;
}
table.products tr.item td {
    border-top: 1px solid #e7e3df;
}
.section-checkout .table td, .section-checkout .table th {
    vertical-align: middle;
}
.page-cart th, .page-cart td {
    letter-spacing: .15px;
    line-height: 17px;
}
.page-cart th, .page-cart td {
    letter-spacing: .15px;
    line-height: 17px;
}
.section-checkout .table td, .section-checkout .table th {
    vertical-align: middle;
}
table.products tr.item td {
    border-top: 1px solid #e7e3df;
}
table.products tr.item td {
    border-top: 1px solid #e7e3df;
}

.section-checkout .table td, .section-checkout .table th {
    vertical-align: middle;
}
.page-cart th, .page-cart td {
    letter-spacing: .15px;
    /* line-height: 17px; */
}
.page-cart th, .page-cart td {
    letter-spacing: .15px;
    /* line-height: 17px; */
}
.page-cart th, .page-cart td {
    letter-spacing: .15px;
    /* line-height: 17px; */
}
.page-cart th, .page-cart td {
    letter-spacing: .15px;
    /* line-height: 17px; */
}
.hidden, .hide, ul.inline-navigation .nolink {
    display: none;
}
.page-cart th, .page-cart td {
    letter-spacing: .15px;
    /* line-height: 17px; */
}
.page-cart th, .page-cart td {
    letter-spacing: .15px;
    /* line-height: 17px; */
}
.hidden, .hide, ul.inline-navigation .nolink {
    display: none;
}
table.products tr.item td {
    border-top: 1px solid #e7e3df;
}
.section-checkout .table td, .section-checkout .table th {
    vertical-align: middle;
}
.table th.text-center, .table td.text-center {
    text-align: center;
}
input[type="hidden"] {
    display: none;
}
table.products tr.item .quantity .sold-out {
    font-weight: 500;
    color: #ee4a1b;
}
.table th.text-center, .table td.text-center {
    text-align: center;
}
.page-cart .cart-information .products .quantity select {
    border: 0;
    width: 2.8em;
}
.sold-out{
  display: none;
}
.section-checkout .table td, .section-checkout .table th {
    vertical-align: middle;
}
input[type="image"], input[type="checkbox"], input[type="radio"] {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0 \9;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    /* padding: 0; */
}
table.products tr.item .gift-boxing .details {
    font-weight: 500;
}
table.products tr.item .gift-boxing .details, table.products tr.item .gift-boxing .add-gift {
    text-decoration: underline;
}
table.products tr.item .gift-boxing .details, table.products tr.item .gift-boxing .add-gift {
    text-decoration: underline;
}
table.products tr.item td {
    border-top: 1px solid #e7e3df;
}
table.products tr.item td {
    border-top: 1px solid #e7e3df;
}
table.products tr.item .text-left {
    text-align: right;
}
table.products tr.item .total .togglable {
    font-weight: 500;
}
.page-cart .order {
    margin-bottom: 3em;
    padding-top: 1em;
    border-top: 1px solid #e7e3df;
}
.page-cart .order .info {
    width: 42em;
    float: left;
    margin-left: 4.5%;
    visibility: hidden;
}
.page-cart .order .count-down {
    font-size: 12px;
    padding: 6px 0 24px 0;
    margin-bottom: 0;
    display: inline-block;
    text-align: left;
}
.count-down {
    padding: 1em 0;
    text-align: center;
    box-sizing: border-box;
}
.page-cart .order .count-down b {
    font-weight: bolder;
    line-height: 26px;
    color: #000;
}
.page-cart .order .count-down a {
    font-weight: 500;
    line-height: 18px;
}
.count-down a {
    text-decoration: underline;
    color: #ee4a1b;
}
.page-cart .order .promotion-code {
    font-size: 12px;
    letter-spacing: .15px;
    line-height: 20px;
    visibility: hidden !important;
}
.page-cart .order .promotion-code .code {
    margin-left: 1em;
    width: 200px;
}
.page-cart .order .promotion-code .header, .page-cart .order .promotion-code .code {
    display: inline-block;
    vertical-align: top;
}
.page-cart .order .promotion-code .header {
    font-weight: bolder;
    color: #000;
}
form {
    margin: 0;
    float: none;
}
.page-cart .order .promotion-code .code input[name=promotionCode] {
    font-style: italic;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid black;
}
.page-cart .order .promotion-code .code .apply {
    display: block;
    color: #ee4a1b;
}
.page-cart .order .details-table {
    letter-spacing: .15px;
    line-height: 17px;
    float: right;
    width: 315px;
    margin-right: 21px;
}
.details-table {
    margin-top: 1.5em;
}
.path-cart-list table {
    max-width: 100%;
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1em;
}
.path-cart-list tr#giftWrap{
  display: none;
}
.section-checkout .table td, .section-checkout .table th {
    vertical-align: middle;
}
.table th.text-right, .table td.text-right {
    text-align: right;
}
.path-cart-list table.unstyled th, table.unstyled td {
    border: 0 !important;
}
.path-cart-list table.table-slim th, table.table-slim td {
    padding: 0;
}
.path-cart-list .table th.text-right, .table td.text-right {
    text-align: right;
}
.path-cart-list .table th.text-right, .table td.text-right {
    text-align: right;
}
.details-table .totals .subtotal, .details-table .totals .total {
    border-top: 1px solid black;
    font-weight: bolder;
    color: #000;
}
.details-table .totals .subtotal td, .details-table .totals .total td {
    padding: 1em 0;
}
.details-table .totals .subtotal td, .details-table .totals .total td {
    padding: 1em 0;
}
.page-cart .order .checkout {
    padding-right: 21px;
    margin-left: 0;
    width: 335px;
}
#continueShoppingButton {
    width: 100%;
    height: 40px;
}
.gwpEmptyCartText {
    text-align: center;
}
.block {
    display: block;
    width: 100%;
}
.btn-accent {
    color: white;
    background: #ee4a1b;
    border-color: #ee4a1b;
}
.btn-accent, .btn-orange, .orangeButton, .btn-white, .whiteButton, .btn-toggle, .btn-toggle-accent, .btn-black, .blackButton {
    -webkit-appearance: none;
    padding: .4em 1em .4em 1em;
    margin-right: .3em;
    border: 1px solid;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: .15px;
    cursor: pointer;
    zoom: 1;
}
.page-cart .order hr {
    display: none;
}
hr {
    margin: 26px 0;
    border: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid white;
    clear: both;
}
.page-cart .order .payment {
    width: 300px;
    margin-top: 36px;
    margin-left: 4.5%;
}
.page-cart .order .payment .questions {
    font-weight: normal;
    line-height: 18px;
}
.page-cart .order .payment .credit {
    padding-top: 5px;
    vertical-align: middle;
}
.row:after {
    clear: both;
}
.row:before, .row:after {
    display: table;
    content: "";
}
th.width1.text-center.hideableIntl.hideableImpFees,td.hideableIntl.hideableImpFees.text-center{
  display: none;
}
.page-heading:before, .page-heading:after {
    display: table;
    content: "";
}
.page-heading:after {
    clear: both;
}
.path-cart-list .featured_product {
    text-align: left;
}
th.width1.hide {
    display: none;
}
td.gift-boxing.hide{
  display: none;
}
.path-cart-list a,.path-cart-list a:hover,.path-cart-list a:focus {
    text-decoration: none;
    color: black;
}
.page-cart th {
    font-weight: bolder;
    color: #000;
    padding-bottom: 24px !important;
}
.page-cart th.text-left{
    text-align: right;
}
.page-cart input[type=text] {
    width: unset;
    background: unset;
    border: unset;
    height: unset;
    padding: unset;
    color: unset;
    background: unset;
    font-size: unset;
    outline: unset;
}
.page-cart .order .btn-underline.caret {
    color: #ee4a1b;
    text-decoration: underline;
}
.btn-underline {
    text-decoration: underline;
    background-color: transparent;
    border: 0;
    text-transform: none;
    padding: 0;
    letter-spacing: normal;
    font-size: inherit;
    font-weight: 500;
    cursor: pointer;
}
.page-cart .order :before {
    content: none;
}
.page-cart .order .promotion-code {
    font-size: 12px;
    letter-spacing: .15px;
    line-height: 20px;
}
.path-cart-list .caret {
     display: unset; 
     width: 0; 
     height: unset; 
     margin-left: unset; 
     vertical-align: unset; 
     border-top: unset; 
    border-top: unset;
     border-right: unset; 
     border-left: unset; 
}
.details-table td{
  padding-left: 0 !important;
}
td.image img {
    width: 150px;
}
td.quantity.text-center{
    display: table-cell;
    line-height: 26px;
    vertical-align: middle;
    height: 26px;
}
.path-cart-list .table th{
  border-bottom: 1px solid #ddd !important;
}

@media only screen and (max-width: 750px) {
table.table.womens.cart.products{
    overflow-x: auto;
    display: block;
    width: fit-content;
    max-width: 100%;
}
}
.path-cart-list .featured_product{
  overflow: hidden;
}
.lf-hle {
    display: table;
    width: auto;
    height: 80px;
    float: right;
}
.lft {
    display: table-cell;
    vertical-align: middle;
}
.rgt {
    display: table-cell;
    vertical-align: middle;
}
span.dds {
    font-weight: bold;
    color: #000;
}

.path-cart .region.region-content{
  width: 100%;
}
.path-cart .view,.path-cart .view:hover {
  color: #000;
  background-color: unset;
}

.path-cart input,.path-cart textarea{
    -webkit-box-shadow:  unset;
    -moz-box-shadow:  unset;
     box-shadow:  unset; 
     -webkit-transition: unset; 
    -moz-transition:  unset;
    -ms-transition:  unset;
    -o-transition:  unset;
     transition: unset; 
}
.path-cart .delete-order-item{
    background: red;
    border: none;
    color: #fff;
    border-radius: 10px;
}
.path-cart .view{
  border: none;
}
.path-cart .block {
    display: table;
    width: 1110px;
    margin: 0 auto;
}
.path-cart .form-wrapper {
    /*display: table;
    margin: 10px auto;*/
    width: 23%;
    float: right;
}
.path-cart input#edit-submit,.path-cart input#edit-checkout{
    width: 100px;
    background: #00bff3;
    border: none;
    color: #fff;
    padding: 10px 10px;
    margin: 0 5px;
}
.path-cart input#edit-edit-quantity-0{
  padding: 1px 8px;
}
/*end cart*/
/*home cart*/

h1.page-title {
    display: none;
}
.active{
  display: block;
}
.remove{
  display: none;
}
.widget-shopping-cart-content.close1 {
    visibility: hidden;
     opacity: 0;
}
.widget-shopping-cart-content {
    position: absolute;
    top: 100%;
    /* left: -220px; */
    z-index: 99999;
    visibility: hidden;
    overflow: auto;
    padding: 0px;
    width: 380px;
    background-color: #fff;
    opacity: 0;
    -moz-box-shadow: 0px 1px 34px 4px rgba(127, 127, 127, 0.57);
    -webkit-box-shadow: 0px 1px 34px 4px rgba(127, 127, 127, 0.57);
    box-shadow: 0px 1px 34px 4px rgba(127, 127, 127, 0.57);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    right: 0;
}

.widget-shopping-cart-content.open {
    visibility: visible;
    opacity: 1;
}
.widget-shopping-cart-close-div{
  display: inline-block;
  width: 100%;
}
.widget-shopping-cart-content .widget-shopping-cart-close{
  float: right;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
  cursor: pointer;
    background: #02bef1;
    width: 30px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
}
header.header-2 .widget-shopping-cart-content,
header.header-3 .widget-shopping-cart-content,
header.header-4 .widget-shopping-cart-content {
    right: 0;
    left: auto;
}
.widget-shopping-cart-content .cart-list {
    padding: 15px;
    margin: 0;
    max-height: 373px;
    overflow: auto;
    border-bottom: 1px solid #f1eeea;
}



.widget-shopping-cart-content .cart-list li {
    padding: 15px 0;
    border-bottom: 1px solid #f1eeea;
    display: inline-block;
    width: 100%;
}

.widget-shopping-cart-content .cart-list li .cart-list-left{
  float: left;
    width: 80px;

}

.widget-shopping-cart-content .cart-list li .cart-list-right{
    float: right;
    width: 230px;
    margin-left: 5px;
}

.widget-shopping-cart-content .cart-list li,
.widget-shopping-cart-content .cart-list li {
  text-align: left;
}
.widget-shopping-cart-content .cart-list li:first-child {
    padding-top: 0;
}
.widget-shopping-cart-content .cart-list li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
.widget-shopping-cart-content .cart-list li.empty {
    color: #222;
    font-weight: 400;
}



.widget-shopping-cart-content .cart-list li a {
    font-weight: 700;
    display: block;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #0e82b9;
}
.widget-shopping-cart-content .cart-list li span{
  display: block;
 
}

.widget-shopping-cart-content .cart-list li .remove {
    position: relative;
    float: right;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
    border-radius: 0;
    color: #5e5a54;
    font-weight: 400;
}
.widget-shopping-cart-content .cart-list li img {
    float: left;
    margin: 0 20px 0 0;
    width: 80px;
    height: 80px;
    border: 2px solid #f1eeea;
}
.widget-shopping-cart-content .cart-list .quantity {
    height: auto;
    display: block;
  color: #2b2b2a;
  /*float: left;*/
  margin: 2px 0px;
  border:0;
  font-weight: 600;
  font-size: 15px;
}
.widget-shopping-cart-content .total {
    margin: 0;
    padding: 20px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    border-bottom: 1px solid #f1eeea;
    position: relative;
  font-family: Lato, Helvetica, Arial, sans-serif;
}
.widget-shopping-cart-content .total .amount {
    position: absolute;
    right: 30px;
    top: 15px;
    color: #05bdef;
    font-size: 17px;
}
.widget-shopping-cart-content .buttons {
    margin: 0;
    padding: 20px;
    text-align: center;
}
.widget-shopping-cart-content .buttons a {
    margin: 0 5px;
    height: 40px;
    line-height: 36px;
    padding: 0 20px;
    color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    letter-spacing: .05em;
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  font-family: Lato, Helvetica, Arial, sans-serif;
}
.widget-shopping-cart-content .buttons a.view-cart {
    background-color: #02bef1;
}
.widget-shopping-cart-content .buttons a.view-cart:hover {
    background-color: transparent;
    text-decoration: none;
    color: #000;
}
.widget-shopping-cart-content .buttons a.checkout {
  background-color: #02bef1;
}
.widget-shopping-cart-content .buttons a.checkout:hover {
    background-color: transparent;
    text-decoration: none;
    color: #000;
}
.widget-shopping-cart-content .total,
.widget-shopping-cart-content .total,
.widget-shopping-cart-content .total {
  text-align: left;
}
@media only screen and (max-width: 1500px) and (min-width: 991px){
  .widget-shopping-cart-content{
    left:-100px;
  }
}
@media only screen and (max-width: 1095px) and (min-width: 991px){
  .widget-shopping-cart-content{
    left:-130px;
  }
}
@media screen and (max-width: 400px){
.widget-shopping-cart-content{
  width: 370px;
}
}
/*.path-checkout input[type=text]:focus {
    border-color: #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,.3);
}*/

.path-checkout .form-wrapper{
  width: auto;
  display: block; 
}
.path-checkout select#edit-payment-information-billing-information-address-0-address-country-code--2{
    padding: 10px 10px;
    width: 100%;
    background: #fff;
}
.path-checkout .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-payment-information-billing-information-address-0-address-given-name.form-item-payment-information-billing-information-address-0-address-given-name,
.path-checkout input#edit-payment-information-billing-information-address-0-address-family-name{
    width: 100%;
    display: block;
    background: #fff; 
}
.path-checkout input{
    background: #fff;
}
.path-checkout input#edit-payment-information-billing-information-address-0-address-locality,
.path-checkout input#edit-payment-information-billing-information-address-0-address-postal-code{
  width: 100%;
    display: block;
    background: #fff; 
}
.path-checkout .address-container-inline > .form-item{
    display: block;
}
.form-item, .form-actions{
    margin-top: 0;
    margin-bottom: 0;
}
.path-checkout input#edit-actions-next {
    background: #46bff3;
    border: none;
    color: #fff;
    padding: 10px 10px;
}
.path-checkout select#edit-payment-information-billing-information-address-0-address-administrative-area {
    width: 100%;
    padding: 0 4px;
    padding: 10px 10px;
    background: #fff;
}
div.address-container-inline > .form-item{
  margin-right: 0 !important;
}
.path-checkout .view,.path-checkout .view:hover{
  background: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 10px 10px;
}
.path-checkout input#edit-sidebar-coupon-redemption-form-apply {
    border: none;
    background: #46bff3;
    color: #fff;
    padding: 10px 10px;
    margin: 0;
    font-weight: bold;
}
/*End checkout*/

/*End home cart*/
@media screen and (max-width: 390px){
.page-cart .order .checkout {
    width: 250px;
    display: table;
    margin: 0 auto;
    padding-right: 0;
}
.table {
    width: 250px;
    max-width: 100%;
    margin-bottom: 20px;
    display: table;
    margin: 0 auto;
}
.page-cart .order .details-table{
      letter-spacing: .15px;
    line-height: 17px;
    float: none;
    width: auto;
    margin-right: 0;
    display: table;
    margin: 0 auto;
}
td.image {
    display: none;
}
input#edit-submit{
  background: #00bff3;
  border: none;
  color: #fff;
  padding: 10px 0px;
}
.part-search-page input.btn{
  width: 85% !important;
}
@media screen and (min-width: 801px)and (max-width: 991px){
    .path-checkout .row {
        display: block !important;
    }
}
@media screen and (min-width: 995px){
  .magnifier {
      width: 600px !important;
      height: 300px !important;
  }
}
@media screen and (max-width: 768px){
  .magnifier{
    display: none !important;
  }
}
#owl_2 img{
  height: 25px;
}
body{
  overflow-x: hidden;
}
.lst-chk {
    height: 340px;
    overflow-y: auto;
    display: block;
}
/*end footer*/
/*end fa css*/
/*************JP tooltip Css ******************/
.tooltipcustom {
    position: relative;
    border-bottom: 1px dotted black;
    text-align: left;
    padding: 0px 5px 3px 10px;
    margin: 5px 0px 0px 0px;
}
.tooltipcustom .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #35bff3;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px 12px;
    position: absolute;
    z-index: 1;
    bottom: 115%;
    left: 30%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-weight: 800;
}

.tooltipcustom .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #35bff3 transparent transparent transparent;
}

.tooltipcustom:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/************************************************/
/*Cart*/
.path-cart table.views-table.views-view-table{
    border-collapse: separate !important;
    border-spacing: 0 1em !important;
    border: 1px solid #000 !important;
    padding: 10px 15px !important;
}
.path-cart input.form-number {
    padding: 0 7px;
    width: 60px;
}
/*End Cart*/