<footer>
  <div class="footer_block">
    <h4>OUR LOCATION</h4>
    
    
    <div class="">
      <p>{{con_us.0.company_name}}<br>
        {{con_us.0.address1}}<br>
        {{con_us.0.address2}}, {{con_us.0.state}} {{con_us.0.zip_code}} <br>
        {{con_us.0.phone}} phone<br>
        {{con_us.0.fax}} fax<br>
        {{con_us.0.email}}</p>
    </div>
    <div class="footer_text">
      <strong>
        <a href="https://www.opticat.net" title="" class="footer_caption">OptiCat</a>
      </strong>
      © 2019 |
      <a href="http://opticat.net/node/374" title="Privacy Policy">Privacy Policy
      </a>
    </div>
  </div>
</footer>
