 <div class="">
      <div class="main_title">Brands</div>
      <div class="client_block">
        <div class="container">
          <div class="col-md-12">
            <div class="carousel our-partners slide" id="ourPartners">
              <div class="carousel-inner">
                {% for result in brandinfo %}
                <div class="item {% if loop.first %}active{% endif %}">
                  {% for value in result %}
                  <div class="col-xs-12 col-sm-6 col-md-2">
                    <a href="{{ url('<front>') }}part_search?bd_id={{value[1]}}">
                      <img src="{{value[0]}}" alt="{{value[1]}}">
                    </a>
                  </div>
                  {% endfor %}
                </div>
                {% endfor %} 
              </div>
              <a class="left carousel-control" href="#ourPartners" data-slide="prev"><i class="fa fa-chevron-left icon-prev"></i></a>
              <a class="right carousel-control" href="#ourPartners" data-slide="next"><i class="fa fa-chevron-right icon-next"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>