<div class="">
  <div class="">
    <div class="">
      {% if path == '/user/password' %}
        <a href="{{ base_path }}user/login" class="signreg">Login</a>
      {% elseif path == '/user/register' %}
        <a href="{{ base_path }}user/login" class="signreg">Login</a>
      {% else %}
       <!--  {% if site_register != "admin_only" %}
          <a href="{{ base_path }}user/register" class="signreg">Sign up</a>
        {% endif %} -->
      {% endif %}
    </div>

<!--   <div class="">  
    <div class="">
      <a href="{{ base_path }}"><img src="{{ logo }}" alt="Home"/></a>
      <h1>Login</h1>
    </div>

    

    

  </div> -->
</div>
</div>
<div class="login-banner">
        <div class="login-main-logo text-center">
         <a href="{{ base_path }}"><img src="{{ logo }}" alt="Home"/></a>
        </div>
      </div>
<div class="container-fluid">
          <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-8 col-lg-4 center-block">
              <div class="login-form-block">
                <div class="login-text text-center">
                  
                   {% if path == '/user/password' %}
                    <!-- <h1>Forgot Password</h1> -->
                  {% elseif path == '/user/register' %}
                   <h1> Register</h1>
                  {% else %}
                    {% if site_register != "admin_only" %}
                     <h1> Login</h1>
                    {% endif %}
                  {% endif %}
                </div>
                <div class="login-content">
                  <div class="form-group with-addon">
                    {{ page.highlighted }}
                    {{ page.content }} 
                  </div>
                  <!-- <div class="form-group">
                    <div class="checkbox checkbox-info">
                      <input id="remember" type="checkbox">
                      <label for="remember">Remember me</label>
                    </div>
                  </div> -->
                  <!-- <a class="login-button" href="index.html">Login</a> -->
                  {% if path == '/user/login' %}
     <!--  <div class="sign-up-text text-muted text-center">Forgot password? <a class="text-dark" href="{{ base_path }}user/password" class=""><b>Click here</b></a></div> -->
    {% endif %}   
    {% if path == '/user/login' %}
      <!-- <p class="sign-up-text text-muted text-center">Don't have an account? <a class="text-dark" href="{{ base_path }}user_create"><b>Create an account</b></a> -->
    {% endif %} 
    {% if site_register != "admin_only" %}
          <!-- <p class="sign-up-text text-muted text-center">Don't have an account? <a class="text-dark" href="{{ base_path }}user/register"><b>Create an account</b></a> -->
        {% endif %}
        {% if path != '/user/login' %}
      <div class="sign-up-text text-muted text-center"> <a class="text-dark" href="{{ base_path }}user_create" class=""><b>Back To Login</b></a></div>
    {% endif %} 
                  <!-- <p class="sign-up-text text-muted text-center">Don't have an account? <a href="register.html" class="text-dark"><b>Create an account</b></a></p> -->
                </div>

              </div>
            </div>
          </div>

        </div>