<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="pageloader" style="display : none;position : fixed;z-index: 100;background-color:#666;opacity : 0.4;background-repeat : no-repeat;background-position : center;left : 0;bottom : 0;right : 0;top : 0;">
<img src='{{ url("<front>") }}sites/default/files/loader.gif' width="58px" height="58px" ng-if="isLoading" style="margin-left:50%;margin-top:25%"/></div>
<script src="https://code.jquery.com/jquery-3.4.0.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<header class="wow slideInDown" data-wow-delay="0.7s">

<!-- <div class="fa">
        {{ page.secondary_menu }}
        </div>
        <div class="si">
        <div class="collapse navbar-collapse navbar-main-slide" id="nav">
          <ul class="navbar-nav-menu">
          <li class="">
          {{ page.primary_menu }}
          </li>
          </ul>
        </div>
        </div> -->
    <div class="top_border">
      <div class="container">
        <div class="row">
          {{page.topbar_first}}
          <div class="col-md-8 col-xs-8">
            <nav class="topbar_nav">
              <ul>
                <li class="top_bar_terms">{{page.topbar_third}}</li>
                <li class="top_bar_faq">{{page.topbar_fourth}}</li>
                <li>{{ page.secondary_menu }}</li>
                <li class="top_bar_shipping"> {{page.topbar_second}}</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="nav_mainlogo">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-xs-4">
            <div class="nav_logo wow slideInLeft" data-wow-delay="0.3s">
              {{ page.header }}
            </div>
          </div>
        <div class="col-lg-5 col-sm-4 col-xs-4">
          {{page.topbar_search}}
        </div>
         <div class="col-lg-3 col-sm-4 col-xs-4">
            <div class="col-sm-3 col-xs-4">
              <div class="top_cart">
                {{page.topbar_five}}
                {{page.topbar_six}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

    <nav class="nav_main sticky-header fz">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <div class="nav_main_list wow slideInRight" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: slideInRight;">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse navbar-main-slide" id="nav">
              <ul class="navbar-nav-menu">
                <li class="">
                  {{ page.primary_menu }}
                  
                </li>
               <!--  <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Our Category <span class="fa fa-caret-down"></span></a>
                  <ul class="dropdown-menu sub_nav">
                    <li><a href="{{ url('<front>') }}our_product">Audi</a></li>
                    <li><a href="{{ url('<front>') }}our_product">Volkswagen</a></li>
                    <li><a href="{{ url('<front>') }}our_product">Fiat</a></li>
                    <li><a href="{{ url('<front>') }}our_product">Aston Martin</a></li>
                  </ul>
                </li>
                <li><a href="{{ url('<front>') }}part_search">Part Search</a></li>
                <li><a href="{{ url('<front>') }}services">Services</a></li>
                <li><a href="{{ url('<front>') }}brands">Brands</a></li>
                <li><a href="{{ url('<front>') }}our_location">Our Locations</a></li>
                <li><a href="{{ url('<front>') }}testimonial">Testimonial</a></li>
                <li><a href="{{ url('<front>') }}videos">Videos</a></li>
                <li><a href="{{ url('<front>') }}about_us">About Us</a></li>
                <li><a href="{{ url('<front>') }}contact_us">Contact Us</a></li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div ng-app="postApp" ng-cloak ng-controller="postController">

  {{foo_list}}

          {{ page.content }}
  </div>        

          <div id="pop1" class="simplePopup"></div>
<footer class="footer_main">
    <div class="container">
     {{page.footer_first}}
      <div class="footer_info">
        <div class="row">
          {{page.footer_second}}
          {{page.footer_third}}
          {{page.footer_fourth}}
        </div>
      </div>
    </div>
    <div class="copy_right">
      {{page.footer_copy}}
    </div>
  </footer>

  <div class="hover_bkgr_fricc cartadded">
    <span class="helper"></span>
    <div>
        <div class="popupCloseButton">X</div>
        <p>Product Already added in cart<br /></p>
    </div>
  </div>

  <div class="hover_bkgr_fricc comparemax">
    <span class="helper"></span>
    <div>
        <div class="popupCloseButton">X</div>
        <p>You can compare only 3 products<br /></p>
    </div>
  </div>

 

  <div class="hover_bkgr_fricc login_error">
    <span class="helper"></span>
    <div>
      <div class="popupCloseButton">X</div>
        <p>Please Login To Continue..!<br /></p>
        <a href="{{ url('<front>') }}user/login" ><input type="button" class="btn btn-success" value="Login" /></a>
    </div>
  </div>

  <div class="hover_bkgr_fricc login_error_wish" style="display: none">
    <span class="helper"></span>
    <div>
      <div class="popupCloseButton">X</div>
        <p>Please Login To Continue to add wish list!<br /></p>
        <a href="{{ url('<front>') }}user/login" ><input type="button" class="btn btn-success" value="Login" /></a>
    </div>
  </div>

  <div class="hover_bkgr_fricc compare_id">
    
  </div>
  <div class="compare-switcher" style="display: none">
    <a class="compare-switcher-open" href="#"><i class="fa fa-exchange"></i></a>
    <div class="compare-switcher-wrap">
      <div id="inside_swith">
      </div>         
      <div class="compare-button">
        <a id="compare_id" href="#">Compare</a>
      </div> 
    </div>
  </div>

<script>
if($('body').hasClass("path-part-search")){
$(".region-content").addClass("container");
}
  var postApp     = angular.module('postApp', []);
  var sortingOrder = 0;
  var homeurl     = "{{ url('<front>') }}";
  postApp.controller('postController', function($scope, $http,$timeout,$window,$filter) { 
    
    $('#pageloader').css('display','block');           
    $http({    
      method  : 'POST',
      url     : homeurl+'featured',
      datatype: 'json',
      headers : {'Content-Type': 'application/x-www-form-urlencoded'} 
    })
    .then(function(response) {        
      $scope.products1 = response.data;
      console.log($scope.products1);
      $('#pageloader').css('display','none');         
    });
    

    $http({                     
      method  : 'POST',
      url     : homeurl+'getwishlist',
      datatype: 'json',
      headers : {'Content-Type': 'application/x-www-form-urlencoded'} 
    })
    .then(function(response) {        
      $scope.productwish = response.data;      
      //$('#pageloader').css('display','none');         
    });    
     
    /*****************************************************************************************************
                              partsearch page scripts
    *****************************************************************************************************/
    $scope.comparecategory = false;
    $scope.nodata = false;
    
    $scope.products = [];
    $scope.filter_products = [];
    $scope.s_model='';
    $scope.s_make='';
    $scope.s_year='';          
    //var homeurl = "{{ url('<front>') }}";
    $('#pageloader').css('display','block');
    var cat_arr = [];
    var bra_arr = [];

    var makes = [];
    var models = [];
    var make_years = [];

    $scope.category_insert = function (datais){
        data = parseInt(datais);
        $scope.comparecategory = false;
        if($('#cat_'+data).prop("checked"))
        {   
          if(cat_arr.indexOf(data) == -1){
             cat_arr.push(data);
          }
        }
        else{
           var index = cat_arr.indexOf(data);
           cat_arr.splice(index,1);
        }
        if(cat_arr.length == 1){
          $scope.comparecategory = true;
          comparedids = [];
          $('#inside_swith').html('');
          $('.compare-switcher').css("display","none");
        }
        else{
          comparedids = [];
          $('#inside_swith').html('');
          $('.compare-switcher').css("display","none");
        }
        $scope.apply_filter();
    };

    $scope.brand_insert = function (datais){
        data = parseInt(datais);
        if($('#bra_'+data).prop("checked"))
        {
            if(bra_arr.indexOf(data) == -1){
               bra_arr.push(data);
            }
        }
        else{
           var index = bra_arr.indexOf(data);
           bra_arr.splice(index,1);
        }
        $scope.apply_filter();
    };

    $http({                     
        method  : 'POST',
        url     : homeurl+'getproducts',
        datatype : 'json',
        headers : {'Content-Type': 'application/x-www-form-urlencoded'} 
    })
    .then(function(data) {
        $scope.total_products = data.data.products;
        $scope.products = data.data.products;
        $scope.ymm = data.data.ymm;
        $scope.filter_products = data.data.products;
        $scope.ymm_filter();  
        //$scope.apply_filter();
        $('#pageloader').css('display','none');
        //currently working
        if(window.location.href.split('=')[1] != undefined){
          var urldata = window.location.href.split('=')[1];
          $('#cat_'+urldata).prop("checked",true);
          $scope.category_insert(urldata);
        }else{
          $scope.paginationftn($scope.products);  
        }
        
    });
    $scope.ymm_filter = function () {
      $scope.s_model='';
      $scope.s_make='';
      $scope.s_year='';
      make_years = [];
      $scope.make = [];
      $scope.make_year = [];
      $scope.model = [];
      var k =0;
      $scope.make_array =[];
      $scope.final_ymm_array = []; 
      $scope.ymm.forEach(function(val,index) {    
        /*if( val['make'] != null && val['make'] != ''){
          if(makes.indexOf(val['make']) == -1){ makes.push(val['make']);}
        }
        if(val['model'] != null && val['model'] != ''){
          if(models.indexOf(val['model']) == -1){ models.push(val['model']);}
        }*/
        if(val['year'] != null && val['year'] != ''){

           if(make_years.indexOf(val['year']) == -1){ 
              make_years.push(val['year']); 
            }  
            $scope.make_array.push(val);
        }
        k++;
      });
      if($scope.ymm.length == k){
        //$scope.make = makes;
        $scope.make_year = make_years.sort();

        $scope.final_ymm_array = $scope.make_array;
        //$scope.model = models;
      }
    };

    $scope.getmake = function () {
      $scope.s_model='';
      $scope.s_make='';
      
      makes = [];
      var make_temp = [];
      models = [];

      $scope.make = [];
      $scope.model = [];
      var k =0;
      $scope.model_array =[];
      $scope.final_ymm_array = []; 

      if($scope.s_year =='' || $scope.s_year ==undefined){
        $scope.final_ymm_array = $scope.make_array; 
      }else{
          $scope.make_array.forEach(function(val,index) {
            if( val['make'] != null && val['make'] != '' && val['year'] == $scope.s_year ){
              ma = parseInt(val['make']);
              if(make_temp.indexOf(ma) ==-1){
                make_temp.push(ma);
                makes.push({'val':ma,'name':val['make_name']});
              }
              $scope.model_array.push(val);
            }
            k++;
          });
          if($scope.make_array.length == k){     
            $scope.make = makes;
            //$scope.model = models;
            $scope.final_ymm_array = $scope.model_array;
          }
      }
    };

    $scope.getmodel = function () {
      $scope.s_model='';
      models = [];
      var model_temp = [];
      $scope.model = [];
      var k =0; 
      $scope.final_ymm_array = []; 
      if($scope.s_make =='' || $scope.s_make ==undefined){
          
          if($scope.model_array.length == 0){
            $scope.final_ymm_array = $scope.make_array;    
          }else{
            $scope.final_ymm_array = $scope.model_array;  
          }

      }else{
        $scope.model_array.forEach(function(val,index) { 
          if( val['make'] != null && val['make'] != '' && val['year'] == $scope.s_year && val['make'] == $scope.s_make ){
             mo = parseInt(val['model']);
             if(model_temp.indexOf(mo) ==-1){
                model_temp.push(mo);
                models.push({'val':mo,'name':val['model_name']});
             }
             $scope.final_ymm_array.push(val);
                                    
          }
          k++;
        });
        if($scope.model_array.length == k){
          $scope.model = models;
        }
      }
    };


    $scope.filter_search = function () {
      $scope.s_gen_search = '';
      cat_arr=[];
      bra_arr=[];
      $scope.comparecategory = false;
        /*if(cat_arr.length == 1){
            $scope.comparecategory = true;
            comparedids = [];
            $('#inside_swith').html('');
            $('.compare-switcher').css("display","none");
         }
         else{
            comparedids = [];
            $('#inside_swith').html('');
            $('.compare-switcher').css("display","none");
         }*/
          var product_ids = [];
          var cnt = 0;
          var temp = [];
          $scope.products=[];
          $('.category_class').parent().parent().hide();
          $('.category_class').prop('checked',false);
          $('.brand_class').parent().parent().hide();
          $('.brand_class').prop('checked',false);

          c = 0
          $scope.final_ymm_array.forEach(function(val,index) { 
            
            if(val['model'] == $scope.s_model && $scope.s_model !=undefined && $scope.s_model !=''){
              if(product_ids.indexOf(val['id']) == -1){ product_ids.push(val['id']);}
            }else if(val['make'] == $scope.s_make && $scope.s_make !=undefined && $scope.s_make !=''){
              if(product_ids.indexOf(val['id']) == -1){ product_ids.push(val['id']);}
            }else{
              if(product_ids.indexOf(val['id']) == -1){ product_ids.push(val['id']);}
            }
            c++;

          });
          console.log($scope.final_ymm_array);
          console.log(product_ids);

          if($scope.final_ymm_array.length == c){
            if(product_ids.length == 0){
               $scope.filter_products = $scope.total_products;
               $scope.products = $scope.total_products;
               $('.category_class').parent().parent().show();
               $('.brand_class').parent().parent().show();
               $scope.paginationftn($scope.products);
            }else{
                $scope.total_products.forEach(function(val,index) { 
                     if(product_ids.indexOf(val[0]) != -1 ){
                        temp.push(val);
                        $('#cat_'+val[9]).parent().parent().show();
                        $('#bra_'+val[10]).parent().parent().show();
                      }
                      cnt++;
                });
                if($scope.total_products.length == cnt){
                  $scope.filter_products = temp;
                   $scope.products = temp; 
                }
                $scope.paginationftn($scope.products);
            }
          }
                
    };

    $scope.apply_filter = function () {
      var temps = []; 
      var k =0;
      var outer_cnt = 0;

      if(cat_arr.length > 0){
          outer_cnt++;
      }
      if(bra_arr.length > 0){
        outer_cnt++;
      }

      if(outer_cnt == 0){
        //$scope.products = $scope.filter_products;
        if($scope.filter_products.length > 0){
          $scope.products = $scope.filter_products;
          $scope.paginationftn($scope.products);

        }else{
          $scope.pagerefresh();
        }
      }else{
        $scope.filter_products.forEach(function(val,index) {
            
            if(cat_arr.length > 0 && bra_arr.length > 0){
              if(cat_arr.includes(parseInt(val[9])) == true && bra_arr.includes(parseInt(val[10])) == true){
                  console.log('condition true both');
                temps.push(val);
              }
            }else if(cat_arr.length > 0){
              if(cat_arr.includes(parseInt(val[9])) == true){
                console.log('condition true cat');  
                temps.push(val);
              }
            }else if(bra_arr.length > 0){
              if(bra_arr.includes(parseInt(val[10])) == true){
                console.log('condition true brand');
                temps.push(val);
              }
            }

            k++;
        });
        if($scope.filter_products.length == k){
            $scope.products = temps;
          $scope.paginationftn($scope.products);
        }
      }       
  };
    


  $scope.general_search = function () {
      cat_arr=[];
      bra_arr=[];
      $scope.comparecategory = false;

      /*if(cat_arr.length == 1){
          $scope.comparecategory = true;
          comparedids = [];
          $('#inside_swith').html('');
          $('.compare-switcher').css("display","none");
       }
       else{
          comparedids = [];
          $('#inside_swith').html('');
          $('.compare-switcher').css("display","none");
       }*/
          var gen_val = $scope.s_gen_search.toLowerCase();
            $scope.products=[];
            $('.category_class').parent().parent().hide();
            $('.category_class').prop('checked',false);
            $('.brand_class').parent().parent().hide();
            $('.brand_class').prop('checked',false);

          if(gen_val == ''){
             $scope.filter_products = $scope.total_products;
             $scope.products = $scope.total_products;
             $('.category_class').parent().parent().show();
             $('.brand_class').parent().parent().show();
             $scope.paginationftn($scope.products);
          }else{
            $scope.s_model='';
            $scope.s_make='';
            $scope.s_year='';
            var cnt = 0;
            var temp = [];
            
            $scope.total_products.forEach(function(val,index) { 
                incnt = 0;
                if((val[3].toLowerCase()).search(gen_val) != -1){
                  incnt++;
                }else if((val[8].toLowerCase()).search(gen_val) != -1){
                  incnt++;
                }else if((val[11].toLowerCase()).search(gen_val) != -1){
                  incnt++;
                }else if((val[12].toLowerCase()).search(gen_val) != -1){
                  incnt++;
                }

                if(incnt > 0 ){
                    temp.push(val);
                    $('#cat_'+val[9]).parent().parent().show();
                    $('#bra_'+val[10]).parent().parent().show();
                }
                cnt++;
            });
          if($scope.total_products.length == cnt){
            $scope.filter_products = temp;
             $scope.products = temp;
             $scope.paginationftn($scope.products);
          }  
        }
          
  };

  

  $scope.pagerefresh = function(){
    //currently wokring refresh
    $scope.s_model='';
    $scope.s_make='';
    $scope.s_year='';
    $scope.s_gen_search = ''; 
    cat_arr = [];
    bra_arr = [];      
    $('.category_class').parent().parent().show();
    $('.category_class').prop('checked',false);
    $('.brand_class').parent().parent().show();
    $('.brand_class').prop('checked',false);

    $('#pageloader').css('display','block');
     $scope.products = $scope.total_products;
     $scope.filter_products = $scope.total_products;
     $scope.final_ymm_array = $scope.make_array;
     $('#pageloader').css('display','none');
     $scope.paginationftn($scope.products);
  };

  /*$scope.$watch('s_gen_search',function(newValue, oldValue){
      if (newValue !== oldValue) {  
        if($scope.s_gen_search == '' && $scope.s_gen_search != undefined){
          $scope.pagerefresh();
        }
      }
  });*/

  $scope.paginationftn = function(items){
    $scope.nodata = false;
    $scope.sortingOrder = sortingOrder;
    $scope.reverse = false;
    $scope.filteredItems = [];
    $scope.groupedItems = [];
    $scope.itemsPerPage = 9;
    $scope.pagedItems = [];
    $scope.pagenos = [];
    $scope.interdata = '';
    $scope.currentPage = 0;
    $scope.interdata = items;
      //pagination part start 
          // *********************
              /*$scope.sortBy = function(propertyName) {
                  $scope.sortKey = propertyName;   //set the sortKey to the param passed
                  $scope.reverse = ($scope.sortKey === propertyName) ? !$scope.reverse : false;
                  $scope.filteredItems = $filter('orderBy')($scope.filteredItems, $scope.sortKey, $scope.reverse);
                  $scope.pagedItems = ""; 
                  $scope.groupToPages();
              };*/
              var searchMatch = function (haystack, needle) {
                if (!needle) {
                    return true;
                }
                 if(haystack !== null){
                    return haystack.toString().toLowerCase().indexOf(needle.toString().toLowerCase());
                }
              };

              // *****************init the filtered items*****************
              $scope.mysearch = function () {
                  $scope.filteredItems = $filter('filter')($scope.interdata, function (item) {
                      if(item[0] != '') {
                            if (searchMatch(item[0], $scope.query)  > -1){
                                return true;
                            }
                      }
                      return false;
                  });
                  // take care of the sorting order
                  if ($scope.sortingOrder !== '') {
                      $scope.filteredItems = $filter('orderBy')($scope.filteredItems, $scope.sortingOrder, $scope.reverse);
                  }
                  $scope.currentPage = 0;
                  // now group by pages
                  $scope.groupToPages();
              };
               // *****************finish the filtered items*****************
              // calculate page in place
              $scope.groupToPages = function () {
              $scope.pagedItems = [];
              for (var i = 0; i < $scope.filteredItems.length; i++) {
                  if (i % $scope.itemsPerPage === 0) {
                      $scope.pagedItems[Math.floor(i / $scope.itemsPerPage)] = [ $scope.filteredItems[i] ];
                      } else {
                      $scope.pagedItems[Math.floor(i / $scope.itemsPerPage)].push($scope.filteredItems[i]);
                  }
                  }
              };
              $scope.range = function (start, end) {
                  var ret = [];
                  if (!end) {
                      end = start;
                      start = 0;
                  }
                  for (var i = start; i < end; i++) {
                      ret.push(i);
                  }
                  $scope.pagenos = ret;
                  return ret;
              };
              $scope.prevPage = function () {
                  if ($scope.currentPage > 0) {
                      $scope.currentPage--;
                  }
              };
              $scope.nextPage = function () {
                  if ($scope.currentPage < $scope.pagedItems.length - 1) {
                      $scope.currentPage++;
                  }
              };
              $scope.setPage = function () {
                  $scope.currentPage = this.n;
              };
              $scope.setfirst = function () {
                  $scope.currentPage = 0;
              };
              $scope.setlast = function () {
                  $scope.currentPage = $scope.pagedItems.length - 1;
              };

              // functions have been describe process the data for display
              $scope.mysearch();
              
              $scope.$watch('currentPage', function(pno,oldno){
                if ((pno+1)%5==0 && $scope.pagedItems.length > 5){
                  var start = pno > oldno ? pno : (pno - 4 ? pno - 4 : 0);
                  $scope.range(start, $scope.pagedItems.length);
                }
              });
              $scope.range($scope.pagedItems.length);
          //pagination part end
          if($scope.pagedItems.length < 1){
            $scope.nodata = true;
          }
          //$scope.$apply();
          $scope.$applyAsync();
  };
/*****************************************************************************************************
                              partsearch page scripts
*****************************************************************************************************/
  });


  //checkout 3 complete
    var baseurl = "{{ url('<front>') }}";
    var userid  = '';
    var currenturl = window.location.href;
    var url_explode = currenturl.split('/');
    $('#pageloader').css('display','block');
    $.ajax(
      {
        url:baseurl+'getuserId',
        type:'POST',
        data:{uris : currenturl},
        success: function(data)
        {
          console.log(data);
          var jdata = JSON.parse(data.trim());
          console.log(jdata.userid);
          if(jdata.userid == 'not')
          {
            localStorage.setItem("url",jdata.url);
            //$('#pageloader').css('display','none');
          }
          else
          {
            userid = jdata.userid;
            console.log(jdata);
            if(jdata.url != '' && jdata.url != undefined)
            {
              $('#pageloader').css('display','none');
              console.log(jdata.url);
              if(currenturl != jdata.url)
              {
                window.location.href = jdata.url;
              }
            }
            else
            {
              $('#pageloader').css('display','none');
            }

            if(url_explode[url_explode.length-1] == 'complete')
            {
             window.location.href = baseurl+'user/'+userid+'/orders';
             //$('#pageloader').css('display','none');
            }else{
              $('#pageloader').css('display','none');
            }
            
          }

          $('#pageloader').css('display','none');
        }
      });



    $('.popupCloseButton').click(function(){
        $('.hover_bkgr_fricc').hide();
    });

    $(document).on('click', '.addtocart_class', function(){
      $('#pageloader').css('display','block');
      var item_qty=$('#item_qty').val();
      var price   = $('#price_total').text();
      if(price == "" || price == undefined){
        price = 1;
      }  
      if(item_qty == "" || item_qty == undefined){
        item_qty = 1;
      }      
      var id      = $(this).attr('id');
        $.ajax({
            type: "POST",
            data: {ids:id,item_qty:item_qty,price:price},
            url: baseurl+"addToCart_quantity",
            success: function(data){
              if(data.trim() == 'Login')
              {
                $('.login_error').show();
              }
              else if(data.trim() == 'exist'){ 
                $('.popupCloseButton').css("display","block");
                $('.cartadded').show();
              }else{
                $('.shopping_count').html(""); 
                $('.shopping_count').html(data); 
                cartitems(); 
              } 
              $('#pageloader').css('display','none');
            }
        });
    });   

    cartitems();
    function cartitems(){
      $('#cart-listcom').html('');
      $.ajax({  
        type: "POST",
          url: baseurl+"drupalourproduct/cart_listcom",
          success: function(data){
            $('#cart-listcom').html('');
            $('#cart-listcom').html(data); 
          }
      });
    }
      
    $(document).on('click', '#wishtlist_class', function(){      
      $('#pageloader').css('display','block');
      var id = $(this).attr('wishvalue');
      var wishlist_rem = $(this).attr('wishlist_show');
      $.ajax({
          type: "POST",
          data: {ids:id},            
          url: baseurl+"wishlistadd",
          success: function(data){
             if(wishlist_rem == 'remove_wish'){                
                $(".wish_"+id).parent().remove();                
             }else if(data.trim() == 'login'){
                $(".login_error_wish").css("display","block");
             }else{
                if(data == 0){                          
                  $("#"+id+"insidewish").removeClass('fa fa-heart');
                  $("#"+id+"insidewish").addClass('fa fa-heart-o');
                }else{            
                  $("#"+id+"insidewish").removeClass('fa fa-heart-o');
                  $("#"+id+"insidewish").addClass('fa fa-heart');
                }
            }
            $('#pageloader').css('display','none');
            wishcartcount();
         }
       });
      });

      wishcartcount();
      function wishcartcount(){
          $.ajax({  
          type: "POST",
            url: baseurl+"countofwishcart",
            dataType: 'json',
            success: function(data){
              $('#mycartcount').html('');
              $('#mycartcount').html(data.cartcount); 
              $('#mywishcount').html('');
              $('#mywishcount').html(data.wishcount);              
            }
        });
      }
      
    $(document).on('click', '#delete_items', function(){
      $('#pageloader').css('display','block');
      var productid = $(this).attr('productid');
      $.ajax({
          type: "POST",
          data: {productid:productid},            
          url: baseurl+"deletecartdata",
          success: function(data){
            $('#pageloader').css('display','none');  
            cartitems();
            wishcartcount();
          }
      });
    });

    var comparedids =[];
    $(document).on('click', '.compareselect', function(){
      var selid= $(this).attr("id");
      if ($(this).is(':checked')) {
        console.log(comparedids.length);
        if(comparedids.length < 3 ){
          comparedids.push(selid);      
        }else{
          
          $(this).prop('checked', false);
          $('.comparemax').css("display","block");
        }  
      }else{        
        array_pop(comparedids,selid);
      }
      if(comparedids.length > 0 ){
         
        $('.compare-switcher').css("display","block");
      }else{
        $('.compare-switcher').css("display","none");
      }       
      $('#compare_id').attr("href",baseurl+"cart_list?id="+comparedids.join());
      compareproducts();
    });
    function array_pop(comparedids ,selid ){
      var index = comparedids.indexOf(selid);
      if (index > -1) {
      comparedids.splice(index, 1);
      } 
      console.log('Another func'+comparedids);
    }
    function compareproducts(){
      console.log(comparedids);
      $.ajax({ 
      type: "POST",
      data:{productids : comparedids},
      url: baseurl+"prodcomp",
      success: function(data){        
        $('#inside_swith').html(data);                
      }
      });
    }
    $(document).on('click', '.compare_remove', function(){
      var selid= $(this).attr("id");
      $('#'+selid).prop('checked', false);
      array_pop(comparedids,selid);
      if(comparedids.length > 0 ){
        $('.compare-switcher').css("display","block");
      }else{
        $('.compare-switcher').css("display","none");
      }       
      compareproducts();
    });
    function setimeoutdata(){
      setTimeout(function() {
        $('.alert-success').fadeOut('fast');
      }, 2000);
      setTimeout(function() {
        $('.alert-danger').fadeOut('fast');
      }, 2000);
    }
    setimeoutdata();
</script>
