<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# " class=" js js csstransforms csstransforms3d csstransitions">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="MobileOptimized" content="width">
  <meta name="HandheldFriendly" content="true">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="http://demo.hugestem.com/martis/core/misc/favicon.ico" type="image/vnd.microsoft.icon"> 
  <title>Corporate | Martis Drupal 8 eCommerce Theme</title>

  <link rel="stylesheet" media="all" href="css/themify-icons.css">

  <!--[if lte IE 8]>
<script src="/martis/sites/martis/files/js/js_VtafjXmRvoUgAzqzYTA3Wrjkx9wcWhjP0G4ZnnqRamA.js"></script>
<![endif]-->
</head>

<body class="" data-gr-c-s-loaded="true"> <a href="#main-content" class="visually-hidden focusable">
    Skip to main content
  </a>
  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas="">
    <div id="wrapper" class="wrapper btn-default standard-layout header-default page-title1 light-scheme">
      <div class="layout-wrap sticky-header">
        <!-- Header Start -->
        <header class="header">
          <div class="container-wrap header-wrap">
            <div class="navbar header-center">
              <div class="container">
                <div class="header-side navbar-brand">
                  <div class="region region-branding">
                    <div id="block-martis-branding" class="norm-width block-title-1 block-title-left site-branding block block-system block-system-branding-block">
                      <div class="container-wrap clearfix">
                        <div class="brand logo">
                          <a href="#" title="Home" rel="home" class="site-branding-logo"> <img src="{{ url('<front>') }}themes/ITS/images/logo.png" alt="Home"> </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="header-main-wrap">
                  <div class="header-item header-main">
                    <div class="region region-header">
                      <div id="block-header-info" class="norm-width block-title-1 block-title-left block block-block-content block-block-content30fc2831-e146-4daa-aabe-9294e9401553">
                        <div class="container-wrap clearfix">
                          <div class="block-content clearfix">
                            <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                              <div class="header-info">
                                <div class="header-info-container">
                                  <div class="header-info-item"> <i class="ti-location-pin"></i>
                                    <div class="header-info-desc"> <span>135 Huge District</span><strong>Atlanta, USA</strong> </div>
                                  </div>
                                  <div class="header-info-item"> <i class="ti-headphone-alt"></i>
                                    <div class="header-info-desc"> <span>Get in touch</span> <strong>+123 4567 890</strong> </div>
                                  </div>
                                  <div class="header-info-item"> <i class="ti-time"></i>
                                    <div class="header-info-desc"> <span>Monday - Sunday</span><strong>9:00 am - 5:00 pm</strong> </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="header-side header-right-wrap">
                  <div class="header-item header-right">
                    <div class="region region-header-right">
                      <div id="block-social-icons" class="norm-width block-title-1 block-title-left block block-block-content block-block-content7d96b98e-062b-4161-a45d-51c516c1a9fa">
                        <div class="container-wrap clearfix">
                          <div class="block-content clearfix">
                            <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                              <div class="social-icon">
                                <ul>
                                  <li><a class="facebook" href="#"><i class="ti-facebook"></i></a></li>
                                  <li><a class="twitter" href="#"><i class="ti-twitter-alt"></i></a></li>
                                  <li><a class="instagram" href="#"><i class="ti-instagram"></i></a></li>
                                  <li><a class="linkedin" href="#"><i class="ti-linkedin"></i></a></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="header-item header-element">
                    <button class="navbar-toggler nav-button" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation"> <i class="ti-menu"></i> </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="header-menu">
              <div class="navbar navbar-expand-md nav-menu">
                <div class="container p-0">
                  <div id="main-menu" class="col-md-12 collapse navbar-collapse primary-menu nav-left">
                    <div class="region region-main-menu">
                      <nav aria-labelledby="block-martis-main-menu" id="block-martis-main-menu" class="norm-width block-title-1 block-title-left block block-system main-menu">
                        <div class="container-wrap clearfix mega-menu main-menu-wrap">
                          <ul class="menu menu-parent">
                            <li class="menu-item"> <a href="{{ url('<front>') }}">Home</a></li>
                            <li class="menu-item"> <a href="{{ url('<front>') }}about">About</a> </li>
                            <li class="menu-item"> <a href="{{ url('<front>') }}services">Services</a></li>
                            <li class="menu-item"> <a href="{{ url('<front>') }}blog">Blog</a> </li>
                            <li class="menu-item"> <a href="{{ url('<front>') }}contact">Contact</a> </li>
                          </ul>
                        </div>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
   <div class="content-page fa">
      {{ page.highlighted }}
      {{ page.content }}
   </div>
<footer id="footer" class="footer light-footer text-light">
          <!-- start Footer -->
          <div class="footer-widget">
            <div class="container">
              <div class="row">
                <!-- Start Footer First Region -->
                <div class="col-md-4 footer-widget-section">
                  <div class="region region-footer-first">
                    <div id="block-footer-about" class="norm-width block-title-1 block-title-left block block-block-content block-block-content0c7ce6a0-b522-4a46-8a00-a9a68797fadf">
                      <div class="container-wrap clearfix">
                        <div class="block-content clearfix">
                          <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                            <div class="margin-bottom-20"><img src="{{ url('<front>') }}themes/ITS/images/logo-light.png" alt="logo"></div>
                            <div>
                              <p>To be a recognized world leader and authority in the industry for design and creativity.</p> <i class="ti-mobile"></i> Fax: +098 123 4567
                              <br> <i class="ti-email"></i> E-mail: info@website.com </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Footer First Region -->
                <!-- Start Footer Second Region -->
                <div class="col-md-2 footer-widget-section">
                  <div class="region region-footer-second">
                    <div id="block-quick-links" class="norm-width block-title-1 block-title-left block block-block-content block-block-contenta43b38b3-91e8-44f4-a2a2-7ad381baad91">
                      <div class="container-wrap clearfix">
                        <div class="block-title-wrap clearfix">
                          <div class="block-title-content">
                            <h2 class="block-title">Quick Links</h2> </div>
                        </div>
                        <div class="block-content clearfix">
                          <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                            <ul class="menu">
                              <li><a href="http://demo.hugestem.com/martis/en/corporate-01#">Accounts</a></li>
                              <li><a href="http://demo.hugestem.com/martis/en/corporate-01#">Shipment</a></li>
                              <li><a href="http://demo.hugestem.com/martis/en/corporate-01#">FAQs</a></li>
                              <li><a href="http://demo.hugestem.com/martis/en/corporate-01#">Return policy</a></li>
                              <li><a href="http://demo.hugestem.com/martis/en/corporate-01#">Compare</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Footer Second Region -->
                <!-- Start Footer Third Region -->
                <div class="col-md-2 footer-widget-section">
                  <div class="region region-footer-third">
                    <div id="block-about-links" class="norm-width block-title-1 block-title-left block block-block-content block-block-contentb4ea29ce-26dd-4937-a67f-ca3cb34e22d0">
                      <div class="container-wrap clearfix">
                        <div class="block-title-wrap clearfix">
                          <div class="block-title-content">
                            <h2 class="block-title">About</h2> </div>
                        </div>
                        <div class="block-content clearfix">
                          <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                            <ul class="menu">
                              <li><a href="http://demo.hugestem.com/martis/en/corporate-01#">History</a></li>
                              <li><a href="http://demo.hugestem.com/martis/en/corporate-01#">Career</a></li>
                              <li><a href="http://demo.hugestem.com/martis/en/corporate-01#">Terms &amp; Condition</a></li>
                              <li><a href="http://demo.hugestem.com/martis/en/corporate-01#">Privacy Policy</a></li>
                              <li><a href="http://demo.hugestem.com/martis/en/corporate-01#">Contact Us</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Footer Third Region -->
                <!-- Start Footer Forth Region -->
                <div class="col-md-2 footer-widget-section">
                  <div class="region region-footer-forth">
                    <div id="block-support-links" class="norm-width block-title-1 block-title-left block block-block-content block-block-content13d97d8d-a5d3-48bc-aba5-f1e273a3a1cb">
                      <div class="container-wrap clearfix">
                        <div class="block-title-wrap clearfix">
                          <div class="block-title-content">
                            <h2 class="block-title">Support</h2> </div>
                        </div>
                        <div class="block-content clearfix">
                          <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                            <ul class="menu">
                              <li><a href="http://demo.hugestem.com/martis/en/corporate-01#">Accounts</a></li>
                              <li><a href="http://demo.hugestem.com/martis/en/corporate-01#">Shipment</a></li>
                              <li><a href="http://demo.hugestem.com/martis/en/corporate-01#">FAQs</a></li>
                              <li><a href="http://demo.hugestem.com/martis/en/corporate-01#">Return policy</a></li>
                              <li><a href="http://demo.hugestem.com/martis/en/corporate-01#">Compare</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Footer Forth Region -->
                <!-- Start Footer Fifth Region -->
                <div class="col-md-2 footer-widget-section">
                  <div class="region region-footer-fifth">
                    <div id="block-account-links" class="norm-width block-title-1 block-title-left block block-block-content block-block-content50758222-d7f2-4b1d-9a23-45b33cb9e302">
                      <div class="container-wrap clearfix">
                        <div class="block-title-wrap clearfix">
                          <div class="block-title-content">
                            <h2 class="block-title">Account</h2> </div>
                        </div>
                        <div class="block-content clearfix">
                          <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                            <ul class="menu">
                              <li><a href="http://demo.hugestem.com/martis/en/corporate-01#">Personal info</a></li>
                              <li><a href="http://demo.hugestem.com/martis/en/corporate-01#">Orders</a></li>
                              <li><a href="http://demo.hugestem.com/martis/en/corporate-01#">Stores</a></li>
                              <li><a href="http://demo.hugestem.com/martis/en/corporate-01#">Legal Notice</a></li>
                              <li><a href="http://demo.hugestem.com/martis/en/corporate-01#">Addresses</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Footer Fifth Region -->
              </div>
            </div>
          </div>
          <!--End Footer -->
          <div class="footer-bottom">
            <div class="container">
              <div class="row">
                <div class="col-md-6 footer-bottom-first">
                  <div class="region region-footer-bottom-first">
                    <div id="block-copyright-text" class="norm-width block-title-1 block-title-left block block-block-content block-block-content6266136b-af76-455e-933b-9bb914cbc722">
                      <div class="container-wrap clearfix">
                        <div class="block-content clearfix">
                          <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                            <p>Copyright ©&nbsp;2020&nbsp;<a href="http://hugestem.com/martis">Hugestem</a>. All rights reserved.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 footer-bottom-second">
                  <div class="region region-footer-bottom-second">
                    <div id="block-social-icons-footer" class="norm-width block-title-1 block-title-left block block-block-content block-block-content7d96b98e-062b-4161-a45d-51c516c1a9fa">
                      <div class="container-wrap clearfix">
                        <div class="block-content clearfix">
                          <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                            <div class="social-icon">
                              <ul>
                                <li><a class="facebook" href="http://demo.hugestem.com/martis/en/corporate-01#"><i class="ti-facebook"></i></a></li>
                                <li><a class="twitter" href="http://demo.hugestem.com/martis/en/corporate-01#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a class="instagram" href="http://demo.hugestem.com/martis/en/corporate-01#"><i class="ti-instagram"></i></a></li>
                                <li><a class="linkedin" href="http://demo.hugestem.com/martis/en/corporate-01#"><i class="ti-linkedin"></i></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <div class="back-to-top" style="display: none;"><span class="ti-angle-up"></span></div>
      </div>
      <div id="rtl-btn" class="rtl-btn ti-world">RTL Layout</div>
    </div>
  </div>
  <script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/martis\/","scriptPath":null,"pathPrefix":"en\/","currentPath":"node\/202","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","suppressDeprecationErrors":true,"statistics":{"data":{"nid":"202"},"url":"\/martis\/core\/modules\/statistics\/statistics.php"},"user":{"uid":0,"permissionsHash":"2df433c96f8adf4eeb0859ded99fc75740c90bb2e6203cb630e868938d15e997"}}</script>
  <script src="js/js_aKcK1BGfVjKXre1lIlJlMmXg6L9zVpddRtD-Se8s5Kc.js"></script>
  <link rel="stylesheet" href="css/colors4.css" type="text/css">
  <div id="cboxOverlay" style="display: none;"></div>
  <div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;">
    <div id="cboxWrapper">
      <div>
        <div id="cboxTopLeft" style="float: left;"></div>
        <div id="cboxTopCenter" style="float: left;"></div>
        <div id="cboxTopRight" style="float: left;"></div>
      </div>
      <div style="clear: left;">
        <div id="cboxMiddleLeft" style="float: left;"></div>
        <div id="cboxContent" style="float: left;">
          <div id="cboxTitle" style="float: left;"></div>
          <div id="cboxCurrent" style="float: left;"></div>
          <button type="button" id="cboxPrevious"></button>
          <button type="button" id="cboxNext"></button>
          <button type="button" id="cboxSlideshow"></button>
          <div id="cboxLoadingOverlay" style="float: left;"></div>
          <div id="cboxLoadingGraphic" style="float: left;"></div>
        </div>
        <div id="cboxMiddleRight" style="float: left;"></div>
      </div>
      <div style="clear: left;">
        <div id="cboxBottomLeft" style="float: left;"></div>
        <div id="cboxBottomCenter" style="float: left;"></div>
        <div id="cboxBottomRight" style="float: left;"></div>
      </div>
    </div>
    <div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div>
  </div>
</body>

</html>