
<div class="col-md-12">
    <div class="sidebar-section">
        <div class="recent-post widget">
          <h3 class="sidebar-title">Recent Posts</h3>
          <ul class="sidebar-listing-style">
			{% for key,value in service_array%}
			<li><a href="{{ url('<front>') }}node/{{value.node_id}}"> {{value.title }}</a></li>
			{% endfor %}
          </ul>
        </div>
        <div class="archives widget">
          <h3 class="sidebar-title">Archives</h3>
          <ul class="sidebar-listing-style">
          	{% for key,value in service_array1%}
				<li><a href="{{ url('<front>') }}news?{{value.node_det}}"> {{value.title}}</a></li>
			{% endfor %}
          </ul>
        </div>
        <div class="categories widget">
          <h3 class="sidebar-title">Categories</h3>
          <ul class="sidebar-listing-style">
          	{% for key,value in service_array2%}
				<li><a href="{{ url('<front>') }}news?category_id={{value.node_id}}"> {{value.title }}</a></li>
			{% endfor %}
        </ul>
        </div>
    </div>
</div>
