<div id="wrapper" class="wrapper btn-default standard-layout header-default page-title1 light-scheme page-title2">
<section id="page-title" class="page-title dark-page-title">
   <div class="container">
      <div class="region region-page-title">
         <div id="block-martis-page-title" class="norm-width block-title-1 block-title-left block block-core block-page-title-block">
            <div class="container-wrap clearfix">
               <div class="block-content clearfix">
                  <h1><span property="schema:name">About</span></h1>
               </div>
            </div>
         </div>
      </div>
      <div class="region region-breadcrumb">
         <div id="block-martis-breadcrumbs" class="norm-width block-title-1 block-title-left block block-system block-system-breadcrumb-block">
            <div class="container-wrap clearfix">
               <div class="block-content clearfix">
                  <nav class="breadcrumb" aria-labelledby="system-breadcrumb">
                     <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
                     <ul>
                        <li>
                           <a href="#">Home</a>
                        </li>
                        <li>
                           About
                        </li>
                     </ul>
                  </nav>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- End Page Title -->
<!-- layout -->
<section id="page-wrapper" class="page-wrapper">
   <div class="container">
      <div class="row content-layout">
         <!--- Start content -->
         <div class="col-md-12 main-content">
            <div class="region region-content">
               <div data-drupal-messages-fallback="" class="hidden"></div>
               <div id="block-martis-content--3" class="norm-width block-title-1 block-title-left block block-system block-system-main-block">
                  <div class="container-wrap clearfix">
                     <div class="block-content clearfix">
                        <div data-history-node-id="25" role="article" about="/martis/en/about" typeof="schema:WebPage" class="node node--type-page node--view-mode-full">
                           <span property="schema:name" content="About" class="hidden"></span>
                        </div>
                     </div>
                  </div>
               </div>
               <div id="block-about-us" class="norm-width block-title-2 block-title-left block feature-block block-block-content block-block-content540de843-233b-4d75-b156-59da38fc12c1">
                  <div class="container-wrap feature-block-layout1 clearfix">
                     <div class="row-wrap block-content">
                        <div class="row feature-block-wrap feature-block-image-left">
                           <div class="col-12 col-md-6 feat-block-image-wrap static-image">
                              <div class="feat-block-image">
                                 <div class="field field-field-image field-type-image field-label-hidden field-item">  <img src="{{ url('<front>') }}themes/ITS/images/about.jpg" width="840" height="680" alt="about" typeof="foaf:Image">
                                 </div>
                              </div>
                           </div>
                           <div class="col-12 col-md-6 feat-block-content">
                              <div class="feat-content-wrap">
                                 <div class="block-title-wrap">
                                    <div class="block-title-content">
                                       <h5 class="block-subtitle">GET TO KNOW ABOUT US</h5>
                                       <h2 class="block-title">We help businesses succeed beyond limitation through strategic approach.</h2>
                                    </div>
                                 </div>
                                 <div class="feat-block-text">
                                    <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                                       <p>Improve started however effects prospect by simplicity the far admiration preference everything cause three front state evening society besides inhabit over them pulled nature talked now for excuse result.</p>
                                    </div>
                                 </div>
                                 <a class="button button-default" href="#/about">Learn more</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!---End content -->
      </div>
   </div>
</section>
<!-- End layout -->
<!-- Start content wide -->
<section id="content-wide" class="content-wide">
   <div class="region region-content-wide">
      <div id="block-fact-counter-about" class="norm-width block-title-1 block-title-left block block-block-content block-block-content5eae88d2-6c7b-4f14-87a0-68ddeb1be6cb">
         <div class="container-wrap clearfix">
            <div class="block-content clearfix">
               <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                  <div class="row">
                     <div class="col-md-6">
                        <h2 class="mb-4">Our Corporate Policy is to be the leading business development outfit.</h2>
                        <p>Drawings me opinions returned absolute in otherwise therefore did are unfeeling something. Certain be ye amiable by exposed so to celebrated estimating excellence do.</p>
                     </div>
                     <div class="col-md-6 facts-border">
                        <div class="row">
                           <!-- facts-1 -->
                           <div class="col-md-4 col-sm-6 facts">
                              <div class="fact-value">
                                 <h3 class="count-number">
                                    <span class="counter counted" data-from="0" data-to="15" data-speed="2500">15</span><span>K</span><!-- facts-1 -->
                                 </h3>
                                 <h5 class="fact-title">Subscribers</h5>
                              </div>
                           </div>
                           <!-- facts-2 -->
                           <div class="col-md-4 col-sm-6 facts">
                              <div class="fact-value">
                                 <h3 class="count-number">
                                    <span class="counter counted" data-from="0" data-to="857" data-speed="2500">857</span><span>+</span><!-- facts-3 -->
                                 </h3>
                                 <h5 class="fact-title">Projects</h5>
                              </div>
                           </div>
                           <!-- facts-3 -->
                           <div class="col-md-4 col-sm-6 facts">
                              <div class="fact-value">
                                 <h3 class="count-number">
                                    <span class="counter counted" data-from="0" data-to="205" data-speed="2500">205</span><!-- facts-2 -->
                                 </h3>
                                 <h5 class="fact-title">Awards</h5>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="block-about-us2" class="norm-width block-title-1 block-title-left block feature-block block-block-content block-block-content451fca03-14ca-472a-9103-7b3dd2801510">
         <div class="container-wrap feature-block-layout4 clearfix">
            <div class="row-wrap block-content">
               <div class="feature-block-wrap feature-block-image-left feature-block-image-alt">
                  <div class="feat-block-image-wrap static-image">
                     <div class="feat-block-image">
                        <div class="field field-field-image field-type-image field-label-hidden field-item">  <img src="{{ url('<front>') }}themes/ITS/images/about_02.jpg" width="1920" height="1280" alt="about" typeof="foaf:Image">
                        </div>
                     </div>
                  </div>
                  <div class="feat-block-content feat-block-content-alt">
                     <div class="feat-content-wrap">
                        <div class="block-title-wrap">
                           <div class="block-title-content">
                              <h2 class="block-title">Our area of expertise is so broad to accommodate all your business needs</h2>
                           </div>
                        </div>
                        <div class="feat-block-text">
                           <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                              <div class="row text-center">
                                 <div class="col-sm-4 col-xs-6">
                                    <h4>Drupal</h4>
                                    <div class="chart" data-percent="96">
                                       <span class="percent">96</span>
                                       <canvas height="137" width="137" style="height: 110px; width: 110px;"></canvas>
                                    </div>
                                 </div>
                                 <div class="col-sm-4 col-xs-6">
                                    <h4>JavaScript</h4>
                                    <div class="chart" data-percent="88">
                                       <span class="percent">88</span>
                                       <canvas height="137" width="137" style="height: 110px; width: 110px;"></canvas>
                                    </div>
                                 </div>
                                 <div class="col-sm-4 col-xs-6">
                                    <h4>PHP</h4>
                                    <div class="chart" data-percent="78">
                                       <span class="percent">78</span>
                                       <canvas height="137" width="137" style="height: 110px; width: 110px;"></canvas>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="views-element-container norm-width block-title-1 block-title-center block block-views block-views-blockteam-team-carousel" id="block-views-block-team-team-carousel">
         <div class="container-wrap clearfix">
            <div class="block-title-wrap clearfix">
               <div class="block-title-content">
                  <h2 class="block-title">Best experts in the industry are who we have working for us</h2>
                  <h5 class="block-subtitle">Our team of creative minds</h5>
               </div>
            </div>
            <div class="block-content clearfix">
               <div>
                  <div class="js-view-dom-id-71fe7d18d9cb2a925300cee0e2064f9e5673351838f29bea34d04cd243cc7573">
                     <div data-settings="{&quot;grouping&quot;:[],&quot;row_class&quot;:&quot;&quot;,&quot;default_row_class&quot;:false,&quot;uses_fields&quot;:false,&quot;items&quot;:4,&quot;margin&quot;:20,&quot;autoplay&quot;:false,&quot;autoplaySpeed&quot;:1000,&quot;autoplayHoverPause&quot;:false,&quot;autoplayTimeout&quot;:4000,&quot;nav&quot;:true,&quot;navSpeed&quot;:800,&quot;loop&quot;:true,&quot;navRewind&quot;:false,&quot;rewindSpeed&quot;:1000,&quot;dots&quot;:false,&quot;dotsSpeed&quot;:800,&quot;slideBy&quot;:1,&quot;mouseDrag&quot;:true,&quot;touchDrag&quot;:true,&quot;pullDrag&quot;:false,&quot;freeDrag&quot;:false,&quot;stagePadding&quot;:0,&quot;merge&quot;:false,&quot;mergeFit&quot;:false,&quot;center&quot;:false,&quot;autoWidth&quot;:false,&quot;video&quot;:false,&quot;videoHeight&quot;:0,&quot;videoWidth&quot;:0}" class="owl-slider-wrapper owl-carousel owl-responsive owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                           <div class="owl-stage" style="transform: translate3d(-1210px, 0px, 0px); transition: all 0s ease 0s; width: 4235px;">
                              <div class="owl-item cloned" style="width: 282.5px; margin-right: 20px;">
                                 <div>
                                    <div data-history-node-id="21" role="article" about="/martis/en/team/angel-white">
                                       <div class="team-teaser">
                                          <div class="team-thumb">
                                             <div class="field field-field-image field-type-image field-label-hidden field-item">  <a href="#/team/angel-white" hreflang="en"><img src="{{ url('<front>') }}themes/ITS/images/team-05.jpg" width="480" height="640" alt="Angel White" typeof="foaf:Image">
                                                </a>
                                             </div>
                                             <div class="team-social">
                                                <a target="_blank" href="https://facebook.com/" class="ti-facebook"></a>
                                                <a target="_blank" href="https://twitter.com/" class="ti-twitter-alt"></a>
                                                <a target="_blank" href="https://linkedin.com/" class="ti-linkedin"></a>
                                             </div>
                                          </div>
                                          <div class="team-meta">
                                             <h4 class="team-name"><a href="#/team/angel-white"><span>Angel White</span>
                                                </a>
                                             </h4>
                                             <div class="team-position">HSE Manager</div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="owl-item cloned" style="width: 282.5px; margin-right: 20px;">
                                 <div>
                                    <div data-history-node-id="20" role="article" about="/martis/en/team/stone-cape">
                                       <div class="team-teaser">
                                          <div class="team-thumb">
                                             <div class="field field-field-image field-type-image field-label-hidden field-item">  <a href="#/team/stone-cape" hreflang="en"><img src="{{ url('<front>') }}themes/ITS/images/team-04.jpg" width="480" height="640" alt="Stone Cape" typeof="foaf:Image">
                                                </a>
                                             </div>
                                             <div class="team-social">
                                                <a target="_blank" href="https://facebook.com/" class="ti-facebook"></a>
                                                <a target="_blank" href="https://twitter.com/" class="ti-twitter-alt"></a>
                                                <a target="_blank" href="https://linkedin.com/" class="ti-linkedin"></a>
                                             </div>
                                          </div>
                                          <div class="team-meta">
                                             <h4 class="team-name"><a href="#/team/stone-cape"><span>Stone Cape</span>
                                                </a>
                                             </h4>
                                             <div class="team-position">Site Developer</div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="owl-item cloned" style="width: 282.5px; margin-right: 20px;">
                                 <div>
                                    <div data-history-node-id="19" role="article" about="/martis/en/team/keith-sain">
                                       <div class="team-teaser">
                                          <div class="team-thumb">
                                             <div class="field field-field-image field-type-image field-label-hidden field-item">  <a href="#/team/keith-sain" hreflang="en"><img src="{{ url('<front>') }}themes/ITS/images/team-01.jpg" width="480" height="640" alt="Keith Sain" typeof="foaf:Image">
                                                </a>
                                             </div>
                                             <div class="team-social">
                                             </div>
                                          </div>
                                          <div class="team-meta">
                                             <h4 class="team-name"><a href="#/team/keith-sain"><span>Keith Sain</span>
                                                </a>
                                             </h4>
                                             <div class="team-position">Creative Manager</div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="owl-item cloned" style="width: 282.5px; margin-right: 20px;">
                                 <div>
                                    <div data-history-node-id="18" role="article" about="/martis/en/team/smith-fresh">
                                       <div class="team-teaser">
                                          <div class="team-thumb">
                                             <div class="field field-field-image field-type-image field-label-hidden field-item">  <a href="#/team/smith-fresh" hreflang="en"><img src="{{ url('<front>') }}themes/ITS/images/team-02.jpg" width="480" height="640" alt="Smith Fresh" typeof="foaf:Image">
                                                </a>
                                             </div>
                                             <div class="team-social">
                                                <a target="_blank" href="https://facebook.com/" class="ti-facebook"></a>
                                                <a target="_blank" href="https://twitter.com/" class="ti-twitter-alt"></a>
                                                <a target="_blank" href="https://linkedin.com/" class="ti-linkedin"></a>
                                             </div>
                                          </div>
                                          <div class="team-meta">
                                             <h4 class="team-name"><a href="#/team/smith-fresh"><span>Smith Fresh</span>
                                                </a>
                                             </h4>
                                             <div class="team-position">Project Manager</div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="owl-item active" style="width: 282.5px; margin-right: 20px;">
                                 <div>
                                    <div data-history-node-id="24" role="article" about="/martis/en/team/crane-bury">
                                       <div class="team-teaser">
                                          <div class="team-thumb">
                                             <div class="field field-field-image field-type-image field-label-hidden field-item">  <a href="#/team/crane-bury" hreflang="en"><img src="{{ url('<front>') }}themes/ITS/images/team-06.jpg" width="480" height="640" alt="Crane Bury" typeof="foaf:Image">
                                                </a>
                                             </div>
                                             <div class="team-social">
                                                <a target="_blank" href="https://facebook.com/" class="ti-facebook"></a>
                                                <a target="_blank" href="https://twitter.com/" class="ti-twitter-alt"></a>
                                                <a target="_blank" href="https://linkedin.com/" class="ti-linkedin"></a>
                                             </div>
                                          </div>
                                          <div class="team-meta">
                                             <h4 class="team-name"><a href="#/team/crane-bury"><span>Crane Bury</span>
                                                </a>
                                             </h4>
                                             <div class="team-position">Managing Director</div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="owl-item active" style="width: 282.5px; margin-right: 20px;">
                                 <div>
                                    <div data-history-node-id="22" role="article" about="/martis/en/team/simon-leon">
                                       <div class="team-teaser">
                                          <div class="team-thumb">
                                             <div class="field field-field-image field-type-image field-label-hidden field-item">  <a href="#/team/simon-leon" hreflang="en"><img src="{{ url('<front>') }}themes/ITS/images/team-03.jpg" width="480" height="640" alt="Ellen Arch" typeof="foaf:Image">
                                                </a>
                                             </div>
                                             <div class="team-social">
                                                <a target="_blank" href="https://facebook.com/" class="ti-facebook"></a>
                                                <a target="_blank" href="https://twitter.com/" class="ti-twitter-alt"></a>
                                                <a target="_blank" href="https://linkedin.com/" class="ti-linkedin"></a>
                                             </div>
                                          </div>
                                          <div class="team-meta">
                                             <h4 class="team-name"><a href="#/team/simon-leon"><span>Simon Leon</span>
                                                </a>
                                             </h4>
                                             <div class="team-position">Chief Executive</div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="owl-item active" style="width: 282.5px; margin-right: 20px;">
                                 <div>
                                    <div data-history-node-id="21" role="article" about="/martis/en/team/angel-white">
                                       <div class="team-teaser">
                                          <div class="team-thumb">
                                             <div class="field field-field-image field-type-image field-label-hidden field-item">  <a href="#/team/angel-white" hreflang="en"><img src="{{ url('<front>') }}themes/ITS/images/team-05.jpg" width="480" height="640" alt="Angel White" typeof="foaf:Image">
                                                </a>
                                             </div>
                                             <div class="team-social">
                                                <a target="_blank" href="https://facebook.com/" class="ti-facebook"></a>
                                                <a target="_blank" href="https://twitter.com/" class="ti-twitter-alt"></a>
                                                <a target="_blank" href="https://linkedin.com/" class="ti-linkedin"></a>
                                             </div>
                                          </div>
                                          <div class="team-meta">
                                             <h4 class="team-name"><a href="#/team/angel-white"><span>Angel White</span>
                                                </a>
                                             </h4>
                                             <div class="team-position">HSE Manager</div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="owl-item active" style="width: 282.5px; margin-right: 20px;">
                                 <div>
                                    <div data-history-node-id="20" role="article" about="/martis/en/team/stone-cape">
                                       <div class="team-teaser">
                                          <div class="team-thumb">
                                             <div class="field field-field-image field-type-image field-label-hidden field-item">  <a href="#/team/stone-cape" hreflang="en"><img src="{{ url('<front>') }}themes/ITS/images/team-04.jpg" width="480" height="640" alt="Stone Cape" typeof="foaf:Image">
                                                </a>
                                             </div>
                                             <div class="team-social">
                                                <a target="_blank" href="https://facebook.com/" class="ti-facebook"></a>
                                                <a target="_blank" href="https://twitter.com/" class="ti-twitter-alt"></a>
                                                <a target="_blank" href="https://linkedin.com/" class="ti-linkedin"></a>
                                             </div>
                                          </div>
                                          <div class="team-meta">
                                             <h4 class="team-name"><a href="#/team/stone-cape"><span>Stone Cape</span>
                                                </a>
                                             </h4>
                                             <div class="team-position">Site Developer</div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="owl-item" style="width: 282.5px; margin-right: 20px;">
                                 <div>
                                    <div data-history-node-id="19" role="article" about="/martis/en/team/keith-sain">
                                       <div class="team-teaser">
                                          <div class="team-thumb">
                                             <div class="field field-field-image field-type-image field-label-hidden field-item">  <a href="#/team/keith-sain" hreflang="en"><img src="{{ url('<front>') }}themes/ITS/images/team-01.jpg" width="480" height="640" alt="Keith Sain" typeof="foaf:Image">
                                                </a>
                                             </div>
                                             <div class="team-social">
                                             </div>
                                          </div>
                                          <div class="team-meta">
                                             <h4 class="team-name"><a href="#/team/keith-sain"><span>Keith Sain</span>
                                                </a>
                                             </h4>
                                             <div class="team-position">Creative Manager</div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="owl-item" style="width: 282.5px; margin-right: 20px;">
                                 <div>
                                    <div data-history-node-id="18" role="article" about="/martis/en/team/smith-fresh">
                                       <div class="team-teaser">
                                          <div class="team-thumb">
                                             <div class="field field-field-image field-type-image field-label-hidden field-item">  <a href="#/team/smith-fresh" hreflang="en"><img src="{{ url('<front>') }}themes/ITS/images/team-02.jpg" width="480" height="640" alt="Smith Fresh" typeof="foaf:Image">
                                                </a>
                                             </div>
                                             <div class="team-social">
                                                <a target="_blank" href="https://facebook.com/" class="ti-facebook"></a>
                                                <a target="_blank" href="https://twitter.com/" class="ti-twitter-alt"></a>
                                                <a target="_blank" href="https://linkedin.com/" class="ti-linkedin"></a>
                                             </div>
                                          </div>
                                          <div class="team-meta">
                                             <h4 class="team-name"><a href="#/team/smith-fresh"><span>Smith Fresh</span>
                                                </a>
                                             </h4>
                                             <div class="team-position">Project Manager</div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="owl-item cloned" style="width: 282.5px; margin-right: 20px;">
                                 <div>
                                    <div data-history-node-id="24" role="article" about="/martis/en/team/crane-bury">
                                       <div class="team-teaser">
                                          <div class="team-thumb">
                                             <div class="field field-field-image field-type-image field-label-hidden field-item">  <a href="#/team/crane-bury" hreflang="en"><img src="{{ url('<front>') }}themes/ITS/images/team-06.jpg" width="480" height="640" alt="Crane Bury" typeof="foaf:Image">
                                                </a>
                                             </div>
                                             <div class="team-social">
                                                <a target="_blank" href="https://facebook.com/" class="ti-facebook"></a>
                                                <a target="_blank" href="https://twitter.com/" class="ti-twitter-alt"></a>
                                                <a target="_blank" href="https://linkedin.com/" class="ti-linkedin"></a>
                                             </div>
                                          </div>
                                          <div class="team-meta">
                                             <h4 class="team-name"><a href="#/team/crane-bury"><span>Crane Bury</span>
                                                </a>
                                             </h4>
                                             <div class="team-position">Managing Director</div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="owl-item cloned" style="width: 282.5px; margin-right: 20px;">
                                 <div>
                                    <div data-history-node-id="22" role="article" about="/martis/en/team/simon-leon">
                                       <div class="team-teaser">
                                          <div class="team-thumb">
                                             <div class="field field-field-image field-type-image field-label-hidden field-item">  <a href="#/team/simon-leon" hreflang="en"><img src="{{ url('<front>') }}themes/ITS/images/team-03.jpg" width="480" height="640" alt="Ellen Arch" typeof="foaf:Image">
                                                </a>
                                             </div>
                                             <div class="team-social">
                                                <a target="_blank" href="https://facebook.com/" class="ti-facebook"></a>
                                                <a target="_blank" href="https://twitter.com/" class="ti-twitter-alt"></a>
                                                <a target="_blank" href="https://linkedin.com/" class="ti-linkedin"></a>
                                             </div>
                                          </div>
                                          <div class="team-meta">
                                             <h4 class="team-name"><a href="#/team/simon-leon"><span>Simon Leon</span>
                                                </a>
                                             </h4>
                                             <div class="team-position">Chief Executive</div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="owl-item cloned" style="width: 282.5px; margin-right: 20px;">
                                 <div>
                                    <div data-history-node-id="21" role="article" about="/martis/en/team/angel-white">
                                       <div class="team-teaser">
                                          <div class="team-thumb">
                                             <div class="field field-field-image field-type-image field-label-hidden field-item">  <a href="#/team/angel-white" hreflang="en"><img src="{{ url('<front>') }}themes/ITS/images/team-05.jpg" width="480" height="640" alt="Angel White" typeof="foaf:Image">
                                                </a>
                                             </div>
                                             <div class="team-social">
                                                <a target="_blank" href="https://facebook.com/" class="ti-facebook"></a>
                                                <a target="_blank" href="https://twitter.com/" class="ti-twitter-alt"></a>
                                                <a target="_blank" href="https://linkedin.com/" class="ti-linkedin"></a>
                                             </div>
                                          </div>
                                          <div class="team-meta">
                                             <h4 class="team-name"><a href="#/team/angel-white"><span>Angel White</span>
                                                </a>
                                             </h4>
                                             <div class="team-position">HSE Manager</div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="owl-item cloned" style="width: 282.5px; margin-right: 20px;">
                                 <div>
                                    <div data-history-node-id="20" role="article" about="/martis/en/team/stone-cape">
                                       <div class="team-teaser">
                                          <div class="team-thumb">
                                             <div class="field field-field-image field-type-image field-label-hidden field-item">  <a href="#/team/stone-cape" hreflang="en"><img src="{{ url('<front>') }}themes/ITS/images/team-04.jpg" width="480" height="640" alt="Stone Cape" typeof="foaf:Image">
                                                </a>
                                             </div>
                                             <div class="team-social">
                                                <a target="_blank" href="https://facebook.com/" class="ti-facebook"></a>
                                                <a target="_blank" href="https://twitter.com/" class="ti-twitter-alt"></a>
                                                <a target="_blank" href="https://linkedin.com/" class="ti-linkedin"></a>
                                             </div>
                                          </div>
                                          <div class="team-meta">
                                             <h4 class="team-name"><a href="#/team/stone-cape"><span>Stone Cape</span>
                                                </a>
                                             </h4>
                                             <div class="team-position">Site Developer</div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div>
                        <div class="owl-dots disabled"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="cta-style2">
         <div id="block-call-to-action-about" class="colored-bg norm-width block-title-1 block-title-left block action-block block-block-content block-block-content0501b135-3732-406b-997a-10542d01d0cc">
            <div class="container-wrap clearfix">
               <div class="cta-wrap action-block-2 row">
                  <div class="col-sm-9 cta-text">
                     <div class="cta-body">
                        <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                           <h5>Do you have any project ?</h5>
                           <h2>Let’s Talk Business Solutions With You</h2>
                        </div>
                     </div>
                  </div>
                  <div class="nav menu col-sm-3 text-middle cta-link"><a href="#/about" class="button">Get a Quote</a></div>
               </div>
            </div>
         </div>
      </div>
      <div class="views-element-container norm-width block-title-2 block-title-center block block-views block-views-blocktestimonial-testimonial-carousel" id="block-views-block-testimonial-testimonial-carousel">
         <div class="container-wrap clearfix">
            <div class="block-title-wrap clearfix">
               <div class="block-title-content">
                  <h5 class="block-subtitle">Trusted by great businesses</h5>
                  <h2 class="block-title">What they are saying about us</h2>
               </div>
            </div>
            <div class="block-content clearfix">
               <div>
                  <div class="js-view-dom-id-67024676fa5ec85657e748be40b6a1386049ad5cb2da78fb5094d8cf3cd13ead">
                     <div data-settings="{&quot;grouping&quot;:[],&quot;row_class&quot;:&quot;&quot;,&quot;default_row_class&quot;:false,&quot;uses_fields&quot;:false,&quot;items&quot;:3,&quot;margin&quot;:30,&quot;autoplay&quot;:false,&quot;autoplaySpeed&quot;:1000,&quot;autoplayHoverPause&quot;:false,&quot;autoplayTimeout&quot;:4000,&quot;nav&quot;:false,&quot;navSpeed&quot;:800,&quot;loop&quot;:true,&quot;navRewind&quot;:false,&quot;rewindSpeed&quot;:1000,&quot;dots&quot;:true,&quot;dotsSpeed&quot;:800,&quot;slideBy&quot;:1,&quot;mouseDrag&quot;:true,&quot;touchDrag&quot;:true,&quot;pullDrag&quot;:false,&quot;freeDrag&quot;:false,&quot;stagePadding&quot;:0,&quot;merge&quot;:false,&quot;mergeFit&quot;:false,&quot;center&quot;:false,&quot;autoWidth&quot;:false,&quot;video&quot;:false,&quot;videoHeight&quot;:0,&quot;videoWidth&quot;:0}" class="owl-slider-wrapper owl-carousel owl-responsive owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                           <div class="owl-stage" style="transform: translate3d(-1220px, 0px, 0px); transition: all 0s ease 0s; width: 3254px;">
                              <div class="owl-item cloned" style="width: 376.667px; margin-right: 30px;">
                                 <div>
                                    <div data-history-node-id="13" role="article" about="/martis/en/testimonial/faith-white" class="testimonial">
                                       <div class="testimonial-content">
                                          <div class="testimonial-body">
                                             <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                                                <p>Spite mirth money six above get going great own. Started now shortly had assured hearing expense. Led juvenile his laughing speedily put pleasant relation.</p>
                                             </div>
                                          </div>
                                          <div class="testimonial-meta">
                                             <div class="testimonial-image">
                                                <div class="field field-field-image field-type-image field-label-hidden field-item">  <img src="{{ url('<front>') }}themes/ITS/images/client-1.jpg" width="100" height="100" alt="client" typeof="foaf:Image">
                                                </div>
                                             </div>
                                             <div class="testimonial-title-wrap">
                                                <h5 class="testimonial-title"><span>Faith White</span></h5>
                                                <div class="testimonial-position">Programmer</div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="owl-item cloned" style="width: 376.667px; margin-right: 30px;">
                                 <div>
                                    <div data-history-node-id="14" role="article" about="/martis/en/testimonial/joe-blaxe" class="testimonial">
                                       <div class="testimonial-content">
                                          <div class="testimonial-body">
                                             <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                                                <p>Contented continued any happiness instantly objection yet her allowance. Use correct day new brought tedious. By come this been in. Kept easy or sons my it done.</p>
                                             </div>
                                          </div>
                                          <div class="testimonial-meta">
                                             <div class="testimonial-image">
                                                <div class="field field-field-image field-type-image field-label-hidden field-item">  <img src="{{ url('<front>') }}themes/ITS/images/client-2.jpg" width="100" height="100" alt="client" typeof="foaf:Image">
                                                </div>
                                             </div>
                                             <div class="testimonial-title-wrap">
                                                <h5 class="testimonial-title"><span>Joe Blaxe</span></h5>
                                                <div class="testimonial-position">Consultant</div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="owl-item cloned" style="width: 376.667px; margin-right: 30px;">
                                 <div>
                                    <div data-history-node-id="13" role="article" about="/martis/en/testimonial/faith-white" class="testimonial">
                                       <div class="testimonial-content">
                                          <div class="testimonial-body">
                                             <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                                                <p>Spite mirth money six above get going great own. Started now shortly had assured hearing expense. Led juvenile his laughing speedily put pleasant relation.</p>
                                             </div>
                                          </div>
                                          <div class="testimonial-meta">
                                             <div class="testimonial-image">
                                                <div class="field field-field-image field-type-image field-label-hidden field-item">  <img src="{{ url('<front>') }}themes/ITS/images/client-1.jpg" width="100" height="100" alt="client" typeof="foaf:Image">
                                                </div>
                                             </div>
                                             <div class="testimonial-title-wrap">
                                                <h5 class="testimonial-title"><span>Faith White</span></h5>
                                                <div class="testimonial-position">Programmer</div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="owl-item active" style="width: 376.667px; margin-right: 30px;">
                                 <div>
                                    <div data-history-node-id="14" role="article" about="/martis/en/testimonial/joe-blaxe" class="testimonial">
                                       <div class="testimonial-content">
                                          <div class="testimonial-body">
                                             <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                                                <p>Contented continued any happiness instantly objection yet her allowance. Use correct day new brought tedious. By come this been in. Kept easy or sons my it done.</p>
                                             </div>
                                          </div>
                                          <div class="testimonial-meta">
                                             <div class="testimonial-image">
                                                <div class="field field-field-image field-type-image field-label-hidden field-item">  <img src="{{ url('<front>') }}themes/ITS/images/client-2.jpg" width="100" height="100" alt="client" typeof="foaf:Image">
                                                </div>
                                             </div>
                                             <div class="testimonial-title-wrap">
                                                <h5 class="testimonial-title"><span>Joe Blaxe</span></h5>
                                                <div class="testimonial-position">Consultant</div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="owl-item active" style="width: 376.667px; margin-right: 30px;">
                                 <div>
                                    <div data-history-node-id="13" role="article" about="/martis/en/testimonial/faith-white" class="testimonial">
                                       <div class="testimonial-content">
                                          <div class="testimonial-body">
                                             <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                                                <p>Spite mirth money six above get going great own. Started now shortly had assured hearing expense. Led juvenile his laughing speedily put pleasant relation.</p>
                                             </div>
                                          </div>
                                          <div class="testimonial-meta">
                                             <div class="testimonial-image">
                                                <div class="field field-field-image field-type-image field-label-hidden field-item">  <img src="{{ url('<front>') }}themes/ITS/images/client-1.jpg" width="100" height="100" alt="client" typeof="foaf:Image">
                                                </div>
                                             </div>
                                             <div class="testimonial-title-wrap">
                                                <h5 class="testimonial-title"><span>Faith White</span></h5>
                                                <div class="testimonial-position">Programmer</div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="owl-item cloned active" style="width: 376.667px; margin-right: 30px;">
                                 <div>
                                    <div data-history-node-id="14" role="article" about="/martis/en/testimonial/joe-blaxe" class="testimonial">
                                       <div class="testimonial-content">
                                          <div class="testimonial-body">
                                             <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                                                <p>Contented continued any happiness instantly objection yet her allowance. Use correct day new brought tedious. By come this been in. Kept easy or sons my it done.</p>
                                             </div>
                                          </div>
                                          <div class="testimonial-meta">
                                             <div class="testimonial-image">
                                                <div class="field field-field-image field-type-image field-label-hidden field-item">  <img src="{{ url('<front>') }}themes/ITS/images/client-2.jpg" width="100" height="100" alt="client" typeof="foaf:Image">
                                                </div>
                                             </div>
                                             <div class="testimonial-title-wrap">
                                                <h5 class="testimonial-title"><span>Joe Blaxe</span></h5>
                                                <div class="testimonial-position">Consultant</div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="owl-item cloned" style="width: 376.667px; margin-right: 30px;">
                                 <div>
                                    <div data-history-node-id="13" role="article" about="/martis/en/testimonial/faith-white" class="testimonial">
                                       <div class="testimonial-content">
                                          <div class="testimonial-body">
                                             <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                                                <p>Spite mirth money six above get going great own. Started now shortly had assured hearing expense. Led juvenile his laughing speedily put pleasant relation.</p>
                                             </div>
                                          </div>
                                          <div class="testimonial-meta">
                                             <div class="testimonial-image">
                                                <div class="field field-field-image field-type-image field-label-hidden field-item">  <img src="{{ url('<front>') }}themes/ITS/images/client-1.jpg" width="100" height="100" alt="client" typeof="foaf:Image">
                                                </div>
                                             </div>
                                             <div class="testimonial-title-wrap">
                                                <h5 class="testimonial-title"><span>Faith White</span></h5>
                                                <div class="testimonial-position">Programmer</div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="owl-item cloned" style="width: 376.667px; margin-right: 30px;">
                                 <div>
                                    <div data-history-node-id="14" role="article" about="/martis/en/testimonial/joe-blaxe" class="testimonial">
                                       <div class="testimonial-content">
                                          <div class="testimonial-body">
                                             <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                                                <p>Contented continued any happiness instantly objection yet her allowance. Use correct day new brought tedious. By come this been in. Kept easy or sons my it done.</p>
                                             </div>
                                          </div>
                                          <div class="testimonial-meta">
                                             <div class="testimonial-image">
                                                <div class="field field-field-image field-type-image field-label-hidden field-item">  <img src="{{ url('<front>') }}themes/ITS/images/client-2.jpg" width="100" height="100" alt="client" typeof="foaf:Image">
                                                </div>
                                             </div>
                                             <div class="testimonial-title-wrap">
                                                <h5 class="testimonial-title"><span>Joe Blaxe</span></h5>
                                                <div class="testimonial-position">Consultant</div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div>
                        <div class="owl-dots disabled"><button role="button" class="owl-dot active"><span></span></button></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- End content wide -->
<!-- start Content Widget -->
<section class="content-widget">
   <div class="container">
      <div class="row">
         <!-- Start Content Widget First Region -->
         <div class="col-md-12 content-widget-section">
            <div class="region region-content-widget-first">
               <div class="views-element-container norm-width block-title-1 block-title-left block block-views block-views-blockclients-client-carousel" id="block-views-block-clients-client-carousel">
                  <div class="container-wrap clearfix">
                     <div class="block-content clearfix">
                        <div>
                           <div class="js-view-dom-id-592ba5d1f68e9fe08330e2df2b3f3829462cbfd9414bd5960a3795a8d1a5481d">
                              <div data-settings="{&quot;grouping&quot;:[],&quot;row_class&quot;:&quot;&quot;,&quot;default_row_class&quot;:false,&quot;uses_fields&quot;:false,&quot;items&quot;:6,&quot;margin&quot;:30,&quot;autoplay&quot;:true,&quot;autoplaySpeed&quot;:1000,&quot;autoplayHoverPause&quot;:false,&quot;autoplayTimeout&quot;:4000,&quot;nav&quot;:true,&quot;navSpeed&quot;:800,&quot;loop&quot;:true,&quot;navRewind&quot;:false,&quot;rewindSpeed&quot;:1000,&quot;dots&quot;:false,&quot;dotsSpeed&quot;:800,&quot;slideBy&quot;:1,&quot;mouseDrag&quot;:true,&quot;touchDrag&quot;:true,&quot;pullDrag&quot;:false,&quot;freeDrag&quot;:false,&quot;stagePadding&quot;:0,&quot;merge&quot;:false,&quot;mergeFit&quot;:false,&quot;center&quot;:false,&quot;autoWidth&quot;:false,&quot;video&quot;:false,&quot;videoHeight&quot;:0,&quot;videoWidth&quot;:0}" class="owl-slider-wrapper owl-carousel owl-responsive owl-loaded owl-drag">
                                 <div class="owl-stage-outer">
                                    <div class="owl-stage" style="transform: translate3d(-2643px, 0px, 0px); transition: all 1s ease 0s; width: 4474px;">
                                       <div class="owl-item cloned" style="width: 173.333px; margin-right: 30px;">
                                          <div>  <img src="{{ url('<front>') }}themes/ITS/images/partner-06.png" width="350" height="150" alt="Partner 6" typeof="foaf:Image">
                                          </div>
                                       </div>
                                       <div class="owl-item cloned" style="width: 173.333px; margin-right: 30px;">
                                          <div>  <img src="{{ url('<front>') }}themes/ITS/images/partner-05.png" width="350" height="150" alt="Partner 5" typeof="foaf:Image">
                                          </div>
                                       </div>
                                       <div class="owl-item cloned" style="width: 173.333px; margin-right: 30px;">
                                          <div>  <img src="{{ url('<front>') }}themes/ITS/images/partner-04.png" width="350" height="150" alt="Partner 4" typeof="foaf:Image">
                                          </div>
                                       </div>
                                       <div class="owl-item cloned" style="width: 173.333px; margin-right: 30px;">
                                          <div>  <img src="{{ url('<front>') }}themes/ITS/images/partner-03.png" width="350" height="150" alt="Partner 3" typeof="foaf:Image">
                                          </div>
                                       </div>
                                       <div class="owl-item cloned" style="width: 173.333px; margin-right: 30px;">
                                          <div>  <img src="{{ url('<front>') }}themes/ITS/images/partner-02.png" width="350" height="150" alt="Partner 2" typeof="foaf:Image">
                                          </div>
                                       </div>
                                       <div class="owl-item cloned" style="width: 173.333px; margin-right: 30px;">
                                          <div>  <img src="{{ url('<front>') }}themes/ITS/images/partner-01.png" width="350" height="150" alt="Partner 1" typeof="foaf:Image">
                                          </div>
                                       </div>
                                       <div class="owl-item" style="width: 173.333px; margin-right: 30px;">
                                          <div>  <img src="{{ url('<front>') }}themes/ITS/images/partner-10.png" width="350" height="150" alt="Partner 10" typeof="foaf:Image">
                                          </div>
                                       </div>
                                       <div class="owl-item" style="width: 173.333px; margin-right: 30px;">
                                          <div>  <img src="{{ url('<front>') }}themes/ITS/images/partner-09.png" width="350" height="150" alt="Partner 9" typeof="foaf:Image">
                                          </div>
                                       </div>
                                       <div class="owl-item" style="width: 173.333px; margin-right: 30px;">
                                          <div>  <img src="{{ url('<front>') }}themes/ITS/images/partner-08.png" width="350" height="150" alt="Partner 8" typeof="foaf:Image">
                                          </div>
                                       </div>
                                       <div class="owl-item" style="width: 173.333px; margin-right: 30px;">
                                          <div>  <img src="{{ url('<front>') }}themes/ITS/images/partner-07.png" width="350" height="150" alt="Partner 7" typeof="foaf:Image">
                                          </div>
                                       </div>
                                       <div class="owl-item" style="width: 173.333px; margin-right: 30px;">
                                          <div>  <img src="{{ url('<front>') }}themes/ITS/images/partner-06.png" width="350" height="150" alt="Partner 6" typeof="foaf:Image">
                                          </div>
                                       </div>
                                       <div class="owl-item" style="width: 173.333px; margin-right: 30px;">
                                          <div>  <img src="{{ url('<front>') }}themes/ITS/images/partner-05.png" width="350" height="150" alt="Partner 5" typeof="foaf:Image">
                                          </div>
                                       </div>
                                       <div class="owl-item" style="width: 173.333px; margin-right: 30px;">
                                          <div>  <img src="{{ url('<front>') }}themes/ITS/images/partner-04.png" width="350" height="150" alt="Partner 4" typeof="foaf:Image">
                                          </div>
                                       </div>
                                       <div class="owl-item active" style="width: 173.333px; margin-right: 30px;">
                                          <div>  <img src="{{ url('<front>') }}themes/ITS/images/partner-03.png" width="350" height="150" alt="Partner 3" typeof="foaf:Image">
                                          </div>
                                       </div>
                                       <div class="owl-item active" style="width: 173.333px; margin-right: 30px;">
                                          <div>  <img src="{{ url('<front>') }}themes/ITS/images/partner-02.png" width="350" height="150" alt="Partner 2" typeof="foaf:Image">
                                          </div>
                                       </div>
                                       <div class="owl-item active" style="width: 173.333px; margin-right: 30px;">
                                          <div>  <img src="{{ url('<front>') }}themes/ITS/images/partner-01.png" width="350" height="150" alt="Partner 1" typeof="foaf:Image">
                                          </div>
                                       </div>
                                       <div class="owl-item cloned active" style="width: 173.333px; margin-right: 30px;">
                                          <div>  <img src="{{ url('<front>') }}themes/ITS/images/partner-10.png" width="350" height="150" alt="Partner 10" typeof="foaf:Image">
                                          </div>
                                       </div>
                                       <div class="owl-item cloned active" style="width: 173.333px; margin-right: 30px;">
                                          <div>  <img src="{{ url('<front>') }}themes/ITS/images/partner-09.png" width="350" height="150" alt="Partner 9" typeof="foaf:Image">
                                          </div>
                                       </div>
                                       <div class="owl-item cloned active" style="width: 173.333px; margin-right: 30px;">
                                          <div>  <img src="{{ url('<front>') }}themes/ITS/images/partner-08.png" width="350" height="150" alt="Partner 8" typeof="foaf:Image">
                                          </div>
                                       </div>
                                       <div class="owl-item cloned" style="width: 173.333px; margin-right: 30px;">
                                          <div>  <img src="{{ url('<front>') }}themes/ITS/images/partner-07.png" width="350" height="150" alt="Partner 7" typeof="foaf:Image">
                                          </div>
                                       </div>
                                       <div class="owl-item cloned" style="width: 173.333px; margin-right: 30px;">
                                          <div>  <img src="{{ url('<front>') }}themes/ITS/images/partner-06.png" width="350" height="150" alt="Partner 6" typeof="foaf:Image">
                                          </div>
                                       </div>
                                       <div class="owl-item cloned" style="width: 173.333px; margin-right: 30px;">
                                          <div>  <img src="{{ url('<front>') }}themes/ITS/images/partner-05.png" width="350" height="150" alt="Partner 5" typeof="foaf:Image">
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div>
                                 <div class="owl-dots disabled"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- End Content Widget First Region -->
      </div>
   </div>
</section>
</div>