<div id="wrapper" class="wrapper btn-default standard-layout header-default page-title1 light-scheme">
<section id="page-title" class="page-title dark-page-title">
   <div class="container">
      <div class="region region-page-title">
         <div id="block-martis-page-title" class="norm-width block-title-1 block-title-left block block-core block-page-title-block">
            <div class="container-wrap clearfix">
               <div class="block-content clearfix">
                  <h1>Blog</h1>
               </div>
            </div>
         </div>
      </div>
      <div class="region region-breadcrumb">
         <div id="block-martis-breadcrumbs" class="norm-width block-title-1 block-title-left block block-system block-system-breadcrumb-block">
            <div class="container-wrap clearfix">
               <div class="block-content clearfix">
                  <nav class="breadcrumb" aria-labelledby="system-breadcrumb">
                     <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
                     <ul>
                        <li>
                           <a href="#">Home</a>
                        </li>
                        <li>
                           Blog
                        </li>
                     </ul>
                  </nav>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- End Page Title -->
<!-- layout -->
<section id="page-wrapper" class="page-wrapper">
   <div class="container">
      <div class="row content-layout">
         <!--- Start content -->
         <div class="col-md-9 left-content main-content">
            <div class="region region-content">
               <div data-drupal-messages-fallback="" class="hidden"></div>
               <div id="block-martis-content--3" class="norm-width block-title-1 block-title-left block block-system block-system-main-block">
                  <div class="container-wrap clearfix">
                     <div class="block-content clearfix">
                        <div class="views-element-container">
                           <div class="js-view-dom-id-e275c6ab82853b492a8b1d7768bbf01fed92ab791fd14188512cb5949a7d37b2">
                              <div class="row grid-wrapper">
                                 <div class="col-12 col-sm-12 col-md-6 col-lg-6 grid-item">
                                    <div data-history-node-id="106" role="article" about="/martis/en/blog/colors-enhance-creative-designs" class="blog-post-teaser post-row">
                                       <div class="post-thumb">
                                          <div class="post-image">  <a href="#/blog/colors-enhance-creative-designs" hreflang="en"><img src="{{ url('<front>') }}themes/ITS/images/service-01.jpg" width="720" height="480" alt="Colors That Enhance Creative Designs" typeof="foaf:Image">
                                             </a>
                                          </div>
                                       </div>
                                       <div class="post-content-wrap">
                                          <div class="content-wrap">
                                             <div class="post-meta">
                                                <div class="post-meta-item post-date"><i class="ti-time"></i> 28 Sep 2019</div>
                                                <div class="post-meta-item post-category">
                                                   <i class="ti-folder"></i> 
                                                   <div class="field field-field-category field-type-entity-reference field-label-hidden field-item"><a href="#/category/promo" hreflang="en">Promo</a></div>
                                                </div>
                                                <div class="post-meta-item post-comment"><i class="ti-comment-alt"></i> 0 comments</div>
                                             </div>
                                             <div class="post-content">
                                                <div class="post-title-wrap">
                                                   <h5 class="post-title"><a href="#/blog/colors-enhance-creative-designs"><span>Colors That Enhance Creative Designs</span>
                                                      </a>
                                                   </h5>
                                                </div>
                                                <div class="post-link"><a href="#/blog/colors-enhance-creative-designs">Read More »</a></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-12 col-md-6 col-lg-6 grid-item">
                                    <div data-history-node-id="109" role="article" about="/martis/en/blog/brands-gets-you-noticed" class="blog-post-teaser post-row">
                                       <div class="post-thumb">
                                          <div class="post-image">  <a href="#/blog/brands-gets-you-noticed" hreflang="en"><img src="{{ url('<front>') }}themes/ITS/images/project-06.jpg" width="720" height="480" alt="Brands That Gets You Noticed" typeof="foaf:Image">
                                             </a>
                                          </div>
                                       </div>
                                       <div class="post-content-wrap">
                                          <div class="content-wrap">
                                             <div class="post-meta">
                                                <div class="post-meta-item post-date"><i class="ti-time"></i> 16 Mar 2019</div>
                                                <div class="post-meta-item post-category">
                                                   <i class="ti-folder"></i> 
                                                   <div class="field field-field-category field-type-entity-reference field-label-hidden field-item"><a href="#/category/promo" hreflang="en">Promo</a></div>
                                                </div>
                                                <div class="post-meta-item post-comment"><i class="ti-comment-alt"></i> 6 comments</div>
                                             </div>
                                             <div class="post-content">
                                                <div class="post-title-wrap">
                                                   <h5 class="post-title"><a href="#/blog/brands-gets-you-noticed"><span>Brands That Gets You Noticed</span>
                                                      </a>
                                                   </h5>
                                                </div>
                                                <div class="post-link"><a href="#">Read More »</a></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-12 col-md-6 col-lg-6 grid-item">
                                    <div data-history-node-id="107" role="article" about="/martis/en/blog/10-designs-keeps-you-thinking" class="blog-post-teaser post-row">
                                       <div class="post-thumb">
                                          <div class="post-image">  <a href="#" hreflang="en"><img src="{{ url('<front>') }}themes/ITS/images/service-03.jpg" width="720" height="480" alt="10 Designs That Keeps You Thinking" typeof="foaf:Image">
                                             </a>
                                          </div>
                                       </div>
                                       <div class="post-content-wrap">
                                          <div class="content-wrap">
                                             <div class="post-meta">
                                                <div class="post-meta-item post-date"><i class="ti-time"></i> 15 Mar 2019</div>
                                                <div class="post-meta-item post-category">
                                                   <i class="ti-folder"></i> 
                                                   <div class="field field-field-category field-type-entity-reference field-label-hidden field-item"><a href="#" hreflang="en">Beauty</a></div>
                                                </div>
                                                <div class="post-meta-item post-comment"><i class="ti-comment-alt"></i> 0 comments</div>
                                             </div>
                                             <div class="post-content">
                                                <div class="post-title-wrap">
                                                   <h5 class="post-title"><a href="#"><span>10 Designs That Keeps You Thinking</span>
                                                      </a>
                                                   </h5>
                                                </div>
                                                <div class="post-link"><a href="#">Read More »</a></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-12 col-md-6 col-lg-6 grid-item">
                                    <div data-history-node-id="85" role="article" about="/martis/en/blog/creating-simple-video-post" class="blog-post-teaser post-row">
                                       <div class="post-thumb">
                                          <div class="entry-video">
                                             <div class="field field-field-video field-type-video-embed-field field-label-hidden field-item"><a href="#" hreflang="en"><img src="{{ url('<front>') }}themes/ITS/images/service-04.jpg" width="720" height="480" alt="" typeof="foaf:Image">
                                                </a>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="post-content-wrap">
                                          <div class="content-wrap">
                                             <div class="post-meta">
                                                <div class="post-meta-item post-date"><i class="ti-time"></i> 13 Feb 2019</div>
                                                <div class="post-meta-item post-category">
                                                   <i class="ti-folder"></i> 
                                                   <div class="field field-field-category field-type-entity-reference field-label-hidden field-item"><a href="#" hreflang="en">Promo</a></div>
                                                </div>
                                                <div class="post-meta-item post-comment"><i class="ti-comment-alt"></i> 1 comments</div>
                                             </div>
                                             <div class="post-content">
                                                <div class="post-title-wrap">
                                                   <h5 class="post-title"><a href="#"><span>Creating a Simple Video Post</span>
                                                      </a>
                                                   </h5>
                                                </div>
                                                <div class="post-link"><a href="#">Read More »</a></div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <nav class="pager" aria-labelledby="pagination-heading">
                                 <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
                                 <ul class="pager__items js-pager__items">
                                    <li class="pager__item is-active">
                                       <a href="#" title="Current page">
                                       <span class="visually-hidden">
                                       Current page
                                       </span>1</a>
                                    </li>
                                    <li class="pager__item">
                                       <a href="/blog?page=1" title="Go to page 2">
                                       <span class="visually-hidden">
                                       Page
                                       </span>2</a>
                                    </li>
                                    <li class="pager__item pager__item--next">
                                       <a href="#" title="Go to next page" rel="next">
                                       <span class="visually-hidden">Next page</span>
                                       <span aria-hidden="true">Next ›</span>
                                       </a>
                                    </li>
                                    <li class="pager__item pager__item--last">
                                       <a href="#" title="Go to last page">
                                       <span class="visually-hidden">Last page</span>
                                       <span aria-hidden="true">Last »</span>
                                       </a>
                                    </li>
                                 </ul>
                              </nav>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!---End content -->
         <!--- Start Right SideBar -->
         <div class="col-md-3 sidebar">
            <div class="region region-sidebar-second">
               <div class="views-element-container norm-width block-title-1 block-title-left block block-views block-views-blockblog-taxonomy-blog-category" id="block-views-block-blog-taxonomy-blog-category">
                  <div class="container-wrap clearfix">
                     <div class="block-title-wrap clearfix">
                        <div class="block-title-content">
                           <h2 class="block-title">Blog Category</h2>
                        </div>
                     </div>
                     <div class="block-content clearfix">
                        <div>
                           <div class="js-view-dom-id-bcff6b406cecda8087e1a21323864aa30d3e654c595daf4b7a5cbd100d0256c9">
                              <div>
                                 <ul class="menu">
                                    <li><a href="#">Fashion</a></li>
                                    <li><a href="#">Beauty</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Promo</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="views-element-container norm-width block-title-1 block-title-left block block-views block-views-blockblog-blog-popular-post" id="block-views-block-blog-blog-popular-post">
                  <div class="container-wrap clearfix">
                     <div class="block-title-wrap clearfix">
                        <div class="block-title-content">
                           <h2 class="block-title">Popular Post</h2>
                        </div>
                     </div>
                     <div class="block-content clearfix">
                        <div>
                           <div class="js-view-dom-id-e91ecace12782e420f785492490b481c8ee1b1666efa6f0446147ae805ac36ab">
                              <div class="recent-post">
                                 <h5 class="post-title"><a href="#/blog/how-finance-your-business-ideas" hreflang="en">How to Finance your Business Ideas</a></h5>
                                 <div class="post-time">4 Jan 2019</div>
                              </div>
                              <div class="recent-post">
                                 <h5 class="post-title"><a href="#/blog/brands-gets-you-noticed" hreflang="en">Brands That Gets You Noticed</a></h5>
                                 <div class="post-time">16 Mar 2019</div>
                              </div>
                              <div class="recent-post">
                                 <h5 class="post-title"><a href="#/blog/creating-simple-video-post" hreflang="en">Creating a Simple Video Post</a></h5>
                                 <div class="post-time">13 Feb 2019</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="views-element-container norm-width block-title-1 block-title-left block block-views block-views-blockblog-taxonomy-tag" id="block-views-block-blog-taxonomy-tag">
                  <div class="container-wrap clearfix">
                     <div class="block-title-wrap clearfix">
                        <div class="block-title-content">
                           <h2 class="block-title">Tags</h2>
                        </div>
                     </div>
                     <div class="block-content clearfix">
                        <div>
                           <div class="js-view-dom-id-2d022d37f5782f159f25cec58878deeccddca43a0eda2a5ac7d795da31cfce84">
                              <div>
                                 <ul class="tag-cloud">
                                    <li><a href="#" hreflang="en">contest</a></li>
                                    <li><a href="#" hreflang="en">event</a></li>
                                    <li><a href="#" hreflang="en">software</a></li>
                                    <li><a href="#" hreflang="en">design</a></li>
                                    <li><a href="#" hreflang="en">business</a></li>
                                    <li><a href="#" hreflang="en">brand</a></li>
                                    <li><a href="#" hreflang="en">video</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!---End Right SideBar -->
      </div>
   </div>
</section>
<!-- End layout -->
</div>