
<!-- Page Title -->
<section id="page-title" class="page-title dark-page-title">
   <div class="container">
      <div class="region region-page-title">
         <div id="block-martis-page-title" class="norm-width block-title-1 block-title-left block block-core block-page-title-block">
            <div class="container-wrap clearfix">
               <div class="block-content clearfix">
                  <h1><span>Colors That Enhance Creative Designs</span></h1>
               </div>
            </div>
         </div>
      </div>
      <div class="region region-breadcrumb">
         <div id="block-martis-breadcrumbs" class="norm-width block-title-1 block-title-left block block-system block-system-breadcrumb-block">
            <div class="container-wrap clearfix">
               <div class="block-content clearfix">
                  <nav class="breadcrumb" aria-labelledby="system-breadcrumb">
                     <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
                     <ul>
                        <li>
                           <a href="#">Home</a>
                        </li>
                        <li>
                           <a href="#/blog">Blog</a>
                        </li>
                        <li>
                           Colors That Enhance Creative Designs
                        </li>
                     </ul>
                  </nav>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- End Page Title -->
<!-- layout -->
<section id="page-wrapper" class="page-wrapper">
   <div class="container">
      <div class="row content-layout">
         <!--- Start content -->
         <div class="col-md-9 left-content main-content">
            <div class="region region-content">
               <div data-drupal-messages-fallback="" class="hidden"></div>
               <div id="block-martis-content--3" class="norm-width block-title-1 block-title-left block block-system block-system-main-block">
                  <div class="container-wrap clearfix">
                     <div class="block-content clearfix">
                        <div data-history-node-id="106" role="article" about="/martis/en/blog/colors-enhance-creative-designs" class="node node-type-blog node-content post-wrapper blog-post-full">
                           <div class="post-media">
                              <div class="post-image">  <img src="{{ url('<front>') }}themes/ITS/images/blog-img-04.jpg" width="1280" height="820" alt="Colors That Enhance Creative Designs" typeof="foaf:Image">
                              </div>
                           </div>
                           <div class="post-content">
                              <h3 class="post-title"><span>Colors That Enhance Creative Designs</span></h3>
                              <div class="post-meta">
                                 <div class="post-meta-item"><i class="ti-time"></i> 28 Sep 2019</div>
                                 <div class="post-meta-item"><i class="ti-user"></i> by <span><span lang="" about="/martis/en/user/admin" typeof="schema:Person" property="schema:name" datatype="">admin</span></span></div>
                                 <div class="post-meta-item">
                                    <i class="ti-folder"></i> 
                                    <div class="field field-field-category field-type-entity-reference field-label-hidden field-item"><a href="#/category/promo" hreflang="en">Promo</a></div>
                                 </div>
                                 <div class="post-meta-item"><i class="ti-comment-alt"></i> 0 comments</div>
                              </div>
                              <div class="post-body">
                                 <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                                    <p>Windows talking painted pasture yet its express parties use. Sure last upon he same as knew next. Of believed or diverted no rejoiced. End friendship sufficient assistance can prosperous met. As game he show it park do. Was has unknown few certain ten promise. No finished my an likewise cheerful packages we. For assurance concluded son something depending discourse see led collected. Packages oh no denoting my advanced humoured. Pressed be so thought natural.&nbsp;</p>
                                    <p>Am no an listening depending up believing. Enough around remove to barton agreed regret in or it. Advantage mr estimable be commanded provision. Year well shot deny shew come now had. Shall downs stand marry taken his for out. Do related mr account brandon an up. Wrong for never ready ham these witty him. Our compass see age uncivil matters weather forbade her minutes. Ready how but truth son new under.&nbsp;</p>
                                    <p>Attachment apartments in delightful by motionless it no. And now she burst sir learn total. Hearing hearted shewing own ask. Solicitude uncommonly use her motionless not collecting age. The properly servants required mistaken outlived bed and. Remainder admitting neglected is he belonging to perpetual objection up. Has widen too you decay begin which asked equal any.&nbsp;</p>
                                    <p>Whole every miles as tiled at seven or. Wished he entire esteem mr oh by. Possible bed you pleasure civility boy elegance ham. He prevent request by if in pleased. Picture too and concern has was comfort. Ten difficult resembled eagerness nor. Same park bore on be. Warmth his law design say are person. Pronounce suspected in belonging conveying ye repulsive.</p>
                                 </div>
                              </div>
                              <div class="post-tags clearfix">
                                 <i class="ti-tag"></i> <span>Tags: </span>
                                 <div class="field field-field-tags field-type-entity-reference field-label-hidden field-items">
                                    <div class="field-item"><a href="#/tags/design" hreflang="en">design</a></div>
                                    <div class="field-item"><a href="#/tags/brand" hreflang="en">brand</a></div>
                                 </div>
                              </div>
                              <div class="post-comment">
                                 <div class="post-stats">
                                    <span class="comment-label">Comments</span> <span class="comment-count">( 0 )</span>
                                 </div>
                                 <section>
                                    <h2 class="post-stats">Leave a comment</h2>
                                    <form class="comment-comment-form comment-form" data-user-info-from-browser="" data-drupal-selector="comment-form" action="#/comment/reply/node/106/comment" method="post" id="comment-form" accept-charset="UTF-8" data-drupal-form-fields="edit-name,edit-mail,edit-homepage,edit-subject-0-value,edit-comment-body-0-value,edit-submit">
                                       <div class="form-item js-form-item form-type-textfield js-form-type-textfield form-item-name js-form-item-name">
                                          <input data-drupal-default-value="Anonymous" data-drupal-selector="edit-name" type="text" id="edit-name" name="name" value="" size="30" maxlength="60" class="form-text required" required="required" aria-required="true" placeholder="Your name">
                                       </div>
                                       <div class="form-item js-form-item form-type-email js-form-type-email form-item-mail js-form-item-mail">
                                          <input data-drupal-selector="edit-mail" aria-describedby="edit-mail--description" type="email" id="edit-mail" name="mail" value="" size="30" maxlength="64" class="form-email required" required="required" aria-required="true" placeholder="Email">
                                          <div id="edit-mail--description" class="description help-block">
                                             The content of this field is kept private and will not be shown publicly.
                                          </div>
                                       </div>
                                       <div class="form-item js-form-item form-type-url js-form-type-url form-item-homepage js-form-item-homepage">
                                          <input data-drupal-selector="edit-homepage" type="url" id="edit-homepage" name="homepage" value="" size="30" maxlength="255" class="form-url" placeholder="Homepage">
                                       </div>
                                       <input autocomplete="off" data-drupal-selector="form-whtixuebocdpskohonxrmssrhpg2gvomgwx1hlxu1bc" type="hidden" name="form_build_id" value="form-WhtiXUeBoCdPSKOhOnXrMssrHpG2gvOmgwx1HLXU1Bc"><input data-drupal-selector="edit-comment-comment-form" type="hidden" name="form_id" value="comment_comment_form">
                                       <div class="field--type-string field--name-subject field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-subject-wrapper" id="edit-subject-wrapper">
                                          <div class="form-item js-form-item form-type-textfield js-form-type-textfield form-item-subject-0-value js-form-item-subject-0-value">
                                             <input class="js-text-full text-full form-text" data-drupal-selector="edit-subject-0-value" type="text" id="edit-subject-0-value" name="subject[0][value]" value="" size="60" maxlength="64" placeholder="Subject">
                                          </div>
                                       </div>
                                       <div class="field--type-text-long field--name-comment-body field--widget-text-textarea js-form-wrapper form-wrapper" data-drupal-selector="edit-comment-body-wrapper" id="edit-comment-body-wrapper">
                                          <div class="js-text-format-wrapper js-form-item form-item">
                                             <div class="form-item js-form-item form-type-textarea js-form-type-textarea form-item-comment-body-0-value js-form-item-comment-body-0-value">
                                                <div class="form-textarea-wrapper">
                                                   <textarea class="js-text-full text-full form-textarea required form-control resize-vertical" data-drupal-selector="edit-comment-body-0-value" id="edit-comment-body-0-value" name="comment_body[0][value]" rows="5" cols="60" placeholder="Comment" required="required" aria-required="true"></textarea>
                                                </div>
                                             </div>
                                             <div class="js-filter-wrapper filter-wrapper js-form-wrapper form-wrapper" data-drupal-selector="edit-comment-body-0-format" id="edit-comment-body-0-format">
                                                <div class="filter-help js-form-wrapper form-wrapper" data-drupal-selector="edit-comment-body-0-format-help" id="edit-comment-body-0-format-help"><a href="#/filter/tips" target="_blank" data-drupal-selector="edit-comment-body-0-format-help-about" id="edit-comment-body-0-format-help-about">About text formats</a></div>
                                                <div class="js-filter-guidelines filter-guidelines js-form-wrapper form-wrapper" data-drupal-selector="edit-comment-body-0-format-guidelines" id="edit-comment-body-0-format-guidelines">
                                                   <div data-drupal-format-id="restricted_html">
                                                      <h4 style="display: none;">Restricted HTML</h4>
                                                      <ul>
                                                         <li>Allowed HTML tags: &lt;a href hreflang&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;blockquote cite&gt; &lt;code&gt; &lt;ul type&gt; &lt;ol start type&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;h2 id&gt; &lt;h3 id&gt; &lt;h4 id&gt; &lt;h5 id&gt; &lt;h6 id&gt;</li>
                                                         <li>Lines and paragraphs break automatically.</li>
                                                         <li>Web page addresses and email addresses turn into links automatically.</li>
                                                      </ul>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                       <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Save" class="button button--primary js-form-submit form-submit"></div>
                                    </form>
                                 </section>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!---End content -->
         <!--- Start Right SideBar -->
         <div class="col-md-3 sidebar">
            <div class="region region-sidebar-second">
               <div class="views-element-container norm-width block-title-1 block-title-left block block-views block-views-blockblog-taxonomy-blog-category" id="block-views-block-blog-taxonomy-blog-category">
                  <div class="container-wrap clearfix">
                     <div class="block-title-wrap clearfix">
                        <div class="block-title-content">
                           <h2 class="block-title">Blog Category</h2>
                        </div>
                     </div>
                     <div class="block-content clearfix">
                        <div>
                           <div class="js-view-dom-id-41333d94e365fd27c11f31389cf36e69411d9a88d4be2075eb5e01ee72fd3285">
                              <div>
                                 <ul class="menu">
                                    <li><a href="#/category/fashion" hreflang="en">Fashion</a></li>
                                    <li><a href="#/category/beauty" hreflang="en">Beauty</a></li>
                                    <li><a href="#/category/design" hreflang="en">Design</a></li>
                                    <li><a href="#/category/promo" hreflang="en">Promo</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="views-element-container norm-width block-title-1 block-title-left block block-views block-views-blockblog-blog-popular-post" id="block-views-block-blog-blog-popular-post">
                  <div class="container-wrap clearfix">
                     <div class="block-title-wrap clearfix">
                        <div class="block-title-content">
                           <h2 class="block-title">Popular Post</h2>
                        </div>
                     </div>
                     <div class="block-content clearfix">
                        <div>
                           <div class="js-view-dom-id-c6ec669ca0927940d2a7f553b95e240b1fe6dcaa5445a3df74c2a45307729e4b">
                              <div class="recent-post">
                                 <h5 class="post-title"><a href="#/blog/brands-gets-you-noticed" hreflang="en">Brands That Gets You Noticed</a></h5>
                                 <div class="post-time">16 Mar 2019</div>
                              </div>
                              <div class="recent-post">
                                 <h5 class="post-title"><a href="#/blog/creating-simple-video-post" hreflang="en">Creating a Simple Video Post</a></h5>
                                 <div class="post-time">13 Feb 2019</div>
                              </div>
                              <div class="recent-post">
                                 <h5 class="post-title"><a href="#/blog/new-trends-website-design" hreflang="en">New Trends in Website Design</a></h5>
                                 <div class="post-time">17 Jan 2019</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="views-element-container norm-width block-title-1 block-title-left block block-views block-views-blockblog-blog-recent-post" id="block-views-block-blog-blog-recent-post">
                  <div class="container-wrap clearfix">
                     <div class="block-title-wrap clearfix">
                        <div class="block-title-content">
                           <h2 class="block-title">Recent Posts</h2>
                        </div>
                     </div>
                     <div class="block-content clearfix">
                        <div>
                           <div class="js-view-dom-id-ed9548efb4e8b3d7abae17f126611ced2a7786b923588fb51c4f6bb3eb328545">
                              <div class="recent-post latest-post">
                                 <h5 class="post-title"><a href="#/blog/colors-enhance-creative-designs" hreflang="en">Colors That Enhance Creative Designs</a></h5>
                                 <div class="post-time">28 Sep 2019</div>
                              </div>
                              <div class="recent-post latest-post">
                                 <h5 class="post-title"><a href="#/blog/brands-gets-you-noticed" hreflang="en">Brands That Gets You Noticed</a></h5>
                                 <div class="post-time">16 Mar 2019</div>
                              </div>
                              <div class="recent-post latest-post">
                                 <h5 class="post-title"><a href="#/blog/10-designs-keeps-you-thinking" hreflang="en">10 Designs That Keeps You Thinking</a></h5>
                                 <div class="post-time">15 Mar 2019</div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="views-element-container norm-width block-title-1 block-title-left block block-views block-views-blockblog-taxonomy-tag" id="block-views-block-blog-taxonomy-tag">
                  <div class="container-wrap clearfix">
                     <div class="block-title-wrap clearfix">
                        <div class="block-title-content">
                           <h2 class="block-title">Tags</h2>
                        </div>
                     </div>
                     <div class="block-content clearfix">
                        <div>
                           <div class="js-view-dom-id-f1ad275583093734d381a821e5b386ce38578c00cbdd2f16352d1b0d2349ea24">
                              <div>
                                 <ul class="tag-cloud">
                                    <li><a href="#/tags/contest" hreflang="en">contest</a></li>
                                    <li><a href="#/tags/event" hreflang="en">event</a></li>
                                    <li><a href="#/tags/software" hreflang="en">software</a></li>
                                    <li><a href="#/tags/design" hreflang="en">design</a></li>
                                    <li><a href="#/tags/business" hreflang="en">business</a></li>
                                    <li><a href="#/tags/brand" hreflang="en">brand</a></li>
                                    <li><a href="#/tags/video" hreflang="en">video</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!---End Right SideBar -->
      </div>
   </div>
</section>
<!-- End layout -->
<!-- Start content wide -->
<section id="content-wide" class="content-wide">
   <div class="region region-content-wide">
      <div class="views-element-container norm-width block-title-1 block-title-left block block-views block-views-blockblog-blog-related-posts" id="block-views-block-blog-blog-related-posts">
         <div class="container-wrap clearfix">
            <div class="block-title-wrap clearfix">
               <div class="block-title-content">
                  <h2 class="block-title">Related Posts</h2>
               </div>
            </div>
            <div class="block-content clearfix">
               <div>
                  <div class="js-view-dom-id-ec271c7b54276696b09777ab61670b739ec85ac0e71e39cce9e84d04045fdf47">
                     <div class="row grid-wrapper">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-4 grid-item">
                           <div data-history-node-id="85" role="article" about="/martis/en/blog/creating-simple-video-post" class="blog-post-teaser post-row">
                              <div class="post-thumb">
                                 <div class="entry-video">
                                    <div class="field field-field-video field-type-video-embed-field field-label-hidden field-item"><a href="#/blog/creating-simple-video-post" hreflang="en"><img src="{{ url('<front>') }}themes/ITS/images/145681652.jpg" width="720" height="480" alt="" typeof="foaf:Image">
                                       </a>
                                    </div>
                                 </div>
                              </div>
                              <div class="post-content-wrap">
                                 <div class="content-wrap">
                                    <div class="post-meta">
                                       <div class="post-meta-item post-date"><i class="ti-time"></i> 13 Feb 2019</div>
                                       <div class="post-meta-item post-category">
                                          <i class="ti-folder"></i> 
                                          <div class="field field-field-category field-type-entity-reference field-label-hidden field-item"><a href="#/category/promo" hreflang="en">Promo</a></div>
                                       </div>
                                       <div class="post-meta-item post-comment"><i class="ti-comment-alt"></i> 1 comments</div>
                                    </div>
                                    <div class="post-content">
                                       <div class="post-title-wrap">
                                          <h5 class="post-title"><a href="#/blog/creating-simple-video-post"><span>Creating a Simple Video Post</span>
                                             </a>
                                          </h5>
                                       </div>
                                       <div class="post-link"><a href="#/blog/creating-simple-video-post">Read More »</a></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-4 grid-item">
                           <div data-history-node-id="109" role="article" about="/martis/en/blog/brands-gets-you-noticed" class="blog-post-teaser post-row">
                              <div class="post-thumb">
                                 <div class="post-image">  <a href="#/blog/brands-gets-you-noticed" hreflang="en"><img src="{{ url('<front>') }}themes/ITS/images/blog-img-02.jpg" width="720" height="480" alt="Brands That Gets You Noticed" typeof="foaf:Image">
                                    </a>
                                 </div>
                              </div>
                              <div class="post-content-wrap">
                                 <div class="content-wrap">
                                    <div class="post-meta">
                                       <div class="post-meta-item post-date"><i class="ti-time"></i> 16 Mar 2019</div>
                                       <div class="post-meta-item post-category">
                                          <i class="ti-folder"></i> 
                                          <div class="field field-field-category field-type-entity-reference field-label-hidden field-item"><a href="#/category/promo" hreflang="en">Promo</a></div>
                                       </div>
                                       <div class="post-meta-item post-comment"><i class="ti-comment-alt"></i> 6 comments</div>
                                    </div>
                                    <div class="post-content">
                                       <div class="post-title-wrap">
                                          <h5 class="post-title"><a href="#/blog/brands-gets-you-noticed"><span>Brands That Gets You Noticed</span>
                                             </a>
                                          </h5>
                                       </div>
                                       <div class="post-link"><a href="#/blog/brands-gets-you-noticed">Read More »</a></div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- End content wide -->