       <!-- Page Title -->
       <div id="wrapper" class="wrapper btn-default standard-layout header-default page-title1 light-scheme">
        <section id="page-title" class="page-title dark-page-title">
          <div class="container">
            <div class="region region-page-title">
              <div id="block-martis-page-title" class="norm-width block-title-1 block-title-left block block-core block-page-title-block">
                <div class="container-wrap clearfix">
                  <div class="block-content clearfix">
                    <h1>Contact</h1> </div>
                </div>
              </div>
            </div>
            <div class="region region-breadcrumb">
              <div id="block-martis-breadcrumbs" class="norm-width block-title-1 block-title-left block block-system block-system-breadcrumb-block">
                <div class="container-wrap clearfix">
                  <div class="block-content clearfix">
                    <nav class="breadcrumb" aria-labelledby="system-breadcrumb">
                      <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
                      <ul>
                        <li> <a href="#">Home</a> </li>
                        <li> Contact </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Page Title -->
        <!-- layout -->
        <section id="page-wrapper" class="page-wrapper">
          <div class="container">
            <div class="row content-layout">
              <!--- Start content -->
              <div class="col-md-12 main-content">
                <div class="region region-content">
                  <div data-drupal-messages-fallback="" class="hidden"></div>
                  <div id="block-contact-page-address" class="norm-width block-title-1 block-title-left block block-block-content block-block-content47ba1438-081e-4de5-9ac8-1ed3d54bdcea">
                    <div class="container-wrap clearfix">
                      <div class="block-content clearfix">
                        <div class="field field-body field-type-text-with-summary field-label-hidden field-item">
                          <div class="mb-4 contact-address">
                            <div class="row">
                              <div class="col-md-4">
                                <h4 class="contact-address-heading">Head Office (US)</h4>
                                <div class="contact-address-content">
                                  <div class="contact-address-line"> <i class="ti-location-pin"></i>
                                    <h5>Address</h5>
                                    <p>1st Huge Avenue, 1234,
                                      <br> Marina, Atlanta, USA.</p>
                                  </div>
                                  <div class="contact-address-line"> <i class="ti-mobile"></i>
                                    <h5>Call Us</h5>
                                    <p>+1 888 3456 7890</p>
                                  </div>
                                  <div class="contact-address-line"> <i class="ti-email"></i>
                                    <h5>E-mail</h5>
                                    <p>hugestem@gmail.com</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <h4 class="contact-address-heading">Paris</h4>
                                <div class="contact-address-content">
                                  <div class="contact-address-line"> <i class="ti-location-pin"></i>
                                    <h5>Address</h5>
                                    <p>1st Huge Avenue, 1234,
                                      <br> Marina, Paris, France.</p>
                                  </div>
                                  <div class="contact-address-line"> <i class="ti-mobile"></i>
                                    <h5>Call Us</h5>
                                    <p>+1 888 3456 7890</p>
                                  </div>
                                  <div class="contact-address-line"> <i class="ti-email"></i>
                                    <h5>E-mail</h5>
                                    <p>hugestem@gmail.com</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <h4 class="contact-address-heading">Saudi Arabia</h4>
                                <div class="contact-address-content">
                                  <div class="contact-address-line"> <i class="ti-location-pin"></i>
                                    <h5>Address</h5>
                                    <p>1st Huge Avenue, 1234,
                                      <br> Marina, Saudi Arabia.</p>
                                  </div>
                                  <div class="contact-address-line"> <i class="ti-mobile"></i>
                                    <h5>Call Us</h5>
                                    <p>+1 888 3456 7890</p>
                                  </div>
                                  <div class="contact-address-line"> <i class="ti-email"></i>
                                    <h5>E-mail</h5>
                                    <p>hugestem@gmail.com</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="block-martis-content--3" class="norm-width block-title-1 block-title-left block block-system block-system-main-block">
                    <div class="container-wrap clearfix">
                      <div class="block-content clearfix">
                        <form class="contact-message-feedback-form contact-message-form contact-form" data-user-info-from-browser="" data-drupal-selector="contact-message-feedback-form" action="#/contact" method="post" id="contact-message-feedback-form" accept-charset="UTF-8" data-drupal-form-fields="edit-name,edit-mail,edit-subject-0-value,edit-message-0-value,edit-submit,edit-preview">
                          <div class="form-item js-form-item form-type-textfield js-form-type-textfield form-item-name js-form-item-name">
                            <input data-drupal-selector="edit-name" type="text" id="edit-name" name="name" value="" size="60" maxlength="255" class="form-text required" required="required" aria-required="true" placeholder="Your name"> </div>
                          <input autocomplete="off" data-drupal-selector="form-rmyoavtzkaz17ppe3oim3hi0jnar-sngzxtuwsyrwam" type="hidden" name="form_build_id" value="form-rMYOAvTzKaZ17pPe3oim3HI0jnAR-SNGZXtuwSyRwaM">
                          <input data-drupal-selector="edit-contact-message-feedback-form" type="hidden" name="form_id" value="contact_message_feedback_form">
                          <div class="form-item js-form-item form-type-email js-form-type-email form-item-mail js-form-item-mail">
                            <input data-drupal-selector="edit-mail" type="email" id="edit-mail" name="mail" value="" size="60" maxlength="254" class="form-email required" required="required" aria-required="true" placeholder="Your email address"> </div>
                          <div class="field--type-string field--name-subject field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-subject-wrapper" id="edit-subject-wrapper">
                            <div class="form-item js-form-item form-type-textfield js-form-type-textfield form-item-subject-0-value js-form-item-subject-0-value">
                              <input class="js-text-full text-full form-text required" data-drupal-selector="edit-subject-0-value" type="text" id="edit-subject-0-value" name="subject[0][value]" value="" size="60" maxlength="100" placeholder="Subject" required="required" aria-required="true"> </div>
                          </div>
                          <div class="field--type-string-long field--name-message field--widget-string-textarea js-form-wrapper form-wrapper" data-drupal-selector="edit-message-wrapper" id="edit-message-wrapper">
                            <div class="form-item js-form-item form-type-textarea js-form-type-textarea form-item-message-0-value js-form-item-message-0-value">
                              <div class="form-textarea-wrapper">
                                <textarea class="js-text-full text-full form-textarea required form-control resize-vertical" data-drupal-selector="edit-message-0-value" id="edit-message-0-value" name="message[0][value]" rows="8" cols="60" placeholder="Message" required="required" aria-required="true"></textarea>
                              </div>
                            </div>
                          </div>
                          <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
                            <input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Send message" class="button button--primary js-form-submit form-submit">
                            <input data-drupal-selector="edit-preview" type="submit" id="edit-preview" name="op" value="Preview" class="button js-form-submit form-submit">
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!---End content -->
            </div>
          </div>
        </section>
      </div>