<div class="container">
  <div class="home-ourservice_block">
    <div class="m-t-70">
      <div class="row ">
        <div class="col-sm-12 col-md-12 col-lg-12">
           {% for key,value in service_array1%}
              <div class="col-xs-12 col-sm-3 col-md-3 animate">
                  <div class="info_box">

                    {{value.raw_html | raw}}
                    <div class="p-t-50 info_box_btn">
                      <a href="{{value.rm_url | raw}}" title="read more" class="btn btn-primary " target="_self">read more</a>
                    </div>
                  </div>
              </div>
           {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="home-ourpromise">
    <div class="row">
        <div class="col-sm-12">
          {% for key,value in service_array2%}
            <div class="col-sm-6 animate">
              <div class="">
                <div class="">
                  {{value.raw_html | raw}}
                  <div class="p-t-30 info_box_btn">
                    <a href="{{value.rm_url | raw}}" title="read more" class="btn btn-primary btn-gray" target="_self">read more</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
    </div>
  </div>

  <div class="other-stuff_block m-t-70">
    <h2 class="text-center">OTHER STUFF </h2>
    <div class="other-stuff_block_bg">
        <div class="row">
        <div class="col-sm-12">
            <div class="row ">
                  <div class="col-sm-12">
                    {% for key,value in service_array3%}
                      <div class="col-sm-4 animate">
                          {{value.raw_html | raw}}
                      </div>
                     {% endfor %}
                  </div>
                  <div class="col-sm-12">
                    <a href="http://opticat.net/opticat/all_lproducts" title="See all" class="btn btn-primary" target="_self">See all &nbsp;&nbsp;&nbsp;<i class="fa fa-search" aria-hidden="true"></i></a>
                  </div>
            </div>
        </div>
        </div>
    </div>
</div>
</div>
