@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #000000;
}

/*Login*/
.login-banner {
  background-image: url(../images/login_bg.png);
  background-color: #fff;
  background-position: center center;
  padding: 80px 0 120px 0;
  width:100%;
  min-width: 1600px;
}

.text-center {
  text-align: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}

.login-form-block {
  margin: -80px 0 0;
  background: #fff;
  -webkit-box-shadow: 1px 5px 20px rgba(0, 0, 0, .5);
  box-shadow: 1px 5px 20px rgba(0, 0, 0, .5);
  padding: 30px;
}

.login-text h1 {
  margin: 0;
}

.login-content {
  margin-top: 30px;
}

.form-group.with-addon {
  position: relative;
}

.form-group {
  margin-bottom: 15px;
}

.form-group.with-addon .input-addon {
  color: #bbb;
  border-right: 1px solid #ddd;
  padding-right: 10px;
  position: absolute;
  top: 14px;
  left: 15px;
  z-index: 2;
}

.form-group.with-addon .input-addon+.form-control {
  padding-left: 50px;
  border-width: 1px;
  border-radius: 4px;
  height: 46px;
}

.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-group.with-addon {
  position: relative;
}

.form-group {
  margin-bottom: 15px;
}

.login-button {
  /* margin-top: 10px; */
  background-color: #48b14c;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 40px;
}

.sign-up-text {
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}

.text-muted {
  color: #98a6ad !important;
}

body.simplelogin {
  background-color: #fff;
}

.simplelogin {
  width: 100%;
  display: unset !important;
  flex-wrap: unset !important;
  justify-content: unset !important;
  align-items: unset !important;
  background-repeat: unset !important;
  background-position: unset !important;
  background-size: unset !important;
  -ms-background-size: unset !important;
  -o-background-size: unset !important;
  -moz-background-size: unset !important;
  -webkit-background-size: unset !important;
  background-attachment: unset !important;
  position: unset !important;
}

.path-user input#edit-submit {
  background-color: #48b14c;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: #fff;
  font-family: Raleway, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  display: block;
  text-align: center;
  line-height: 40px;
  border: none;
}

.path-user input[type=password], .path-user input[type=text] {
  font-size: 14px;
  border-width: 1px;
  border-radius: 4px;
  background-color: #fff;
}

.simplelogin h1 {
  font-size: 36px;
  color: #545454;
  font-family: inherit;
}

@media screen and (max-width: 1000px) {
  .path-user .button {
    width: unset !important;
    height: unset !important;
    position: unset !important;
    right: unset !important;
    top: -56px;
    cursor: unset !important;
    z-index: unset !important;
  }
}

input#edit-mail, input#edit-user-picture-0-upload {
  font-size: 14px;
  border-width: 1px;
  border-radius: 4px;
  height: 46px;
  background-color: #fff;
}

.path-user input#edit-user-picture-0-upload {
  height: auto;
}

.form-composite>.fieldset-wrapper>.description, .form-item .description {
  /* font-size: 14px; */
  font: 400 13px 'Open Sans', sans-serif;
  line-height: 18px;
}

.path-user input[type=checkbox], .path-user input[type=radio] {
  margin: -5px 0 0;
  margin-top: 1px\9;
  line-height: normal;
}

.simplelogin summary {
  font: 400 13px 'Open Sans', sans-serif !important;
}

.path-user optgroup, .path-user select, .path-user textarea {
  color: inherit;
  font-size: 15px;
  margin: 0;
}

.simplelogin .form-item label, .path-user .simplelogin .form-wrapper .label {
  font-size: 14px !important;
}

.path-user .block {
  width: 100% !important;
}

input#edit-name, input#edit-pass {
  height: auto;
}

/* IE Browsers */
body.simplelogin.path-user.iee {
  background-color: #fff;
  display: block;
}

/* End IE Browsers */
/*End Login*/
.top_border {
  border-bottom: 1px solid #eee
}

.topbar_phone i.fa {
  font-size: 17px;
  color: #0c56d6;
  margin-right: 10px;
  vertical-align: middle
}

.top_searchbox button i {
  color: #fff
}

.topbar_nav {
  float: right;
  display: block;
  position: unset !important
}

.topbar_nav ul {
  margin-bottom: 0;
  padding: 0
}

.topbar_nav li {
  float: right;
  list-style: none;
  padding: 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  text-transform: uppercase
}

.topbar_nav li i {
  padding-right: 10px;
  font-size: 16px;
  vertical-align: text-top
}

a.site-logo img {
  display: block;
  max-width: 100%;
  /* width: 140px; */
  height: auto;
}

.topbar_nav li a {
  display: block;
  width: 100%;
  padding: 8px 18px;
  border-right: 1px solid #eee;
  font-weight: 500;
  color: #333
}

.topbar_nav li:last-child a {
  color: #0c56d6
}

.topbar_nav li:first-child a {
  border-right: 0;
  padding-right: 0
}

.b-topBar__lang a:hover,
.topbar_nav li a:hover {
  text-decoration: underline
}

.top_searchbox {
  position: relative;
  width: 100%
}

.nav_main {
  padding: 45px 0;
  position: relative;
  z-index: 999;
  color: #fff;
  margin-bottom: 0px
}

.nav_main_list ul li a:hover, .mainmenuiconcls:hover::after, .nav_main_list ul li a:focus {
  color: #ed3237;
  /* border-bottom: 2px solid #00bff3 */
}

.nav_main_list ul li {
  float: left;
  list-style: none;
  /* min-height: 38px; */
  line-height: 26px;
}

.navbar-nav-menu>li>.dropdown-menu {
  display: block !important;
  height: 0;
  overflow: hidden;
  opacity: 0
}

.navbar-nav-menu>li.open>.dropdown-menu {
  height: auto;
  padding-bottom: 3px;
  opacity: 1;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s
}

.nav_main_list ul li a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin: 0 15px 0 10px;
  padding: 0 0 10px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: .71px;
  color: #3a3a3a;
}

/* .nav_main_list ul li a:nth-child(1) {
    padding-left: 0
} */
ul.menu a.is-active {
  color: #ed3237;
}

ul.menu.show li a.is-active {
  color: #3a3a3a !important;
}

.nav_main_list ul li a i.fa {
  margin-left: 4px
}

.navbar-toggle {
  /* float: left; */
  background-color: #ed3237;
  border-radius: 0;
}

.top_searchbox button i {
  padding: 0 5px !important
}

/* .footer_main .footer_newsletter {
    display: block
} */
.topbar_nav li i {
  padding-right: 5px;
  font-size: 14px
}

.topbar_nav li i {
  padding-right: 5px;
  font-size: 14px
}

.top_searchbox button i {
  padding: 0 10px
}

.nav_mainlogo {
  padding: 10px 0;
  /* position: relative; */
  color: #fff
}

.nav_logo {
  float: left;
  padding: 0px 0 0 0;
  text-transform: uppercase
}

.nav_logo h3 {
  margin: 0;
  font-size: 26px;
  line-height: 20px
}

.nav_logo h3 a {
  text-decoration: none;
  font: 700 26px 'Titillium Web', sans-serif
}

.nav_logo h2 {
  margin: 0;
  line-height: 15px;
  font-size: 11px;
  margin-top: -5px
}

.nav_logo h2 a {
  font: 300 11px 'Open Sans', sans-serif;
  text-decoration: none
}

.nav_main_list ul {
  margin-top: 5px;
  padding-left: 0;
  margin-bottom: 0;
  float: right;
}

.navbar-collapse.in {
  overflow-y: initial
}

.navbar-nav-menu>li>.dropdown-menu {
  display: block !important;
  height: 0;
  overflow: hidden;
  opacity: 0
}

.navbar-nav-menu>li.open>.dropdown-menu {
  height: auto;
  padding-bottom: 3px;
  opacity: 1;
  -webkit-transition: all .5s ease 0s;
  -moz-transition: all .5s ease 0s;
  -o-transition: all .5s ease 0s;
  transition: all .5s ease 0s
}

.navbar-toggle .icon-bar {
  background: #f0f8ff
}

.sub_nav li {
  display: block;
  float: none !important
}

.sub_nav {
  margin-top: 0 !important
}

.sub_nav li a {
  display: block !important;
  text-align: left;
  padding: 10px 14px !important
}

.navbar-collapse {
  padding: 0
}

.sticky-header.sticky {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  background: #fff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, .1), 0 3px 1px rgba(0, 0, 0, .1);
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: .9s;
  animation-duration: .9s;
  -webkit-animation-timing-function: cubic-bezier(.2, 1, .22, 1);
  animation-timing-function: cubic-bezier(.2, 1, .22, 1);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  border-bottom: 0
}
li.menu-item.menu-item--expanded.main ul li a {
  display: block
}

.menu-item.menu-item--expanded.main ul {
  display: table;
  position: absolute;
  top: 25px;
  float: left;
  min-width: 200px;
  padding: 5px 5px;
  margin: 2px 0 0;
  font-size: 14px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px
}

ul.menu {
  margin-left: 0
}

li.menu-item.menu-item--expanded ul {
  display: none
}

li.menu-item.menu-item--expanded.active ul {
  display: block !important
}

li.menu-item.menu-item--expanded.active ul li a {
  background: #cecbcb;
  padding: 7px 7px;
  color: #000
}

.menu-item.menu-item--expanded ul.menu.show {
  position: absolute;
  margin: 0;
  z-index: 9;
  width: 230px;
  min-width: 270px;
  -moz-box-shadow: 0 0 12px 0 rgba(127, 127, 127, .57);
  -webkit-box-shadow: 0 0 12px 0 rgba(127, 127, 127, .57);
  box-shadow: 0 0 12px 0 rgba(127, 127, 127, .57);
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  /* overflow: auto; */
  background: #ed3237;
  z-index: 999
}
.menu-item.menu-item--expanded ul.menu.show1 {
  right: 100%;
    margin-right: 0px;
    bottom: 0 !important;
    position: absolute;
    /* bottom: 0; */
}
.menu-item.menu-item--expanded ul.menu.show::after {
  content: '';
  position: absolute;
  top: -7px;
  left: 25px;
  border-bottom: 7px solid #ed3237;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  display: block;
}
.menu-item.menu-item--expanded ul.menu.show1::after {
  content: '';
  position: absolute;
  top: -7px;
  left: 25px;
  border-bottom: 0px solid #e6e6e6 !important;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  display: block;
}
.mainmenuiconcls::after {
    content: "\f078";
    position: relative;
    top: 0;
    left: 1px;
    font-family: FontAwesome;
    font-size: 10px;
    cursor: pointer;
    opacity: .75;
    color: #3a3a3a;
}
.menu-item.menu-item--expanded ul.menu.show li {
  display: block;
  float: none;
  padding: 0;
  overflow: auto;
  border-bottom: 1px solid #d86e70;
  /* background: #333; */
  color: #fff !important
}

.menu-item.menu-item--expanded ul.menu.show li a {
  padding: 10px 12px;
  color: #fff;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .71px
}

.menu-item.menu-item--expanded ul.menu.show li:hover>a {
  text-decoration: none;
  color: #333;
  /* border-bottom: 2px solid #00bff3 */
}

.mainmenuiconcls::after {
  content: "\f078";
  position: relative;
  top: -1px;
  left: 5px;
  font-family: FontAwesome;
  font-size: 8px;
  cursor: pointer;
  opacity: .70;
  font-weight: 100;
  color: #333;
}
@media only screen and (max-width:1200px) {
  .nav_main {
    padding: 10px 0;
  }
}
@media only screen and (min-width:751px) and (max-width:1024px) {
  .topbar_nav {
    float: left
  }

  .topbar_nav li {
    float: left
  }

  .full_width {
    width: 100% !important
  }

  .nav_logo {
    float: none;
    padding: 0;
    display: table;
    margin: 0 auto
  }

  .top_cart {
    text-align: unset;
    width: auto;
    display: table;
    margin: auto
  }

  /* .navbar-header {
    display: table;
    margin: 0 auto
  } */

  .topbar_nav ul.navv {
    display: table;
    margin: auto
  }

  .topbar_nav {
    float: none !important
  }
}

/* @media only screen and (min-width:768px) and (max-width:991px) {
  .nav_main_list ul li a {
    padding: 0 0px 0px 0px
  }
} */

.home-login_section {
  /* margin: 40px 0 0 0 !important; */
  display: block;
  margin: 0;
  padding: 0;
}
.home-login_section a.home-login_icon {
  display: block;
  text-align: center;
  padding: 15px;
  margin: 5px 0;
}
.home-network_block {
  display: block;
  margin: 70px 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 35px;
  color: #31353d;
}

.home_title h5 {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  line-height: 60px;
  font-size: 60px;
  font-weight: 600;
  color: #ed3237;
  text-transform: uppercase;
  text-align: center;
}
.home-network_block .home_title p {
  margin-bottom: 30px;
}
.home-network_btn_block {
  padding: 0;
  margin: 0px auto;
  text-align: center;
}

.home-network_btn {
  background: #31353d;
  display: inline-block;
  padding: 0 40px;
  vertical-align: top;
  border-radius: 0;
  line-height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-shadow: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.home-network_btn:focus, .home-network_btn:hover {
  color: #fff;
}

.home-video_block {
  display: block;
  margin: 0px auto;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
}

.home-video_block a {
  color: #ed3237;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
}

.home-video_block a:hover {
  color: #3e454c;
  webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.home_video {
  margin: 0;
  margin-top: 10px;
  padding: 0;
  text-align: center;
  /* background: #000; */
}

video {
  width: 100%;
}

.home-ourservice_block {
  margin: 0;
  padding: 0;
  display: block;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #5f5f5f;
  text-align: center;
}

.home-ourservice_block .info_box {
  background: #fff;
  position: relative;
  overflow: visible;
  margin: 0;
  padding: 70px 25px 35px 25px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 11px rgba(0, 0, 0, 0);
  box-shadow: 0 0 11px rgba(0, 0, 0, 0);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
}

.home-ourservice_block .info_box:hover {
  -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
}

.home-ourservice_block .info_box:hover .icon {
  background: #ed3237;
}

.home-ourservice_block .info_box .icon {
  background: #31353d;
  display: inline-block;
  float: none;
  margin: 0 0 30px 0;
  padding: 0 0px 5px 0;
  -webkit-border-radius: 104px;
  -moz-border-radius: 104px;
  border-radius: 104px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  vertical-align: top;
}

.home-ourservice_block .info_box h2 {
  margin: 0;
  line-height: 40px;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  color: #ed3237;
}

.home-ourservice_block .info_box h5 {
  margin: 0 0 31px 0;
  line-height: 50px;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  color: #31353d;
}

a.btn-gray {
  border-radius: 0;
  background: #31353d !important;
}

a.btn-gray:hover, button.btn-gray:hover {
  background: #ed3237 !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.info_box_btn a.btn-primary, a.btn-primary {
  background: #ed3237;
  display: inline-block;
  margin: 0;
  padding: 15px 25px 15px 25px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  vertical-align: top;
  line-height: 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-shadow: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.info_box_btn a.btn-primary:hover, a.btn-primary:hover, .readmore a:hover {
  background: #31353d;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
}

.home-ourpromise {
  margin: 0;
  padding: 0;
  display: block;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #5f5f5f;
}

.home-ourpromise h1, .other-stuff_block h2 {
  margin: 30px 0 30px 0;
  line-height: 40px;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  color: #ed3237;
}

.home-ourpromise span {
  display: block;
  margin: 0 0 9px 0;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #363f45;
}

.other-stuff_block {
  margin: 0;
  padding: 0;
  display: block;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 14px;
  color: #2d2d2d;
}

.other-stuff_block_bg {
  padding: 25px 15px;
  background: #f4f5f5;
}

h5.other-stuff_subtitle a {
  line-height: 38px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 18px;
  color: #3e454c;
  text-decoration: none;
}

.footer_block {
  margin: 25px 0;
  padding: 0;
  display: block;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #5f5f5f;
  text-align: left;
}

.footer_block h4 {
  line-height: 40px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
  color: #3e454c;
}

.footer_text a {
  text-decoration: none;
  color: #5f5f5f;
}

.footer_text a:hover {
  color: #ed3237;
}

a.footer_caption {
  font-weight: 600;
  color: #ed3237;
  line-height: 26px;
}

a.footer_caption:hover {
  color: #31353d;
}

.login-section {
  display: block;
  margin: 0px auto;
  margin-top: 40px;
  padding: 40px;
  text-align: center;
  box-shadow: 2px 2px 4px #ececec;
  border: 1px solid #dedede;
}

input, textarea {
  display: block;
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  margin: 5px 0;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #c3c3c3;
  border-radius: 0;
  -webkit-box-shadow: inset 0 0px 0px rgb(0, 0, 0);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input:hover, input:focus, textarea:hover, textarea:focus {
  border: 1px solid #31353d;
  outline: none;
}

.user_registration {
  display: inline-block;
  padding: 10px 0;
  margin-top: 10px;
  line-height: 30px;
  margin-left: 25px;
}

.user_registration a {
  text-decoration: underline;
  font-weight: 600;
  color: #31353d;
}

.user_registration a:hover {
  color: #ed3237;
}

.map-block {
  margin: 0;
  padding: 2px 2px;
  border: 1px solid #e0e0e0;
}

label.required:after {
  content: "*";
  position: relative;
  margin-left: 2px;
  color: #ed3237;
}

.about_img {
  width: 200px;
}

/* VU style Start */
.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.title-header {
  margin: 10px 0 10px 0;
  line-height: 40px;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  color: #ed3237;
}

.breadcrumb-list {
  list-style-type: none;
  padding: 0;
}

.breadcrumb-list li {
  line-height: 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-shadow: none;
  text-transform: uppercase;
  color: #3e454c;
  display: inline-block;
}

.breadcrumb-list li a {
  text-decoration: none;
  color: #3e454c;
}

.breadcrumb-list li.divider {
  margin: 0 14px;
}

.breadcrumb-list li.divider:after {
  line-height: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-shadow: none;
  text-transform: uppercase;
  color: #3e454c;
  content: '|';
}

.breadcrumb-list li.active {
  color: #ed3237;
}

.content-section {
  padding-top: 40px;
}

.section {
  margin-bottom: 20px;
}

.img-width-150 img {
  width: 150px;
  margin: 5px 20px 10px 0;
}

.img-width-100 img {
  width: 150px;
  margin: 5px 20px 10px 0;
}

.img-width-full img {
  width: 100%;
}

.disply-inblock {
  display: inline-block;
}

.align-left {
  float: left;
  margin: 5px 20px 10px 0;
}

.small-title {
  font-weight: 600;
  font-size: 16px;
}

.small-title-snall {
  font-weight: 600;
  font-size: 14px;
}

.bold {
  font-weight: 800 !important;
}

.para-txt {
  line-height: 28px;
  font-size: 14px;
  font-weight: 400;
  text-shadow: none;
}

.red-txt {
  color: #ed3237;
}

a.red-txt:hover {
  color: #3e454c;
  text-decoration: none;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.listing-style-circle {
  padding-top: 20px;
  list-style-type: circle;
}

.listing-style-circle li {
  line-height: 26px;
}

.listing-style-circle li a {
  line-height: 23px;
  text-decoration: none;
  color: #3e454c;
}

.listing-style-dot {
  padding-top: 20px;
}

.listing-style-dot li {
  line-height: 26px;
}

.listing-style-dot li a {
  line-height: 23px;
  text-decoration: none;
  color: #3e454c;
}

.sidebar-title {
  color: #ed3237;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 40px;
}

.widget {
  margin: 40px 0 0 0;
}

.sidebar-listing-style {
  padding-top: 20px;
}

.sidebar-listing-style li:first-child {
  margin: 0;
}

.sidebar-listing-style li {
  margin-top: 15px;
}

.sidebar-listing-style li a {
  line-height: 23px;
  text-decoration: none;
  color: #bbbaba;
}

.sidebar-listing-style li a:hover {
  color: #3e454c;
}

blockquote p {
  font-size: 17.5px !important;
  font-weight: 300;
  line-height: 1.25;
}

.img-width-300 img {
  width: 150px;
}

.post-wrapper {
  margin-bottom: -25px;
}

.post-title {
  margin-bottom: 30px;
  color: #ed3237;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 35px;
}

.post-content {
  padding-bottom: 20px;
}

.readmore a {
  display: inline-block;
  background: #ed3237;
  margin: 0;
  padding: 15px 25px 15px 25px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  vertical-align: top;
  line-height: 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-shadow: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff
}
.imgwidth_150 {
  width:150px;
}
/* VU style End */

#totop_btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media screen and (max-width: 600px) {
  .menu-item.menu-item--expanded ul.menu.show {
    width: 220px;
    min-width: 220px;
  }
  .nav_main_list ul li {
    float: none;
  }
  .menu-item.menu-item--expanded ul.menu.show1 {
    left: 100%;
  }
}
@media screen and (max-width: 767px) {
  .content-section {
    padding-top: 0px;
  }
  .widget {
    margin: 0px 0 0 0;
}
.nav_main_list ul li {
    float: left;
    width: 100%;
    margin: 0;
    padding: 5px 0;
}
.navbar-collapse.in {

  z-index: 999;
  width: 350px;
  right: 0;
}
.menu-item.menu-item--expanded ul.menu.show {
  left: 80px;
}
/* .navbar-nav-menu {
    width: 250px;
    float: left;
    text-align: left;
    position: absolute;
    z-index: 999;
    background: azure;
  } */
}
@media screen and (max-width: 991px) {
  .nav_main {
    padding: 0px 0;
  }
  .title-header, .sidebar-title {
    font-size: 22px;
  }
  .breadcrumb-list li {
    font-size: 16px;
  }
  .nav_main_list ul li a {
    font-size: 13px;
    padding: 0;
  }
  .home-network_block {
      font-size: 18px;
        margin: 50px 0;
    }
    .home-ourpromise h1, .other-stuff_block h2 {
      font-size: 30px;
      margin: 20px 0 20px 0;
    }
    .home_title h5 {
      font-size: 40px;
    }
  .home-ourservice_block .info_box {
    margin: 10px 0;
    padding: 20px 15px 35px 15px;
  }
  .home-ourservice_block .info_box h5, .home-ourservice_block .info_box h2 {
    font-size: 28px;
  }
  .info_box_btn a.btn-primary, a.btn-primary {
    font-size: 12px;
    line-height: 20px;
  }
  .sidebar-title {
    font-size: 22px;
    line-height: 0px;
  }
  ul.menu > li {
    border-bottom: 1px solid #f3f3f3;
  }
  #totop_btn {
    right: 25px;
    padding: 10px;
  }
  /* .nav_main_list ul {
    float: left;
  } */

}

.home-custom-title h5{
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 0px;
    line-height: 60px;
    font-size: 50px;
    font-weight: 600;
    color: #ed3237;
    text-transform: uppercase;
    text-align: center; }
.text-justify {
text-align: justify;
}
/*@media only screen and (max-width: 767px) {
.home-network_block img {
  margin:0px auto;
}
}
*/
@media only screen and (max-width: 767px) {

.home-network_block > section {
  margin:0px auto;

text-align:center;
}
}