/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}
.flexslider-rtl {direction:rtl; text-align:right;}
/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('/web/20190223235154im_/https://www.opticat.net/wp-content/plugins/cherry-plugin/lib/js/FlexSlider/fonts/flexslider-icon.eot');
	src:url('/web/20190223235154im_/https://www.opticat.net/wp-content/plugins/cherry-plugin/lib/js/FlexSlider/fonts/flexslider-icon.eot#iefix') format('embedded-opentype'),
		url('/web/20190223235154im_/https://www.opticat.net/wp-content/plugins/cherry-plugin/lib/js/FlexSlider/fonts/flexslider-icon.woff') format('woff'),
		url('/web/20190223235154im_/https://www.opticat.net/wp-content/plugins/cherry-plugin/lib/js/FlexSlider/fonts/flexslider-icon.ttf') format('truetype'),
		url('/web/20190223235154im_/https://www.opticat.net/wp-content/plugins/cherry-plugin/lib/js/FlexSlider/fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 60px; position: relative; zoom: 1; border: none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; -webkit-box-shadow: none;
 -moz-box-shadow: none; box-shadow: none; }
.flexslider.no-bg {background: none;}
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }
	.flexslider-rtl .carousel li { margin-right:0; margin-left: 5px; }
/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: 50px; }
	.flexslider-rtl .flex-direction-nav .flex-prev { left:auto; right: -50px; }
.flex-direction-nav .flex-next { right: 50px; text-align: right; }
	.flexslider-rtl .flex-direction-nav .flex-next { right:auto; left: -50px; text-align:left; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
	.flexslider-rtl.flexslider:hover .flex-prev {left:auto; right: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
	.flexslider-rtl.flexslider:hover .flex-next { right:auto; left: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; line-height: 40px; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }
.flexslider-rtl .flex-direction-nav a.flex-next:before  { content: '\f001'; }
.flexslider-rtl .flex-direction-nav a.flex-prev:before  { content: '\f002'; }
/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
	.flexslider-rtl .flex-pauseplay a {left:auto; right:10px;}
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
	.flexslider-rtl .flex-control-thumbs li {float:right;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  	.flexslider-rtl .flex-direction-nav .flex-prev{left:auto; right:10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
    .flexslider-rtl .flex-direction-nav .flex-next{right:auto; left:10px;}
}
/*
     FILE ARCHIVED ON 23:51:54 Feb 23, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:47:03 Jan 16, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots.policy: 0.24
  CDXLines.iter: 15.728 (3)
  LoadShardBlock: 100.019 (3)
  captures_list: 119.961
  RedisCDXSource: 0.707
  esindex: 0.016
  load_resource: 195.689
  PetaboxLoader3.datanode: 140.685 (5)
  exclusion.robots: 0.258
  PetaboxLoader3.resolve: 119.002 (3)
*/