/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://web.archive.org/web/20190206194906im_/https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0dbck.woff) format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://web.archive.org/web/20190206194906im_/https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFUZ0dbck.woff) format('woff');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://web.archive.org/web/20190206194906im_/https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWZ0dbck.woff) format('woff');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://web.archive.org/web/20190206194906im_/https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVp0dbck.woff) format('woff');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://web.archive.org/web/20190206194906im_/https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWp0dbck.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://web.archive.org/web/20190206194906im_/https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50dbck.woff) format('woff');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://web.archive.org/web/20190206194906im_/https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0d.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*
     FILE ARCHIVED ON 19:49:06 Feb 06, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 05:39:15 Jan 16, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  PetaboxLoader3.resolve: 35.054
  exclusion.robots: 0.187
  captures_list: 388.143
  exclusion.robots.policy: 0.174
  LoadShardBlock: 81.885 (3)
  CDXLines.iter: 47.154 (3)
  PetaboxLoader3.datanode: 114.734 (4)
  RedisCDXSource: 0.645
  esindex: 0.012
  load_resource: 86.398
*/