@import url("/web/20190221031615cs_/https://www.opticat.net/wp-content/themes/CherryFramework/style.css");
@import url(//web.archive.org/web/20190221031615cs_/https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);
body { background:#fff; }
@media (max-width: 767px) {
	body { padding:0; }
}
.main-holder input[type="text"], .main-holder input[type="email"], .main-holder textarea {
	background:#f4f5f5;
	min-height:20px;
	margin:0;
	padding:15px 18px 15px 18px !important;
	border:none !important;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	resize:none;
	line-height:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#3e454c !important;
}
html.ie8 .main-holder input[type="text"], html.ie8 .main-holder input[type="email"], html.ie8 .main-holder textarea { line-height:20px; }
.main-holder input[type="submit"], .main-holder input[type="reset"] {
	background:url(/web/20190221031615im_/https://www.opticat.net/wp-content/themes/theme49545/images/arrow.gif) no-repeat 100% 50%;
	height:53px;
	margin:0 15px 0 0;
	padding:0 24px 0 0;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:400;
	text-shadow:none;
	color:#3e454c;
}
.main-holder input[type="submit"]:focus, .main-holder input[type="reset"]:focus {
	background:url(/web/20190221031615im_/https://www.opticat.net/wp-content/themes/theme49545/images/arrow.gif) no-repeat 100% 50%;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	color:#3e454c;
}
.main-holder input[type="submit"]:hover, .main-holder input[type="reset"]:hover {
	background:url(/web/20190221031615im_/https://www.opticat.net/wp-content/themes/theme49545/images/arrow.gif) no-repeat 100% 50%;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	color:#ed3237;
}
@media (min-width: 980px) and (max-width: 1200px) {
	.main-holder .search-form input[type="text"] { width:160px; }
}
html.ie8 .main-holder .search-form input[type="text"] { width:160px; }
@media (min-width: 768px) and (max-width: 979px) {
	.main-holder .search-form input[type="text"] { width:90px; }
}
@media (max-width: 480px) {
	.main-holder .search-form input[type="text"] { width:140px; }
}
.main-holder .search-form input[type="submit"] { margin:0 0 0 15px; }
a {
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
a:hover { text-decoration:none; }
h1 {
	margin-bottom:33px;
	font-weight:300 !important;
	text-transform:uppercase;
}
@media (min-width: 768px) and (max-width: 979px) {
	h1 {
		word-wrap:break-word;
		-webkit-hyphens:auto;
		-moz-hyphens:auto;
		-ms-hyphens:auto;
		-o-hyphens:auto;
		hyphens:auto;
	}
}
@media (max-width: 480px) {
	h1 {
		word-wrap:break-word;
		-webkit-hyphens:auto;
		-moz-hyphens:auto;
		-ms-hyphens:auto;
		-o-hyphens:auto;
		hyphens:auto;
	}
}
h1 a {
	text-decoration:none;
	color:#ed3237;
}
h1 a:focus {
	text-decoration:none;
	color:#ed3237;
}
h1 a:hover {
	text-decoration:none;
	color:#3e454c;
}
h2 {
	margin-bottom:33px;
	font-weight:300 !important;
	text-transform:uppercase;
}
@media (min-width: 768px) and (max-width: 979px) {
	h2 {
		word-wrap:break-word;
		-webkit-hyphens:auto;
		-moz-hyphens:auto;
		-ms-hyphens:auto;
		-o-hyphens:auto;
		hyphens:auto;
	}
}
@media (max-width: 480px) {
	h2 {
		word-wrap:break-word;
		-webkit-hyphens:auto;
		-moz-hyphens:auto;
		-ms-hyphens:auto;
		-o-hyphens:auto;
		hyphens:auto;
	}
}
h2 a {
	text-decoration:none;
	color:#ed3237;
}
h2 a:focus {
	text-decoration:none;
	color:#ed3237;
}
h2 a:hover {
	text-decoration:none;
	color:#3e454c;
}
h2 em {
	display:block;
	margin:0 0 -5px 0;
	font-style:normal;
}
h2 strong { font-weight:300 !important; }
@media (max-width: 767px) {
	h2 strong {
		display:block;
		text-align:center;
	}
}
h3 {
	margin-bottom:33px;
	font-weight:300 !important;
	text-transform:uppercase;
}
@media (min-width: 768px) and (max-width: 979px) {
	h3 {
		word-wrap:break-word;
		-webkit-hyphens:auto;
		-moz-hyphens:auto;
		-ms-hyphens:auto;
		-o-hyphens:auto;
		hyphens:auto;
	}
}
@media (max-width: 480px) {
	h3 {
		word-wrap:break-word;
		-webkit-hyphens:auto;
		-moz-hyphens:auto;
		-ms-hyphens:auto;
		-o-hyphens:auto;
		hyphens:auto;
	}
}
h3 a {
	text-decoration:none;
	color:#ed3237;
}
h3 a:focus {
	text-decoration:none;
	color:#ed3237;
}
h3 a:hover {
	text-decoration:none;
	color:#3e454c;
}
h4 {
	font-weight:300 !important;
	text-transform:uppercase;
}
h4 a {
	text-decoration:none;
	color:#7e8aa2;
}
h4 a:focus {
	text-decoration:none;
	color:#7e8aa2;
}
h4 a:hover {
	text-decoration:none;
	color:#ed3237;
}
h5 {
	margin-bottom:14px;
	font-weight:300 !important;
	text-transform:uppercase;
}
h5 a {
	text-decoration:none;
	color:#3e454c;
}
h5 a:focus {
	text-decoration:none;
	color:#3e454c;
}
h5 a:hover {
	text-decoration:none;
	color:#ed3237;
}
h6 {
	margin:0 0 14px 0;
	font-weight:300 !important;
	text-transform:uppercase;
}
h6 a {
	text-decoration:none;
	color:#3e454c;
}
h6 a:focus {
	text-decoration:none;
	color:#3e454c;
}
h6 a:hover {
	text-decoration:none;
	color:#ed3237;
}
h6 em { font-style:normal; }
@media (max-width: 480px) {
	h6 em {
		display:block;
		width:100%;
		overflow:hidden;
		padding:12px 0 0 0;
		clear:both;
	}
}
p { margin:0 0 23px 0; }
img.alignleft { margin:5px 29px 5px 0; }
.header {
	background:#31353d;
	position:relative;
	margin:0;
	padding:0;
	border:none;
}
.header .container {
	padding:76px 0 86px 0;
	border-top:6px solid #fff;
}
@media (max-width: 767px) {
	.header .container {
		padding:30px 20px 20px 20px;
		text-align:center;
	}
}
.header .search-form { margin:30px 0 0 0; }
.header .search-form input[type="submit"] { color:#fff; }
.header .search-form input[type="submit"]:hover { color:#ed3237; }
@media (min-width: 768px) and (max-width: 979px) {
	.header .logo { width:100%; }
}
@media (max-width: 767px) {
	.header .logo { float:none; }
}
.header .logo .logo_h__txt {
	margin:-9px 0 14px 103px;
	text-transform:none;
}
@media (min-width: 768px) and (max-width: 979px) {
	.header .logo .logo_h__txt { margin-left:0; }
}
@media (max-width: 767px) {
	.header .logo .logo_h__txt { margin-left:0; }
}
.header .logo .logo_h__txt a { font-weight:300; }
.header .logo .logo_h__txt a:focus {
	text-decoration:none;
	color:#fff;
}
.header .logo .logo_h__txt a:hover {
	text-decoration:none;
	color:#fff;
}
.header .logo .logo_tagline {
	margin:-15px 0 0 109px;
	line-height:20px;
	font-family:'Open Sans', sans-serif;
	font-size:15px;
	font-weight:300;
	text-transform:uppercase;
	color:#919398;
}
.header .nav__primary { margin:28px 0 0 0; }
.header .nav__primary.isStuck {
	background:#31353d;
	margin:0;
	padding:19px;
	text-align:center;
	left:0;
	right:0;
	z-index:100;
}
.header .nav__primary.isStuck .sf-menu { float:none; }
.header .nav__primary.isStuck .sf-menu > li {
	display:inline-block;
	float:none;
	margin:0 7px !important;
	vertical-align:top;
}
.header .nav__primary .sf-menu ul {
	background:#ed3237;
	width:234px;
	padding:38px 0 41px 0;
}
.header .nav__primary .sf-menu ul:before {
	background:url(/web/20190221031615im_/https://www.opticat.net/wp-content/themes/theme49545/images/sub_menu_top.png) no-repeat 0% 0%;
	display:block;
	width:9px;
	height:5px;
	overflow:hidden;
	margin:0 0 0 -4px;
	position:absolute;
	top:-5px;
	left:50%;
	content:'';
}
.header .nav__primary .sf-menu > li {
	background:none;
	margin:0 0 0 30px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.header .nav__primary .sf-menu > li { margin:0 0 0 15px; }
}
.header .nav__primary .sf-menu > li:first-child { margin:0; }
.header .nav__primary .sf-menu > li > a {
	position:relative;
	padding:0;
	border:none;
	font-weight:600 !important;
	text-transform:uppercase;
}
.header .nav__primary .sf-menu > li > a:before {
	background:#fff;
	height:1px;
	overflow:hidden;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
	position:absolute;
	top:-5px;
	right:50%;
	bottom:auto;
	left:50%;
	content:'';
}
.header .nav__primary .sf-menu > li > a:after {
	background:#fff;
	height:1px;
	overflow:hidden;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
	position:absolute;
	top:-5px;
	right:50%;
	bottom:auto;
	left:50%;
	content:'';
}
.header .nav__primary .sf-menu > li li {
	background:none;
	margin:13px 0 0 0;
}
.header .nav__primary .sf-menu > li li:first-child { margin:0; }
.header .nav__primary .sf-menu > li li a {
	padding:0 20px;
	border:none;
	line-height:15px;
	font-family:'Open Sans', sans-serif;
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
}
.header .nav__primary .sf-menu > li li .sf-sub-indicator { display:none; }
.header .nav__primary .sf-menu > li li li a { color:#fff; }
.header .nav__primary .sf-menu li:hover ul, .header .nav__primary .sf-menu li.sfHover ul {
	margin:0 0 0 -117px;
	top:44px;
	left:50%;
}
.header .nav__primary ul.sf-menu li li:hover ul, .header .nav__primary ul.sf-menu li li.sfHover ul {
	background:#ed3237;
	margin:0;
	padding:32px 0 32px 0;
	top:-9px;
	right:255px;
	left:auto;
}
.header .nav__primary ul.sf-menu li li:hover ul:before, .header .nav__primary ul.sf-menu li li.sfHover ul:before {
	background:url(/web/20190221031615im_/https://www.opticat.net/wp-content/themes/theme49545/images/sub_menu_right.png) no-repeat 0% 0%;
	display:block;
	width:5px;
	height:9px;
	overflow:hidden;
	margin:0;
	position:absolute;
	top:13px;
	right:-5px;
	left:auto;
	content:'';
}
.header .nav__primary .sf-menu > li > a:hover, .header .nav__primary .sf-menu > li.sfHover> a, .header .nav__primary .sf-menu > li.current-menu-item > a, .header .nav__primary .sf-menu > li.current_page_item > a {
	background:none;
	color:#000;
}
.header .nav__primary .sf-menu > li > a:hover:before, .header .nav__primary .sf-menu > li.sfHover> a:before, .header .nav__primary .sf-menu > li.current-menu-item > a:before, .header .nav__primary .sf-menu > li.current_page_item > a:before { left:0; }
.header .nav__primary .sf-menu > li > a:hover:after, .header .nav__primary .sf-menu > li.sfHover> a:after, .header .nav__primary .sf-menu > li.current-menu-item > a:after, .header .nav__primary .sf-menu > li.current_page_item > a:after { right:0; }
.header .nav__primary .sf-menu li li > a:hover, .header .nav__primary .sf-menu li li.sfHover > a, .header .nav__primary .sf-menu li li.current-menu-item > a, .header .nav__primary .sf-menu li li.current_page_item > a {
	background:none;
	color:#31353d;
}
.header .nav__primary .sf-menu li li li > a:hover, .header .nav__primary .sf-menu li li li.sfHover > a, .header .nav__primary .sf-menu li li li.current-menu-item > a, .header .nav__primary .sf-menu li li li.current_page_item > a {
	background:none;
	color:#31353d;
}
.header .nav__primary .sf-sub-indicator {
	margin:0 -5px 0 0;
	top:17px;
	right:50%;
}
@media (max-width: 767px) {
	#slider-wrapper { margin:0 -20px; }
}
#slider-wrapper .container {
	position:relative;
	width:1950px;
	margin:0 0 0 -975px;
	left:50%;
}
@media (min-width: 1950px) {
	#slider-wrapper .container {
		width:100%;
		margin:0;
		left:auto;
	}
}
html.ie8 #slider-wrapper .container {
	width:100%;
	margin:0;
	left:auto;
}
@media (min-width: 768px) and (max-width: 979px) {
	#slider-wrapper .container {
		width:1300px;
		margin:0 0 0 -650px;
	}
}
@media (max-width: 767px) {
	#slider-wrapper .container {
		width:1000px;
		margin:0 0 0 -500px;
	}
}
@media (max-width: 480px) {
	#slider-wrapper .container {
		width:600px;
		margin:0 0 0 -300px;
	}
}
#slider-wrapper .container .camera_wrap { margin:0 !important; }
#slider-wrapper .container .camera_caption {
	width:1170px;
	margin:0 0 0 -585px;
	position:absolute;
	bottom:213px;
	left:50%;
}
@media (min-width: 980px) and (max-width: 1200px) {
	#slider-wrapper .container .camera_caption {
		width:940px;
		margin:0 0 0 -470px;
	}
}
html.ie8 #slider-wrapper .container .camera_caption {
	width:940px;
	margin:0 0 0 -470px;
}
@media (min-width: 768px) and (max-width: 979px) {
	#slider-wrapper .container .camera_caption {
		width:724px;
		margin:0 0 0 -362px;
		bottom:113px;
	}
}
@media (max-width: 767px) {
	#slider-wrapper .container .camera_caption {
		width:440px;
		margin:0 0 0 -220px;
		text-align:center;
		bottom:113px;
	}
}
@media (max-width: 480px) {
	#slider-wrapper .container .camera_caption {
		width:280px;
		margin:0 0 0 -140px;
		bottom:60px;
	}
}
#slider-wrapper .container .camera_caption div {
	background:none;
	padding:0 50px 0 0;
}
@media (max-width: 767px) {
	#slider-wrapper .container .camera_caption div { padding:0; }
}
#slider-wrapper .container .camera_caption div strong {
	display:block;
	margin:0 0 14px 0;
	line-height:70px;
	font-family:'Open Sans', sans-serif;
	font-size:70px;
	font-weight:300;
	text-transform:uppercase;
	color:#fff;
}
@media (min-width: 768px) and (max-width: 979px) {
	#slider-wrapper .container .camera_caption div strong {
		line-height:40px;
		font-size:40px;
	}
}
@media (max-width: 767px) {
	#slider-wrapper .container .camera_caption div strong {
		line-height:30px;
		font-size:30px;
	}
}
@media (max-width: 480px) {
	#slider-wrapper .container .camera_caption div strong {
		margin:0;
		line-height:20px;
		font-size:14px;
	}
}
#slider-wrapper .container .camera_caption div p {
	margin:0 0 57px 0;
	opacity:0.5;
	filter:alpha(opacity=50);
	line-height:26px;
	font-family:'Open Sans', sans-serif;
	font-size:20px;
	font-weight:400;
	text-transform:uppercase;
	color:#fff;
}
@media (max-width: 767px) {
	#slider-wrapper .container .camera_caption div p {
		margin:0 0 20px 0;
		line-height:20px;
		font-size:14px;
	}
}
#slider-wrapper .container .camera_caption div a {
	background:#ed3237;
	display:inline-block;
	margin:0;
	padding:24px 30px 25px 30px;
	vertical-align:top;
	line-height:20px;
	font-family:'Open Sans', sans-serif;
	font-size:20px;
	font-weight:300;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
}
@media (max-width: 767px) {
	#slider-wrapper .container .camera_caption div a {
		padding:14px 20px 15px 20px;
		font-size:16px;
	}
}
@media (max-width: 480px) {
	#slider-wrapper .container .camera_caption div a {
		padding:10px 15px 10px 15px;
		font-size:12px;
	}
}
#slider-wrapper .container .camera_caption div a:focus {
	background:#ed3237;
	color:#fff;
}
#slider-wrapper .container .camera_caption div a:hover {
	background:#31353d;
	color:#fff;
}
#slider-wrapper .container .camera_pag {
	position:absolute;
	right:391px;
	bottom:328px;
}
@media (min-width: 980px) and (max-width: 1200px) {
	#slider-wrapper .container .camera_pag { right:505px; }
}
html.ie8 #slider-wrapper .container .camera_pag { right:505px; }
@media (min-width: 768px) and (max-width: 979px) {
	#slider-wrapper .container .camera_pag {
		right:289px;
		bottom:200px;
	}
}
@media (max-width: 767px) {
	#slider-wrapper .container .camera_pag {
		text-align:center;
		right:0;
		bottom:15px;
		left:0;
	}
}
@media (max-width: 480px) {
	#slider-wrapper .container .camera_pag { bottom:10px; }
}
#slider-wrapper .container .camera_pag ul {
	margin:0;
	padding:0;
}
#slider-wrapper .container .camera_pag ul li {
	background:#ed3237;
	display:block;
	width:15px;
	height:15px;
	margin:11px 0 0 0;
	padding:0;
	list-style:none;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
}
@media (max-width: 767px) {
	#slider-wrapper .container .camera_pag ul li {
		display:inline-block;
		margin:0 5px;
		vertical-align:top;
	}
}
#slider-wrapper .container .camera_pag ul li:hover, #slider-wrapper .container .camera_pag ul li.cameracurrent { background:#fff; }
#slider-wrapper .container .camera_pag ul li span { display:none; }
#slider-wrapper .container .camera_thumbs {
	width:100%;
	position:absolute;
	left:0;
	bottom:0;
}
@media (max-width: 480px) {
	#slider-wrapper .container .camera_thumbs { display:none; }
}
#slider-wrapper .container .camera_thumbs .camera_thumbs_cont { background:none; }
#slider-wrapper .container .camera_prev {
	margin:0 0 0 -61px;
	top:20px;
	left:50%;
}
#slider-wrapper .container .camera_commands {
	margin:0 -20px 0 0;
	top:20px;
	right:50%;
}
#slider-wrapper .container .camera_next {
	margin:0 -61px 0 0;
	top:20px;
	right:50%;
}
.content-holder {
	overflow:hidden;
	margin:0;
	padding:73px 0 73px 0;
}
@media (max-width: 767px) {
	.content-holder { padding:73px 20px 73px 20px; }
}
body.home .content-holder { padding:0; }
@media (max-width: 767px) {
	body.home .content-holder { padding:0 20px; }
}
#sidebar .widget { margin:69px 0 0 0; }
#sidebar .widget:first-child { margin:0; }
@media (min-width: 768px) and (max-width: 979px) {
	#sidebar h3 {
		line-height:30px;
		font-size:30px;
	}
}
#sidebar ul {
	margin:0;
	padding:0;
}
#sidebar ul li {
	background:url(/web/20190221031615im_/https://www.opticat.net/wp-content/themes/theme49545/images/marker.png) no-repeat 0% 8px;
	margin:16px 0 0 0;
	padding:0 0 0 15px;
	list-style:none;
	line-height:20px;
	font-size:14px;
	color:#bbbaba;
}
#sidebar ul li:first-child { margin:0; }
#sidebar ul li a {
	text-decoration:none;
	color:#bbbaba;
}
#sidebar ul li a:focus {
	text-decoration:none;
	color:#bbbaba;
}
#sidebar ul li a:hover {
	text-decoration:none;
	color:#3e454c;
}
#sidebar ul li ul { padding:16px 0 0 0; }
#sidebar ul.comments-custom li {
	background:none;
	margin:27px 0 0 0;
	padding:0;
	line-height:23px;
	font-size:14px;
}
#sidebar ul.comments-custom li:first-child { margin:0; }
#sidebar ul.comments-custom li .thumbnail { margin:4px 28px 0 0; }
@media (min-width: 768px) and (max-width: 979px) {
	#sidebar ul.comments-custom li .thumbnail { margin:4px 20px 0 0; }
}
@media (max-width: 480px) {
	#sidebar ul.comments-custom li .thumbnail { margin:4px 20px 0 0; }
}
#sidebar ul.comments-custom li .meta_format { margin:0; }
#sidebar ul.comments-custom li h4 {
	margin:0 0 1px 0;
	padding:12px 0 0 0;
	line-height:23px;
	font-family:'Open Sans', sans-serif;
	font-size:14px;
	font-weight:300;
	text-transform:uppercase;
	color:#ed3237;
}
#sidebar ul.comments-custom li time {
	line-height:23px;
	font-family:'Open Sans', sans-serif;
	font-size:14px;
	font-weight:300;
	color:#3e454c;
}
@media (min-width: 768px) and (max-width: 979px) {
	#sidebar ul.comments-custom li time { font-size:13px; }
}
#sidebar ul.comments-custom li .comments-custom_txt {
	margin:11px 0 0 0;
	padding:0;
	border:none;
}
#sidebar #wp-calendar caption { color:#ed3237; }
#sidebar #wp-calendar thead tr th { color:#ed3237; }
.banner-wrap.extra {
	position:relative;
	min-height:370px;
	overflow:visible;
	margin:0;
	padding:0 0 0 500px;
}
@media (max-width: 767px) {
	.banner-wrap.extra { padding:0 30px 0 250px; }
}
@media (max-width: 480px) {
	.banner-wrap.extra { padding:0 0 0 150px; }
}
.banner-wrap.extra .featured-thumbnail {
	position:absolute;
	top:0;
	left:-219px;
	z-index:-1;
}
@media (max-width: 767px) {
	.banner-wrap.extra .featured-thumbnail { left:-419px; }
}
@media (max-width: 480px) {
	.banner-wrap.extra .featured-thumbnail { left:-519px; }
}
.banner-wrap.extra .featured-thumbnail a { border:none; }
.banner-wrap.extra h5 {
	margin:0 0 20px 0;
	padding:66px 0 0 0;
	line-height:60px;
	font-size:60px;
	text-transform:uppercase;
	color:#ed3237;
}
@media (min-width: 1200px) {
	.banner-wrap.extra h5 { font-weight:600 !important; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.banner-wrap.extra h5 {
		line-height:30px;
		font-size:30px;
	}
}
@media (max-width: 767px) {
	.banner-wrap.extra h5 {
		padding:36px 0 0 0;
		line-height:30px;
		font-size:30px;
	}
}
@media (max-width: 480px) {
	.banner-wrap.extra h5 {
		padding:56px 0 0 0;
		line-height:20px;
		font-size:20px;
	}
}
.banner-wrap.extra p {
	margin:0 0 29px 0;
	line-height:30px;
	font-family:'Open Sans', sans-serif;
	font-size:24px;
	font-weight:300;
	text-transform:uppercase;
	color:#9fa9a9;
}
@media (min-width: 768px) and (max-width: 979px) {
	.banner-wrap.extra p {
		line-height:20px;
		font-size:14px;
	}
}
@media (max-width: 767px) {
	.banner-wrap.extra p {
		line-height:20px;
		font-size:14px;
	}
}
@media (max-width: 480px) {
	.banner-wrap.extra p { text-transform:none; }
}
.banner-wrap.extra .banner-btn a {
	background:#31353d;
	display:inline-block;
	padding:14px 38px 14px 38px;
	vertical-align:top;
	line-height:25px;
	font-family:'Open Sans', sans-serif;
	font-size:15px;
	font-weight:600;
	text-shadow:none;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
}
@media (max-width: 480px) {
	.banner-wrap.extra .banner-btn a { padding:14px 28px 14px 28px; }
}
.banner-wrap.extra .banner-btn a:focus {
	background:#31353d;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
	text-decoration:none;
	color:#fff;
}
.banner-wrap.extra .banner-btn a:hover {
	background:#ed3237;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
	text-decoration:none;
	color:#fff;
}
.content_box {
	background:#f4f5f5;
	margin:0 0 73px 0;
	padding:80px 0 80px 0;
}
.content_box:before, .content_box:after { background:#f4f5f5; }
.content_box.box {
	position:relative;
	margin:0;
	padding:61px 0 47px 0;
}
@media (max-width: 767px) {
	.content_box.box { text-align:center; }
}
.content_box.box h2 {
	margin-bottom:56px;
	color:#31353d;
}
.content_box.box a.btn-info {
	position:absolute;
	top:18px;
	right:0;
}
@media (min-width: 980px) and (max-width: 1200px) {
	.content_box.box a.btn-info { top:8px; }
}
html.ie8 .content_box.box a.btn-info { top:8px; }
@media (min-width: 768px) and (max-width: 979px) {
	.content_box.box a.btn-info { top:8px; }
}
@media (max-width: 767px) {
	.content_box.box a.btn-info {
		margin:30px 0 0 0;
		position:relative;
		top:auto;
		right:auto;
	}
}
.content_box.box_1 {
	margin:0;
	padding:61px 0 56px 0;
}
@media (max-width: 767px) {
	.content_box.box_1 { text-align:center; }
}
.content_box.box_2 {
	margin:0 0 73px 0;
	padding:61px 0 48px 0;
}
.spacer { height:83px; }
.service-box.info_box {
	background:#fff;
	position:relative;
	overflow:visible;
	margin:0 0 55px 0;
	padding:69px 35px 1px 35px;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:0 0 11px rgba(0,0,0,0);
	-moz-box-shadow:0 0 11px rgba(0,0,0,0);
	box-shadow:0 0 11px rgba(0,0,0,0);
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
	text-align:center;
}
@media (min-width: 768px) and (max-width: 979px) {
	.service-box.info_box { padding:69px 20px 1px 20px; }
}
@media (max-width: 767px) {
	.service-box.info_box { margin:0 0 85px 0; }
}
.service-box.info_box:hover {
	-webkit-box-shadow:0 0 11px rgba(0,0,0,0.3);
	-moz-box-shadow:0 0 11px rgba(0,0,0,0.3);
	box-shadow:0 0 11px rgba(0,0,0,0.3);
}
.service-box.info_box:hover .icon { background:#ed3237; }
.service-box.info_box .icon {
	background:#31353d;
	display:inline-block;
	float:none;
	margin:0 0 41px 0;
	-webkit-border-radius:104px;
	-moz-border-radius:104px;
	border-radius:104px;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
	vertical-align:top;
}
.service-box.info_box h2 {
	margin:0;
	line-height:40px;
	font-size:40px;
	text-transform:uppercase;
	color:#ed3237;
}
@media (min-width: 768px) and (max-width: 979px) {
	.service-box.info_box h2 {
		line-height:24px;
		font-size:24px;
	}
}
@media (max-width: 480px) {
	.service-box.info_box h2 {
		line-height:24px;
		font-size:24px;
	}
}
.service-box.info_box h5 {
	margin:0 0 31px 0;
	line-height:40px;
	font-size:40px;
	font-weight:300;
	text-transform:uppercase;
	color:#31353d;
}
@media (min-width: 980px) and (max-width: 1200px) {
	.service-box.info_box h5 {
		line-height:30px;
		font-size:30px;
	}
}
html.ie8 .service-box.info_box h5 {
	line-height:30px;
	font-size:30px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.service-box.info_box h5 {
		line-height:24px;
		font-size:24px;
	}
}
@media (max-width: 480px) {
	.service-box.info_box h5 {
		line-height:24px;
		font-size:24px;
	}
}
.service-box.info_box .service-box_txt {
	margin:0 0 73px 0;
	line-height:23px;
	font-size:14px;
	color:#bbbaba;
}
.service-box.info_box .btn-align {
	margin:0 -35px 0 -35px;
	text-align:left;
}
.service-box.info_box .btn-align a {
	position:absolute;
	left:0;
	bottom:-55px;
}
.service-box.info {
	background:none;
	margin:0 0 72px 0;
	padding:4px 20px 0 20px;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	text-align:center;
}
.service-box.info:hover .icon { background:#ed3237; }
.service-box.info .icon {
	background:#31353d;
	display:inline-block;
	float:none;
	width:104px;
	height:104px;
	overflow:hidden;
	margin:0 0 41px 0;
	-webkit-border-radius:104px;
	-moz-border-radius:104px;
	border-radius:104px;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
	vertical-align:top;
}
.service-box.info h5 {
	margin:0 0 30px 0;
	line-height:40px;
	font-size:40px;
	color:#31353d;
}
.service-box.info .service-box_txt { margin:0; }
.hero-unit {
	background:none;
	margin:0 0 79px 0;
	padding:0;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.hero-unit h1 {
	margin:0 0 32px 0;
	line-height:40px;
	font-size:40px;
	font-weight:300;
	text-transform:uppercase;
	color:#ed3237;
}
@media (min-width: 980px) and (max-width: 1200px) {
	.hero-unit h1 {
		line-height:30px;
		font-size:30px;
	}
}
html.ie8 .hero-unit h1 {
	line-height:30px;
	font-size:30px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.hero-unit h1 {
		line-height:26px;
		font-size:26px;
	}
}
.hero-unit p {
	margin:0 0 23px 0;
	line-height:23px;
	font-size:14px;
	font-weight:400;
}
.hero-unit strong {
	display:block;
	margin:0 0 9px 0;
	line-height:25px;
	font-family:'Open Sans', sans-serif;
	font-size:20px;
	font-weight:300;
	text-transform:uppercase;
	color:#363f45;
}
@media (min-width: 768px) and (max-width: 979px) {
	.hero-unit strong {
		line-height:20px;
		font-size:16px;
	}
}
.hero-unit a.btn-primary { background:#31353d; }
.hero-unit a.btn-primary:hover { background:#ed3237; }
a.btn-primary {
	background:#ed3237;
	display:inline-block;
	margin:0;
	padding:15px 25px 15px 25px;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	vertical-align:top;
	line-height:25px;
	font-family:'Open Sans', sans-serif;
	font-size:15px;
	font-weight:600;
	text-shadow:none;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
}
a.btn-primary:focus {
	background:#ed3237;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
	color:#fff;
}
a.btn-primary:hover {
	background:#31353d;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
	color:#fff;
}
a.btn-link {
	background:#31353d;
	display:inline-block;
	margin:0;
	padding:15px 25px 15px 25px;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	vertical-align:top;
	line-height:25px;
	font-family:'Open Sans', sans-serif;
	font-size:15px;
	font-weight:600;
	text-shadow:none;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
}
@media (max-width: 767px) {
	a.btn-link { margin:0 0 30px 0; }
}
a.btn-link:focus {
	background:#31353d;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
	text-decoration:none;
	color:#fff;
}
a.btn-link:hover {
	background:#ed3237;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
	text-decoration:none;
	color:#fff;
}
a.btn-info {
	background:#ed3237;
	display:inline-block;
	margin:0;
	padding:15px 15px 15px 34px;
	vertical-align:top;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	line-height:25px;
	font-family:'Open Sans', sans-serif;
	font-size:15px;
	font-weight:600;
	text-shadow:none;
	text-transform:uppercase;
	text-decoration:none;
	color:#fff;
}
a.btn-info:after {
	display:inline-block;
	margin:0 0 0 16px;
	vertical-align:top;
	line-height:25px;
	font-family:FontAwesome;
	font-size:18px;
	font-weight:400;
	content:'\f002';
}
a.btn-info:focus {
	background:#ed3237;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
	color:#fff;
}
a.btn-info:hover {
	background:#31353d;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
	color:#fff;
}
.thumbnail {
	padding:0;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.list_1 {
	margin:0;
	padding:0;
}
@media (max-width: 767px) {
	.list_1 { text-align:center; }
}
.list_1 li { margin-bottom:31px; }
@media (min-width: 980px) and (max-width: 1200px) {
	.list_1 li { margin-bottom:20px; }
}
html.ie8 .list_1 li { margin-bottom:20px; }
@media (min-width: 768px) and (max-width: 979px) {
	.list_1 li { margin-bottom:20px; }
}
@media (max-width: 767px) {
	.list_1 li {
		display:inline-block !important;
		width:auto !important;
		margin:0 10px 20px 10px;
		vertical-align:top;
	}
}
@media (max-width: 480px) {
	.list_1 li { margin:0 0 20px 0; }
}
.list_1 li .thumbnail {
	overflow:hidden;
	margin:0;
	-webkit-border-radius:268px;
	-moz-border-radius:268px;
	border-radius:268px;
}
.list_1 li .thumbnail a {
	display:block;
	position:relative;
	overflow:hidden;
	-webkit-border-radius:268px;
	-moz-border-radius:268px;
	border-radius:268px;
	vertical-align:top;
}
.list_1 li .thumbnail a:hover:before { bottom:46%; }
html.ie8 .list_1 li .thumbnail a:hover:before { display:none; }
.list_1 li .thumbnail a:hover .zoom-icon {
	background-color:#ed3237;
	opacity:0.3;
	filter:alpha(opacity=30);
}
html.ie8 .list_1 li .thumbnail a:hover .zoom-icon {
	background:url(/web/20190221031615im_/https://www.opticat.net/wp-content/themes/theme49545/images/black-opacity-60.png) repeat 0% 0%;
	opacity:1;
	filter:alpha(opacity=100);
}
.list_1 li .thumbnail a:before {
	background:none;
	display:block;
	width:auto;
	height:auto;
	margin:0;
	padding:0;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:30px;
	text-align:center;
	color:#fff;
	position:absolute;
	top:auto;
	right:0;
	bottom:26px;
	left:0;
	z-index:99;
	content:'\f002';
}
html.ie8 .list_1 li .thumbnail a:before { display:none; }
@media (min-width: 768px) and (max-width: 979px) {
	.list_1 li .thumbnail a:before {
		line-height:20px;
		font-size:20px;
	}
}
.list_1 li .thumbnail a img {
	-webkit-border-radius:268px;
	-moz-border-radius:268px;
	border-radius:268px;
}
.list_1 li .thumbnail a .zoom-icon {
	background:url(/web/20190221031615im_/https://www.opticat.net/wp-content/themes/theme49545/images/loop_tail.gif) repeat-x 50% 100%;
	-webkit-border-radius:268px;
	-moz-border-radius:268px;
	border-radius:268px;
	opacity:1;
	filter:alpha(opacity=100);
	-webkit-transition:0.9s;
	-moz-transition:0.9s;
	-o-transition:0.9s;
	transition:0.9s;
}
@media (min-width: 768px) and (max-width: 979px) {
	.list_1 li .thumbnail a .zoom-icon { background-position:50% 113%; }
}
.list_1 li .thumbnail a .zoom-icon:before { display:none; }
html.ie8 .list_1 li .thumbnail a .zoom-icon:before { display:block; }
.list_1 li h5 { display:none; }
.list_1 li p { display:none; }
.list_2 { padding:5px 0 0 0; }
.list_2 li {
	position:relative;
	overflow:hidden;
	-webkit-border-radius:268px;
	-moz-border-radius:268px;
	border-radius:268px;
}
@media (max-width: 767px) {
	.list_2 li {
		display:inline-block !important;
		max-width:268px;
		margin:0 10px 20px 10px;
		vertical-align:top;
	}
}
@media (max-width: 480px) {
	.list_2 li { margin:0 0 20px 0; }
}
.list_2 li:hover h5 {
	opacity:0;
	filter:alpha(opacity=0);
}
.list_2 li .thumbnail {
	overflow:hidden;
	margin:0;
	-webkit-border-radius:268px;
	-moz-border-radius:268px;
	border-radius:268px;
}
.list_2 li .thumbnail a {
	display:block;
	position:relative;
	overflow:hidden;
	-webkit-border-radius:268px;
	-moz-border-radius:268px;
	border-radius:268px;
	vertical-align:top;
}
.list_2 li .thumbnail a:hover:before {
	opacity:1;
	filter:alpha(opacity=100);
}
html.ie8 .list_2 li .thumbnail a:hover:before { display:none; }
.list_2 li .thumbnail a:hover .zoom-icon {
	background-color:#ed3237;
	opacity:0.3;
	filter:alpha(opacity=30);
}
html.ie8 .list_2 li .thumbnail a:hover .zoom-icon {
	background:url(/web/20190221031615im_/https://www.opticat.net/wp-content/themes/theme49545/images/black-opacity-60.png) repeat 0% 0% !important;
	opacity:1;
	filter:alpha(opacity=100);
	z-index:3;
}
.list_2 li .thumbnail a:before {
	background:none;
	display:block;
	width:auto;
	height:auto;
	margin:0;
	padding:0;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
	line-height:30px;
	font-family:FontAwesome;
	font-size:30px;
	text-align:center;
	color:#fff;
	position:absolute;
	top:auto;
	right:0;
	bottom:46%;
	left:0;
	z-index:99;
	content:'\f002';
}
@media (min-width: 768px) and (max-width: 979px) {
	.list_2 li .thumbnail a:before {
		line-height:20px;
		font-size:20px;
	}
}
html.ie8 .list_2 li .thumbnail a:before { display:none; }
.list_2 li .thumbnail a img {
	-webkit-border-radius:268px;
	-moz-border-radius:268px;
	border-radius:268px;
}
.list_2 li .thumbnail a .zoom-icon {
	background:url(/web/20190221031615im_/https://www.opticat.net/wp-content/themes/theme49545/images/loop_tail.gif) repeat-x 50% 100%;
	-webkit-border-radius:268px;
	-moz-border-radius:268px;
	border-radius:268px;
	opacity:1;
	filter:alpha(opacity=100);
	-webkit-transition:0.9s;
	-moz-transition:0.9s;
	-o-transition:0.9s;
	transition:0.9s;
}
@media (min-width: 768px) and (max-width: 979px) {
	.list_2 li .thumbnail a .zoom-icon { background-position:50% 117%; }
}
.list_2 li .thumbnail a .zoom-icon:before { display:none; }
html.ie8 .list_2 li .thumbnail a .zoom-icon:before { display:block; }
.list_2 li h5 {
	max-height:50px;
	overflow:hidden;
	margin:0;
	padding:15px 60px 14px 60px;
	line-height:25px;
	font-family:'Open Sans', sans-serif;
	font-size:20px;
	font-weight:300;
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
}
@media (min-width: 768px) and (max-width: 979px) {
	.list_2 li h5 {
		max-height:36px;
		padding:11px 30px 11px 30px;
		line-height:18px;
		font-size:14px;
	}
}
.list_2 li h5:hover {
	opacity:1;
	filter:alpha(opacity=100);
}
html.ie8 .list_2 li h5 { background:#ed3237; }
.list_2 li h5 a {
	text-decoration:none;
	color:#fff;
}
.list_2 li h5 a:focus {
	text-decoration:none;
	color:#fff;
}
.list_2 li h5 a:hover {
	text-decoration:none;
	color:#31353d;
}
.list_2 li .excerpt { display:none; }
.list_3 { padding:5px 0 0 0; }
.list_3 li { text-align:center; }
@media (max-width: 767px) {
	.list_3 li {
		width:100%;
		overflow:hidden;
		text-align:left;
	}
}
.list_3 li .thumbnail {
	margin:0 0 41px 0;
	-webkit-border-radius:268px;
	-moz-border-radius:268px;
	border-radius:268px;
}
@media (max-width: 767px) {
	.list_3 li .thumbnail { margin:0 20px 5px 0; }
}
@media (max-width: 480px) {
	.list_3 li .thumbnail { max-width:50%; }
}
.list_3 li .thumbnail img {
	-webkit-border-radius:268px;
	-moz-border-radius:268px;
	border-radius:268px;
}
.list_3 li .thumbnail .zoom-icon {
	-webkit-border-radius:268px;
	-moz-border-radius:268px;
	border-radius:268px;
}
@media (max-width: 767px) {
	.list_3 li .clear { display:none; }
}
.list_3 li h5 { margin:0 0 13px 0; }
.list_3 li .excerpt { margin:0; }
.tabs-wrapper { padding:7px 0 0 0; }
.tabs-wrapper .nav-tabs {
	background:#f6f6f6 url(/web/20190221031615im_/https://www.opticat.net/wp-content/themes/theme49545/images/tab_line.gif) repeat-x 0% 100%;
	margin:0;
	border:none;
}
.tabs-wrapper .nav-tabs li {
	background:url(/web/20190221031615im_/https://www.opticat.net/wp-content/themes/theme49545/images/tab_divider.gif) repeat-y 0% 0%;
	position:relative;
	width:33%;
	margin:0;
	padding:0;
}
.tabs-wrapper .nav-tabs li:first-child {
	background:none;
	width:34%;
}
.tabs-wrapper .nav-tabs li:first-child a { margin:0; }
.tabs-wrapper .nav-tabs li.active a {
	background:#fff;
	border:1px solid #ebebeb;
	border-top:none;
	border-bottom:1px solid #fff !important;
	color:#ed3237;
}
.tabs-wrapper .nav-tabs li.active a:before {
	opacity:1;
	filter:alpha(opacity=100);
}
.tabs-wrapper .nav-tabs li a {
	background:none;
	position:relative;
	margin:0 0 -1px 1px;
	padding:23px 15px 23px 15px;
	border:none;
	border-left:1px solid #f6f6f6;
	border-right:1px solid #f6f6f6;
	border-bottom:1px solid #ebebeb !important;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	line-height:20px;
	font-family:'Open Sans', sans-serif;
	font-size:13px;
	font-weight:600;
	text-align:center;
	text-transform:uppercase;
	color:#363f45;
}
@media (min-width: 980px) and (max-width: 1200px) {
	.tabs-wrapper .nav-tabs li a { padding:23px 9px 23px 9px; }
}
html.ie8 .tabs-wrapper .nav-tabs li a {
	padding:23px 9px 23px 9px;
	font-size:12px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.tabs-wrapper .nav-tabs li a {
		min-height:40px;
		padding:23px 9px 23px 9px;
		font-size:12px;
	}
}
@media (max-width: 767px) {
	.tabs-wrapper .nav-tabs li a {
		padding:23px 9px 23px 9px;
		font-size:12px;
	}
}
@media (max-width: 480px) {
	.tabs-wrapper .nav-tabs li a {
		min-height:32px;
		padding:15px 6px 15px 6px;
		line-height:16px;
		font-size:10px;
	}
}
.tabs-wrapper .nav-tabs li a:hover {
	background:#fff;
	border:1px solid #ebebeb;
	border-top:none;
	border-bottom:none;
}
.tabs-wrapper .nav-tabs li a:hover:before {
	opacity:1;
	filter:alpha(opacity=100);
}
.tabs-wrapper .nav-tabs li a:before {
	background:#ebebeb;
	display:block;
	height:1px;
	opacity:0;
	filter:alpha(opacity=0);
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
	position:absolute;
	top:0;
	right:0;
	left:0;
	content:'';
}
.tabs-wrapper .tab-content {
	background:#fff;
	padding:50px 30px 25px 42px;
	border:1px solid #ebebeb;
	border-top:none;
}
.list.custom-list { padding:3px 0 0 0; }
@media (max-width: 767px) {
	.list.custom-list { padding:0; }
}
.list.custom-list ul {
	margin:0;
	padding:0;
}
.list.custom-list ul li {
	margin:28px 0 0 0;
	padding:0;
	list-style:none;
	line-height:23px;
	font-size:14px;
	color:#bbbaba;
}
@media (max-width: 767px) {
	.list.custom-list ul li { margin:0 0 20px 0 !important; }
}
.list.custom-list ul li:first-child { margin:0; }
.list.custom-list ul li:before { display:none; }
.list.custom-list ul li strong {
	display:block;
	margin:0 0 12px 0;
	font-weight:400;
}
@media (min-width: 1200px) {
	.list.custom-list ul li strong { overflow:hidden; }
}
.list.custom-list ul li em {
	display:block;
	margin:0 0 15px 0;
	line-height:25px;
	font-family:'Open Sans', sans-serif;
	font-size:20px;
	font-weight:300;
	font-style:normal;
	text-transform:uppercase;
	color:#3e454c;
}
.dropcap {
	background:#31353d;
	width:70px;
	height:70px;
	overflow:hidden;
	margin:7px 28px 10px 0;
	-webkit-border-radius:70px;
	-moz-border-radius:70px;
	border-radius:70px;
	line-height:70px;
	font-family:'Open Sans', sans-serif;
	font-size:35px;
	font-weight:300;
	text-align:center;
	color:#fff;
}
div.testimonials {
	width:100%;
	overflow:hidden;
	padding:0 0 19px 0;
	text-align:left;
}
div.testimonials .testi-item {
	float:left;
	width:370px;
	margin:0 0 0 30px;
	padding:0 0 0 0;
}
@media (min-width: 980px) and (max-width: 1200px) {
	div.testimonials .testi-item { width:293px; }
}
html.ie8 div.testimonials .testi-item { width:293px; }
@media (min-width: 768px) and (max-width: 979px) {
	div.testimonials .testi-item {
		width:228px;
		margin:0 0 0 20px;
	}
}
@media (max-width: 767px) {
	div.testimonials .testi-item {
		width:auto;
		float:none;
		margin:30px 0 0 0;
	}
}
div.testimonials .testi-item:first-child { margin:0; }
div.testimonials .testi-item .featured-thumbnail {
	background:#ed3237;
	float:left;
	width:70px;
	height:70px;
	margin:6px 30px 6px 0;
}
@media (min-width: 768px) and (max-width: 979px) {
	div.testimonials .testi-item .extra-wrap { overflow:visible; }
}
div.testimonials .testi-item blockquote {
	background:none;
	margin:0;
	padding:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	line-height:23px;
	font-size:14px;
	font-style:italic;
	color:#bab9b9;
}
div.testimonials .testi-item blockquote:before, div.testimonials .testi-item blockquote:after { display:none; }
div.testimonials .testi-item blockquote a {
	text-decoration:none;
	color:#bab9b9;
}
div.testimonials .testi-item blockquote a:focus {
	text-decoration:none;
	color:#bab9b9;
}
div.testimonials .testi-item blockquote a:hover {
	text-decoration:none;
	color:#3e454c;
}
div.testimonials .testi-item .testi-meta {
	margin:0;
	padding:12px 0 0 0;
	line-height:25px;
	font-family:'Open Sans', sans-serif;
	font-size:20px;
	font-weight:300;
	text-transform:uppercase;
	color:#3e454c;
}
.footer {
	background:url(/web/20190221031615im_/https://www.opticat.net/wp-content/themes/theme49545/images/line_hor.gif) no-repeat 50% 0%;
	position:relative;
	margin:0;
	padding:74px 0 74px 0;
	border:none;
	line-height:17px;
	font-size:14px;
	color:#bbbaba;
}
@media (min-width: 980px) and (max-width: 1200px) {
	.footer { font-size:12px; }
}
html.ie8 .footer { font-size:12px; }
@media (min-width: 768px) and (max-width: 979px) {
	.footer { font-size:12px; }
}
@media (max-width: 767px) {
	.footer { padding:24px 20px 24px 20px; }
}
body.home .footer { background:none; }
.footer h4 { margin-bottom:32px; }
.footer ul {
	margin:0;
	padding:0;
}
@media (max-width: 767px) {
	.footer ul { padding:0 0 30px 0; }
}
.footer ul li {
	margin:4px 0 0 0;
	padding:0;
	list-style:none;
	line-height:18px;
	font-size:12px;
	text-transform:uppercase;
	color:#bbbaba;
}
.footer ul li.current-menu-item a {
	text-decoration:none;
	color:#ed3237;
}
.footer ul li:first-child { margin:0; }
.footer ul li a {
	text-decoration:none;
	color:#bbbaba;
}
.footer ul li a:focus {
	text-decoration:none;
	color:#bbbaba;
}
.footer ul li a:hover {
	text-decoration:none;
	color:#ed3237;
}
.footer ul.social { padding:1px 0 0 0; }
@media (max-width: 767px) {
	.footer ul.social { padding:0 0 30px 0; }
}
.footer ul.social li { margin:10px 0 0 0; }
.footer ul.social li:first-child { margin:0; }
.footer ul.social li img { margin:0 10px 0 0; }
.footer .textwidget b {
	display:block;
	position:relative;
	margin:0 0 21px 0;
	padding:0 0 0 38px;
	font-weight:400;
	text-transform:uppercase;
}
@media (min-width: 768px) and (max-width: 979px) {
	.footer .textwidget b {
		padding:30px 0 0 0;
		font-size:11px;
	}
}
.footer .textwidget b:before {
	line-height:22px;
	font-family:FontAwesome;
	font-size:22px;
	color:#ed3237;
	position:absolute;
	top:2px;
	left:0;
	content:'\f015';
}
.footer .textwidget i {
	display:block;
	position:relative;
	margin:0;
	padding:0 0 0 38px;
	font-weight:400;
	font-style:normal;
	text-transform:uppercase;
}
@media (min-width: 768px) and (max-width: 979px) {
	.footer .textwidget i {
		padding:30px 0 0 0;
		font-size:11px;
	}
}
.footer .textwidget i:before {
	line-height:22px;
	font-family:FontAwesome;
	font-size:22px;
	color:#ed3237;
	position:absolute;
	top:2px;
	left:0;
	content:'\f098';
}
.footer .copyright { padding:97px 0 0 0; }
@media (max-width: 767px) {
	.footer .copyright { padding:30px 0 0 0; }
}
.footer .copyright .footer-text {
	float:none;
	margin:0;
	line-height:24px;
	font-family:'Open Sans', sans-serif;
	font-size:15px;
	font-weight:300;
	color:#bbbaba;
}
@media (max-width: 767px) {
	.footer .copyright .footer-text { text-align:left; }
}
.footer .copyright .footer-text strong {
	font-weight:600;
	color:#ed3237;
}
.footer .copyright .footer-text strong a {
	text-decoration:none;
	color:#ed3237;
}
.footer .copyright .footer-text strong a:focus {
	text-decoration:none;
	color:#ed3237;
}
.footer .copyright .footer-text strong a:hover {
	text-decoration:none;
	color:#31353d;
}
.footer .copyright .footer-text a {
	text-decoration:none;
	color:#bbbaba;
}
.footer .copyright .footer-text a:focus {
	text-decoration:none;
	color:#bbbaba;
}
.footer .copyright .footer-text a:hover {
	text-decoration:none;
	color:#ed3237;
}
.footer .copyright .footer-nav { margin:0; }
@media (max-width: 767px) {
	.footer .copyright .footer-nav { padding:12px 0 0 0; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.footer .copyright .footer-nav ul { text-align:right; }
}
@media (max-width: 767px) {
	.footer .copyright .footer-nav ul { text-align:left; }
}
.footer .copyright .footer-nav ul li {
	margin:0 0 0 15px;
	padding:0;
	text-transform:none;
}
@media (max-width: 767px) {
	.footer .copyright .footer-nav ul li {
		margin:0 10px 0 0 !important;
		padding:0;
	}
}
@media (max-width: 480px) {
	.footer .copyright .footer-nav ul li { margin:0 7px 0 0 !important; }
}
.footer .copyright .footer-nav ul li:first-child { margin:0; }
@media (max-width: 480px) {
	.footer .copyright .footer-nav ul li:last-child { margin:0 !important; }
}
.footer .copyright .footer-nav ul li a {
	font-weight:300 !important;
	text-decoration:none;
}
@media (max-width: 480px) {
	.footer .copyright .footer-nav ul li a { font-size:12px; }
}
.footer .copyright .footer-nav ul li a:hover {
	text-decoration:none;
	color:#ed3237;
}
#back-top-wrapper p#back-top { margin:0; }
#back-top-wrapper p#back-top a:hover span { background-color:#31353d; }
#back-top-wrapper p#back-top a span {
	background-color:#ed3237;
	margin:0;
}
.title-section { padding:0 0 15px 0; }
.title-section h1 {
	margin:0 0 15px 0;
	line-height:40px;
	font-size:40px;
	font-weight:300;
	text-transform:uppercase;
	color:#ed3237;
}
.title-section ul {
	background:none;
	margin:0;
	padding:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.title-section ul li {
	line-height:25px;
	font-family:'Open Sans', sans-serif;
	font-size:20px;
	font-weight:300;
	text-shadow:none;
	text-transform:uppercase;
	color:#3e454c;
}
@media (max-width: 767px) {
	.title-section ul li {
		line-height:20px;
		font-size:14px;
	}
}
.title-section ul li.active { color:#ed3237; }
.title-section ul li.divider { margin:0 14px; }
@media (max-width: 767px) {
	.title-section ul li.divider { margin:0 7px; }
}
.title-section ul li.divider:after {
	line-height:20px;
	font-family:'Open Sans', sans-serif;
	font-size:20px;
	font-weight:300;
	text-shadow:none;
	text-transform:uppercase;
	color:#3e454c;
	content:'|';
}
.title-section ul li a {
	text-decoration:none;
	color:#3e454c;
}
.title-section ul li a:focus {
	text-decoration:none;
	color:#3e454c;
}
.title-section ul li a:hover {
	text-decoration:none;
	color:#ed3237;
}
.post h3 {
	margin-bottom:25px;
	line-height:25px;
	font-size:20px;
	color:#3e454c;
}
.post_meta i { color:#ed3237; }
.post_meta a {
	text-decoration:none;
	color:#3e454c;
}
.post_meta a:focus {
	text-decoration:none;
	color:#3e454c;
}
.post_meta a:hover {
	text-decoration:none;
	color:#ed3237;
}
.pagination ul li a {
	-webkit-border-radius:0 !important;
	-moz-border-radius:0 !important;
	border-radius:0 !important;
}
.post-author {
	background:#f4f5f5;
	margin:0 0 80px 0;
	padding:15px 20px;
	border:none;
}
.post-author h3 {
	margin:0 0 10px 0;
	line-height:20px;
	font-size:14px;
	color:#3e454c;
}
.post-author h3 a {
	text-decoration:none;
	color:#3e454c;
}
.post-author h3 a:focus {
	text-decoration:none;
	color:#3e454c;
}
.post-author h3 a:hover {
	text-decoration:none;
	color:#ed3237;
}
.post-author .post-author_gravatar { margin:5px 19px 5px 0; }
.post-author .post-author_gravatar img {
	background:none;
	padding:0;
	border:none;
}
.post-author .post-author_link { margin:12px 0 0 0; }
.post-author .post-author_link p { margin:0; }
.related-posts {
	padding:50px 0 20px 0;
	border-top:1px solid #f4f5f5;
}
.related-posts ul li {
	line-height:23px;
	font-size:14px;
	color:#bbbaba;
}
.related-posts ul li a {
	text-decoration:none;
	color:#bbbaba;
}
.related-posts ul li a:focus {
	text-decoration:none;
	color:#bbbaba;
}
.related-posts ul li a:hover {
	text-decoration:none;
	color:#ed3237;
}
.comment-holder {
	padding:60px 0 0 0;
	border-top:1px solid #f4f5f5;
}
.comment-holder #respond {
	margin:0;
	padding:30px 0 0 0;
	border:none;
}
ol.comment-list li .comment-body {
	background:#f4f5f5 !important;
	padding:20px;
	border:none;
}
ol.comment-list li .comment-body .author {
	font-family:'Open Sans', sans-serif;
	font-size:14px;
	font-weight:300;
	text-transform:uppercase;
	text-align:left;
	color:#3e454c;
}
@media (max-width: 480px) {
	ol.comment-list li .comment-body .extra-wrap { overflow:visible; }
}
ol.comment-list li .comment-body .comment-meta {
	line-height:23px;
	font-family:'Open Sans', sans-serif;
	font-size:14px;
	font-weight:300;
	text-transform:uppercase;
	color:#3e454c;
}
ol.comment-list li .comment-body .reply {
	margin:0 0 0 20px;
	line-height:23px;
	font-family:'Open Sans', sans-serif;
	font-size:14px;
	font-weight:300;
	text-transform:uppercase;
	color:#ed3237;
}
ol.comment-list li .comment-body .reply a {
	text-decoration:none;
	color:#ed3237;
}
ol.comment-list li .comment-body .reply a:focus {
	text-decoration:none;
	color:#ed3237;
}
ol.comment-list li .comment-body .reply a:hover {
	text-decoration:none;
	color:#3e454c;
}
#respond {
	margin:90px 0 0 0;
	padding:60px 0 0 0;
	border-top:1px solid #f4f5f5;
}
.cancel-comment-reply { padding:0 0 6px 0; }
.google-map { margin:0 0 30px 0; }
.wpcf7-form input[type="text"], .wpcf7-form input[type="email"] {
	height:52px;
	min-height:52px;
}
html.ie8 .wpcf7-form input[type="text"], html.ie8 .wpcf7-form input[type="email"] {
	height:52px;
	min-height:52px;
	padding-top:0 !important;
	padding-bottom:0 !important;
	line-height:52px;
}
.wpcf7-form .wpcf7-not-valid-tip {
	line-height:40px;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.wpcf7-form .ajax-loader { margin:15px 0 0 0; }
.wpcf7-form .wpcf7-response-output {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.filter-wrapper { padding:12px 0 52px 0; }
.filter-wrapper strong {
	margin:0;
	padding:0;
	line-height:25px;
	font-family:'Open Sans', sans-serif;
	font-size:20px;
	font-weight:300;
	text-transform:uppercase;
	color:#3e454c;
}
@media (max-width: 767px) {
	.filter-wrapper strong {
		line-height:18px;
		font-size:13px;
	}
}
.filter-wrapper ul { margin:0; }
.filter-wrapper ul li { margin:0 0 0 28px; }
@media (max-width: 767px) {
	.filter-wrapper ul li { margin:0 0 0 15px; }
}
.filter-wrapper ul li.active a {
	text-decoration:none;
	color:#ed3237;
}
.filter-wrapper ul li.active a:focus {
	text-decoration:none;
	color:#ed3237;
}
.filter-wrapper ul li.active a:hover {
	text-decoration:none;
	color:#ed3237;
}
.filter-wrapper ul li a {
	background:none !important;
	margin:0;
	padding:0;
	border:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	line-height:25px;
	font-family:'Open Sans', sans-serif;
	font-size:20px;
	font-weight:300;
	text-transform:uppercase;
	color:#3e454c;
}
@media (max-width: 767px) {
	.filter-wrapper ul li a {
		line-height:18px;
		font-size:13px;
	}
}
.filter-wrapper ul li a:focus {
	text-decoration:none;
	color:#3e454c;
}
.filter-wrapper ul li a:hover {
	text-decoration:none;
	color:#ed3237;
}
#portfolio-grid li .thumbnail { margin:0; }
#portfolio-grid li .thumbnail a .zoom-icon { background:rgba(255,255,255,0.5); }
html.ie8 #portfolio-grid li .thumbnail a .zoom-icon { background:url(/web/20190221031615im_/https://www.opticat.net/wp-content/themes/theme49545/images/ie_bg.png) repeat 0% 0%; }
#portfolio-grid li .thumbnail a .zoom-icon:before {
	background:none;
	width:auto;
	height:auto;
	margin:-25px 0 0 -30px;
	line-height:60px;
	font-family:FontAwesome;
	font-size:60px;
	color:#3e454c;
	content:'\f08e';
}
#portfolio-grid li .caption {
	background:#f4f5f5;
	padding:30px 35px;
}
#portfolio-grid li .caption h3 {
	margin:0 0 10px 0;
	line-height:25px;
	font-size:20px;
	color:#3e454c;
}
#portfolio-grid li .caption h3 a {
	text-decoration:none;
	color:#3e454c;
}
#portfolio-grid li .caption h3 a:focus {
	text-decoration:none;
	color:#3e454c;
}
#portfolio-grid li .caption h3 a:hover {
	text-decoration:none;
	color:#ed3237;
}
#portfolio-grid li .caption p { margin:0; }
#portfolio-grid li .caption a.btn { display:none; }
.type-portfolio .thumbnail.large { margin:0; }
ul.pager {
	margin-top:30px;
	margin-bottom:70px;
}
ul.pager li a {
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.error404-holder { padding:0; }
@media (max-width: 767px) {
	.error404-holder { text-align:center; }
}
.error404-holder .error404-holder_num { color:#ed3237; }
.page-header {
	margin:0;
	border:none;
}
article.testimonial .thumbnail { background:#ed3237; }
@media (min-width: 980px) and (max-width: 1200px) {
	.archive_lists h3 {
		line-height:30px;
		font-size:30px;
	}
}
html.ie8 .archive_lists h3 {
	line-height:30px;
	font-size:30px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.archive_lists h3 {
		line-height:24px;
		font-size:24px;
	}
}
@media (max-width: 767px) {
	.archive_lists ul { padding:0 0 30px 0; }
}
html.ie8 .posts-grid li .thumbnail img { max-width:inherit; }
.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
	display:table;
	content:"";
	line-height:0;
}
.clearfix:after { clear:both; }
.hide-text {
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
.input-block-level {
	display:block;
	width:100%;
	min-height:33px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

/*
     FILE ARCHIVED ON 03:16:15 Feb 21, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:59:55 Jan 16, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  PetaboxLoader3.resolve: 342.105 (3)
  captures_list: 432.198
  exclusion.robots.policy: 0.163
  esindex: 0.012
  exclusion.robots: 0.173
  LoadShardBlock: 415.843 (3)
  load_resource: 359.226
  RedisCDXSource: 0.645
  PetaboxLoader3.datanode: 409.612 (5)
  CDXLines.iter: 12.831 (3)
*/