/*--
	Theme Name: theme49545
	Theme URI: http://info.template-help.com/help/
	Description: A theme for Wordpress 3.8.x
	Author: Template_Help.com
	Author URI: http://info.template-help.com/help/
	Template: CherryFramework
	Version: 3.1.2
--*/

/* ----------------------------------------
	Please, You may put custom css here
---------------------------------------- */
.banner-wrap.extra p {
margin: 0 0 29px 0;
line-height: 30px;
font-family: 'Open Sans', sans-serif;
font-size: 24px;
font-weight: 300;
text-transform: uppercase;
color: black !important;
}

#h-sidebar {
  border: 1px solid #ffffff;
  display:block;
  height: 135px;
}

#arphabet {
  float: right;
  width: 130px;
  margin-right:20px;
}

#arphabet2 {
  float: right;
  width: 130px;
  margin-right:20px;
}

#arphabet3 {
  float: right;
  width: 130px;
  margin-right:20px;
}

#arphabet4 {
  float: right;
  width: 130px;
  margin-right:20px;
}
/*
     FILE ARCHIVED ON 07:16:33 Feb 21, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:47:04 Jan 16, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  esindex: 0.015
  load_resource: 512.896
  exclusion.robots.policy: 0.236
  RedisCDXSource: 2.174
  captures_list: 79.859
  CDXLines.iter: 11.406 (3)
  PetaboxLoader3.resolve: 402.726 (2)
  PetaboxLoader3.datanode: 118.177 (5)
  LoadShardBlock: 62.903 (3)
  exclusion.robots: 0.253
*/