<div class="cart_wishlist">
                <a href="{{ url('<front>') }}wish_list">
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                  Wish List
                  <span class="wishlist_count" id="mywishcount"></span>
                </a>
              </div>  