@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Nunito');

html {
  scroll-behavior: smooth;
}
/*common*/
.dis_none{
  display: none !important;
}
a:hover,a:active{
text-decoration:none !important;
}
/*End Common*/
/*Cart*/
  .path-cart table.views-table.views-view-table{
    border-spacing: 0 1em !important;
    padding: 10px 15px !important;
}
.path-cart table th{
    border-bottom: 1px solid #e7e3df;
    padding-bottom: 10px;
    text-align: center;
    border-right: 1px solid #e7e3df;
    border-left: 1px solid #e7e3df;
    border-top: 1px solid #e7e3df;
}
.path-cart table td{
    border-bottom: 1px solid #e7e3df;
    border-right: 1px solid #e7e3df;
    border-left: 1px solid #e7e3df;
    border-top: 1px solid #e7e3df;
    text-align: center;
    word-break: break-word;
}
.path-cart input.form-number {
    padding: 0 7px;
    width: 60px;
}
.menu-item.menu-item--expanded ul.menu.show {
    position: absolute;
    z-index: 9;
    top: 100%;
    -moz-box-shadow: 0px 0px 12px 0px rgba(127,127,127,0.57);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(127,127,127,0.57);
    box-shadow: 0px 0px 12px 0px rgba(127,127,127,0.57);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    overflow: auto;
}
.menu-item.menu-item--expanded ul.menu.show li {
    display: block;
    float: none;
    padding: 10px;
    margin: 0;
    max-height: 373px;
    overflow: auto;
    border-bottom: 1px solid #f1eeea;
    background: #fff;
    color: #fff !important;
}
.menu-item.menu-item--expanded ul.menu.show li a{
  padding: 7px 12px;
  color: #3a3a3a;
  border: none;
  font-family: 'Open Sans',sans-serif;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.71px;
}
.menu-item.menu-item--expanded ul.menu.show li:hover a {
    text-decoration: none;
    border-bottom: 2px solid #00bff3;
}
nav{
  position: unset !important;
}
/*End Cart*/
/* TOP BAR */

a{
  cursor: pointer;
}

.top_border {
  border-bottom: 1px solid #eeeeee;
}
*/
.topbar_phone {
  padding: 5px 0 10px 0;
  font: 600 12px 'Open Sans', sans-serif;
  border-right: 1px solid #eeeeee;
}

.topbar_nav {
  overflow: hidden;
  /* border-right: 1px solid #eeeeee; */
  float: right;
  display: block;
}

.topbar_nav ul {
  margin-bottom: 0;
  padding: 0;
}

.topbar_nav li {
  float: right;
  list-style: none;
  padding: 0px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
}

.topbar_nav li i {
  padding-right: 10px;
  font-size: 16px;
  vertical-align: text-top;
}

/* .topbar_nav li:last-child {
  border-left: 1px solid #eeeeee;
} */
.topbar_nav li a {
  display: block;
  width: 100%;
  padding: 8px 18px;
  border-right: 1px solid #eeeeee;
  font-weight: 500;
  color: #333;
}
.topbar_nav li:first-child a {
  border-right: 0;
  padding-right: 0;
}

.topbar_nav li a:hover, .b-topBar__lang a:hover {
  text-decoration: underline;
}

.top_searchbox {
  position: relative;
  width: 100%;
}

.top_searchbox button i {
  padding: 0 20px;
}
sup {
  color: #ff0000;
  padding-left: 3px;
  font-size: 18px;
  top: -0.10em;
}
input:hover, input:focus {
  /* border:1px solid #e8e8e8; */
  outline: none;
}

button:hover, button:focus {
  outline: none;
}

.top_cart {
  text-align: right;
  width: auto;
  /* display: flex;
  float: right; */
}
.cart_wishlist, .cart_shopping {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.cart_wishlist i, .cart_shopping i {
  font-size: 36px;
  margin-right: 10px;
}
/* NAVBAR */
.nav_main {
  padding: 8px 0px 0px;
  ;
  position: relative;
  /*z-index: 99;*/
  /* z-index: 9; */
}

.nav_mainlogo {
  padding: 10px 0px;
  position: relative;
  /*z-index: 99;*/
}

.nav_logo {
  float: left;
  padding: 8px 0 0 0px;
  text-transform: uppercase;
}

.nav_logo h3 {
  margin: 0;
  font-size: 26px;
  line-height: 20px
}

.nav_logo h3 a {
  text-decoration: none;
  font: 700 26px 'Titillium Web', sans-serif;
}

.nav_logo h2 {
  margin: 0;
  line-height: 15px;
  font-size: 11px;
  margin-top: -5px;
}

.nav_logo h2 a {
  font: 300 11px 'Open Sans', sans-serif;
  text-decoration: none;
}

.nav_main_list {
  /* float: right; */
  /* float: left; */
}

.nav_main_list ul {
  /* margin-top: 20px; */
  padding-left: 0;
  margin-bottom: 0;
}
.navbar-collapse.in {
  overflow-y: initial;
}

.navbar-nav-menu>li>.dropdown-menu {
  display: block !important;
  height: 0px;
  overflow: hidden;
  opacity: 0;
}

.navbar-nav-menu>li.open>.dropdown-menu {
  height: auto;
  padding-bottom: 3px;
  opacity: 1;
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}

.navbar-toggle .icon-bar {
  background: aliceblue;
}

.sub_nav li {
  display: block;
  float: none !important;
}

.sub_nav {
  margin-top: 0 !important;
}

.sub_nav li a {
  display: block !important;
  text-align: left;
  padding: 10px 14px !important;
}
.navbar-collapse {
  padding: 0;
}

.sticky-header.sticky {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  background: #fff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0px 3px 1px rgba(0, 0, 0, 0.1);
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
  animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  border-bottom: 0;
}

/* Slider */
.banner_slider .slide {
  border: 1px solid #f2f2f2;
  padding: 6px;
}

.carousel-control, .carousel-control:hover {
  background-image: none !important;
}

.banner_slider .carousel-inner .item>img {
  width: 100%;
  height: 450px;
}

.carousel-control.right i.fa {
  height: 65px;
  width: 35px;
  border-top-left-radius: 65px;
  border-bottom-left-radius: 65px;
  right: 6px;
  position: absolute;
  top: 50%;
  margin-top: -32.5px;
  padding-top: 20px;
  padding-left: 9px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-control.left i.fa {
  height: 65px;
  width: 35px;
  border-top-right-radius: 65px;
  border-bottom-right-radius: 65px;
  left: 6px !important;
  position: absolute;
  top: 50%;
  margin-top: -32.5px;
  padding-top: 20px;
  padding-right: 9px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .active {
  opacity: 1;
}

.carousel-fade .active.left,
.carousel-fade .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .next.left,
.carousel-fade .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*TESTIMONIALS*/
.testimonial {
  /* background: #f9f9f9; */
  /* padding: 0 0 30px; */
}

.testimonial .carousel-control {
  width: 0;
}

.testimonial_img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  background: #ccc;
}

.testimonial_img img {
  width: 100%;
  height: 100%;
}
.carousel-3d-container {
  .carousel-3d-slide {
    padding: 20px;
  }
}

/* our Categories */
.our_categories .category_circle {
  background: #fbfbfb;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  position: relative;
  overflow: hidden;
  border: 1px solid #d4d4d4;
  margin: 0px auto;
  padding: 0px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.our_categories img {
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 20px;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.our_categories .category_circle:hover {
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.10), 0 6px 5px 0 rgba(0, 0, 0, 0.10);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* Featured */
.featured_product {
  padding: 0px 0 0px 0;
  text-align: center;
  position: relative;
  /* box-shadow: 0px 30px 100px -38px rgba(0, 0, 0, 0.3); */
  /*z-index: 100;*/
  /*z-index: 9;*/
}

.featured_item_box {
  width: 260px;
  float: left;
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 15px;
  margin: 0 11px 30px 11px;
  border-radius: 0;
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
div#read_review{
  display: none;
}
/* .single-product-section .featured_item_box {
  width:240px;
} */
.featured_item_box:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.10), 0 6px 5px 0 rgba(0, 0, 0, 0.10);
}

.featured_item_box>a {
  position: relative;
  display: block;
  /* margin-bottom: 15px; */
}

.featured_item_box .new_brand, .featured_item_box .m-leasing {
  background-color: #679025;
  color: #fff;
  font: 600 10px 'Open Sans', sans-serif;
  padding: 5px 10px;
  text-transform: uppercase;
  position: absolute;
  top: -30px;
  right: 0px;
  /*z-index: 1000;*/
}

.featured_item_box .stock_status {
  font: 600 14px 'Open Sans', sans-serif;
  padding: 2px 2px;
  text-transform: uppercase;
  position: absolute;
  top: -30px;
  left: 0px;
  /*z-index: 1000;*/
}

.featured_item_box .in {
  color: #128026;
}

.featured_item_box .out {
  color: #d1252a;
}

.feature_info {
  text-align: left;
  display: table-row;
}

.feature_ratings {
  display: block;
  padding: 0px 3px;
}

.product_brand>.feature_ratings {
  display: inline-block;
}

.feature_ratings ul {
  display: flex;
  list-style: none;
  padding: 0px;
  color: #e7a200;
  margin: 0;
  padding: 0px 0px 0px 6px;
}
.feature_ratings li {
  color: #333;
}

.featured_img {
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  width: 200px;
  height: 130px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.featured_item_price {
  padding: 5px 5px;
  font: 500 14px 'Roboto', sans-serif;
  color: #1d1d1d;
  float: left;
  text-align: left;
  margin-left: 5px;
  line-height: 2;
}

.price_color {
  font: 600 16px 'Nunito', sans-serif;
  color: #c42706;
  padding-left: 5px;
  letter-spacing: 1px;
}

.featured_item_box h5 {
  font: 600 14px 'Open Sans', sans-serif;
  color: #333;
  padding: 15px 5px 3px 5px;
  margin: 0px 0px 0px 0px;
  clear: both;
  text-align: left;
  border-top: 1px solid #B4B4B4;
  position: relative;
  height: 40px;
  /* width: 250px; */
  white-space: initial;
  text-overflow: ellipsis;
}
.featured_item_box h5:after {
  background: url(../images/down_arrow.png) center no-repeat;
  /* content: "\f107"; */
  content: " ";
  font-family: "FontAwesome";
  width: 15px;
  left: 20px;
  height: 7px;
  position: absolute;
  top: -1px;
  display: block;
}

.product_wishlist {
  position: relative;
  float: right;
  bottom: 0;
  right: 15px;
  /*z-index: 9999;*/
}

.product_wishlist i {
  font-size: 22px;
  color: #e7a200;
}
.price_strike{
  font: 500 14px 'Roboto', sans-serif;
    text-decoration: line-through;
    color: #464646;
    padding-left: 5px;
    letter-spacing: 1px;

}
/* About us */
.about_us {
  padding: 0px 0 0px 0;
  text-align: center;
  position: relative;
  /* box-shadow: 0px 30px 100px -38px rgba(0, 0, 0, 0.3); */
  /*z-index: 100;*/
}

.about_us img {
  max-width: 100%;
}

.about_us p {
  margin: 10px 0;
}

/*VIDEO*/
.video_block .video_slide .videoslide_img {
  top: 0 !important;
  /*z-index: 111;*/
}

/* .video_block .video_slide .videoslide_img li a::after {
  position: absolute;
  content: '\f16a';
  font-family: "FontAwesome";
  cursor: pointer;
  top: 45%;
  right: 45%;
  color: #bf0c24;
  font-size: xx-large;
  z-index: 99999999;
} */
.video_block .video_slide .left {
  position: absolute !important;
  left: -50px !important;
  top: 43% !important;
  cursor: pointer;
}

.video_block .video_slide .right {
  position: absolute !important;
  right: -50px !important;
  top: 43% !important;
  cursor: pointer;
}

.video_block .video_slide .left i, .video_block .video_slide .right i {
  font-size: 46px;
}

.fancybox-overlay {
  z-index: 11111 !important;
}

.client_block {
  /* margin: 0 0 30px 0; */
  padding: 40px 0;
  background-image: url(../images/client-bg.jpg);
  background-repeat: repeat;
  background-position: center;
  position: relative;
  text-align: center;
}

.client_block .carousel-inner ul {
  list-style-type: none;
  display: block;
}

.client_block .carousel-inner ul li {
  display: inline-block;
}

.client_block .carousel-control.right i.fa {
  height: 65px;
  width: 35px;
  border-top-left-radius: 65px;
  border-bottom-left-radius: 65px;
  right: 6px;
  position: absolute;
  top: 50%;
  margin-top: -32.5px;
  padding-top: 14px;
  padding-left: 9px;
  text-align: center;
}

.client_block .carousel-control.left i.fa {
  height: 65px;
  width: 35px;
  border-top-right-radius: 65px;
  border-bottom-right-radius: 65px;
  left: 6px !important;
  position: absolute;
  top: 50%;
  margin-top: -32.5px;
  padding-top: 14px;
  padding-right: 9px;
  text-align: center;
}

/* .client_block .carousel-inner img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 20px;
} */
/*end fa css*/
/*************JP tooltip Css ******************/
.tooltipcustom {
    position: relative;
    text-align: left;
    padding: 0px 5px 3px 10px;
    margin: 5px 0px 0px 0px;
}
.tooltipcustom .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #35bff3;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px 12px;
    position: absolute;
    z-index: 1;
    bottom: 115%;
    left: 30%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-weight: 800;
}

/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -18px;
    right: -20px;
    font-size: 14px;
    line-height: 25px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.hover_bkgr_fricc.cartadded div p {
    vertical-align: middle;
    line-height: 58px;
    font-size: 20px;
    color: red;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */
.simplePopup {
display:none;
position:fixed;
background:#fff;
z-index:9;
padding:12px;
/*right: 100px;*/
/*width:70%;
min-width:70%;*/
}

.simplePopupClose {
float:right;
cursor:pointer;
margin-left:10px;
margin-bottom:10px;
font-size: 19px;
    font-weight: bold;
}

.simplePopupBackground {
display:none;
background:#000;
position:fixed;
height:100%;
width:100%;
top:0;
left:0;
z-index:1;
}
/*.cmprr{
  position: fixed;
  bottom: 25px;
  right: 10px;
}*/

/*checkout*/
.path-checkout select{
    color: inherit;
    font: inherit;
    margin: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #dcdcdc;
    height: 40px;
    padding: 0px 15px;
    color: #636363;
    background: #f5f5f5;
    font-size: 12px;
    outline: none;
    border-radius: 5px;
}
.path-checkout div.address-container-inline > .form-item{
    display: unset !important;
    margin-right: 0;
    margin: 0;
}
.path-checkout .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-payment-information-billing-information-address-0-address-family-name.form-item-payment-information-billing-information-address-0-address-family-name {
    width: 48%;
    display: block;
    float: left;
    margin-left: 14px;
}
.path-checkout .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-payment-information-billing-information-address-0-address-given-name.form-item-payment-information-billing-information-address-0-address-given-name {
    width: 48%;
    float: left;
    display: block;
    margin-right: 14px;
}
@media only screen and (max-width: 1199px) {
.path-checkout .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-payment-information-billing-information-address-0-address-family-name.form-item-payment-information-billing-information-address-0-address-family-name {
    width: 100%;
    display: block;
    float: left;
    margin-left: 0px;
}
.path-checkout .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-payment-information-billing-information-address-0-address-given-name.form-item-payment-information-billing-information-address-0-address-given-name {
    width: 100%;
    float: left;
    display: block;
    margin-right: 0px;
}
}
@media only screen and (max-width: 1000px) {
.path-checkout .button {
    height: auto;
    position: unset;
    cursor: pointer;
}
.path-checkout input#edit-sidebar-coupon-redemption-form-apply{
  width: auto;
    display: table;
    margin: auto !important;
}
.path-checkout .form-actions.js-form-wrapper.form-wrapper {
    margin: 10px auto !important;
}
}
input.js-form-submit.form-submit{
    color: #fff;
    border: none;
    border-radius: 5px;
}
.path-checkout .form-actions.js-form-wrapper.form-wrapper {
    width: auto;
    display: table;
    margin: 0 auto;
}
.path-checkout .view-content table{
    border-collapse: separate;
    border-spacing: 15px;
}
.path-checkout .order-total-line{
  padding: 0 15px;
}
.path-checkout .view,.path-checkout .view:hover{
  color: #000;
  border: 2px solid #ddd;
  background: #fff !important;
}
.path-checkout td.views-field.views-field-unit-price__number{
  text-align: center;
}
.path-checkout input#edit-sidebar-coupon-redemption-form-apply{
  /*margin: 0;*/
  margin: 0 auto;
    width: auto;
    display: table;
    font-weight: bold;
}
.path-checkout .fieldset-wrapper {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.path-checkout td.views-field.views-field-quantity-1 {
    text-align: center;
}
.path-checkout .layout-region-checkout-secondary{
    background-image: linear-gradient(to right,#f4f4f4 0,#f4f4f4 0);
    padding: 8px 12px;
}
.path-checkout .view-content th{
  display: none;
}
.path-checkout td a {
    display: none;
}
.path-checkout input#edit-sidebar-coupon-redemption-form-code {
    background: #fff;
}
.path-checkout .containersss td{
  font-weight: bold;
}
.path-checkout .order-total-line-label{
  font-weight: bold;
}
.path-checkout .order-total-line-value{
  float: none;
  font-weight: bold;
}
.path-checkout .field.field--name-title.field--type-string.field--label-hidden.field__item{
  word-break: break-all;
}
.path-checkout .view:hover,.path-checkout .view:hover{
    color: #000 !important;
    background-color: #fff;
}
/*end checkout*/

/*custom homepage*/
/*.cmprr {
    position: fixed;
    bottom: 25px;
    right: 10px;
    position: sticky;
    top: 80px;
    right: 0px;
    width: 138px;
    height: 47px;
    /* background-color: #CCFF00; */
    /* border: 1px solid red;
}*/

.container_lbl {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cmpre{
  font-size: 14px;
    color: #333;
    margin: 0;
    line-height: 1;
}
/* Hide the browser's default checkbox */
.container_lbl input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border: 0.1px solid #a0a0a0;
}

/* On mouse-over, add a grey background color */
.container_lbl:hover input ~ .checkmark {
  background-color: #ccc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_lbl input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_lbl .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*End homepage*/

/*Login*/
.login-banner {
    background-image: url(../images/login_bg.png);
    background-color: #fff;
    background-position: center center;
    padding: 80px 0 120px 0;
}
.text-center {
    text-align: center;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none!important;
}
.login-form-block {
    margin: -80px 0 0;
    background: #fff;
    -webkit-box-shadow: 1px 5px 20px rgba(0,0,0,.5);
    box-shadow: 1px 5px 20px rgba(0,0,0,.5);
    padding: 30px;
}
.login-text h1 {
    margin: 0;
}
.login-content {
    margin-top: 30px;
}
.form-group.with-addon {
    position: relative;
}
.form-group {
    margin-bottom: 15px;
}
.form-group.with-addon .input-addon {
    color: #bbb;
    border-right: 1px solid #ddd;
    padding-right: 10px;
    position: absolute;
    top: 14px;
    left: 15px;
    z-index: 2;
}
.form-group.with-addon .input-addon+.form-control {
    padding-left: 50px;
    border-width: 1px;
    border-radius: 4px;
    height: 46px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-group.with-addon {
    position: relative;
}
.form-group {
    margin-bottom: 15px;
}
.login-button {
    /* margin-top: 10px; */
    background-color: #48b14c;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    font-family: Raleway,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 1px 1px rgba(0,0,0,.1);
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
}
.sign-up-text {
    font-size: 16px;
    font-family: Roboto,Arial,sans-serif;
}
.text-muted {
    color: #98a6ad!important;
}
body.simplelogin {
    background-color: unset !important;
}
.simplelogin{
  width: 100%;
    display: unset !important;
    flex-wrap: unset !important;
    justify-content:unset !important;
    align-items: unset !important;
    background-repeat: unset !important;
    background-position:unset !important;
    background-size: unset !important;
    -ms-background-size:unset !important;
    -o-background-size: unset !important;
    -moz-background-size:unset !important;
    -webkit-background-size: unset !important;
    background-attachment:unset !important;
    position: unset !important;
}
.path-user input#edit-submit{
      background-color: #48b14c;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    font-family: Raleway,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 1px 1px rgba(0,0,0,.1);
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    border: none;
}
.path-user input[type=password],.path-user input[type=text]{

    font-size: 14px;
    border-width: 1px;
    border-radius: 4px;
    background-color: #fff;

}
.simplelogin h1{
  font-size: 36px;
    color: #545454;
    font-family: inherit;


}
@media screen and (max-width: 1000px){
.path-user .button {
     width: unset !important;
     height: unset !important;
     position:unset !important;
     right: unset !important;
     top: -56px;
     cursor: unset !important;
     z-index: unset !important;
}
}
input#edit-mail,input#edit-user-picture-0-upload{
  font-size: 14px;
    border-width: 1px;
    border-radius: 4px;
    height: 46px;
    background-color: #fff;
}
.path-user input#edit-user-picture-0-upload{
height: auto;
  }
.form-composite > .fieldset-wrapper > .description, .form-item .description {
    /* font-size: 14px; */
    font: 400 13px 'Open Sans', sans-serif;
    line-height: 18px;
}
.path-user input[type=checkbox],.path-user input[type=radio] {
    margin: -5px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
.simplelogin summary{
  font: 400 13px 'Open Sans', sans-serif !important;
}
.path-user optgroup, .path-user select, .path-user textarea {
    color: inherit;
    font-size: 15px;
    margin: 0;
}
.simplelogin .form-item label, .path-user .simplelogin .form-wrapper .label{
      font-size: 14px !important;
}
.path-user .block{
  width: 100% !important;
}
/*End Login*/
/*home*/
.compare-switcher {
    width: 250px;
    position: fixed;
    top: 110px;
    bottom: 0;
    height: 100%;
    z-index: 1008;
    border-radius: 0;
    right: 0px;
    /* box-shadow: 0 0 5px #ccc; */
}
.compare-switcher .compare-switcher-open {
    background-color: #696969;
    border-radius: 6px 0 0 6px;
    color: #fff;
    display: block;
    font-size: 13px;
    height: 30px;
    left: -31px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 35px;
    width: 30px;
}
.compare-switcher .compare-switcher-wrap {
    /* height: 100%; */
    margin: 0;
    overflow-y: auto;
    padding: 15px 10px;
    position: relative;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
}
.compare-switcher-box {
    position: relative;
    border: 1px solid #cdcfd0;
    margin-bottom: 10px;
}
.compare-close-icons {
    position: absolute;
    right: -4px;
    top: -6px;
    width: 15px;
    height: 15px;
    background: #333333;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
}
.compare-switcher-box img {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.compare-switcher-box h6 {
    color: #5a5a59;
    font-size: 12px;
    padding: 5px;
    margin: 0;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.compare-switcher.open {
    right: -250px;
}
.compare-close-icons i {
    line-height: 15px;
    display: block;
    text-align: center;
    font-size: 10px;
}
.compare-button a {
    color: #fff;
    padding: 5px;
    display: block;
}
.compare-button a:hover{
  text-decoration: none;
  color: #fff;
}
/*End home*/
/*compare*/
.m-t-40 {
    margin-top: 40px;
}
.compare-table {
    font-size: 16px;
    color: #333;
    border-left: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    width: 100%;
    margin-bottom: 30px;
}
.compare-table td {
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    line-height: 22px;
    word-break: break-all;
    font: 400 16px 'Open Sans', sans-serif;
}
.path-compare .feature_info{
    text-align: left;
    display: table-row;
}
.compare-table .fixedHeader th a {
    color: #454545;
}
.compare-table th {
    padding: 20px 10px;
    vertical-align: top;
    font-size: 16px;
    color: #666;
    font-weight: 400;
    border-right: 1px solid #e3e3e3;
    min-width: 150px;
    max-width: 800px;
    line-height: 16px;
    height: auto;
    position: relative;
    font: 600 16px 'Open Sans', sans-serif;
}
.compare-table .but_close_comp {
    position: absolute;
    left: 0;
    top: -12px;
    width: 100%;
    text-align: center;
}
.path-compare table {
    max-width: 100%;
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1em;
}
.stock-out {
    color: #d1252a;
}
.stock-in {
    color: #128026;
}
.compare-table .star i {
    color: #e7a200;
}
.feature_info .addcart_btn {
    height: 33px;
    width: auto;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px 10px;
    margin-right: 5px;
    line-height: 35px;
}
.feature_info .cartbtn_bg {
    background: #ffa000;
}
.compare-table .but_close_comp i {
    color: #999;
    font-size: 25px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 20px;
}
.compare-table .fixedHeader tr {
    background-color: #f5f5f5;
}

/*End compare*/
/*Tooltip*/
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 90%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.93);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 89%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/*End Tooltip*/

/*order information*/
.region.region-content{
  display: table;
  /*width: 1100px;*/
  margin: 0 auto;
}
.path-checkout input{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/*End order information*/
/*Menu*/
/*li.menu-item.menu-item--expanded ul li a {
    display: none;
}*/
li.menu-item.menu-item--expanded.main ul li a {
    display: block;
}
.menu-item.menu-item--expanded.main ul{
    display: table;
    position: absolute;
    top: 25px;
    float: left;
    min-width: 200px;
    padding: 5px 5px;
    margin: 2px 0 0;
    font-size: 14px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
}
ul.menu{
  margin-left: 0;
}
li.menu-item.menu-item--expanded ul{
   display: none;
}
li.menu-item.menu-item--expanded.active ul{
     display: block !important;
}
li.menu-item.menu-item--expanded.active ul li a{
    background: #cecbcb;
    padding: 7px 7px;
    color: #000;
}
/*End Menu*/
/*user page*/
.path-user .region.region-content{
  display: table;
    margin: 40px auto;
    width: 90%;
}
.path-user .view-content, .path-user .view-content a{
  color: #000;
}
.path-user .view{
  border: 2px solid #ddd;
}
.path-user .view th,.path-user .view td{
  text-align: center;
  background: #fff;
}
.path-user .view table{
  margin-top: 1em;
}
.path-user .view:hover,.path-user .view{
  background-color: #fff !important;
}
.path-user .contextual-region.view.view-commerce-user-orders{

}
/*angular reload*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/*End user page*/

/*angular reload*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*f*/

/*part_search*/
.part_bdr{
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0 0;
    border-radius: 4px;
}
.pagi_master li {
    list-style-type: none;
    display: inline-block;
}
.pagi_master li a{
    list-style-type: none;
    display: inline-block;
    margin: 0 1px;
    /* background: #5D85B2; */

    background: #377ab7;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    padding: 4px 8px;
}
.pagi_master li.active a{
   background: #4b5f71;
}
.pagi_master li.disabled a{

   background: #6b6b6b;
}
.alert-danger {
  padding: 10px;
    border-radius: 3px;}

/*End Part search*/
/*Profile page*/
.block.block-system.block-system-main-block {
    margin-bottom: 20px;
}
/* End Profile */
=======

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Nunito');

html {
  scroll-behavior: smooth;
}
/*common*/
.dis_none{
  display: none !important;
}
a:hover{
text-decoration:none !important;
}
/*End Common*/
/*Cart*/
  .path-cart table.views-table.views-view-table{
    border-spacing: 0 1em !important;
    padding: 10px 15px !important;
}
.path-cart table th{
    border-bottom: 1px solid #e7e3df;
    padding-bottom: 10px;
    text-align: center;
    border-right: 1px solid #e7e3df;
    border-left: 1px solid #e7e3df;
    border-top: 1px solid #e7e3df;
}
.path-cart table td{
    border-bottom: 1px solid #e7e3df;
    border-right: 1px solid #e7e3df;
    border-left: 1px solid #e7e3df;
    border-top: 1px solid #e7e3df;
    text-align: center;
    word-break: break-word;
}
.path-cart input.form-number {
    padding: 0 7px;
    width: 60px;
}
/*End Cart*/
/* TOP BAR */

a{
  cursor: pointer;
}

.top_border {
  border-bottom: 1px solid #eeeeee;
}
*/
.topbar_phone {
  padding: 5px 0 10px 0;
  font: 600 12px 'Open Sans', sans-serif;
  border-right: 1px solid #eeeeee;
}

.topbar_nav {
  overflow: hidden;
  /* border-right: 1px solid #eeeeee; */
  float: right;
  display: block;
}

.topbar_nav ul {
  margin-bottom: 0;
  padding: 0;
}

.topbar_nav li {
  float: right;
  list-style: none;
  padding: 0px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
}

.topbar_nav li i {
  padding-right: 10px;
  font-size: 16px;
  vertical-align: text-top;
}

/* .topbar_nav li:last-child {
  border-left: 1px solid #eeeeee;
} */
.topbar_nav li a {
  display: block;
  width: 100%;
  padding: 8px 18px;
  border-right: 1px solid #eeeeee;
  font-weight: 500;
  color: #333;
}
.topbar_nav li:first-child a {
  border-right: 0;
  padding-right: 0;
}

.topbar_nav li a:hover, .b-topBar__lang a:hover {
  text-decoration: underline;
}

.top_searchbox {
  position: relative;
  width: 100%;
}

.top_searchbox button i {
  padding: 0 20px;
}
sup {
  color: #ff0000;
  padding-left: 3px;
  font-size: 18px;
  top: -0.10em;
}
input:hover, input:focus {
  /* border:1px solid #e8e8e8; */
  outline: none;
}

button:hover, button:focus {
  outline: none;
}

.top_cart {
  text-align: right;
  width: auto;
  /* display: flex;
  float: right; */
}
.cart_wishlist, .cart_shopping {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.cart_wishlist i, .cart_shopping i {
  font-size: 36px;
  margin-right: 10px;
}
/* NAVBAR */
.nav_main {
  padding: 8px 0px 0px;
  ;
  position: relative;
  /*z-index: 99;*/
  z-index: 9;
}

.nav_mainlogo {
  padding: 10px 0px;
  position: relative;
  /*z-index: 99;*/
}

.nav_logo {
  float: left;
  padding: 8px 0 0 0px;
  text-transform: uppercase;
}

.nav_logo h3 {
  margin: 0;
  font-size: 26px;
  line-height: 20px
}

.nav_logo h3 a {
  text-decoration: none;
  font: 700 26px 'Titillium Web', sans-serif;
}

.nav_logo h2 {
  margin: 0;
  line-height: 15px;
  font-size: 11px;
  margin-top: -5px;
}

.nav_logo h2 a {
  font: 300 11px 'Open Sans', sans-serif;
  text-decoration: none;
}

.nav_main_list {
  /* float: right; */
  /* float: left; */
}

.nav_main_list ul {
  /* margin-top: 20px; */
  padding-left: 0;
  margin-bottom: 0;
}
.navbar-collapse.in {
  overflow-y: initial;
}

.navbar-nav-menu>li>.dropdown-menu {
  display: block !important;
  height: 0px;
  overflow: hidden;
  opacity: 0;
}

.navbar-nav-menu>li.open>.dropdown-menu {
  height: auto;
  padding-bottom: 3px;
  opacity: 1;
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}

.navbar-toggle .icon-bar {
  background: aliceblue;
}

.sub_nav li {
  display: block;
  float: none !important;
}

.sub_nav {
  margin-top: 0 !important;
}

.sub_nav li a {
  display: block !important;
  text-align: left;
  padding: 10px 14px !important;
}
.navbar-collapse {
  padding: 0;
}

.sticky-header.sticky {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  background: #fff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0px 3px 1px rgba(0, 0, 0, 0.1);
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
  animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-play-state: running;
  animation-play-state: running;
  border-bottom: 0;
}

/* Slider */
.banner_slider .slide {
  border: 1px solid #f2f2f2;
  padding: 6px;
}

.carousel-control, .carousel-control:hover {
  background-image: none !important;
}

.banner_slider .carousel-inner .item>img {
  width: 100%;
  height: 450px;
}

.carousel-control.right i.fa {
  height: 65px;
  width: 35px;
  border-top-left-radius: 65px;
  border-bottom-left-radius: 65px;
  right: 6px;
  position: absolute;
  top: 50%;
  margin-top: -32.5px;
  padding-top: 20px;
  padding-left: 9px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-control.left i.fa {
  height: 65px;
  width: 35px;
  border-top-right-radius: 65px;
  border-bottom-right-radius: 65px;
  left: 6px !important;
  position: absolute;
  top: 50%;
  margin-top: -32.5px;
  padding-top: 20px;
  padding-right: 9px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .active {
  opacity: 1;
}

.carousel-fade .active.left,
.carousel-fade .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .next.left,
.carousel-fade .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*TESTIMONIALS*/
.testimonial {
  /* background: #f9f9f9; */
  /* padding: 0 0 30px; */
}

.testimonial .carousel-control {
  width: 0;
}

.testimonial_img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  background: #ccc;
}

.testimonial_img img {
  width: 100%;
  height: 100%;
}
.carousel-3d-container {
  .carousel-3d-slide {
    padding: 20px;
  }
}

/* our Categories */
.our_categories .category_circle {
  background: #fbfbfb;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  position: relative;
  overflow: hidden;
  border: 1px solid #d4d4d4;
  margin: 0px auto;
  padding: 0px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.our_categories img {
  width: 100%;
  height: 100%;
  z-index: -1;
  padding: 20px;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.our_categories .category_circle:hover {
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.10), 0 6px 5px 0 rgba(0, 0, 0, 0.10);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* Featured */
.featured_product {
  padding: 0px 0 0px 0;
  text-align: center;
  position: relative;
  /* box-shadow: 0px 30px 100px -38px rgba(0, 0, 0, 0.3); */
  /*z-index: 100;*/
  /*z-index: 9;*/
}

.featured_item_box {
  width: 260px;
  float: left;
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 15px;
  margin: 0 11px 30px 11px;
  border-radius: 0;
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
div#read_review{
  display: none;
}
/* .single-product-section .featured_item_box {
  width:240px;
} */
.featured_item_box:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.10), 0 6px 5px 0 rgba(0, 0, 0, 0.10);
}

.featured_item_box>a {
  position: relative;
  display: block;
  /* margin-bottom: 15px; */
}

.featured_item_box .new_brand, .featured_item_box .m-leasing {
  background-color: #679025;
  color: #fff;
  font: 600 10px 'Open Sans', sans-serif;
  padding: 5px 10px;
  text-transform: uppercase;
  position: absolute;
  top: -30px;
  right: 0px;
  /*z-index: 1000;*/
}

.featured_item_box .stock_status {
  font: 600 14px 'Open Sans', sans-serif;
  padding: 2px 2px;
  text-transform: uppercase;
  position: absolute;
  top: -30px;
  left: 0px;
  /*z-index: 1000;*/
}

.featured_item_box .in {
  color: #128026;
}

.featured_item_box .out {
  color: #d1252a;
}

.feature_info {
  text-align: left;
  display: table-row;
}

.feature_ratings {
  display: block;
  padding: 0px 3px;
}

.product_brand>.feature_ratings {
  display: inline-block;
}

.feature_ratings ul {
  display: flex;
  list-style: none;
  padding: 0px;
  color: #e7a200;
  margin: 0;
  padding: 0px 0px 0px 6px;
}
.feature_ratings li {
  color: #333;
}

.featured_img {
  transition: all 0.3s ease-out 0s;
  -webkit-transition: all 0.3s ease-out 0s;
  width: 200px;
  height: 130px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.featured_item_price {
  padding: 5px 5px;
  font: 500 14px 'Roboto', sans-serif;
  color: #1d1d1d;
  float: left;
  text-align: left;
  margin-left: 5px;
  line-height: 2;
}

.price_color {
  font: 600 16px 'Nunito', sans-serif;
  color: #c42706;
  padding-left: 5px;
  letter-spacing: 1px;
}

.featured_item_box h5 {
  font: 600 14px 'Open Sans', sans-serif;
  color: #333;
  padding: 15px 5px 3px 5px;
  margin: 0px 0px 0px 0px;
  clear: both;
  text-align: left;
  border-top: 1px solid #B4B4B4;
  position: relative;
  height: 40px;
  /* width: 250px; */
  white-space: initial;
  text-overflow: ellipsis;
}
.featured_item_box h5:after {
  background: url(../images/down_arrow.png) center no-repeat;
  /* content: "\f107"; */
  content: " ";
  font-family: "FontAwesome";
  width: 15px;
  left: 20px;
  height: 7px;
  position: absolute;
  top: -1px;
  display: block;
}

.product_wishlist {
  position: relative;
  float: right;
  bottom: 0;
  right: 15px;
  /*z-index: 9999;*/
}

.product_wishlist i {
  font-size: 22px;
  color: #e7a200;
}
.price_strike{
  font: 500 14px 'Roboto', sans-serif;
    text-decoration: line-through;
    color: #464646;
    padding-left: 5px;
    letter-spacing: 1px;

}
/* About us */
.about_us {
  padding: 0px 0 0px 0;
  text-align: center;
  position: relative;
  /* box-shadow: 0px 30px 100px -38px rgba(0, 0, 0, 0.3); */
  /*z-index: 100;*/
}

.about_us img {
  max-width: 100%;
}

.about_us p {
  margin: 10px 0;
}

/*VIDEO*/
.video_block .video_slide .videoslide_img {
  top: 0 !important;
  /*z-index: 111;*/
}

/* .video_block .video_slide .videoslide_img li a::after {
  position: absolute;
  content: '\f16a';
  font-family: "FontAwesome";
  cursor: pointer;
  top: 45%;
  right: 45%;
  color: #bf0c24;
  font-size: xx-large;
  z-index: 99999999;
} */
.video_block .video_slide .left {
  position: absolute !important;
  left: -50px !important;
  top: 43% !important;
  cursor: pointer;
}

.video_block .video_slide .right {
  position: absolute !important;
  right: -50px !important;
  top: 43% !important;
  cursor: pointer;
}

.video_block .video_slide .left i, .video_block .video_slide .right i {
  font-size: 46px;
}

.fancybox-overlay {
  z-index: 11111 !important;
}

.client_block {
  /* margin: 0 0 30px 0; */
  padding: 40px 0;
  background-image: url(../images/client-bg.jpg);
  background-repeat: repeat;
  background-position: center;
  position: relative;
  text-align: center;
}

.client_block .carousel-inner ul {
  list-style-type: none;
  display: block;
}

.client_block .carousel-inner ul li {
  display: inline-block;
}

.client_block .carousel-control.right i.fa {
  height: 65px;
  width: 35px;
  border-top-left-radius: 65px;
  border-bottom-left-radius: 65px;
  right: 6px;
  position: absolute;
  top: 50%;
  margin-top: -32.5px;
  padding-top: 14px;
  padding-left: 9px;
  text-align: center;
}

.client_block .carousel-control.left i.fa {
  height: 65px;
  width: 35px;
  border-top-right-radius: 65px;
  border-bottom-right-radius: 65px;
  left: 6px !important;
  position: absolute;
  top: 50%;
  margin-top: -32.5px;
  padding-top: 14px;
  padding-right: 9px;
  text-align: center;
}

/* .client_block .carousel-inner img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 20px;
} */
/*end fa css*/
/*************JP tooltip Css ******************/
.tooltipcustom {
    position: relative;
    text-align: left;
    padding: 0px 5px 3px 10px;
    margin: 5px 0px 0px 0px;
}
.tooltipcustom .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #35bff3;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 6px 12px;
    position: absolute;
    z-index: 1;
    bottom: 115%;
    left: 30%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-weight: 800;
}

/* Popup box BEGIN */
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}

.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -18px;
    right: -20px;
    font-size: 14px;
    line-height: 25px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.hover_bkgr_fricc.cartadded div p {
    vertical-align: middle;
    line-height: 58px;
    font-size: 20px;
    color: red;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */
.simplePopup {
display:none;
position:fixed;
background:#fff;
z-index:9;
padding:12px;
/*right: 100px;*/
/*width:70%;
min-width:70%;*/
}

.simplePopupClose {
float:right;
cursor:pointer;
margin-left:10px;
margin-bottom:10px;
font-size: 19px;
    font-weight: bold;
}

.simplePopupBackground {
display:none;
background:#000;
position:fixed;
height:100%;
width:100%;
top:0;
left:0;
z-index:1;
}
/*.cmprr{
  position: fixed;
  bottom: 25px;
  right: 10px;
}*/

/*checkout*/
.path-checkout select{
    color: inherit;
    font: inherit;
    margin: 0;
    width: 100%;
    background: #fff;
    border: 1px solid #dcdcdc;
    height: 40px;
    padding: 0px 15px;
    color: #636363;
    background: #f5f5f5;
    font-size: 12px;
    outline: none;
    border-radius: 5px;
}
.path-checkout div.address-container-inline > .form-item{
    display: unset !important;
    margin-right: 0;
    margin: 0;
}
.path-checkout .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-payment-information-billing-information-address-0-address-family-name.form-item-payment-information-billing-information-address-0-address-family-name {
    width: 48%;
    display: block;
    float: left;
    margin-left: 14px;
}
.path-checkout .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-payment-information-billing-information-address-0-address-given-name.form-item-payment-information-billing-information-address-0-address-given-name {
    width: 48%;
    float: left;
    display: block;
    margin-right: 14px;
}
@media only screen and (max-width: 1199px) {
.path-checkout .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-payment-information-billing-information-address-0-address-family-name.form-item-payment-information-billing-information-address-0-address-family-name {
    width: 100%;
    display: block;
    float: left;
    margin-left: 0px;
}
.path-checkout .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-payment-information-billing-information-address-0-address-given-name.form-item-payment-information-billing-information-address-0-address-given-name {
    width: 100%;
    float: left;
    display: block;
    margin-right: 0px;
}
}
@media only screen and (max-width: 1000px) {
.path-checkout .button {
    height: auto;
    position: unset;
    cursor: pointer;
}
.path-checkout input#edit-sidebar-coupon-redemption-form-apply{
  width: auto;
    display: table;
    margin: auto !important;
}
.path-checkout .form-actions.js-form-wrapper.form-wrapper {
    margin: 10px auto !important;
}
}
input.js-form-submit.form-submit{
    color: #fff;
    border: none;
    border-radius: 5px;
}
.path-checkout .form-actions.js-form-wrapper.form-wrapper {
    width: auto;
    display: table;
    margin: 0 auto;
}
.path-checkout .view-content table{
    border-collapse: separate;
    border-spacing: 15px;
}
.path-checkout .order-total-line{
  padding: 0 15px;
}
.path-checkout .view,.path-checkout .view:hover{
  color: #000;
  border: 2px solid #ddd;
  background: #fff !important;
}
.path-checkout td.views-field.views-field-unit-price__number{
  text-align: center;
}
.path-checkout input#edit-sidebar-coupon-redemption-form-apply{
  /*margin: 0;*/
  margin: 0 auto;
    width: auto;
    display: table;
    font-weight: bold;
}
.path-checkout .fieldset-wrapper {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.path-checkout td.views-field.views-field-quantity-1 {
    text-align: center;
}
.path-checkout .layout-region-checkout-secondary{
    background-image: linear-gradient(to right,#f4f4f4 0,#f4f4f4 0);
    padding: 8px 12px;
}
.path-checkout .view-content th{
  display: none;
}
.path-checkout td a {
    display: none;
}
.path-checkout input#edit-sidebar-coupon-redemption-form-code {
    background: #fff;
}
.path-checkout .containersss td{
  font-weight: bold;
}
.path-checkout .order-total-line-label{
  font-weight: bold;
}
.path-checkout .order-total-line-value{
  float: none;
  font-weight: bold;
}
.path-checkout .field.field--name-title.field--type-string.field--label-hidden.field__item{
  word-break: break-all;
}
.path-checkout .view:hover,.path-checkout .view:hover{
    color: #000 !important;
    background-color: #fff;
}
/*end checkout*/

/*custom homepage*/
/*.cmprr {
    position: fixed;
    bottom: 25px;
    right: 10px;
    position: sticky;
    top: 80px;
    right: 0px;
    width: 138px;
    height: 47px;
    /* background-color: #CCFF00; */
    /* border: 1px solid red;
}*/

.container_lbl {
  display: block;
  position: relative;
  padding-left: 24px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cmpre{
  font-size: 14px;
    color: #333;
    margin: 0;
    line-height: 1;
}
/* Hide the browser's default checkbox */
.container_lbl input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  border: 0.1px solid #a0a0a0;
}

/* On mouse-over, add a grey background color */
.container_lbl:hover input ~ .checkmark {
  background-color: #ccc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_lbl input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_lbl .checkmark:after {


  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #e7a100;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*End homepage*/

/*Login*/
.login-banner {
    background-image: url(../images/login_bg.png);
    background-color: #fff;
    background-position: center center;
    padding: 80px 0 120px 0;
}
.text-center {
    text-align: center;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none!important;
}
.login-form-block {
    margin: -80px 0 0;
    background: #fff;
    -webkit-box-shadow: 1px 5px 20px rgba(0,0,0,.5);
    box-shadow: 1px 5px 20px rgba(0,0,0,.5);
    padding: 30px;
}
.login-text h1 {
    margin: 0;
}
.login-content {
    margin-top: 30px;
}
.form-group.with-addon {
    position: relative;
}
.form-group {
    margin-bottom: 15px;
}
.form-group.with-addon .input-addon {
    color: #bbb;
    border-right: 1px solid #ddd;
    padding-right: 10px;
    position: absolute;
    top: 14px;
    left: 15px;
    z-index: 2;
}
.form-group.with-addon .input-addon+.form-control {
    padding-left: 50px;
    border-width: 1px;
    border-radius: 4px;
    height: 46px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-group.with-addon {
    position: relative;
}
.form-group {
    margin-bottom: 15px;
}
.login-button {
    /* margin-top: 10px; */
    background-color: #48b14c;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    font-family: Raleway,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 1px 1px rgba(0,0,0,.1);
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
}
.sign-up-text {
    font-size: 16px;
    font-family: Roboto,Arial,sans-serif;
}
.text-muted {
    color: #98a6ad!important;
}
body.simplelogin {
    background-color: unset !important;
}
.simplelogin{
  width: 100%;
    display: unset !important;
    flex-wrap: unset !important;
    justify-content:unset !important;
    align-items: unset !important;
    background-repeat: unset !important;
    background-position:unset !important;
    background-size: unset !important;
    -ms-background-size:unset !important;
    -o-background-size: unset !important;
    -moz-background-size:unset !important;
    -webkit-background-size: unset !important;
    background-attachment:unset !important;
    position: unset !important;
}
.path-user input#edit-submit{
      background-color: #48b14c;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    color: #fff;
    font-family: Raleway,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 1px 1px rgba(0,0,0,.1);
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    border: none;
}
.path-user input[type=password],.path-user input[type=text]{

    font-size: 14px;
    border-width: 1px;
    border-radius: 4px;
    background-color: #fff;

}
.simplelogin h1{
  font-size: 36px;
    color: #545454;
    font-family: inherit;


}
@media screen and (max-width: 1000px){
.path-user .button {
     width: unset !important;
     height: unset !important;
     position:unset !important;
     right: unset !important;
     top: -56px;
     cursor: unset !important;
     z-index: unset !important;
}
}
input#edit-mail,input#edit-user-picture-0-upload{
  font-size: 14px;
    border-width: 1px;
    border-radius: 4px;
    height: 46px;
    background-color: #fff;
}
.path-user input#edit-user-picture-0-upload{
height: auto;
  }
.form-composite > .fieldset-wrapper > .description, .form-item .description {
    /* font-size: 14px; */
    font: 400 13px 'Open Sans', sans-serif;
    line-height: 18px;
}
.path-user input[type=checkbox],.path-user input[type=radio] {
    margin: -5px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}
.simplelogin summary{
  font: 400 13px 'Open Sans', sans-serif !important;
}
.path-user optgroup, .path-user select, .path-user textarea {
    color: inherit;
    font-size: 15px;
    margin: 0;
}
.simplelogin .form-item label, .path-user .simplelogin .form-wrapper .label{
      font-size: 14px !important;
}
.path-user .block{
  width: 100% !important;
}
/*End Login*/
/*home*/
.compare-switcher {
    width: 250px;
    position: fixed;
    top: 110px;
    bottom: 0;
    height: 100%;
    z-index: 1008;
    border-radius: 0;
    right: 0px;
    /* box-shadow: 0 0 5px #ccc; */
}
.compare-switcher .compare-switcher-open {
    background-color: #696969;
    border-radius: 6px 0 0 6px;
    color: #fff;
    display: block;
    font-size: 13px;
    height: 30px;
    left: -31px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 35px;
    width: 30px;
}
.compare-switcher .compare-switcher-wrap {
    /* height: 100%; */
    margin: 0;
    overflow-y: auto;
    padding: 15px 10px;
    position: relative;
    background: #fff;
    box-shadow: 0 0 5px #ccc;
}
.compare-switcher-box {
    position: relative;
    border: 1px solid #cdcfd0;
    margin-bottom: 10px;
}
.compare-close-icons {
    position: absolute;
    right: -4px;
    top: -6px;
    width: 15px;
    height: 15px;
    background: #333333;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
}
.compare-switcher-box img {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.compare-switcher-box h6 {
    color: #5a5a59;
    font-size: 12px;
    padding: 5px;
    margin: 0;
    text-align: center;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.compare-switcher.open {
    right: -250px;
}
.compare-close-icons i {
    line-height: 15px;
    display: block;
    text-align: center;
    font-size: 10px;
}
.compare-button a {
    color: #fff;
    padding: 5px;
    display: block;
}
.compare-button a:hover{
  text-decoration: none;
  color: #fff;
}
/*End home*/
/*compare*/
.m-t-40 {
    margin-top: 40px;
}
.compare-table {
    font-size: 16px;
    color: #333;
    border-left: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    width: 100%;
    margin-bottom: 30px;
}
.compare-table td {
    padding: 10px;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    line-height: 22px;
    word-break: break-all;
    font: 400 16px 'Open Sans', sans-serif;
}
.path-compare .feature_info{
    text-align: left;
    display: table-row;
}
.compare-table .fixedHeader th a {
    color: #454545;
}
.compare-table th {
    padding: 20px 10px;
    vertical-align: top;
    font-size: 16px;
    color: #666;
    font-weight: 400;
    border-right: 1px solid #e3e3e3;
    min-width: 150px;
    max-width: 800px;
    line-height: 16px;
    height: auto;
    position: relative;
    font: 600 16px 'Open Sans', sans-serif;
}
.compare-table .but_close_comp {
    position: absolute;
    left: 0;
    top: -12px;
    width: 100%;
    text-align: center;
}
.path-compare table {
    max-width: 100%;
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1em;
}
.stock-out {
    color: #d1252a;
}
.stock-in {
    color: #128026;
}
.compare-table .star i {
    color: #e7a200;
}
.feature_info .addcart_btn {
    height: 33px;
    width: auto;
    border: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px 10px;
    margin-right: 5px;
    line-height: 35px;
}
.feature_info .cartbtn_bg {
    background: #ffa000;
}
.compare-table .but_close_comp i {
    color: #999;
    font-size: 25px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 20px;
}
.compare-table .fixedHeader tr {
    background-color: #f5f5f5;
}

/*End compare*/
/*Tooltip*/
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 90%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.93);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 89%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/*End Tooltip*/

/*order information*/
.region.region-content{
  display: table;
  /*width: 1100px;*/
  margin: 0 auto;
}
.path-checkout input{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/*End order information*/
/*Menu*/
/*li.menu-item.menu-item--expanded ul li a {
    display: none;
}*/
li.menu-item.menu-item--expanded.main ul li a {
    display: block;
}
.menu-item.menu-item--expanded.main ul{
    display: table;
    position: absolute;
    top: 25px;
    float: left;
    min-width: 200px;
    padding: 5px 5px;
    margin: 2px 0 0;
    font-size: 14px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
}
ul.menu{
  margin-left: 0;
}
li.menu-item.menu-item--expanded ul{
   display: none;
}
li.menu-item.menu-item--expanded.active ul{
     display: block !important;
}
li.menu-item.menu-item--expanded.active ul li a{
    background: #cecbcb;
    padding: 7px 7px;
    color: #000;
}
/*End Menu*/
/*user page*/
.path-user .region.region-content{
  display: table;
    margin: 40px auto;
    width: 90%;
}
.path-user .view-content, .path-user .view-content a{
  color: #000;
}
.path-user .view{
  border: 2px solid #ddd;
}
.path-user .view th,.path-user .view td{
  text-align: center;
  background: #fff;
}
.path-user .view table{
  margin-top: 1em;
}
.path-user .view:hover,.path-user .view{
  background-color: #fff !important;
}
.path-user .contextual-region.view.view-commerce-user-orders{

}
/*angular reload*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/*End user page*/

/*angular reload*/
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*f*/

/*part_search*/
.part_bdr{
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0 0;
    border-radius: 4px;
}
.pagi_master li {
    list-style-type: none;
    display: inline-block;
}
.pagi_master li a{
    list-style-type: none;
    display: inline-block;
    margin: 0 1px;
    /* background: #5D85B2; */

    background: #377ab7;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    padding: 4px 8px;
}
.pagi_master li.active a{
   background: #4b5f71;
}
.pagi_master li.disabled a{

   background: #6b6b6b;
}
.alert-danger {
  padding: 10px;
    border-radius: 3px;}

.padd-left{
  padding-left: 0px
}
.select_compact{
  width: 128px !important;
  cursor: pointer;
}
.select_medium{
  width: 175px !important;
  cursor: pointer;
}



.filter-options {
    /*padding: 8px 0 0;*/
    text-align: center;
    clear: both;
    margin: 6px 0px 2px;
}
.filter-options div {
    display: inline-block;
    width: 61px;
}
.filter-options div a {
    display: inline-block;
    /*margin: 10px 0;*/
    color: #6b6b6b;
    font-weight: 600;
    text-align: center;
    position: relative;
}
.filter-options div a i.fa-check {
    color: #fff;
    position: absolute;
    top: 7px;
    margin-left: 9px;
    opacity: 0;
    text-shadow: 0 0 1px #000;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.filter-options div a.active i.fa-check {
    opacity: 1;
}
.filter-options a.color-all img {
    width: 30px;
}
.filter-options div a img {
    display: inline-block;
    margin-bottom: 8px;
    -webkit-box-shadow: 3px 1px 6px rgba(0,0,0,.5);
    box-shadow: 3px 1px 6px rgba(0,0,0,.5);
}
.filter-options div a span {
    display: block;
}
.filter-options div a.active, .filter-options div a:hover {
    color: #222!important;
}
/*End Part search*/

/*orders*/
  .tablesorter-default {
  	width: 100%;
  	font: 12px/18px Arial, Sans-serif;
  	color: #333;
  	background-color: #fff;
  	border-spacing: 0;
  	margin: 10px 0 15px;
  	text-align: left;
  }
  .tablesorter-default th,
  .tablesorter-default thead td {
  	font-weight: bold;
  	color: #000;
  	background-color: #fff;
  	border-collapse: collapse;
  	border-bottom: #ccc 2px solid;
    padding: 8px 0px;
    border: 1px solid #ccc;
  }
  .tablesorter-default tfoot th,
  .tablesorter-default tfoot td {
  	border: 0;
  }
  .tablesorter-default .header,
  .tablesorter-default .tablesorter-header {
  	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
  	background-position: center right;
  	background-repeat: no-repeat;
  	cursor: pointer;
  	white-space: normal;
  	padding: 4px 20px 4px 4px;
  }
  .tablesorter-default thead .headerSortUp,
  .tablesorter-default thead .tablesorter-headerSortUp,
  .tablesorter-default thead .tablesorter-headerAsc {
  	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
  	border-bottom: #000 2px solid;
  }
  .tablesorter-default thead .headerSortDown,
  .tablesorter-default thead .tablesorter-headerSortDown,
  .tablesorter-default thead .tablesorter-headerDesc {
  	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
  	border-bottom: #000 2px solid;
  }
  .tablesorter-default thead .sorter-false {
  	background-image: none;
  	cursor: default;
  	padding: 4px;
  }
  .tablesorter-default td {
    padding: 15px !important;
    text-align: center;
}
  .tablesorter-default tfoot .tablesorter-headerSortUp,
  .tablesorter-default tfoot .tablesorter-headerSortDown,
  .tablesorter-default tfoot .tablesorter-headerAsc,
  .tablesorter-default tfoot .tablesorter-headerDesc {
  	border-top: #000 2px solid;
  }

  .tablesorter-default td {
  	background-color: #fff;
  	border-bottom: #ccc 1px solid;
  	padding: 4px;
  	vertical-align: top;
  }
  .tablesorter-default tbody > tr.hover > td,
  .tablesorter-default tbody > tr:hover > td,
  .tablesorter-default tbody > tr.even:hover > td,
  .tablesorter-default tbody > tr.odd:hover > td {
  	background-color: #fff;
  	color: #000;
  }

  .tablesorter-default tr.odd > td {
  	background-color: #dfdfdf;
  }
  .tablesorter-default tr.even > td {
  	background-color: #efefef;
  }
  .tablesorter-default tr.odd td.primary {
  	background-color: #bfbfbf;
  }
  .tablesorter-default td.primary,
  .tablesorter-default tr.even td.primary {
  	background-color: #d9d9d9;
  }
  .tablesorter-default tr.odd td.secondary {
  	background-color: #d9d9d9;
  }
  .tablesorter-default td.secondary,
  .tablesorter-default tr.even td.secondary {
  	background-color: #e6e6e6;
  }
  .tablesorter-default tr.odd td.tertiary {
  	background-color: #e6e6e6;
  }
  .tablesorter-default td.tertiary,
  .tablesorter-default tr.even td.tertiary {
  	background-color: #f2f2f2;
  }
  .tablesorter-default > caption {
  	background-color: #fff;
  }
  .tablesorter-default .tablesorter-filter-row {
  	background-color: #eee;
  }
  .tablesorter-default .tablesorter-filter-row td {
  	background-color: #eee;
  	border-bottom: #ccc 1px solid;
  	line-height: normal;
  	text-align: center; /* center the input */
  	-webkit-transition: line-height 0.1s ease;
  	-moz-transition: line-height 0.1s ease;
  	-o-transition: line-height 0.1s ease;
  	transition: line-height 0.1s ease;
  }
  .tablesorter-default .tablesorter-filter-row .disabled {
  	opacity: 0.5;
  	filter: alpha(opacity=50);
  	cursor: not-allowed;
  }

  .tablesorter-default .tablesorter-filter-row.hideme * {
  	height: 1px;
  	min-height: 0;
  	border: 0;
  	padding: 0;
  	margin: 0;
  	/* don't use visibility: hidden because it disables tabbing */
  	opacity: 0;
  	filter: alpha(opacity=0);
  }
  .tablesorter-default input.tablesorter-filter,
  .tablesorter-default select.tablesorter-filter {
  	width: 95%;
  	height: auto;
  	margin: 4px auto;
  	padding: 4px;
  	background-color: #fff;
  	border: 1px solid #bbb;
  	color: #333;
  	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
  	-webkit-transition: height 0.1s ease;
  	-moz-transition: height 0.1s ease;
  	-o-transition: height 0.1s ease;
  	transition: height 0.1s ease;
  }
  .tablesorter .filtered {
  	display: none;
  }

  .tablesorter .tablesorter-errorRow td {
  	text-align: center;
  	cursor: pointer;
  	background-color: #e6bf99;
  }
  .dataTables_length.bs-select label,.dataTables_filter label{
      font-weight: 400;
  }
  .rgg a {
    font-size: 1.5rem !important;
}
.tablesorter input[type=text]{
width: 100%;
background: #fff;
border: 1px solid #ced4da;
height: 30px;
padding: 0px 15px;
color: #636363;
font-size: 12px;
box-shadow: inset 0 0 0 rgba(255,255,255,0.075);
outline: none;
border-radius: 5px;
}

/* End orders*/

/* Responsives*/
@media only screen and (max-width: 600px) {
.mbl_tp_1{
display: none;
}
}
@media only screen and (max-width: 992px) {
.topbar_phone{
  display: none;
}
}
@media only screen and (max-width: 750px) {
.region.region-topbar-third,.region.region-topbar-fourth,.region.region-topbar-second{
  display: none;
}
.container.mbll .col-lg-9.col-sm-9 {
    width: auto;
    padding: 0;
}
.topbar_nav{
  float: left;
}
.topbar_nav li{
  float: left;
}
.container.mbll {
    width: 100%;
    padding: 0;
}
.full_width {
    width: 100% !important;
}
.nav_logo {
    float: none;
    padding: 0;
    display: table;
    margin: 0 auto;
}
.top_cart {
    text-align: unset;
    width: auto;
    display: table;
    margin: auto;
}
.dsp_nne{
  display: none;
}
.navbar-header{
  display: table;
  margin: 0 auto;
}
.featured_item_box h5{
  white-space: initial;
}
.topbar_nav ul.navv{
  display: table;
  margin: auto;
}
}

@media only screen and (min-width: 751px) and (max-width: 1024px) {
.region.region-topbar-third,.region.region-topbar-fourth,.region.region-topbar-second{
  display: none;
}
.container.mbll .col-lg-9.col-sm-9 {
    width: auto;
    padding: 0;
}
.topbar_nav{
  float: left;
}
.topbar_nav li{
  float: left;
}
.container.mbll {
    width: 100%;
    padding: 0;
}
.full_width {
    width: 100% !important;
}
.nav_logo {
    float: none;
    padding: 0;
    display: table;
    margin: 0 auto;
}
.top_cart {
    text-align: unset;
    width: auto;
    display: table;
    margin: auto;
}
.dsp_nne{
  display: none;
}
.navbar-header{
  display: table;
  margin: 0 auto;
}
.featured_item_box h5{
  white-space: initial;
}
.topbar_nav ul.navv{
  display: table;
  margin: auto;
}
.container.mbll .col-md-3.col-xs-3{
  display: none;
}
.container.mbll .col-lg-9.col-sm-9 {
    width: 100%;
    padding: 0;
}
.topbar_nav{
  float: none !important;
}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
.nav_main_list ul li a{
  padding: 0 8px 15px 10px;
}
}
@media only screen and (max-width: 850px) {
.widget-shopping-cart-content{
  width: 310px !important;
  right: -45px;
}
.widget-shopping-cart-content .cart-list li .cart-list-left{
  display: none;
}
}
@media only screen and (min-width: 851px) and (max-width: 1024px) {
.widget-shopping-cart-content{
  right: -180px;
  width: 380px !important;
}
}
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
.container.mbll .col-md-3{
  width: 18%;
}
.container.mbll .col-sm-9{
  width: 82%;
}
}
/* home*/
@media only screen and (max-width: 620px) {
.region.region-content{
    display: unset !important;
    margin: unset !important;
}
}
@media only screen and (min-width: 650px) and (max-width: 767px) {
section.our_categories .col-xs-12.col-sm-6.col-md-4.col-lg-3{
  width: 50%;
}
section.featured_product .col-xs-12.col-sm-6.col-md-4.col-lg-3.ng-scope{
  width: 50%;
}
}
@media only screen and (max-width: 400px) {
.video_block .video_slide .left{
  left: 140px !important;
}
.video_block .video_slide .right{
  right: 130px !important;
}
}
@media only screen and (min-width: 401px) and (max-width: 550px) {
  .video_block .video_slide .left{
    left: 85px !important;
  }
  .video_block .video_slide .right{
    right: 85px !important;
  }
  }
@media only screen and (min-width: 551px) and (max-width: 750px) {
.video_block .video_slide .left {
      left: 15px !important;
  }
.video_block .video_slide .right{
    right: 15px !important;
  }
}
@media only screen and (max-width: 25000px) {
.video_slide {
    width: auto !important;
}
}
@media only screen and (max-width: 800px) {
.testimonial .col-xs-2.col-sm-3.col-md-2,.testimonial .col-sm-1.col-md-1{
display: none;
}
.testimonial .col-xs-10.col-sm-7.col-md-8{
  width: 100%;
  padding: 0 35px;
}
}
@media only screen and (max-width: 765px) {
.footer_main .footer_newsletter{
  display: block;
}
}
/* End Home*/
/* Part Search*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
.path-part-search .featured_product .col-xs-12.col-sm-6.col-md-4.col-lg-4.ng-scope{
    width: 50%;
}
}
/* End Part Search*/
/*Brands*/
@media only screen and (max-width: 550px) {
.line_card_view a{
  display:table;
  margin: 10px auto;
}
}
@media only screen and (min-width: 551px) and (max-width: 750px) {
.line_card_view a {
      max-width: unset;
      display: table;
      width: 49%;
      margin: 6px auto;
      float: left;
      margin-right: 6px;
  }
}
@media only screen and (min-width: 751px) and (max-width: 1150px) {
  .line_card_view a {
        max-width: unset;
        display: table;
        width: 30%;
        margin: 6px auto;
        float: left;
        margin-right: 6px;
    }
}
/*End Brands*/
/*TESTIMONIALS*/
@media only screen and (min-width: 768px) and (max-width: 1199px) {
.path-testimonial .item{
  height: 400px;
}
}
/*End TESTIMONIALS*/
/*End Responsives*/
