<section class="our_categories">
  {{myvariable}}
      <div class="container">
        <div class="row">
          <div class="main_title">Our Categories</div>
          <div class="col-sm-12">
            <div class="row-flex">



            {% for key,value in items %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
             <div class="featured_item_box p-t-0">
                <a href="#">
                  <h4>{{ value[1] }}</h4>
                  <div class="category_circle">
                    <img class="category_img" src="{{ url('<front>') }}sites/default/files/{{ value[0] }}" alt="featured product">
                  </div>
                  <div class="category_view"><a href="{{ url('<front>') }}part_search?cat_id={{value[2]}}"> View products <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
                </a>
               </div>

               </div>
            {% endfor %}

            </div>
            <div class="view_all dis_none">
              <a href = "brands"><button type="button" class="view">View All</button></a>
            </div>
          </div>
        </div>
      </div>
    </section>
