
  <link rel="stylesheet" type="text/css" href="../themes/APA Admin Theme/css/daterangepicker.css">

               <div class="content" ng-app="postApp" ng-cloak ng-controller="postController">
                  <div class="container-fluid">
                         <div class="page-title-box mb-20">
                           <h4 class="page-title">Dashboard</h4>
                           <div class="heading-elements">
                              <span class="daterange-title">Custom Range </span>
                              <div class="btn-group" role="group" aria-label="Basic example">
                                 <!-- <button type="button" class="btn btn-outline-primary btn-round active">Day</button> -->
                                 <button type="button" class="btn btn-outline-primary btn-round day_7 active" ng-click="dashbd_data(7)">Week</button>
                                 <button type="button" class="btn btn-outline-primary btn-round day_30" ng-click="dashbd_data(30)">Month</button>
                                 <button type="button" class="btn btn-outline-primary btn-round day_90" ng-click="dashbd_data(90)">Year</button>
                             </div>

                              <div class="orext">(OR)</div>
                          <span class="date-range-txt">Select Date Range</span> <input type="text" name="daterange" class="date-range-input" value="Select Date Range" placeholder="Select Date Range"  />
                      </div>
                        </div>
                        <div class="dashboard-status">
                          <div class="row">
                              <div class="col-xs-12 col-md-8">
                                   <div class="card">
                                       <div class="card-header mb-0">
                                          <h3 class="card-title">Website Performance</h3>
                                       </div>
                                       <div class="card-body">
                                          <div class="row m-0" id="createNew">
                                             <div class="performance-box bg-blue col-md-6 col-lg-3" id="total-click">
                                                <p class="text-white">Total Page Views</p>
                                                <p class="performance-value text-white">{{'{{totalpageviews}}'}}</p>
                                             </div>
                                              <div class="performance-box bg-green col-md-6 col-lg-3" id="total-impression">
                                                <p class="text-white">Total Hits</p>
                                                <p class="performance-value text-white">{{'{{totalhits}}'}}</p>
                                             </div>
                                             <div class="performance-box bg-warning col-md-6 col-lg-3" id="average-ctr">
                                                <p class="text-white">Total Session</p>
                                                <p class="performance-value text-white">{{'{{totalsession}}'}}</p>
                                             </div>
                                            <!--  <div class="performance-box bg-primary col-md-6 col-lg-3"" id="average-position">
                                                <p class="text-white">Total User</p>
                                                <p class="performance-value text-white">{{'{{totalpageviews}}'}}</p>
                                             </div> -->
                                          </div>
                                       </div>
                                    </div>


                                     <div class="card">
                                       <div class="card-header">
                                          <h3 class="card-title">What pages do your users visit?</h3>
                                       </div>
                                       <div class="card-body">
                                          <div class="table-responsive">
                                             <table class="table-striped">
                                                   <thead>
                                                      <tr>
                                                         <th>Page</th>
                                                         <th>Pageviews</th>
                                                      </tr>
                                                   </thead>
                                                   <tbody ng-repeat="page in pagelist">
                                                      <tr>
                                                         <td>{{'{{page.pagepath}}'}}</td>
                                                         <td>{{'{{page.pageviews}}'}}</td>
                                                      </tr>
                                                   </tbody>
                                             </table>
                                          </div>
                                       </div>
                                    </div>

                              </div>

                              <div class="col-md-4">
                                 <!-- <div class="row">
                                    <div class="col-md-6">
                                    <div class="mini-stat clearfix bg-white">
                                       <span class="mini-stat-icon bg-brown float-right"><i class="fa fa-user" aria-hidden="true"></i></span>
                                       <div class="mini-stat-info"><a href="javascript://" class="counter text-brown">12</a>New Users</div>
                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                    <div class="mini-stat clearfix bg-white">
                                       <span class="mini-stat-icon bg-teal float-right"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                       <div class="mini-stat-info"><a href="javascript://" class="counter text-teal">80</a>Unique Visitors</div>
                                    </div>
                                    </div>
                                 </div> -->


                                 <div class="card">
                                    <div class="card-header mb-0">
                                       <h3 class="card-title">Google Analytics Sessions by Device Type</h3>
                                    </div>
                                    <div class="card-body">
                                      <div class="device-type-div">
                                       <div class="device-inline"  ng-repeat="device in devicelist">
                                          <div class="">
                                                <h5>{{'{{device.deviceCategory | lowercase }}'}}</h5>
                                                <p class="text-{{'{{device.color}}'}} font-22">{{'{{device.percent}}'}}%</p>
                                          </div>
                                          <!-- <div class="device-inline">
                                                <h5>Mobile</h5>
                                                <p class="text-green font-22">34.4%</p>
                                          </div>
                                          <div class="device-inline">
                                                <h5>Tablet</h5>
                                                <p class="text-orange font-22">10.8%</p>
                                          </div> -->
                                       </div>
                                       </div>
                                       <div class="device-type-bar" ng-repeat="devicepercent in devicelist">
                                             <!-- <div class="divice-bar-{{'{{devicepercent.color}}'}}" style="width: {{'{{devicepercent.percent}}'}}%">
                                             </div> -->
                                             <!-- <div class="divice-bar-green">
                                             </div>
                                             <div class="divice-bar-orange">
                                             </div> -->
                                       </div>
                                       <div id="chartdivanalytics"></div>
                                    </div>
                                 </div>

                                 <div class="card">
                                    <div class="card-header">
                                       <h3 class="card-title">Google Analytics Web Sessions by Region</h3>
                                    </div>
                                    <div class="card-body">
                                      <!--  <div id="locationmap" style="width:100%; height:200px"></div> -->
                                      <div id="locationmap"></div>
                                    </div>
                                    <div class="card-body border-top">
                                         <div class="row" ng-repeat="region in regionlist">
                                             <div class="col-xl-6">
                                                 <div class="sell-ratio">
                                                     <h6 class="font-600">{{'{{region.title}}'}}</h6>
                                                     <div class="progress-w-percent">
                                                         <span class="progress-value">{{'{{region.sessioncount}}'}} </span>
                                                         <div class="progress progress-sm">
                                                             <div class="progress-bar" role="progressbar" style="width: {{'{{region.percent}}'}}%;" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                                         </div>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>

                               <!--   <div class="card">
                                    <div class="card-body">
                                          <div class="normal-txt">New Customer Visit <span>Count 35</span></div>
                                    </div>
                                 </div> -->




                              </div>

                          </div>
                        </div>

                  </div>
               </div>

      <!-- END wrapper -->

      <!-- jQuery  -->
      <script src="../themes/APA Admin Theme/js/jquery.min.js"></script>
      <script src="../themes/APA Admin Theme/js/raphael-min.js"></script>
      <script src="../themes/APA Admin Theme/js/morris.min.js"></script>
      <script src="../themes/APA Admin Theme/js/moment.min.js"></script>


<style type="text/css">
 #locationmap {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
</style>




     <!--  <script type="text/javascript">
         $(document).ready(function() {
             $('input[name="daterange"]').daterangepicker({
             opens: 'left'
           });
         });
      </script> -->

    <!-- Resources -->
