<div ng-app="postApp" ng-cloak ng-controller="postController"> 
  <div class="content">
    <div class="container-fluid">
      <div class="page-title-box">
        <h4 class="page-title">Buy Accessories</h4>
        <div class="alert alert-success" {% if title == "" %} style="display:none" {% endif %}>
          {{title}}
        </div>
        <div class="alert alert-danger" {% if error == "" %} style="display:none;color:red" {% endif %}>
          {{error}}
        </div>       
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card mt-10">
            <div class="card-header card-header-toggle">
              <h3 class="card-title"><span>Click Here to Add </span> <font id="updateservice"> Buy Accessories</font></h3>
            </div>
            <form method="post" action="buyaccessories" id="resetform">
              <div class="card-body card-body-toggle">
                <div class="row">
                  <div class="col-md-5">                  
                    <div class="form-group row">
                      <div class="col-md-6">
                        <label class="label-text">Part Number</label>
                      </div>  
                      <div class="col-md-6">
                        <select ng-model="part_no" id="partno" name="partno" class="form-control">
                          <option value="">Select</option>
                          {% for key,value in partnos %}
                            <option value="{{value}}">{{value}}</option>
                          {% endfor %}
                        </select>
                        <div style="color:red" class="partno_required"></div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-6">
                        <label class="label-text">Alternative Part Number</label>
                        <input style="display: none" type="text" id="hidden_alternate" ng-model="hidden_alternate" name="hidden_alternate">
                        <input type="hidden" id="hidden_id" name="hidden_id">                       
                        <input type="hidden" id="postid" name="postid" value='{{postid}}'>                       
                      </div>  

                      <div class="col-md-6">
                        <select ng-model="alternative_partno" id="alternative_partno" name="alternative_partno" class="form-control">
                          <option value="">Select</option>
                          {% for key,value in partnos %}
                            <option value="{{value}}">{{value}}</option>
                          {% endfor %}
                        </select>
                         <div style="color:red" class="alternativepartno_required"></div>
                      </div>
                     </div>              
                  </div>
                  <div class="col-md-1">
                    <div ng-click="tranferdata()" id="arrow_move" class="alternative-parts-arrow">
                      <img src="../themes/APA Admin Theme/images/icons/transfer.png">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="alternative-right-section">
                      <div class="alternative-listing-middle">                        
                      </div>
                      <div class="alternative-listing-style">
                          <ul class="alternate_val">                          
                          </ul>
                      </div>
                    </div>
                  </div>
              </div>
              </div>
              </div>
            <div class="row">
              <div class="col-md-12">
                <div class="float-right">
                  <button  class="button-normal btn-save-icon" type="submit">Save</button>
                  <button class="button-normal btn-reset-icon resets" type="reset">Reset</button>
                </div>
              </div>
            </div>                          
          </form>
          </div>
          <div class="col-md-12 pad-0">
          <div class="card">
          <div class="card-body">
          <div class="table-responsive">
          <table class="table-striped table-sort">
            <thead>
              <tr>
                <th>Part Number</th>
                <th>Alternative Part Number</th>            
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td><input type="text" ng-change="alterpartnosearch()" ng-model="alterpartno_search" name="" class="search-table"></td>              
                <td><input type="text" ng-change="alterpartsearch()" ng-model="alterpart_search" name="" class="search-table"></td>  
                <td></td>
              </tr>
            </tfoot>
            <tbody>
            <tr ng-repeat="(key, value) in pagedItems[currentPage]">
              <td>{{'{{value.access_partno}}'}}</td>
              <td>{{'{{value.alternative_partno}}'}}</td>              
              <td><a class="edit-icons" ng-click="editacessories(value.id)" href="#"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
              <td><a class="delete-icons" ng-click="deleteconfirm(value.id)" href="#"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>
            </tr>            
            </tbody>
          </table>
          </div>
          <div class="container-fluid pad-0 bg-pagination">
            <ul class="pagination pull-right pagi_master ">
              <li ng-class="{disabled: currentPage == 0}">
                  <a href ng-click="prevPage()">«</a>
              </li>
              <li ng-repeat="n in pagenos | limitTo:5"
                  ng-class="{active: n == currentPage}"
              ng-click="setPage()">
                  <a href ng-bind="n + 1">1</a>
              </li>
              <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                  <a href ng-click="nextPage()">»</a>
              </li>
            </ul>
          </div>
        </div>
        </div>
      </div>
    </div>
      </div>                    
    </div>                  
  </div>
  </div>
</div>
<div id="myModal" class="modal fade">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-content_in">
        <div class="icon-box">
          <i data-dismiss="modal" class="fa fa-close"></i>
        </div>
        <h4 class="modal-title cclr">Are you sure?</h4>
          <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <p id="confirms">Do you really want to delete these records?</p>
      </div>
      <div class="modal-footer svv">
        <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
        <button  id="delete_accessories" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>