<div class="content" ng-app="postApp" ng-cloak ng-controller="postController">
   <div class="container-fluid">
     <div class="page-title-box">
       <h4 class="page-title">Color Master</h4>
       <div class="float-right">
                             <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
       </div>
     </div>
     <div class="card mt-10">
       <div class="card-header card-header-toggle">
         <h3 class="card-title"><span>Click Here to </span><font id="updateservice">Add Color Master
         </font></h3>
       </div>
       <div class="card-body card-body-toggle">
         <div>
           <div class="wr">

             <form method="post" action="colormaster" id="resetform" enctype="multipart/form-data">
               <!-- Simple ColorPicker  -->
               <div class="row">
                 <div class="col-md-6">Color name<span class="red-text">*</span></div>
                 <div class="col-md-6"><div class="form-group"><input id="colorname" class="form-control" type="text" required name="colorname"></div></div>
               </div>
               <div class="row ">
                 <div class=" col-md-6">Color code<span class="red-text">*</span></div>
                 <div class="col-md-6"><div class="form-group">
                   <input name='field_colorname' type="text" id="field_colorname" class="form-control demoq" data-control="hue" onchange="myName(this.value)">
                 </div></div>
               </div>
               <div class="row ">
                  <div class=" col-md-6">Color Price<span class="red-text">*</span></div>
                  <div class="col-md-6">
                    <input id="field_color_price_values" class="form-control" required="" type="number"  name="field_color_price_values">
                  </div>
               </div>
               <!-- Gradient ColorPicker  -->
               <!-- <div class="orstyle">(or)</div> -->
               <div class="form-group row">
                 <input type="hidden" id="hidden_id" name="hidden_id">
               </div>
               <!-- <div class="form-group row">
                 <input type="hidden" id="hidden_id_image" name="hidden_id_image">
               </div> -->
               <div class="form-group row">
                 <input type="hidden" id="postid" name="postid" value='{{postid}}'>
               </div>
               <!-- <div class="form-group row">
                 <div class=" col-md-6">Color Image</div>
                 <div class=" col-md-6"><div class="file-upload">
                   <div class="file-select">
                     <div class="file-select-button" id="fileName">Choose File</div>
                     <div class="file-select-name" id="noFile">No file chosen...</div>
                 <input type="file" class="upl_cl" name="field_colors">
                 </div>
                 </div>
                 <div class="form-group row img">
                   <img class="uploadimage" style="height: 100px;margin: 0 auto;display: none">
                 </div>
                </div>

               </div> -->

               <br>
               <div style="clear:both"></div>
               <div class="form-group row">
                 <div class="col-md-6"></div>
                 <div class="col-md-6">
                 <input style="margin-right:10px;" type="submit" class="button-normal btn-save-icon" >
                 <button class="button-normal btn-reset-icon" type="reset">Reset</button>
                 </div>
               </div>
             </form>
           </div>
         </div>
       </div>
     </div>



            <div  class="alert alert-success" {% if title == "" %} style="display:none" {% endif %} >
               {{title}}
             </div>

             <div  class="alert alert-danger" {% if error == "" %} style="display:none" {% endif %} >
               {{error}}
             </div>
      <div class="col-md-12 pad-0">
        <div class="card">
          <div class="table-responsive">
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper"><table class="table-striped table-sort dataTable" id="DataTables_Table_0" role="grid">
              <thead>
                <tr role="row">
                  <th  class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="descending" aria-label="Heading: activate to sort column ascending" style="width: 380px;">Name</th>
                  <th  class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="descending" aria-label="Heading: activate to sort column ascending" style="width: 380px;">Color Code</th>
                  <th  class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="descending" aria-label="Heading: activate to sort column ascending" style="width: 380px;">Price</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Content: activate to sort column ascending" style="width: 614px;">image</th>


                  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Edit" style="width: 46px;">Edit</th>
                 <!--  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Delete" style="width: 69px;">Delete</th> -->
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td rowspan="1" colspan="1">
                    <input ng-change="codename()" ng-model="code_name" type="text" name="" class="search-table">
                  </td>
                  <td rowspan="1" colspan="1">
                    <input ng-change="codesearch()" ng-model="code_search" type="text" name="" class="search-table">
                  </td>
                  <td rowspan="1" colspan="1">
                    <input ng-change="pricecolorsearch()" ng-model="pricecolor_search" type="text" name="" class="search-table">
                  </td>
                  <td rowspan="1" colspan="1">

                  </td>

                  <td rowspan="1" colspan="1"></td>
                 <!--  <td rowspan="1" colspan="1"></td> -->
                </tr>
              </tfoot>
              <tbody>
              <tr ng-repeat="(key, value) in pagedItems[currentPage]">
                <td>{{'{{value.tname}}'}}</td>
                <td>{{'{{value.field_colorname}}'}}</td>
                <td>{{'{{value.field_color_price_values}}'}}</td>
                <td><div style="width:50px;margin:0 auto;display:block;background-color: {{'{{value.field_colorname}}'}};height: 50px;"> </td>
                <td><a ng-click='editcolor(value.tid)' class="edit-icons"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a>
                </td>
                <!-- <td><span  id="{{'{{value.tid}}'}}" ng-click="deleteconfirm(value.tid)" class="delete-icons" ><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></span></td> -->
              </tr>
              </tbody>
            </table></div>
          </div>
          <div class="container-fluid pad-0 bg-pagination">
            <ul class="pagination pull-right pagi_master ">
              <li ng-class="{disabled: currentPage == 0}">
                  <a href ng-click="prevPage()">«</a>
              </li>
              <li ng-repeat="n in pagenos | limitTo:5"
                  ng-class="{active: n == currentPage}"
              ng-click="setPage()">
                  <a href ng-bind="n + 1">1</a>
              </li>
              <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                  <a href ng-click="nextPage()">»</a>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-content_in">
          <div class="icon-box">
            <i data-dismiss="modal" class="fa fa-close"></i>
          </div>
          <h4 class="modal-title cclr">Are you sure?</h4>
            <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p  id="confirms" typess="products">Do you really want to delete these records?</p>
        </div>
        <div class="modal-footer svv">
          <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          <button  id="delcolor" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
