 <script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
  <div ng-app="postApp" ng-cloak ng-controller="postController">
    <div class="">
            <div class="content">
               <div class="container-fluid">
                <div class="page-title-box">
                     <h4 class="page-title">Custom Page</h4>
                       <!--  <div class="float-right">

                      <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
                    </div> -->
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card mt-10">
                        <div class="card-header card-header-toggle">
                          <h3 class="card-title"><span>Click Here to Add </span> Custom Page</h3>
                        </div>
                        <div  class="alert alert-success" {% if title == "" %} style="display:none" {% endif %}>
                            {{title}}
                          </div>
                          <div  class="alert alert-danger" {% if error == "" %} style="display:none" {% endif %}>
                            {{error}}
                          </div>
                          <div class="card-body card-body-toggle">
                            <div class="row">
                              <div class="col-md-7">
                                 <form action="custom_pages" id="resetform" method="post" enctype="multipart/form-data">
                                   <div class="form-group row">
                                     <div class="col-md-3">
                                       <label class="label-text">Menu Level<span class="red-text">*</span></label>
                                    </div>
                                    <div class="col-md-9">                                      
                                        <select id="menu_level"  name="menu_level"  class="form-control" onchange="getsubmenu(this.value)">
                                          <option value="">Parent</option>
                                          {% for key,value in items %}
                                            <option value="{{value.menu_content}}">{{value.title}}</option>                                       
                                          {% endfor %}  
                                        </select>
                                    </div>
                                  </div>
                                <div id="lvl_two_div" style="display: none">
                                    <div class="form-group row" >
                                     <div class="col-md-3">
                                       <label class="label-text">Menu Level two</label>
                                    </div>
                                    <div class="col-md-9">                                      
                                        <select id="menu_level_two"  name="menu_level_two"  class="form-control">
                                          <option value="">Select</option>                                        
                                        </select>
                                    </div>
                                 </div>
                                </div>
                                  <div class="form-group row">
                                     <div class="col-md-3">

                                       <label class="label-text">Menu Name<span class="red-text">*</span></label>

                                    </div>
                                    <div class="col-md-9">
                                      <input id="menu_name" maxlength="100" placeholder="Maximum 100 words"  autocomplete="off" required="" pattern=".*\S+.*" name="menu_name" type="text" class="form-control">
                                    </div>
                                      </div>
                                    <div class="form-group row">
                                    <div class="col-md-3">

                                       <label class="label-text">Heading<span class="red-text">*</span></label>

                                    </div>
                                    <div class="col-md-9">
                                      <input id="headings" maxlength="50" placeholder="Maximum 50 words" ng-model="heading"  autocomplete="off" required="" pattern=".*\S+.*" name="title" type="text" class="form-control">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <div class="col-md-3">
                                      <label class="label-text">Content<span class="red-text">*</span></label>
                                    </div>
                                    <div class="col-md-9">
                                      <textarea rows="5" name="editor1" id="summernote"></textarea>
                                    </div>
                                  </div>
                                  

                                    <div class="form-group row">
                                      <input type="hidden" id="hidden_id" name="hidden_id">

                                    </div>
                                    <div class="form-group row">
                                      <input type="hidden" id="postid" name="postid" value='{{postid}}'>
                                    </div>
                                   
                                  <div class="form-group row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-9">
                                      <div>
                                        <button class="button-normal btn-save-icon" type="submit">Save</button>
                                        <button class="button-normal btn-reset-icon resets" type="reset">Reset</button>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="rel_lf mand">* All Inputs Should  Begin Without Spaces</div>
                                  </div>
                              </form>
                              </div>
                            </div>
                          </div>
                      </div>
                      </div>
                      <div class="col-md-12 pad-0">
                      <div class="card">
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table-striped table-sort">
                            <thead>
                            <tr>
                              <th>Custom Name</th>
                              <th>Custom Body</th>
                              <th>Menu Name</th>
                            
                              <th>Edit</th>
                              <th>Delete</th>
                            </tr>
                            </thead>
                            <tfoot>
                              <tr>
                              <td><input ng-change="cusnamesearch()" ng-model="cusname_search" type="text" name="" class="search-table"></td>
                              <td><input ng-change="cusbodysearch()" ng-model="cusbody_search" type="text" name="" class="search-table"></td>
                              <td><input ng-change="menunamesearch()" ng-model="menuname_search" type="text" name="" class="search-table"></td>
                             
                              <td></td>
                              <td></td>
                              </tr>
                            </tfoot>
                            <tbody>
                            <tr ng-repeat="(key, value) in pagedItems[currentPage]">
                              <td>{{'{{value.title}}'}}</td>
                              <td>{{'{{value.body}}'}}</td>
                              <td>{{'{{value.menu_name}}'}}</td>
                             
                              <td><a class="edit-icons" ng-click='editcustom(value.id)'><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
                            <!--   <td><a id="{{'{{value.id}}'}}" ng-click="deleteconfirm_custom(value.id,value.menu_id)" class="delete-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td> -->
                            <td><a id="{{'{{value.id}}'}}" ng-click="deletecustom(value.id)" class="delete-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>
                            
                            </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="container-fluid pad-0 bg-pagination">
                          <ul class="pagination pull-right pagi_master ">
                            <li ng-class="{disabled: currentPage == 0}">
                                <a href ng-click="prevPage()">«</a>
                            </li>
                            <li ng-repeat="n in pagenos | limitTo:5"
                                ng-class="{active: n == currentPage}"
                            ng-click="setPage()">
                                <a href ng-bind="n + 1">1</a>
                            </li>
                            <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                <a href ng-click="nextPage()">»</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                  </div>
                  </div>
                    </div>
                    </div>
               </div>
            </div>

         <!--    <div id="myModal" class="modal fade">
              <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                  <div class="modal-content_in">
                    <div class="icon-box">
                      <i data-dismiss="modal" class="fa fa-close"></i>
                    </div>
                  
                  </div>
                  <div class="modal-body">
                    <p   id="confirms">Do you really want to delete these records?</p>
                    <p   id="menu_id_data"></p>
                  </div>
                  <div class="modal-footer svv">
                    <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button  ng-click="deletecustom()" type="button" class="btn btn-danger">Delete</button>
                  </div>
                </div>
              </div>
          </div> -->
          <div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-content_in">
          <div class="icon-box">
            <i data-dismiss="modal" class="fa fa-close"></i>
          </div>
        
        </div>
        <div class="modal-body">
          <p  id="confirms" typess="services">Do you really want to delete these records?</p>
        </div>
        <div class="modal-footer svv">
          <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          <button  id="menu_id_data" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>