<script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
<div ng-app="postApp" ng-cloak ng-controller="postController">
             <div class="content">
               <div class="container-fluid">

                  <div class="page-title-box">
                    <h4 class="page-title">FAQ</h4>
                     <div  class="alert alert-success" {% if title == "" %} style="display:none" {% endif %}>
                      {{title}}
                    </div>
                    <div  class="alert alert-danger" {% if error == "" %} style="display:none;color:red" {% endif %}>
                      {{error}}
                    </div>
                     <div class="float-right">
                             <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
                     </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card mt-10">
                        <div class="card-header card-header-toggle">
                             <h3 class="card-title"><span>Click Here to </span><font id="updateservice"> Add Faq</font></h3>
                        </div>
                          <div class="card-body card-body-toggle">
                          <div class="row">
                            <div class="col-md-12 col-lg-7">
                            <form action="faq"  id="faqform" method="post" enctype="multipart/form-data">
                            <input type="hidden" id="hidden_id" name="hidden_id">
                              <div class="form-group row">
                                    <div class="col-md-3">
                                       <label class="label-text">Select Topic<span class="red-text">*</span></label>
                                     </div>
                                       <div class="col-md-3">
                                        <div id="faq_topic_select">
                                        </div>
                                       </div>
                                       <button class="button-normal btn-add-icon btn-add-mobile" type="button" data-toggle="modal" data-target="#topic">Add Topic</button>
                                   </div>
                                   <div class="form-group row">
                                    <div class="col-md-3">
                                       <label class="label-text">Question<span class="red-text">*</span></label>
                                     </div>
                                       <div class="col-md-9">
                                       <textarea type="text" id="faq_question" required="" name="faq_question" class="form-control"></textarea>
                                       </div>
                                   </div>
                                   <div class="form-group row">
                                    <div class="col-md-3">
                                       <label class="label-text">Answer<span class="red-text">*</span></label>
                                     </div>
                                       <div class="col-md-9">
                                       <textarea type="text" id="faq_answer" required name="faq_answer" class="form-control"></textarea>
                                       </div>
                                   </div>
                                   <div class="form-group row">
                                      <input type="hidden" id="postid" name="postid" value='{{postid}}'>
                                    </div>

                                   <div class="form-group row">
                                    <div class="col-md-3">
                                       <label class="label-text">Sequence<span class="red-text">*</span></label>
                                     </div>
                                       <div class="col-md-2">
                                       <input type="number" id="faq_sequence" required name="faq_sequence" class="form-control">
                                       </div>
                                   </div>
                                  <div class="form-group row mg_bt">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-9">
                                      <div>
                                        <button class="button-normal btn-save-icon" name="faq" value="save" type="submit">Save</button>
                                        <button id="faq_reset" class="button-normal btn-reset-icon" type="reset"><!-- <img src="assets/images/icons/cancel.png" style="width: 16px;"> -->Reset</button>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="rel_lf mand">* All Inputs Should  Begin Without spaces</div>
                                  </div>
                            </form>
                            </div>
                            </div>
                          </div>
                      </div>

                    </div>

                    <div class="col-md-12 pad-0">
                      <div class="card">
                      <div class="card-body">
                      <div class="table-responsive">
                      <table class="table-striped table-sort">
                        <thead>
                        <tr>
                          <th>Topic</th>
                          <th>Question</th>
                          <th>Answer</th>
                          <th>Sequence</th>
                          <th>Edit</th>
                          <th>Delete</th>
                        </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <td><input ng-change="faqheadingsearch()" ng-model="faqheading_search" type="text" name="" class="search-table"></td>
                            <td><input ng-change="faqquestionsearch()" ng-model="faqquestion_search" type="text" name="" class="search-table"></td>
                            <td><input ng-change="faqanswersearch()" ng-model="faqanswer_search" type="text" name="" class="search-table"></td>
                            <td><input ng-change="faqsequencesearch()" ng-model="faqsequence_search" type="text" name="" class="search-table"></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tfoot>
                        <tbody>
                        <tr ng-repeat="(key, value) in pagedItems[currentPage]">
                          <td>{{'{{value.title}}'}}</td>
                          <td>{{'{{value.body}}'}}</td>
                          <td>{{'{{value.faq_answer}}'}}</td>
                          <td>{{'{{value.faq_sequence}}'}}</td>
                          <td><a  ng-click='editfaq(value.id)' class="edit-icons"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
                          <td><span  id="{{'{{value.id}}'}}" ng-click="deletefaq(value.id)" class="delete-icons" ><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></span></td>
                        </tr>

                        </tbody>
                      </table>
                      </div>
                      <div class="container-fluid pad-0 bg-pagination">
                        <ul class="pagination pull-right pagi_master ">
                          <li ng-class="{disabled: currentPage == 0}">
                              <a href ng-click="prevPage()">«</a>
                          </li>
                          <li ng-repeat="n in pagenos | limitTo:5"
                              ng-class="{active: n == currentPage}"
                          ng-click="setPage()">
                              <a href ng-bind="n + 1">1</a>
                          </li>
                          <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                              <a href ng-click="nextPage()">»</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                    </div>
                  </div>

                    </div>

                    </div>


               </div>

  <div class="modal" id="topic">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Topic</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <div class="form-group row">
              <div class="col-md-12">
                <label class="label-text">Topic</label>
                <input type="text" name="faq_topic" ng-model="faq_topic_model" class="form-control topic_enter">
              </div>

            </div>
            <div class="form-group width-100 display_inlineblock">
            <div class="float-right">
              <button type="button" class="button-div button-save" ng-click="addfaqtopics()">Save</button>
              <button type="button" class="button-div button-cancel" data-dismiss="modal">Close</button>
            </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <table class="table-striped">
                  <tr >
                    <th>Topic</th>
                    <th>Delete</th>
                  </tr>
                  <tr ng-repeat="(key, value) in faqtopicinfo">
                    <td>{{'{{value.faq_category}}'}}</td>
                    <td><a ng-click="deletefaqtopics(value.id)" class="delete-icons" href="">
                          <img src="../themes/APA Admin Theme/images/icons/table-delete.png">
                        </a>
                    </td>
                  </tr>

                </table>
              </div>

            </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">

        </div>

      </div>
    </div>
  </div>
  <div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-content_in">
          <div class="icon-box">
              <i data-dismiss="modal" class="fa fa-close"></i>
          </div>
          <h4 class="modal-title cclr">Are you sure?</h4>
            <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p typess="faq"  id="confirms">Do you really want to delete these records?</p>
        </div>
        <div class="modal-footer svv">
          <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          <button  id="faqid" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
