<div ng-app="postApp" ng-cloak ng-controller="postController">
  <div class="content">
     <div class="container-fluid">
      <div class="page-title-box">
        <h4 class="page-title">Join Us</h4>                    
         <!--  <div class="float-right">

                      <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
                    </div> -->
      </div>
      <div class="row">
        <div class="col-md-12">                                
          <div class="col-md-12 pad-0">
            <div class="card">
              <div class="table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper">
                  <table class="table-striped table-sort dataTable" id="DataTables_Table_0" role="grid">
                    <thead>
                      <tr role="row">
                        <th  class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="descending" aria-label="Heading: activate to sort column ascending" style="width: 380px;">Company Name</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Content: activate to sort column ascending" style="width: 614px;">Contact Name</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Content: activate to sort column ascending" style="width: 614px;">Contact Phone</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Content: activate to sort column ascending" style="width: 614px;">Email Address</th>
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Content: activate to sort column ascending" style="width: 614px;">Product Interest</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <td rowspan="1" colspan="1">
                          <input ng-change="companysearch()" ng-model="company_search" type="text" name="" class="search-table">
                        </td>
                        <td rowspan="1" colspan="1">
                          <input ng-change="contactsearch()" ng-model="contact_search" type="text" name="" class="search-table">
                        </td>
                        <td rowspan="1" colspan="1">
                          <input ng-change="contactphone()" ng-model="phone_search" type="text" name="" class="search-table">
                        </td>
                        <td rowspan="1" colspan="1">
                          <input ng-change="emailaddress()" ng-model="email_search" type="text" name="" class="search-table">
                        </td>                      
                        <td rowspan="1" colspan="1">
                          <input ng-change="interest()" ng-model="interest_search" type="text" name="" class="search-table">
                        </td>                         
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr ng-repeat="(key, value) in pagedItems[currentPage]">
                        <td>{{'{{value.company_name}}'}}</td>
                        <td>{{'{{value.contact_name }}'}}</td>
                        <td>{{'{{value.contact_phone }}'}}</td>
                        <td>{{'{{value.email_address }}'}}</td>                      
                        <td>{{'{{value.interest }}'}}</td>                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="container-fluid pad-0 bg-pagination">
                <ul class="pagination pull-right pagi_master ">
                  <li ng-class="{disabled: currentPage == 0}">
                      <a href ng-click="prevPage()">«</a>
                  </li>
                  <li ng-repeat="n in pagenos | limitTo:5"
                      ng-class="{active: n == currentPage}"
                  ng-click="setPage()">
                      <a href ng-bind="n + 1">1</a>
                  </li>
                  <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                      <a href ng-click="nextPage()">»</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>         
      </div>
    </div>
  </div>
</div>