<div class="content">
   <div class="container-fluid">
      <div class="page-title-box">
        <h4 class="page-title">Newsletter Master</h4>
      </div>
      <div class="row">
          <div class="col-md-12 pad-0">
          <div class="card">
            <div class="card-body">
            <div class="table-responsive">
          <table class="table-striped table-sort">
            <thead>
            <tr>
              <th>Login User Name</th>
              <th>Newsletter Email</th>
              <th>Date</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
            </thead>
            <tfoot>
              <tr>
                <td><input type="text" name="" class="search-table"></td>
                <td><input type="text" name="" class="search-table"></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tfoot>
            <tbody>
            <tr>
              <td>admin</td>
              <td>murugnandham.vu@apaengineering.com</td>
              <td>2019-06-03 05:06:09</td>
              <td><a class="edit-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
              <td><a class="delete-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>
            </tr>
            <tr>
              <td>Murugan</td>
              <td>murugnandham.vu@apaengineering.com</td>
              <td>2019-06-03 05:06:09</td>
              <td><a class="edit-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
              <td><a class="delete-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>
            </tr>
            </tbody>
          </table>
          </div>
          <div class="container-fluid pad-0 bg-pagination">
                <ul class="pagination pull-right">
                  <li class="page-item"> <a class="page-link" href="#">
                      <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </a>
                  </li>

                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">
                      <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>

                  </li>
                </ul>
              </div>
        </div>
      </div>
      </div>
        </div>

        </div>


   </div>
