<div ng-app="postApp" ng-cloak ng-controller="postController">
  <div class="">
            <div class="content">
               <div class="container-fluid">
                <br>
                <div id="alert-success"></div>                 
                  <div class="page-title-box">
                       <h4 class="page-title">Order status</h4>
                        <div class="float-right">
                               <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
                       </div>                       
                  </div>
                   <div class="row">
                          <div class="col-md-12">
                            <div class="card">
                             <!--  <div class="card-header">
                                <h3 class="card-title">Order Status</h3>
                              </div> -->
                              <div class="card-body">
                                <div class="order-status-table">
                                  <table class="table-striped">
                                    <thead>
                                      <tr>
                                        <th rowspan="2">Order Id</th>
                                        <th rowspan="2">Customer</th>
                                        <th colspan="3">Product Details</th>
                                        <th rowspan="2">Purchased On</th>
                                        <th rowspan="2">Status</th>
                                      </tr>
                                       <tr>
                                        <th class="ttl_cust_wdt">Title</th>

                                        <th class="qt_cust_wdt">Qty</th>
                                        <th class="cl_cust_wdt" style="">Clr</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                   
                                      <tr ng-repeat="(key,data) in orderstatus">
                                          <td>{{'{{data.order_id}}'}}</td>
                                          <td>{{'{{data.customername}}'}}</td>
                                          <td colspan="3" style="padding: 0;">
                                            <table class="table-striped">
                                              <tr ng-repeat="(key1,data1) in data.title">
                                                <td class="ttl_cust_wdt">{{'{{data.title[key1]}}'}}</td>
                                                <td class="qt_cust_wdt">{{'{{data.quantity[key1]}}'}}</td>
                                                <td class="cl_cust_wdt" ><span class="bgg_cl" style='background-color:{{'{{data.color_code[key1]}}'}}'></span><span class="ws">{{'{{data.color_name[key1]}}'}} </span></td>
                                                <!--<td style='background-color:{{'{{data.color_code[key1]}}'}}'></td>-->

                                              </tr>
                                            </table>
                                          </td>
                                          <td>{{'{{data.purchased_on}}'}}</td>
                                          <td>
                                             <select class="form-control" name="statuschange" id="statuschange" ng-model="statuschange" ng-change="status_change({{'{{data.order_id}}'}},this)">
                                              <option value="">-Select-</option>
                                               <option value="placed" ng-selected="data.product_status=='placed'" disabled>Order placed</option>
                                               <option value="shipped" ng-selected="data.product_status=='shipped'">Shipped</option>
                                               <option value="in-transit" ng-selected="data.product_status=='in-transit'">In-transit</option>
                                               <option value="delivered" ng-selected="data.product_status=='delivered'">Order Delivered</option>
                                               <!-- <option value="return" ng-selected="data.product_status=='return'">Order Returned</option> -->
                                            </select>
                                          </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                                <div class="container-fluid pad-0 bg-pagination">
                                <ul class="pagination pull-right pagi_master " ng-if="pagenos.length > 1 ">
                                    <li ng-class="{disabled: currentPage == 0}">
                                        <a href ng-click="prevPage()">«</a>
                                    </li>
                                    <li ng-repeat="n in pagenos | limitTo:5"
                                        ng-class="{active: n == currentPage}"
                                    ng-click="setPage()">
                                        <a href ng-bind="n + 1">1</a>
                                    </li>
                                    <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                        <a href ng-click="nextPage()">»</a>
                                    </li>
                                  </ul>
                                </div>

                              </div>
                            </div>
                          </div>
                           
                        </div>
                </div>
             </div>
  </div>
            
</div>