<div ng-app="postApp" ng-cloak ng-controller="postController">
            <div class="content">
               <div class="container-fluid">
                  <div class="page-title-box">
                    <h4 class="page-title">Our Locations</h4>
                    <div class="float-right">
                      
                      <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
                    </div>
                  </div>
                  <div  class="alert alert-success" {% if title == "" %} style="display:none" {% endif %} >
                     {{title}}
                  </div>
                    <div  class="alert alert-danger" {% if error == "" %} style="display:none" {% endif %} >
                     {{error}}
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card mt-10">
                        <!-- <div class="card-header card-header-toggle">
                             <h3 class="card-title"><span>Click Here to </span><font id="updateservice"> Add Locations</font></h3>
                        </div> -->
                          <div class="card-body card-body-toggle">
                            <div class="row">
                              <div class="col-md-12 col-lg-7">
                            <form  action="ourlocations" id="resetform" method="post" enctype="multipart/form-data">
                              <input type="hidden" id="hidden_id" name="hidden_id">
                                   <div class="row">
                                       <div class="col-md-12 form-group">

                                         <label class="label-text">Heading<span class="red-text">*</span></label>
                                         <input type="text" pattern=".*\S+.*" id="heading" required="" name="heading"  class="form-control">
                                      </div>
                                      <div class="col-md-12 form-group">
                                         <label class="label-text">Page Link<span class="red-text">*</span></label>
                                         <input type="text" pattern=".*\S+.*" id="pagelink" required="" name="pagelink"  class="form-control">
                                      </div>
                                      <div class="col-md-6 form-group">
                                         <label class="label-text">Company Name<span class="red-text">*</span></label>
                                         <input type="text" pattern=".*\S+.*" id="company_name" required name="company_name"  class="form-control">
                                     </div>
                                     <div class="col-md-6 form-group">
                                         <label class="label-text">Address 1 <span class="red-text">*</span></label>
                                         <input type="text" pattern=".*\S+.*" id="address1" required name="address1"  class="form-control">
                                     </div>
                                     <div class="col-md-6 form-group">
                                         <label class="label-text">Address 2 <span class="red-text">*</span></label>
                                         <input type="text" pattern=".*\S+.*" id="address2" required name="address2"  class="form-control">
                                     </div>
                                     <div class="col-md-6 form-group">
                                         <label class="label-text">Zip Code <span class="red-text">*</span></label>
                                         <input type="text" pattern=".*\S+.*" id="zip_code" required name="zip_code"  class="form-control">
                                     </div>
                                     <div class="col-md-6 form-group">
                                         <label class="label-text">Country <span class="red-text">*</span></label>
                                         <input type="text" pattern=".*\S+.*" id="country" required name="country"  class="form-control">
                                     </div>
                                     <div class="col-md-6 form-group">
                                         <label class="label-text">State <span class="red-text">*</span></label>
                                         <input type="text" id="state" required name="state" autocomplete="off" class="form-control">
                                     </div>
                                     <div class="col-md-6 form-group">
                                         <label class="label-text">City <span class="red-text">*</span></label>
                                         <input type="text" pattern=".*\S+.*" id="city" required name="city"  class="form-control">
                                     </div>
                                     <div class="col-md-6 form-group">
                                         <label class="label-text">Email<span class="red-text">*</span></label>
                                         <input type="email" pattern=".*\S+.*" required id="email" required name="email"  class="form-control">
                                      </div>
                                     <div class="col-md-6 form-group">
                                         <label class="label-text">Phone<span class="red-text">*</span></label>
                                         <input  type="text" pattern=".*\S+.*" required id="phone" name="phone"  class="form-control">
                                    </div>
                                    <div class="form-group row">
                                      <input type="hidden"  id="postid" name="postid" value='{{postid}}'>
                                    </div>
                                     <div class="col-md-12 mg_bt">
                                        <div>
                                          <button class="button-normal btn-save-icon" value="save" name="ourlocation" type="submit">Save</button>
                                          <button class="button-normal btn-reset-icon" type="reset">Reset</button>
                                        </div>
                                     </div>
                                   </div>
                                   <div class="row">
                                    <div class="rel_lf mand">* All Inputs Should  Begin Without Spaces</div>
                                  </div>
                                </form>
                                </div>
                                </div>
                          </div>
                      </div>
                      </div>
                      <div class="col-md-12 pad-0">
                      <div class="card">
                        <div class="card-body">
                        <div class="table-responsive">
                      <table class="table-striped table-sort">
                        <thead>
                        <tr>
                          <th>Heading</th>
                          <th>Company Name</th>
                          <th>Address</th>
                          <th>Zip Code</th>
                          <th>Country</th>
                          <th>State</th>
                          <th>City</th>
                          <th>Email</th>
                          <th>Phone</th>
                          <th>Edit</th>
                          <th>Delete</th>
                        </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <td><input type="text" name="" class="search-table" ng-change="ourlocationheadingsearch()" ng-model="ourlocationheading_search"></td>
                            <td><input type="text" name="" class="search-table" ng-change="ourlocationnamesearch()" ng-model="ourlocationname_search"></td>
                            <td><input type="text" name="" class="search-table" ng-change="ourlocationaddresssearch()" ng-model="ourlocationaddress_search"></td>
                            <td><input type="text" name="" class="search-table" ng-change="ourlocationzipcodesearch()" ng-model="ourlocationzipcode_search"></td>
                            <td><input type="text" name="" class="search-table" ng-change="ourlocationcountryssearch()" ng-model="ourlocationcountry_search"></td>
                            <td><input type="text" name="" class="search-table" ng-change="ourlocationstatesearch()" ng-model="ourlocationstate_search"></td>
                            <td><input type="text" name="" class="search-table" ng-change="ourlocationcitysearch()" ng-model="ourlocationcity_search"></td>
                            <td><input type="text" name="" class="search-table" ng-change="ourlocationemailsearch()" ng-model="ourlocationemail_search"></td>
                            <td><input type="text" name="" class="search-table" ng-change="ourlocationphonesearch()" ng-model="ourlocationphone_search"></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tfoot>
                        <tbody>
                        <tr ng-repeat="(key, value) in pagedItems[currentPage]">
                           <td>{{'{{value.heading}}'}}</td>
                          <td>{{'{{value.company_name}}'}}</td>
                          <td>{{'{{value.address1}}'}}</td>
                          <td>{{'{{value.zip_code}}'}}</td>
                          <td>{{'{{value.country}}'}}</td>
                          <td>{{'{{value.state}}'}}</td>
                          <td>{{'{{value.city}}'}}</td>
                          <td>{{'{{value.email}}'}}</td>
                          <td>{{'{{value.phone}}'}}</td>
                          <td><a class="edit-icons" ng-click="editourlocation(value.ourlocation_id)"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
                          <td><a class="delete-icons" id="{{'{{value.ourlocation_id}}'}}" ng-click="deleteourlocation(value.ourlocation_id)"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>
                        </tr>

                        </tbody>
                      </table>
                      </div>
                      <div class="container-fluid pad-0 bg-pagination">
                        <ul class="pagination pull-right pagi_master ">
                          <li ng-class="{disabled: currentPage == 0}">
                            <a href ng-click="prevPage()">«</a>
                          </li>
                          <li ng-repeat="n in pagenos | limitTo:5"
                                ng-class="{active: n == currentPage}"
                            ng-click="setPage()">
                              <a href ng-bind="n + 1">1</a>
                          </li>
                          <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                              <a href ng-click="nextPage()">»</a>
                          </li>
                        </ul>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-content_in">
          <div class="icon-box">
              <i data-dismiss="modal" class="fa fa-close"></i>
          </div>
          <h4 class="modal-title cclr">Are you sure?</h4>
            <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p typess="ourlocation"  id="confirms">Do you really want to delete these records?</p>
        </div>
        <div class="modal-footer svv">
          <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          <button  id="ourlocationid" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
