<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<div ng-app="postApp" ng-cloak ng-controller="postController">

<div id="wrapper">
   <!-- Top Bar Start -->

   <!-- Top Bar End --><!-- ========== Left Sidebar Start ========== -->
<div class="">
   <div class="content">
      <div class="container-fluid">
         <div class="page-title-box">
            <h4 class="page-title">Paypal</h4>
           <div class="float-right">
                  <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
           </div>

         </div>

        <div  class="alert alert-success" {% if title == "" %} style="display:none" {% endif %} >
         {{title}}
        </div>
        <div  class="alert alert-danger" {% if error == "" %} style="display:none" {% endif %} >
         {{error}}
        </div>
         <div class="row">
               <div class="col-md-12">
                  <div class="card mt-15">
                    <!--  <div class="card-header card-header-toggle">
                           <h3 class="card-title"><span>Click Here to </span>Paypal Settings</h3>
                        <div class="float-right">
                           <button class="button-normal btn-add-icon" type="button">Add</button>
                        </div>

                     </div> -->
                     <div class="">
                      <form action="paypal" id="paypalform" method="post" enctype="multipart/form-data">
                        <div class="row">
                          <input type="hidden" name="hidden_id" id="hidden_id">
                           <div class="col-md-6">
                                 <div class="mt-10">
                                  <div class="form-group mt-15 row">
                                    <div class="col-md-4">
                                       <label>Display Name </label>
                                    </div>
                                    <div class="col-md-8">
                                       <input type="text" autocomplete="off" id="displayname" name="displayname" class="form-control">
                                    </div>
                                 </div>
                                 <div class="form-group mt-15 row">
                                    <div class="col-md-4">
                                       <label>Email</label>
                                    </div>
                                    <div class="col-md-8">
                                       <input type="text" autocomplete="off" id="email_invoice" name="email_invoice" class="form-control">
                                    </div>
                                 </div>
                                 <div class="form-group row">
                                    <div class="col-md-4">
                                       <label>Transaction Mode </label>
                                    </div>
                                    <div class="col-md-8">
                                       <select name="transactionmode" id="transactionmode" class="form-control">
                                          <option value="live">live mode</option>
                                          <option value="test">test mode</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="form-group row">
                                    <div class="col-md-4">
                                       <label>Merchant ID </label>
                                    </div>
                                    <div class="col-md-8">
                                       <input type="text" autocomplete="off" id="merchantid" name="merchantid" class="form-control">
                                    </div>
                                 </div>
                                 <div class="form-group row">
                                    <div class="col-md-4">
                                       <label>Secret Key</label>
                                    </div>
                                    <div class="col-md-8">
                                       <input type="text" autocomplete="off" id="secretkey" name="secretkey" class="form-control">
                                    </div>
                                 </div>

                           </div>
                           <div class="form-group row">
                             <div class="col-md-4"></div>
                             <div class="col-md-8">
                                <div>
                                   <button class="button-normal btn-add-icon" name="paypal" value="save" type="submit">Update</button>
                                   <!-- <button class="button-normal btn-reset-icon" type="button">Reset</button> -->
                                </div>
                            </div>
                           </div>
                           </div>
                        </div>


                       </form>
                     </div>
                  </div>


                  <!-- <div class="card">
                     <div class="card-body">
                        <div class="table-responsive">
                           <table class="table-striped table-sort">
                              <thead>
                              <tr>
                                <th>Display Name</th>
                                <th>Transaction Mode</th>
                                <th>Merchant ID</th>
                                <th>Secret Key</th>
                                <th>Status</th>
                                <th>Edit</th>
                                <th>Delete</th>
                              </tr>
                              </thead>
                              <tbody>
                               <tr ng-repeat="(key, value) in pagedItems[currentPage]">
                                <td>{{'{{value.display_name}}'}}</td>
                                <td>{{'{{value.transaction_mode}}'}}</td>
                                <td>{{'{{value.merchant_id}}'}}</td>
                                <td>{{'{{value.secret_key}}'}}</td>
                                <td ng-if="value.deletion_status == 'N'">Active</td>
                                <td ng-if="value.deletion_status == 'Y'">Inactive</td>
                                <td><a class="edit-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
                                <td><a class="delete-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>
                              </tr>

                              </tbody>
                            </table>
                        </div>
                         <div class="container-fluid pad-0 bg-pagination">
                        <ul class="pagination pull-right pagi_master ">
                          <li ng-class="{disabled: currentPage == 0}">
                            <a href ng-click="prevPage()">«</a>
                          </li>
                          <li ng-repeat="n in pagenos | limitTo:5"
                                ng-class="{active: n == currentPage}"
                            ng-click="setPage()">
                              <a href ng-bind="n + 1">1</a>
                          </li>
                          <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                              <a href ng-click="nextPage()">»</a>
                          </li>
                        </ul>
                </div>
                     </div>
                  </div> -->

               </div>
         </div>


         </div>
      </div>
   </div>
</div>
</div>
