<script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
<div ng-app="postApp" ng-cloak ng-controller="postController">
            <div class="content">
               <div class="container-fluid">
                  <div class="page-title-box">
                    <h4 class="page-title">Customer Reviews</h4>
                     <div  class="alert alert-success" {% if title == "" %} style="display:none" {% endif %}>
                        {{title}}
                      </div>
                      <div  class="alert alert-danger" {% if error == "" %} style="display:none;color:red" {% endif %}>
                        {{error}}
                      </div>
                    <div class="float-right">
                      
                      <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
                    </div>
                  </div>
                  <div style="width: 270px;margin-left:511px;" class="row success_msg_review"><p class="notify_review"></p></div>

                  <div class="row">
                    <div class="col-md-12">
                     
                      <div class="col-md-12 pad-0">
                      <div class="card">
                      <div class="table-responsive">
                      <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper"><table class="table-striped table-sort dataTable" id="DataTables_Table_0" role="grid">
                        <thead>
                          <tr role="row">
                            <th  class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="descending" aria-label="Heading: activate to sort column ascending" style="width: 380px;">Name</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Content: activate to sort column ascending" style="width: 614px;">Email</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Sequence: activate to sort column ascending" style="width: 149px;">Rating</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Sequence: activate to sort column ascending" style="width: 149px;">Comment</th>
                             <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Sequence: activate to sort column ascending" style="width: 149px;">Product</th>
                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Sequence: activate to sort column ascending" style="width: 149px;">Publish</th>
                            <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Delete" style="width: 69px;">Delete</th>
                          </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <td rowspan="1" colspan="1">
                              <input ng-change="namesearch()" ng-model="name_search" type="text" name="" class="search-table">
                            </td>
                            <td rowspan="1" colspan="1">
                              <input ng-change="emailsearch()" ng-model="email_search" type="text" name="" class="search-table">
                            </td>
                            <td rowspan="1" colspan="1">
                              <input ng-change="ratingsearch()" ng-model="rating_search" type="text" name="" class="search-table"></td>
                            <td rowspan="1" colspan="1">
                              <input ng-change="commentsearch()" ng-model="comment_search" type="text" name="" class="search-table"></td>
                            <td rowspan="1" colspan="1">
                              <input ng-change="partnosearch()" ng-model="partno_search" type="text" name="" class="search-table"></td>  
                            <td rowspan="1" colspan="1"></td>
                            <td rowspan="1" colspan="1"></td>
                          </tr>
                        </tfoot>
                        <tbody>
                       <tr ng-repeat="(key, value) in pagedItems[currentPage]">
                         
                                        <td>{{'{{value.name }}'}}</td>
                                        <td>{{'{{value.email }}'}}</td>
                                        <td>{{'{{value.rating }}'}}</td>
                                        <td>{{'{{value.comment }}'}}</td>
                                        <td>{{'{{value.part_no }}'}}</td>
                                        <td><label id="{{'{{value.id}}'}}"  class="switch switch_publish" ng-class="{checkbox: value.flag == 1}">
                                        <input type="checkbox" ng-checked="value.flag == 1" ng-click="Publish_review(value.id)" value="mouni">
                                        <span class="slider round"></span>
                                        </label></a></td>
                                        <td><span  id="{{'{{value.id}}'}}" ng-click="deleteconfirm(value.id,value.flag)" class="delete-icons" ><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></span></td>
                        </tr>
                        </tbody>
                      </table></div>
                      </div>
                      <div class="container-fluid pad-0 bg-pagination">
                                  <ul class="pagination pull-right pagi_master ">
                                      <li ng-class="{disabled: currentPage == 0}">
                                          <a href ng-click="prevPage()">«</a>
                                      </li>
                                      <li ng-repeat="n in pagenos | limitTo:5"
                                          ng-class="{active: n == currentPage}"
                                      ng-click="setPage()">
                                          <a href ng-bind="n + 1">1</a>
                                      </li>
                                      <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                          <a href ng-click="nextPage()">»</a>
                                      </li>
                                    </ul>
                                  </div>
                    </div>
                  </div>




                    </div>
                    <!-- <div class="col-md-5">
                      <div class="card">
                        <div class="card-header">
                             <h3 class="card-title">Selected Theme</h3>
                        </div>
                          <div class="card-body px-3 py-3">
                              <div class="demo-item">
                                <div class="demo-thumb" style="background-image:url(assets/images/template_1.png)">
                                  <a href="" class="image" target="_blank"></a>
                                </div>
                                <div class="demo-content">
                                  <span class="change-theme"><a href="javascript://">Change Theme</a></span>
                                  <span class="change-theme"><a href="https://www.apagreen.com/apadesign/catapult/theme1/" target="_blank">Demo</a></span>
                                </div>
                              </div>
                           </div>
                        </div>
                      </div> -->
                    </div>

                    </div>


               </div>
            </div>


<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-content_in">
          <div class="icon-box">
            <i data-dismiss="modal" class="fa fa-close"></i>
          </div>
          <h4 class="modal-title cclr">Are you sure?</h4>
            <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p  id="confirms" typess="reviews">Do you really want to delete these records?</p>
        </div>
        <div class="modal-footer svv">
          <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          <button  id="reviewid" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Replace the <textarea id="editor1"> with a CKEditor
    // instance, using default configuration.
    CKEDITOR.replace( 'editor1' );
  </script>
