<link rel="stylesheet" type="text/css" href="../themes/APA Admin Theme/css/daterangepicker.css">
<div ng-app="postApp" ng-cloak ng-controller="postController">
            
<div class="content">
                  <div class="container-fluid">
                         <div class="page-title-box mb-20">
                           <h4 class="page-title">Dashboard</h4>
                          
                           <div class="heading-elements">
                              <span class="daterange-title">Custom Range </span>
                              <div class="btn-group" role="group" aria-label="Basic example">
                                 <button type="button" class="btn btn-outline-primary btn-round day_1" ng-click="dashboard_data(1)">Day</button>
                                 <button type="button" class="btn btn-outline-primary btn-round day_7 active" ng-click="dashboard_data(7)">Week</button>
                                 <button type="button" class="btn btn-outline-primary btn-round day_30" ng-click="dashboard_data(30)">Month</button>
                                 <button type="button" class="btn btn-outline-primary btn-round day_90" ng-click="dashboard_data(90)">Year</button>
                             </div>
                              
                              <div class="orext">(OR)</div>
                             <span class="date-range-txt">Select Date Range</span> <input type="text" name="daterange" class="date-range-input" value="Select Date Range" placeholder="Select Date Range" ng-click="daterange_get()">
                          
                         </div>
                        </div> 
                        <div class="dashboard-status">
                          <div class="row">
                            <div class="col-md-3">
                     <div class="mini-stat clearfix bg-white">
                        <span class="mini-stat-icon bg-purple float-right"><i class="fa fa-usd" aria-hidden="true"></i></span>
                        <div class="mini-stat-info"><a href="javascript://" class="counter text-purple">{{'{{firstdata[0].totalsales}}'}}</a>Total Sales</div>
                     </div>
                            </div>
                            <div class="col-md-3">
                     <div class="mini-stat clearfix bg-white">
                        <span class="mini-stat-icon bg-green float-right"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                        <div class="mini-stat-info"><a href="javascript://" class="counter text-green">{{'{{firstdata[0].neworders}}'}}</a>New Orders</div>
                     </div>
                            </div>
                            <div class="col-md-3">
                     <div class="mini-stat clearfix bg-white">
                        <span class="mini-stat-icon bg-blue float-right"><i class="fa fa-pie-chart" aria-hidden="true"></i></span>
                        <div class="mini-stat-info"><a href="javascript://" class="counter text-blue">{{'{{firstdata[0].potentialorder}}'}}</a>Potential Order </div>
                     </div>
                            </div>
                            <div class="col-md-3">
                     <div class="mini-stat clearfix bg-white">
                        <span class="mini-stat-icon bg-red float-right"><i class="fa fa-ban" aria-hidden="true"></i></span>
                        <div class="mini-stat-info"><a href="javascript://" class="counter text-red">{{'{{firstdata[0].cancelledorder}}'}}</a>Total Cancel Order</div>
                     </div>
                            </div>
                          </div>
                        </div>


                       <div class="row">
                          <div class="col-md-8">
                            <div class="card">
                              <div class="card-header">
                                <h3 class="card-title">Orders</h3>
                              </div>
                              <div class="card-body">
                                <!--  <canvas id="revenue" style="height: 400px; width: 100%;"></canvas> -->
                                <div id="chartdiv"></div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="card">
                              <div class="card-header">
                                <h3 class="card-title">Monthly Sales</h3>
                              </div>
                              <div class="card-body">
                               <!--  <div id="monthly-sales" style="height: 400px;"></div> -->
                                <div id="chartBardiv"></div>                                    
                              </div>
                            </div>
                          </div>
                        </div>

                         <!-- <div class="row">
                          <div class="col-md-12">
                            <div class="card">
                              <div class="card-header">
                                <h3 class="card-title">Order Status</h3>
                              </div>
                              <div class="card-body">
                                <div class="order-status-table">
                                  <table class="table-striped">
                                    <thead>
                                      <tr>
                                        <th>Order Id</th>
                                        <th>Customer</th>
                                        <th>Product</th>
                                        <th>Qty</th>
                                        <th>Purchased On</th>
                                        <th>Status</th>
                                        
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr ng-repeat="data in orderstatus">
                                        <td>{{'{{data.order_id}}'}}</td>
                                        <td>{{'{{data.customername}}'}}</td>
                                        <td>{{'{{data.title}}'}}</td>
                                        <td>{{'{{data.quantity}}'}}</td>
                                        <td>{{'{{data.purchased_on}}'}}</td>
                                        <td><span class="badge badge-pill badge-primary">{{'{{data.statuss}}'}}</span></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>

                              </div>
                            </div>
                          </div>
                           
                        </div>
 -->
                  </div>
               </div>
</div>

<style>
#chartdiv {
  width: 100%;
  height: 500px;
}

#chartBardiv {
  width: 100%;
  height: 500px;
}
</style>



     
<!-- <script src="../themes/APA Admin Theme/js/jquery.min.js"></script>
 --><!-- <script src="../themes/APA Admin Theme/js/bootstrap.bundle.min.js"></script>
<script src="../themes/APA Admin Theme/js/metisMenu.min.js"></script>
<script src="../themes/APA Admin Theme/js/jquery.slimscroll.js"></script>
<script src="../themes/APA Admin Theme/js/waves.min.js"></script> -->
<!-- <script src="../themes/APA Admin Theme/js/raphael-min.js"></script> 
 <script src="../themes/APA Admin Theme/js/morris.min.js"></script>  -->
<!-- <script src="../themes/APA Admin Theme/js/moment.min.js"></script> 
<script src="../themes/APA Admin Theme/js/daterangepicker.min.js"></script> -->
<!-- <script src="../themes/APA Admin Theme/js/Chart.bundle.js"></script>
<script src="../themes/APA Admin Theme/js/chartjs.js"></script> 
<script src="../themes/APA Admin Theme/js/app.js"></script>
<script src="../themes/APA Admin Theme/js/main.js"></script> -->

<!-- <script src="../themes/APA Admin Theme/js/core.js"></script>
<script src="../themes/APA Admin Theme/js/charts.js"></script>
<script src="../themes/APA Admin Theme/js/animated.js"></script> -->

  
<!-- Styles -->
<style>
#chartBardiv {
  width: 100%;
  height: 500px;
}


.amcharts-AmChartsLogo{
  display: none;
}
</style>

          