  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <div ng-app="postApp" ng-cloak ng-controller="postController">

            <div class="content">
               <div class="container-fluid">
                  <div class="page-title-box">
                     <h4 class="page-title">Update SEO</h4>
                     <div class="float-right">
                            <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
                     </div>
                  </div>  

                  <div  class="alert alert-success" {% if title == "" %} style="display:none" {% endif %}>
                    {{title}}
                  </div>
                  <div  class="alert alert-danger" {% if error == "" %} style="display:none" {% endif %}>
                    {{error}}
                  </div>

                  <ul class="tabs">
                      <li class="tab current" data-tab="tab-1">Page Wise Seo</li>
                      <!-- <li class="tab" data-tab="tab-2">Analytics </li> -->
                      
                   </ul>

                   <div id="tab-1" class="tab-content current tab-seo-content">

                    <form action="seosettings" method="post">
                      
                    <div class="seo-section">
                    <div class="seo-div">
                        <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                <label class="seo-select-title">Select Page <span class="red-text">*</span></label>
                                <select id="selected_page" ng-model="select_page" ng-change="page_rel_seo()" class="select-new" name="select_page">
                                 <option value="">Select Page</option>
                                  <option value="Home">Home</option>
                                  <option value="About">About</option>
                                 <!--  <option value="Products">Products</option> -->
                                  <option value="Part Search">Part Search</option>
                                  <option value="Our Services">Our Services</option>
                                  <option value="Our Locations">Our Locations</option>
                                  <option value="Testimonial">Testimonial</option>
                                  <option value="Videos">Videos</option>
                                  <option value="Faq">Faq</option>
                                  <option value="Contact Us">Contact Us</option>

                                </select>
                              </div>
                          </div>
                          <input type="hidden" id="postid" name="postid" value='{{postid}}'>
                          <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                   <h3 class="card-title">Basic seo Details</h3>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="form-group">
                                        <label class="label-text">Meta Title <span class="red-text">*</span></label>
                                        <input type="text" name="meta_title" id="meta_title" class="form-control">
                                        <span class="hint-text">Most search engines use a maximum of 60 chars for the Meta title.</span>
                                      </div>
                                      <div class="form-group">
                                        <label class="label-text">Meta Keyword (Comma Separated)</label>
                                        <input type="text" name="meta_keyword" id="meta_keyword" class="form-control">
                                        <span class="hint-text">Most search engines use a maximum of 160 chars for the Meta Keyword.</span>
                                      </div>
                                      <div class="form-group">
                                        <label class="label-text">Meta Description</label>
                                        <textarea type="text" class="form-control" name="meta_description" id="meta_description"></textarea>
                                        <span class="hint-text">Most search engines use a maximum of 160 chars for the Meta description.</span>
                                      </div>
                                    
                                </div>
                             </div>

                          </div>

                          <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                   <h3 class="card-title">Google Snippet</h3>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="form-group">
                                        <label class="label-text">Heading </label>
                                        <input type="text" name="g_snippet_heading" id="g_snippet_heading" class="form-control">
                                        <span class="hint-text">Most search engines use a maximum of 60 chars for the Heading.</span>
                                      </div>
                                      <div class="form-group">
                                        <label class="label-text">Description </label>
                                        <textarea type="text" class="form-control" name="g_snippet_description" id="g_snippet_description"></textarea>
                                        <span class="hint-text">Most search engines use a maximum of 250 chars for the Description.</span>
                                      </div>
                                    
                                </div>
                             </div>

                          </div>

                           <div class="col-md-12">
                               <div class="card">
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="form-group col-md-6">
                                        <label class="label-text">H1 Tag</label>
                                        <input type="text" name="h1_tag" id="h1_tag" class="form-control">
                                        <span class="hint-text">Most search engines use a maximum of 160 chars for the H1 Tag.</span>
                                      </div>
                                      <div class="form-group col-md-6">
                                        <label class="label-text">H2 Tag</label>
                                        <input type="text" name="h2_tag" id="h2_tag" class="form-control">
                                        <span class="hint-text">Most search engines use a maximum of 160 chars for the H2 Tag.</span>
                                      </div>
                                    </div>
                                  </div>
                               </div>
                           </div>

                          <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                   <h3 class="card-title">Additional SEO Update</h3>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="form-group row">
                                      <div class="col-md-6">
                                        <label class="label-text">Heading </label>
                                        <input type="text" name="heading" id="heading" class="form-control">
                                        <span class="hint-text">Most search engines use a maximum of 60 chars for the Heading.</span>
                                      </div>
                                      <div class="col-md-6">
                                          <label class="label-text">Sub Heading</label>
                                          <input type="text" name="sub_heading" id="sub_heading" class="form-control">
                                          <span class="hint-text">Most search engines use a maximum of 160 chars for the Sub Heading.</span>
                                      </div>
                                    </div>
                                      <div class="form-group row">
                                        <div class="col-md-6">
                                            <label class="label-text">Description</label>
                                            <textarea type="text" name="description" id="description" class="form-control"></textarea>
                                            <span class="hint-text">Most search engines use a maximum of 500 chars for the Description.</span>
                                        </div>
                                      </div>
                                    
                                </div>
                             </div>

                          </div>

                        </div>
                    </div>
                 </div>
                  <div class="row">
                    <div class="col-md-12">
                         <div class="float-right">
                            <!-- <button class="button-normal btn-save-icon" type="button">Save</button> -->
                            <input type="submit" class="button-normal btn-save-icon" value="Save">
                            <button class="button-normal btn-reset-icon" type="reset">Reset</button>
                         </div>
                     </div>
                  </div>

                  </form>
                   </div>
                    
                   <div id="tab-2" class="tab-content tab-seo-content">
                      <div class="row">
                         <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                   <h3 class="card-title">Google Analytics</h3>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="form-group">
                                        <label class="label-text">Google Analytics Code</label>
                                          <textarea type="text" class="form-control"></textarea>
                                      </div>                                    
                                </div>
                             </div>
                          </div>
                          <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                   <h3 class="card-title">Bing Webmaster</h3>
                                </div>
                                <div class="card-body pt-0">
                                    <div class="form-group">
                                        <label class="label-text">Bing Webmaster Code</label>
                                          <textarea type="text" class="form-control"></textarea>
                                      </div>                                    
                                </div>
                             </div>
                          </div>
                      </div>

                   </div>
                    

                   
               </div>
            </div>

            </div>
