   <style>
      /* Outer */
.popup {
  width:100%;
  height:100%;
  display:none;
  position:fixed;
  top:0px;
  left:0px;
  background:rgba(0,0,0,0.75);
  z-index: 999;
}

/* Inner */
.popup-inner {
  max-width:700px;
  width:90%;
  padding:40px;
  position:absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
  box-shadow:0px 2px 6px rgba(0,0,0,1);
  border-radius:3px;
  background:#fff;
}

/* Close Button */
.popup-close {
  width:30px;
  height:30px;
  padding-top:4px;
  display:inline-block;
  position:absolute;
  top:0px;
  right:0px;
  transition:ease 0.25s all;
  -webkit-transform:translate(50%, -50%);
  transform:translate(50%, -50%);
  border-radius:1000px;
  background:rgba(0,0,0,0.8);
  font-family:Arial, Sans-Serif;
  font-size:20px;
  text-align:center;
  line-height:100%;
  color:#fff;
}

.popup-close:hover {
  -webkit-transform:translate(50%, -50%) rotate(180deg);
  transform:translate(50%, -50%) rotate(180deg);
  background:rgba(0,0,0,1);
  text-decoration:none;
}
</style>
  <div ng-app="postApp" ng-cloak ng-controller="postController">
              <div class="content">
                 <div class="container-fluid">
                    <div class="page-title-box">
                       <h4 class="page-title">Make</h4>
                       <div class="float-right">
                             <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
                     </div>
                    </div>

                    <ul class="tabs" id="makemodelyeartab">
                        <li class="tab {% if tab == '' %}  {% endif %} current" data-tab="make-1">Make</li>
                        <li class="tab" data-tab="make-2">Model </li>
                        
                        <li class="tab " data-tab="make-3">Year </li>
                        <li class="tab " data-tab="make-5">Engine</li>
                        <!-- <li class="tab" data-tab="make-4">Application Search</li> -->


                        <li class="tab" data-tab="make-7">Application Mapping</li>
                       <!--  <li class="tab" data-tab="make-8">Configuration </li> -->
                     </ul>
                    <div id="make-1" class="tab-content tab-seo-content {% if tab == '' %}  {% endif %} current">

                      <div class="row">
                        <div class="col-md-12">
                          <div class="card mt-10">
                            <div class="card-header card-header-toggle">
                              <h3 class="card-title"><span>Click Here to Add </span> Make</h3>
                            </div>
                              <div class="card-body card-body-toggle">
                                <div class="row">
                                  <div class="col-md-10 col-lg-7">
                                  <form class="resetform_input">
                                    <div class="form-group row">
                                         <div class="col-md-6 col-lg-4 label-text">Make <span class="red-text">*</span></div>
                                           <div class="col-md-6 col-lg-4">
                                            <input type="text" class="form-control" id="create_make" name="make" required="">
                                            <input type="hidden"  id="make_id" name="make_id">
                                          </div>


                                          </div>

                                           <div class="form-group row">
                                             <div class="col-md-6 col-lg-4 label-text"></div>
                                            <div class="col-md-6 col-lg-4">
                                               <div class="">
                                                  <!-- <button class="button-normal btn-save-icon" type="button">Save</button> -->
                                                  <input type="button" value="Save" class="button-normal btn-save-icon make_submit">
                                                  <button class="button-normal btn-reset-icon" type="reset" value="Reset">Reset</button>

                                               </div>
                                           </div>
                                          </div>
                                      </form>    
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      </div>
                       <div style="width: 270px;margin-left:511px;" class="row success_msg_make"><p class="notify_make"></p></div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="card">
                            <div class="card-body">
                              <div class="table-responsive">
                                <table class="table-striped table-sort">
                                  <thead>
                                    <tr>
                                      <th>Make</th>
                                      <th>Edit</th>
                                      <th>Delete</th>
                                    </tr>
                                  </thead>
                                  <tfoot>
                                      <tr>
                                        <td><input type="text" name="" class="search-table" ng-change="makemakesearch()" ng-model="makemake_search"></td>
                                        <td></td>
                                        <td></td>
                                      </tr>
                                  </tfoot>
                                  <tbody>
                                    <tr ng-repeat="(key, value) in makepagedItems[makecurrentPage]">
                                      <td>{{'{{value.make}}'}} </td>
                                      <td><a class="edit-icons" ng-click="editmake(value.make_id)"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
                                      <td><a class="delete-icons" id="{{'{{value.make_id}}'}}" ng-click="deletemake(value.make_id)"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                                <div class="container-fluid pad-0 bg-pagination">
                                  <ul class="pagination pull-right pagi_master" ng-if="makepagenos.length > 1">
                                    <li ng-class="{disabled: makecurrentPage == 0}">
                                        <a href ng-click="makeprevPage()">«</a>
                                    </li>
                                    <li ng-repeat="n in makepagenos | limitTo:5"
                                        ng-class="{active: n == makecurrentPage}"
                                    ng-click="makesetPage()">
                                        <a href="#" ng-bind="n + 1">1</a>
                                    </li>
                                    <li ng-class="{disabled: makecurrentPage == makepagedItems.length - 1}">
                                        <a href ng-click="makenextPage()">»</a>
                                    </li>
                                  </ul>
                                </div>

                            </div>
                          </div>
                        </div>
                      </div>

                      </div>


                      <div id="make-2" class="tab-content tab-seo-content">
                         <div class="row">
                            <div class="col-md-12">
                                <div class="card mt-10">
                                  <div class="card-header card-header-toggle">
                                      <h3 class="card-title"><span>Click Here to Add </span> Model</h3>
                                  </div>

                                      <div class="card-body card-body-toggle">
                                        <div class="row">
                                          <div class="col-md-10 col-lg-7">
                                          <form class="resetform_input">
                                              <div class="form-group row">
                                                  <div class="col-md-6 col-lg-4 label-text">Make <span class="red-text">*</span></div>
                                                  <div class="col-md-6 col-lg-4">
                                                      <select  id="selected_makename" name=makename class="form-control" ng-model="makename"  required>
                                                          <option value="">Select Make</option>
                                                          <option ng-repeat="option in makedata" value="{{'{{option.make_id}}'}}">{{'{{option.make}}'}}</option>
                                                      </select>

                                                  </div>
                                              </div>

                                        <div class="form-group row">
                                         <div class="col-md-6 col-lg-4 label-text">Model <span class="red-text">*</span></div>
                                           <div class="col-md-6 col-lg-4">
                                            <input type="text" class="form-control" id="create_model" name="model" required="">
                                            <input type="hidden"  id="model_id" name="model_id">
                                          </div>


                                          </div>

                                           <div class="form-group row">
                                            <div class="col-md-6 col-lg-4 label-text"></div>
                                            <div class="col-md-6 col-lg-4">
                                               <div class="">
                                                  <!-- <button class="button-normal btn-save-icon" type="button">Save</button> -->
                                                  <input type="button" value="Save" class="button-normal btn-save-icon model_submit">
                                                  <button class="button-normal btn-reset-icon" type="reset" value="Reset">Reset</button>

                                               </div>
                                           </div>
                                          </div>


                                          </div>
                                          </form>
                                        </div>
                                      </div>
                                </div>
                            </div>
                         </div>
                         <div style="width: 270px;margin-left:511px;" class="row success_msg_model"><p class="notify_model"></p></div>
                         <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table-striped table-sort">
                                      <thead>
                                      <tr >
                                        <th>Make</th>
                                        <th>Model</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                      </tr>
                                      </thead>
                                      <tfoot>
                                        <tr>
                                          <td><input type="text" name="" class="search-table" ng-change="modelmakesearch()" ng-model="modelmake_search"></td>
                                          <td><input type="text" name="" class="search-table" ng-change="modelmodelsearch()" ng-model="modelmodel_search"></td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                      </tfoot>
                                    <tbody>
                                      <tr ng-repeat="(key, value) in modelpagedItems[modelcurrentPage]">
                                        <td>{{'{{value.make}}'}} </td>
                                        <td>{{'{{value.model}}'}} </td>
                                        <td><a class="edit-icons" ng-click="editmodel(value.model_id)"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
                                        <td><a class="delete-icons" id="{{'{{value.model_id}}'}}" ng-click="deletemodel(value.model_id)"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>
                                      </tr>

                                      </tbody>
                                    </table>
                                    </div>
                                      <div class="container-fluid pad-0 bg-pagination">
                                        <ul class="pagination pull-right pagi_master" ng-if="modelpagenos.length > 1">
                                          <li ng-class="{disabled: modelcurrentPage == 0}">
                                              <a href ng-click="modelprevPage()">«</a>
                                          </li>
                                          <li ng-repeat="n in modelpagenos | limitTo:5"
                                              ng-class="{active: n == modelcurrentPage}"
                                          ng-click="modelsetPage()">
                                              <a href="#" ng-bind="n + 1">1</a>
                                          </li>
                                          <li ng-class="{disabled: modelcurrentPage == modelpagedItems.length - 1}">
                                              <a href ng-click="modelnextPage()">»</a>
                                          </li>
                                        </ul>
                                      </div>
                                  </div>
                                  </div>
                            </div>
                         </div>

                      </div>

                      <div id="make-3" class="tab-content tab-seo-content ">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="card mt-10">
                                    <div class="card-header card-header-toggle">
                            <h3 class="card-title"><span>Click Here to Add </span> Year</h3>
                          </div>

                                      <div class="card-body card-body-toggle">
                              <div class="row">

                                


                                <div class="col-md-10 col-lg-7">
                                            <form class="resetform_input">
                                              <div class="form-group row">
                                                  <div class="col-md-6 col-lg-4 label-text">Make <span class="red-text">*</span></div>
                                                  <div class="col-md-6 col-lg-4">
                                                      <select ng-change="make_rel_model();"  id="makename_year_tab" name=makename_yeartab class="form-control" ng-model="makename_yeartab"  required>
                                                          <option value="">Select Make</option>
                                                          <option ng-repeat="option in makedata" value="{{'{{option.make_id}}'}}">{{'{{option.make}}'}}</option>

                                                      </select>

                                                  </div>
                                              </div>


                                              <div class="form-group row">
                                                  <div class="col-md-6 col-lg-4 label-text">Model <span class="red-text">*</span></div>
                                                  <div class="col-md-6 col-lg-4">
                                                      <select  id="modelname_year_tab" name=modelname_yeartab class="form-control" ng-model="modelname_yeartab"  required>
                                                          <option value="">Select Model</option>
                                                          <option ng-repeat="option in modeldata_yeartab" value="{{'{{option.model_id}}'}}">{{'{{option.model}}'}}</option>

                                                      </select>

                                                  </div>
                                              </div>

                                              

                                        <div class="form-group row">
                                         <div class="col-md-6 col-lg-4 label-text edit_show_Fyear">From Year<span class="red-text">*</span></div>
                                           <div class="col-md-6 col-lg-4">
                                            <input type="number" min="1900" class="form-control" id="create_year" name="year" required="">
                                            <input type="hidden"  id="year_id" name="year_id">
                                          </div>


                                          </div>

                                          <div class="form-group row edit_hide_Toyear">
                                         <div class="col-md-6 col-lg-4 label-text">To Year<span class="red-text"></span></div>
                                           <div class="col-md-6 col-lg-4">
                                            <input type="number" min="1900" class="form-control" id="create_Toyear" name="Toyear" required="">
                                           <!--  <input type="hidden"  id="year_id" name="year_id"> -->
                                          </div>


                                          </div>
                                          <p class="error_msg_year" style="color:#e22b3d;"></p>
                                           <div class="form-group row">
                                            <div class="col-md-6 col-lg-4 label-text"></div>
                                            <div class="col-md-6 col-lg-4">
                                               <div class="">
                                                  <!-- <button class="button-normal btn-save-icon" type="button">Save</button> -->
                                                  <input type="button" value="Save" class="button-normal btn-save-icon year_submit">
                                                  <button class="button-normal btn-reset-icon" type="reset" value="Reset">Reset</button>

                                               </div>
                                           </div>
                                          </div>
                                          </form>
                                </div>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                           <div style="width: 270px;margin-left:511px;" class="row success_msg_year"><p class="notify_year"></p></div>
                          <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                  <div class="card-body">
                                  <div class="table-responsive">
                                    <table class="table-striped table-sort">
                                      <thead>
                                      <tr>
                                        <th>Make</th>
                                        <th>Model</th>
                                        <!-- <th>Engine</th> -->
                                        <th>Year</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                      </tr>
                                      </thead>
                                        <tfoot>
                                      <tr>
                                        <td><input type="text" name="yearmake_search" class="search-table" ng-change="yearmakesearch()" ng-model="yearmake_search"></td>
                                        <td><input type="text" name="yearmodel_search" class="search-table" ng-change="yearmodelsearch()" ng-model="yearmodel_search"></td>
                                        <!-- <td><input type="text" name="yearengine_search" class="search-table" ng-change="yearenginesearch()" ng-model="yearmake_search"></td> -->
                                        <td><input type="text" name="" class="search-table" ng-change="yearyearsearch()" ng-model="yearyear_search"></td>
                                        <td></td>
                                        <td></td>
                                      </tr>
                                    </tfoot>
                                    <tbody>
                                      <tr ng-repeat="(key, value) in yearpagedItems[yearcurrentPage]">
                                        <td>{{'{{value.make}}'}}</td>
                                        <td>{{'{{value.model}}'}}</td>
                                        <!-- <td>{{'{{value.engine}}'}}</td> -->
                                        <td>{{'{{value.year}}'}}</td>
                                        <td><a class="edit-icons" ng-click="edityear(value.year_id)"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
                                        <td><a class="delete-icons" id="{{'{{value.year_id}}'}}" ng-click="deleteyear(value.year_id)"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>
                                      </tr>

                                      </tbody>
                                    </table>
                                    </div>
                                  <div class="container-fluid pad-0 bg-pagination">
                                  <ul class="pagination pull-right pagi_master" ng-if="yearpagenos.length > 1">
                                      <li ng-class="{disabled: yearcurrentPage == 0}">
                                          <a href ng-click="yearprevPage()">«</a>
                                      </li>
                                      <li ng-repeat="n in yearpagenos | limitTo:5"
                                          ng-class="{active: n == yearcurrentPage}"
                                      ng-click="yearsetPage()">
                                          <a href ng-bind="n + 1">1</a>
                                      </li>
                                      <li ng-class="{disabled: yearcurrentPage == yearpagedItems.length - 1}">
                                          <a href ng-click="yearnextPage()">»</a>
                                      </li>
                                    </ul>
                                  </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                      </div>


                      <div id="make-5" class="tab-content tab-seo-content">

                      <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                              <div class="card-header card-header-toggle">
                                  <h3 class="card-title"><span>Click Here to Add </span> Engine</h3>
                              </div>
                                <div  class="alert alert-success" {% if title == "" %} style="display:none" {% endif %}>
                                  {{title}}
                                </div>
                                 <div class="card-body card-body-toggle">
                                    <div class="row">

                               <!--  <div class="col-md-12">

                                  <div class="float-right">
                                          <a href="{{ url('<front>') }}sites/default/files/MMEY_template.xls" download="" class="button-normal btn-download-icon">Download Sample</a>
                                        <div class="file-upload">
                                            <div class="file-select">
                                              <div class="file-select-button" id="fileName">Choose File</div>
                                              <div class="file-select-name" id="nofile_mmy">No file chosen...</div>
                                              <input type="file" name="mmey_xls" class="upl_mmy">
                                            </div>
                                        </div>
                                  </div>
                                </div> -->

                               <div class="col-md-12">
                                <div class="float-right">
                                   <a href="{{ url('<front>') }}sites/default/files/MMEY_template.xls" download="" class="button-normal btn-download-icon">Download Sample</a>
                                   <button class="button-normal btn-bulkupload-icon btn" type="button" data-popup-open="popup-1" href="#">Bulk Upload</button>
                                 </div>
                               </div>


                                      
                                      <div class="col-md-10 col-lg-7">
                                      <form class="resetform_input">
                                          <div class="form-group row">
                                                  <div class="col-md-6 col-lg-4 label-text">Make <span class="red-text">*</span></div>
                                                  <div class="col-md-6 col-lg-4">
                                                      <select ng-change="make_rel_model();"  id="makename_engine_tab" name=makename_enginetab class="form-control" ng-model="makename_enginetab"  required>
                                                          <option value="">Select Make</option>
                                                          <option ng-repeat="option in makedata" value="{{'{{option.make_id}}'}}">{{'{{option.make}}'}}</option>

                                                      </select>

                                                  </div>
                                              </div>


                                              <div class="form-group row">
                                                  <div class="col-md-6 col-lg-4 label-text">Model <span class="red-text">*</span></div>
                                                  <div class="col-md-6 col-lg-4">
                                                      <select ng-change="model_rel_year();" id="modelname_engine_tab" name=modelname_enginetab class="form-control" ng-model="modelname_enginetab"  required>
                                                          <option value="">Select Model</option>
                                                          <option ng-repeat="option in modeldata_enginetab" value="{{'{{option.model_id}}'}}">{{'{{option.model}}'}}</option>

                                                      </select>

                                                  </div>
                                              </div>

                                              <div class="form-group row">
                                                  <div class="col-md-6 col-lg-4 label-text edit_show_year_engine">From Year <span class="red-text">*</span></div>
                                                  <div class="col-md-6 col-lg-4">
                                                      <select id="yearname_engine_tab" name=yearname_enginetab class="form-control" ng-model="yearname_enginetab"  required>
                                                          <option value="">Select Year</option>
                                                          <option ng-repeat="option in yeardata_enginetab" value="{{'{{option.year}}'}}">{{'{{option.year}}'}}</option>

                                                      </select>

                                                  </div>
                                              </div>

                                              <div class="form-group row edit_hide_year_engine">
                                                  <div class="col-md-6 col-lg-4 label-text">To Year</div>
                                                  <div class="col-md-6 col-lg-4">
                                                      <select id="Toyearname_engine_tab" name=Toyearname_enginetab class="form-control" ng-model="Toyearname_enginetab"  required>
                                                          <option value="">Select Year</option>
                                                          <option ng-repeat="option in yearTodata_enginetab" value="{{'{{option.year}}'}}">{{'{{option.year}}'}}</option>

                                                      </select>

                                                  </div>
                                              </div>

                                                <div class="form-group row">
                                                    <div class="col-md-6 col-lg-4 label-text">Engine</div>
                                                   <div class="col-md-6 col-lg-8">
                                                    <input type="text" class="form-control" id="create_engine" name="engine" required="">
                                                    <input type="hidden"  id="engine_id" name="engine_id">

                                                   </div>



                                                </div>
                                                 <p class="error_msg_year_engine_tab" style="color:#e22b3d;"></p>
                                           <div class="form-group row">
                                             <div class="col-md-6 col-lg-4 label-text"></div>
                                            <div class="col-md-6 col-lg-8">
                                               <div class="">
                                                  <!-- <button class="button-normal btn-save-icon" type="button">Save</button> -->
                                                  <input type="button" value="Save" class="button-normal btn-save-icon engine_submit">
                                                  <button class="button-normal btn-reset-icon" type="reset" value="Reset">Reset</button>

                                               </div>
                                           </div>
                                          </div>


                                          </form>
                                            </div>


                                      </div>
                                  </div>
                            </div>
                        </div>
                      </div>
                       <div style="width: 270px;margin-left:511px;" class="row success_msg_engine"><p class="notify_engine"></p></div>
                       <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                  <div class="card-body">
                                  <div class="table-responsive">
                                    <table class="table-striped table-sort">
                                      <thead>
                                      <tr>
                                        <th>Make</th>
                                        <th>Model</th>
                                        <th>Year</th>
                                        <th>Engine</th>
                                        <th>Edit</th>
                                        <th>Delete</th>

                                      </tr>
                                      </thead>
                                      <tfoot>
                                        <tr>
                                            <td><input type="text" name="" class="search-table" ng-change="makesearch_engine_tab()" ng-model="makesearch_enginetab"></td>
                                            <td><input type="text" name="" class="search-table" ng-change="modelsearch_engine_tab()" ng-model="modelsearch_modeltab"></td>
                                            <td><input type="text" name="" class="search-table" ng-change="yearsearch_engine_tab()" ng-model="yearsearch_enginetab"></td>
                                            <td><input type="text" name="" class="search-table" ng-change="enginesearch_engine_tab()" ng-model="enginesearch_enginetab"></td>
                                            <td></td>
                                            <td></td>

                                          </tr>
                                        </tfoot>
                                        <tbody>
                                          <tr ng-repeat="(key, value) in enginepagedItems[enginecurrentPage]">
                                            <td>{{'{{value.make}}'}}</td>
                                            <td>{{'{{value.model}}'}}</td>
                                            <td>{{'{{value.year}}'}}</td>
                                            <td>{{'{{value.engine}}'}}</td>
                                            <td><a class="edit-icons" ng-click="editengine(value.engine_id)"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
                                            <td><a class="delete-icons" id="{{'{{value.engine_id}}'}}" ng-click="deleteengine(value.engine_id)"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>
                                          </tr>
                                          </tbody>
                                        </table>
                                    </div>
                                    <!-- <div class="container-fluid pad-0 bg-pagination">
                                      <ul class="pagination pull-right">
                                        <li class="page-item"> <a class="page-link" href="#">
                                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                                          </a>
                                        </li>

                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                          <a class="page-link" href="#">
                                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                                          </a>

                                        </li>
                                      </ul>
                                    </div> -->
                                    <div class="container-fluid pad-0 bg-pagination">
                                      <ul class="pagination pull-right pagi_master" ng-if="enginepagenos.length > 1">
                                        <li ng-class="{disabled: enginecurrentPage == 0}">
                                            <a href ng-click="engineprevPage()">«</a>
                                        </li>
                                        <li ng-repeat="n in enginepagenos | limitTo:5"
                                            ng-class="{active: n == enginecurrentPage}"
                                        ng-click="enginesetPage()">
                                            <a href ng-bind="n + 1">1</a>
                                        </li>
                                        <li ng-class="{disabled: enginecurrentPage == enginepagedItems.length - 1}">
                                            <a href ng-click="enginenextPage()">»</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    

                      <div id="make-7" class="tab-content tab-seo-content">

                        <div class="row">
                        <div class="col-md-12">
                            <div class="card mt-10">
                                <div class="card-header card-header-toggle">
                                    <h3 class="card-title"><span>Click Here to </span>Map Application</h3>
                                </div>

                                <div class="card-body card-body-toggle">
                                  <div class="row">

                              <div class="col-md-12">
                                <div class="float-right">
                                   <a href="{{ url('<front>') }}sites/default/files/template/Apl_map_template.xls" download="" class="button-normal btn-download-icon">Download Sample</a>
                                   <button class="button-normal btn-bulkupload-icon btn" type="button" data-popup-open="popup-2" href="#">Bulk Upload</button>
                                 </div>
                              </div>




                                      
                                      <div class="col-md-10 col-lg-7">
                                          <form  class="resetform_input">
                                              <div class="form-group row">
                                                  <div class="col-md-6 col-lg-4 label-text">Make <span class="red-text">*</span></div>
                                                  <div class="col-md-6 col-lg-4">
                                                      <select  ng-change="make_rel_model();" id="selected_mapmake" name=mapmake_data class="form-control" ng-model="mapmake_data"  required>
                                                          <option value="">Select Make</option>
                                                          <option ng-repeat="option in makedata" value="{{'{{option.make_id}}'}}">{{'{{option.make}}'}}</option>

                                                      </select>

                                                  </div>
                                              </div>

                                              <div class="form-group row">
                                                  <div class="col-md-6 col-lg-4 label-text">Model <span class="red-text">*</span></div>
                                                  <div class="col-md-6 col-lg-4">
                                                      <select ng-change="model_rel_year();" id="selected_mapmodel" name="mapmodel_data" class="form-control" ng-model="mapmodel_data" required>
                                                          <option value="">Select Model</option>
                                                          <option ng-repeat="option in modeldata_apl_map_tab" value="{{'{{option.model_id}}'}}">{{'{{option.model}}'}}</option>

                                                      </select>
                                                  </div>
                                              </div>
                                              
                                              <div class="form-group row edit_hide_year_map">
                                                  <div class="col-md-6 col-lg-4 label-text ">From Year <span class="red-text">*</span></div>
                                                  <div class="col-md-6 col-lg-4">
                                                      <select ng-change="Toyear_change();" id="selected_mapFyear" name="mapyear_data" class="form-control" ng-model="mapyear_data" required>
                                                          <option value="">Select From Year</option>
                                                          <option ng-repeat="option in yeardata_aplmap" value="{{'{{option.year}}'}}">{{'{{option.year}}'}}</option>

                                                      </select>
                                                  </div>
                                              </div>

                                              <div class="form-group row ">
                                                  <div class="col-md-6 col-lg-4 label-text edit_show_year_map">To Year <span class="red-text">*</span></div>
                                                  <div class="col-md-6 col-lg-4">
                                                      <select ng-change="get_engine_rel_year();" id="selected_mapTyear" name="mapyearTo_data" class="form-control" ng-model="mapyearTo_data" required>
                                                           <option value="">Select To Year</option>
                                                          <option ng-repeat="option in yearTdata_aplmap" value="{{'{{option.year}}'}}">{{'{{option.year}}'}}</option>

                                                      </select>
                                                  </div>
                                              </div>

                                              <div class="form-group row">
                                                  <div class="col-md-6 col-lg-4 label-text">Engine </div>
                                                  <div class="col-md-6 col-lg-4">
                                                      <select ng-change="get_applicationid();" id="enginename_aplmap_tab" name=enginename_aplmaptab class="form-control" ng-model="enginename_aplmaptab"  required>
                                                          <option value="">Select Engine</option>
                                                          <option ng-repeat="option in enginedata_aplmaptab" value="{{'{{option.engine}}'}}">{{'{{option.engine}}'}}</option>

                                                      </select>

                                                  </div>
                                              </div>

                                             

                                              <div class="form-group row">
                                                  <div class="col-md-6 col-lg-4 label-text">Part Number<span class="red-text">*</span></div>
                                                  <div class="col-md-6 col-lg-4">
                                                      <select  id="selected_productid" name="product_data" class="form-control" ng-model="product_data" required>
                                                          <option value="">Select PartNo</option>
                                                          <option ng-repeat="option in productdata" value="{{'{{option}}'}}">{{'{{option}}'}}</option>

                                                      </select>
                                                  </div>
                                              </div>

                                              <p class="no_comb" style="color:#e22b3d;"></p>
                                               <input type="hidden" id="edit_or_insert_map">

                                              <div class="form-group row">
                                                <div class="col-md-6 col-lg-4 label-text"></div>
                                                  <div class="col-md-6 col-lg-4">
                                                      <div class="">
                                                          <!-- <button class="button-normal btn-save-icon" type="button">Save</button> -->
                                                          <input type="submit" ng-click="Applicationmap_save();" class="button-normal btn-save-icon">
                                                          <button class="button-normal btn-reset-icon" type="reset" value="Reset">Reset</button>

                                                      </div>
                                                  </div>
                                              </div>
                                          </form>
                                      </div>
                                  </div>
                                </div>

                            </div>
                        </div>
                        </div>
                        <div style="width: 270px;margin-left:511px;" class="row success_msg_map"><p class="notify_map"></p></div>

                         <div class="row">
                          <div class="col-md-12">
                              <div class="card">
                                <div class="card-body">
                                <div class="table-responsive">
                                  <table class="table-striped table-sort">
                                    <thead>
                                    <tr>

                                      <th>Make</th>
                                      <th>Model</th>
                                      <th>Year</th>
                                      <th>Engine</th>
                                      <th>Part Number</th>
                                      <!-- <th>Notes</th> -->
                                      <th>Edit</th>
                                      <th>Delete</th>

                                    </tr>
                                    </thead>
                                    <tfoot>
                                      <tr>
                                        <td><input type="text" name="" class="search-table" ng-change="aplmapmakesearch()" ng-model="aplmapmake_search"></td>
                                        <td><input type="text" name="" class="search-table" ng-change="aplmapmodelsearch()" ng-model="aplmapmodel_search"></td>
                                        <td><input type="text" name="" class="search-table" ng-change="aplmapyearsearch()" ng-model="aplmapyear_search"></td>
                                        <td><input type="text" name="" class="search-table" ng-change="aplmapenginesearch()" ng-model="aplmapengine_search"></td>
                                        <td><input type="text" name="" class="search-table" ng-change="aplmappartsearch()" ng-model="aplmap_part_search"></td>
                                       <!--  <td><input type="text" name="" class="search-table" ng-change="partnosearch()" ng-model="partno_search"></td>
                                        <td><input type="text" name="" class="search-table" ng-change="notessearch()" ng-model="notes_search"></td> -->

                                         <td></td>
                                        <td></td>
                                      </tr>
                                    </tfoot>
                                    <tbody>
                                      <tr ng-repeat="(key, value) in aplmappagedItems[aplmapcurrentPage]">

                                        <td>{{'{{value.make}}'}}</td>
                                        <td>{{'{{value.model}}'}}</td>
                                        <td>{{'{{value.year}}'}}</td>
                                        <td>{{'{{value.engine}}'}}</td>
                                        <td>{{'{{value.part_no}}'}}</td>
                                        <td><a class="edit-icons" ng-click="editaplmap(value.map_id)"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
                                        <td><a class="delete-icons" id="{{'{{value.map_id}}'}}" ng-click="deleteaplmap(value.map_id)"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>

                                      </tr>

                                    </tbody>
                                  </table>
                                  </div>
                                  <div class="container-fluid pad-0 bg-pagination">
                                  <ul class="pagination pull-right pagi_master" ng-if="aplmappagenos.length > 1">
                                      <li ng-class="{disabled: aplmapcurrentPage == 0}">
                                          <a href ng-click="aplmapprevPage()">«</a>
                                      </li>
                                      <li ng-repeat="n in aplmappagenos | limitTo:5"
                                          ng-class="{active: n == aplmapcurrentPage}"
                                      ng-click="aplmapsetPage()">
                                          <a href ng-bind="n + 1">1</a>
                                      </li>
                                      <li ng-class="{disabled: aplmapcurrentPage == aplmappagedItems.length - 1}">
                                          <a href ng-click="aplmapnextPage()">»</a>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>


                      </div>

                      <div id="make-8" class="tab-content tab-seo-content">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="card mt-10">
                                        <div class="card-body">
                                          <div class="row">
                                            <div class="col-md-10 col-lg-7">
                                            <form>
                                              <div class="form-group row">
                                                <div class="col-md-4">
                                                    <div class="label-text">Make</div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="switch-button">
                                                      <input type="checkbox" class="switch-checkbox">
                                                      <div class="switch-yesno">
                                                        <span>YES</span>
                                                      </div>
                                                      <div class="layer"></div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="form-group row">
                                                <div class="col-md-4">
                                                    <div class="label-text">Model</div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="switch-button">
                                                      <input type="checkbox" class="switch-checkbox">
                                                      <div class="switch-yesno">
                                                        <span>YES</span>
                                                      </div>
                                                      <div class="layer"></div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="form-group row">
                                                <div class="col-md-4">
                                                    <div class="label-text">Year</div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="switch-button">
                                                      <input type="checkbox" class="switch-checkbox" checked="checked">
                                                      <div class="switch-yesno">
                                                        <span>YES</span>
                                                      </div>
                                                      <div class="layer"></div>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="form-group row">
                                                <div class="col-md-4">
                                                    <div class="label-text">Engine</div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="switch-button">
                                                      <input type="checkbox" class="switch-checkbox">
                                                      <div class="switch-yesno">
                                                        <span>YES</span>
                                                      </div>
                                                      <div class="layer"></div>
                                                  </div>
                                                </div>
                                              </div>

                                              <div class="row">
                                                <div class="col-md-12">
                                                    <div class="orstyle">
                                                        (or)
                                                    </div>
                                                    <div class="gengral-title">
                                                        <h5>Select Search Sequence</h5>
                                                    </div>
                                                    <div class="">

                                                      <div class="radio-check">
                                                        <input id="radio-2" name="radio" type="radio">
                                                        <label  for="radio-2" class="radio-label">Year | Make | Model | Engine</label>
                                                      </div>
                                                      <div class="radio-check">
                                                        <input id="radio-3" name="radio" type="radio">
                                                        <label  for="radio-3" class="radio-label">Make | Model | Year | Engine</label>
                                                      </div>

                                                        <!-- <div class="radio-button display_inlineblock width-100">
                                                           <input type="radio" class="radio-input" id="test1">
                                                           <label for="test1" class="label-text">Year | Make | Model | Engine</label>
                                                        </div>
                                                        <div class="radio-button form-check-new display_inlineblock width-100">
                                                           <input type="radio" class="radio-input" id="test2">
                                                           <label for="test2" class="label-text">Make | Model | Year | Engine</label>
                                                        </div> -->
                                                    </div>
                                                </div>
                                              </div>

                                                <div class="row">
                                                <div class="col-md-12 col-lg-8">
                                                   <div class="">
                                                      <button class="button-normal btn-save-icon" type="button">Save</button>
                                                      <button class="button-normal btn-reset-icon" type="button">Reset</button>
                                                   </div>
                                               </div>
                                              </div>
                                          </form>
                                        </div>
                                      </div>
                                     </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
  <div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-content_in">
          <div class="icon-box">
            <i data-dismiss="modal" class="fa fa-close"></i>
          </div>
          <h4 class="modal-title cclr">Are you sure?</h4>
            <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p typess="make"  id="confirms">Do you really want to delete these records?</p>
        </div>
        <div class="modal-footer svv">
          <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          <button  id="makeconfirmid" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div id="myModal1" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-content_in">
          <div class="icon-box">
            <i data-dismiss="modal" class="fa fa-close"></i>
          </div>
          <h4 class="modal-title cclr">Are you sure?</h4>
            <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p typess="model"  id="confirms1">Do you really want to delete these records?</p>
        </div>
        <div class="modal-footer svv">
          <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          <button  id="modelconfirmid" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div id="myModal2" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-content_in">
          <div class="icon-box">
            <i data-dismiss="modal" class="fa fa-close"></i>
          </div>
          <h4 class="modal-title cclr">Are you sure?</h4>
            <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p typess="year"  id="confirms2">Do you really want to delete these records?</p>
        </div>
        <div class="modal-footer svv">
          <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          <button  id="yearconfirmid" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div id="myModal3" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-content_in">
          <div class="icon-box">
            <i data-dismiss="modal" class="fa fa-close"></i>
          </div>
          <h4 class="modal-title cclr">Are you sure?</h4>
            <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p typess="engine"  id="confirms3">Do you really want to delete these records?</p>
        </div>
        <div class="modal-footer svv">
          <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          <button  id="engineconfirmid" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <div id="myModal4" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-content_in">
          <div class="icon-box">
            <i data-dismiss="modal" class="fa fa-close"></i>
          </div>
          <h4 class="modal-title cclr">Are you sure?</h4>
            <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p typess="apl"  id="confirms4">Do you really want to delete these records?</p>
        </div>
        <div class="modal-footer svv">
          <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          <button  id="aplconfirmid" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
  <div id="myModal5" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-content_in">
          <div class="icon-box">
            <i data-dismiss="modal" class="fa fa-close"></i>
          </div>
          <h4 class="modal-title cclr">Are you sure?</h4>
            <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p typess="aplmap"  id="confirms5">Do you really want to delete these records?</p>
        </div>
        <div class="modal-footer svv">
          <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          <button  id="aplmapconfirmid" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
 <div class="popup" data-popup="popup-1">
    <div class="popup-inner">
    <div style="" class="row success_msg_engine_xl"><p class="notify_engine_xl"></p></div>
      <!-- <div id="info" style="display:none">
          <div  class="alert alert-info"  id="info_msg"></div>
      </div> -->
      <div id="info_url" class="alert alert-warning" style="display:none"></div>
      <div class="file-upload">
         <div class="file-select">
            <div class="file-select-button" id="fileName">Choose File</div>
            <div class="file-select-name" id="nofile_mmy">No file chosen...</div>
            <input type="file" name="mmey_xls" class="upl_mmy">
          </div>
        <div class="file-upload_2">
          <div class="">
            <button type="button" id="upload_data_xl">Upload</button>
          </div>
        </div>
      </div>



<!-- 
      <div class="file-upload">
          <div class="file-select">
            <div class="file-select-button" id="fileName">Choose File</div>
            <div class="file-select-name" id="nofile_mmy">No file chosen...</div>
            <input type="file" name="mmey_xls" class="upl_mmy">
          </div>
      </div> -->
      <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
  </div>

  <div class="popup" data-popup="popup-2">
    <div class="popup-inner">
    <div style="" class="row success_msg_aplmap_xl"><p class="notify_aplmap_xl"></p></div>
      
      <div id="info_url_aplmap" class="alert alert-warning" style="display:none"></div>
      <div class="file-upload">
         <div class="file-select file_aplmap_select">
            <div class="file-select-button" id="fileName_aplmap">Choose File</div>
            <div class="file-select-name" id="nofile_aplmap">No file chosen...</div>
            <input type="file" name="aplmap_xls" class="upl_aplmap">
          </div>
        <div class="file-upload_2">
          <div class="">
            <button type="button" id="upload_aplmap_xl">Upload</button>
<!--             <a href="{{ url('<front>') }}sites/default/files/MMEY_template.xls" download="" class="button-normal btn-download-icon">Download Sample</a>
 -->            <button type="button" class="error_xls hidden" style="background:#ea6d6d !important"><a style="color:#fff !important" href="{{ url('<front>') }}sites/default/files/mmyeupload/Errors.xls">See Error File</a></button>
          </div>
        </div>
      </div>

      <a class="popup-close" data-popup-close="popup-2" href="#">x</a>
    </div>
  </div>