  <div ng-app="postApp" ng-cloak ng-controller="postController">
    <div class="">
            <div class="content">
               <div class="container-fluid">
                <div class="page-title-box">
                     <h4 class="page-title">Brand</h4>
                     <div class="float-right">
                             <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
                     </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card mt-10">
                        <div class="card-header card-header-toggle">
                          <h3 class="card-title"><span>Click Here to Add </span> Brand</h3>
                        </div>
                        <div  class="alert alert-success" {% if title == "" %} style="display:none" {% endif %}>
                            {{title}}
                          </div>
                          <div  class="alert alert-danger" {% if error == "" %} style="display:none" {% endif %}>
                            {{error}}
                          </div>
                          <div class="card-body card-body-toggle">
                            <div class="row">
                              <div class="col-md-7">
                                <form method="post" id="resetform" action="" enctype="multipart/form-data">
                                  <div class="form-group row">
                                    <div class="col-md-6 col-lg-4">
                                      <label class="label-text">Brand Name<span class="red-text">*</span> </label>
                                    </div>
                                     <div class="col-md-6 col-lg-8">
                                      <input type="text" pattern=".*\S+.*" required="" maxlength="50" placeholder="Maximum 50 words" name="brandnames" id="brandnamesss" class="form-control">
                                     </div>
                                  </div>
                                  <div class="form-group row">
                                    <div class="col-md-6 col-lg-4">
                                      <label class="label-text">Brand URL<span class="red-text">*</span> </label>
                                    </div>
                                    <div class="col-md-6 col-lg-8">
                                      <input type="url" pattern=".*\S+.*" required name="url" id="urls" class="form-control">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <div class="col-md-6 col-lg-4">
                                      <label class="label-text">Upload Brand Logo<span class="red-text">*</span></label>
                                    </div>
                                    <div class="col-md-6 col-lg-8">
                                      <div class="file-upload">
                                        <div class="file-select">
                                          <div class="file-select-button" id="fileName">Choose File</div>
                                          <div class="file-select-name" id="noFile">No file chosen...</div>
                                            <input name="field_brand_image" type="file" class="upl_cl">
                                      </div>
                                      </div>
                                      <div class="form-group row img">
                                          <img class="uploadimage" style="display:none;width: 100px;">
                                      </div>
                                    </div>

                                  </div>

                                  <div class="form-group row">
                                      <input type="hidden" id="hidden_id" name="hidden_id">
                                  </div>
                                  <div class="form-group row">
                                      <input type="hidden" id="postid" name="postid" value='{{postid}}'>
                                  </div>
                                  <div class="row form-group">
                                    <div class="col-md-6 col-lg-4 label-text">Alt text <span class="red-text">*</span></div>
                                    <div class="col-md-6 col-lg-8">
                                      <input type="text" name="altext" required id="altid" class="form-control">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <div class="col-md-6 col-lg-4"></div>
                                    <div class="col-md-6 col-lg-8">
                                      <div>
                                        <input type="submit" class="button-normal btn-save-icon" type="submit">
                                        <button class="button-normal btn-reset-icon" id="resets" type="reset">Reset</button>
                                      </div>
                                   </div>
                                  </div>
                                  <div class="row">
                                    <div class="rel_lf mand">* All Inputs Should  Begin Without Spaces</div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                      </div>
                      </div>
                      <div class="col-md-12 pad-0">
                      <div class="card">
                      <div class="card-body">
                      <div class="table-responsive">
                      <table class="table-striped table-sort">
                        <thead>
                        <tr>
                          <th>Brand Name</th>
                          <th>Brand Url</th>

                          <th>Brand Logo</th>
                          <th>Alt Text</th>
                          <th>Edit</th>
                          <th>Delete</th>
                        </tr>
                        </thead>
                        <tfoot>
                          <tr>
                            <td><input ng-change="brandnamesearch()" ng-model="brand_search" type="text" name="" class="search-table"></td>
                            <td><input ng-change="brandurlsearch()" ng-model="brandurl_search" type="text" name="" class="search-table"></td>
                            <td></td>
                            <td><input type="text"  ng-change="brandaltsearch()" ng-model="brandalt_search" class="search-table"></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tfoot>
                        <tbody>
                        <tr ng-repeat="(key, value) in pagedItems[currentPage]">
                          <td>{{'{{value.tname}}'}}</td>
                          <td>{{'{{value.allias}}'}}</td>


                          <td class="table_align_center"><img src="{{'{{value.image_url}}'}}" style="width: 50px;"></td>
                          <td>{{'{{value.altvalue}}'}}</td>

                          <td><a class="edit-icons" ng-click='editbrand(value.tid)'><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
                          <td><a id="{{'{{value.tid}}'}}" ng-click="deleteconfirm(value.tid)" class="delete-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>
                        </tr>
                        <!-- <tr>
                          <td>AISIN </td>
                          <td>https://www.AISIN.com/</td>
                          <td><input  type="checkbox" checked="checked"></td>
                          <td class="table_align_center"><img src="../themes/APA Admin Theme/images/brand/2.jpg" style="width: 50px;"></td>
                          <td>AISIN</td>
                          <td><a class="edit-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
                          <td><a class="delete-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>
                        </tr>
                        <tr>
                          <td>ALGO </td>
                          <td>https://www.ALGO.com/</td>
                          <td><input  type="checkbox" checked="checked"></td>
                          <td class="table_align_center"><img src="../themes/APA Admin Theme/images/brand/3.jpg" style="width: 50px;"></td>
                          <td>ALGO</td>
                          <td><a class="edit-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
                          <td><a class="delete-icons" href="#"><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></a></td>
                        </tr> -->
                        </tbody>
                      </table>
                      </div>
                      <div class="container-fluid pad-0 bg-pagination">
                        <ul class="pagination pull-right pagi_master ">
                          <li ng-class="{disabled: currentPage == 0}">
                              <a href ng-click="prevPage()">«</a>
                          </li>
                          <li ng-repeat="n in pagenos | limitTo:5"
                              ng-class="{active: n == currentPage}"
                          ng-click="setPage()">
                              <a href ng-bind="n + 1">1</a>
                          </li>
                          <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                              <a href ng-click="nextPage()">»</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  </div>
                    </div>
                    </div>
               </div>
            </div>

            <div id="myModal" class="modal fade">
              <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                  <div class="modal-content_in">
                    <div class="icon-box">
                      <i data-dismiss="modal" class="fa fa-close"></i>
                    </div>
                    <h4 class="modal-title cclr">Are you sure?</h4>
                      <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  </div>
                  <div class="modal-body">
                    <p   id="confirms">Do you really want to delete these records?</p>
                  </div>
                  <div class="modal-footer svv">
                    <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                    <button  ng-click="deletebrand()" type="button" class="btn btn-danger">Delete</button>
                  </div>
                </div>
              </div>
          </div>
</div>
