<script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
  <div ng-app="postApp" ng-cloak ng-controller="postController">
    <div class="content">
      <div class="container-fluid">
        <div class="page-title-box">
          <h4 class="page-title">Videos</h4>
           <div class="float-right">
                <a href="javascript:history.back()" class="button-normal btn-back-icon">Back</a>
              </div>
        </div>
        <div class="alert alert-success" {% if title == "" %} style="display:none" {% endif %}>
          {{title}}
        </div>
        <div class="alert alert-danger" {% if error == "" %} style="display:none;color:red" {% endif %}>
          {{error}}
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card mt-10">
              <div class="card-header card-header-toggle">
                <h3 class="card-title"><span>Click Here to </span><font id="updateservice"> Add Videos
                </font></h3>
              </div>
              <div class="card-body card-body-toggle">
                <div class="row">
                  <div class="col-md-7">
                    <form action="videosetting" id="resetform" method="post" enctype="multipart/form-data">
                      <div class="form-group row">
                        <div class="col-md-3">
                          <label class="label-text">Heading<span class="red-text">*</span></label>
                        </div>
                          <div class="col-md-5">
                            <div id="heading_id">
                            </div>
                          </div>
                           <button class="button-normal btn-add-icon btn-add-mobile" type="button" data-toggle="modal" data-target="#topic">Add Topic </button>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-3">
                          <label class="label-text">Upload Video<span class="red-text">*</span></label>
                        </div>
                        <div class="col-md-5">
                          <div class="file-upload">
                            <div class="file-select">
                              <div class="file-select-button" id="fileName">Choose File</div>
                              <div class="file-select-name" id="noFilee">No file chosen...</div>
                          <input name="video_file"  type="file" class="upl_cl_vdo">
                          </div>
                          </div>
                          <div class="form-group row iframes">
                              <iframe class="iframeid" style="display:none" width="200" height="100" src="" frameborder="0" allow="accelerometer;  encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                          </div>
                        </div>

                      </div>

                      <div class="form-group row">
                        <div class="col-md-3">
                          <label class="label-text">Upload Image<span class="red-text">*</span></label>
                        </div>
                        <div class="col-md-5">
                          <div class="file-upload">
                            <div class="file-select">
                              <div class="file-select-button" id="fileName">Choose File</div>
                              <div class="file-select-name" id="noFile">No file chosen...</div>
                          <input name="video_image" type="file" class="upl_cl">
                          </div>
                          </div>
                          <div class="form-group row img">
                            <img class="uploadimage" style="width:170px;height:auto;object-fit: contain;">
                          </div>
                        </div>

                      </div>

                      <div class="row form-group">
                        <div class="col-md-3 label-text">Alt text <span class="red-text">*</span></div>
                        <div class="col-md-9">
                          <input ng-model="alttag" pattern=".*\S+.*" id="altvalue" name="altext" required=""  autocomplete="off" required="" type="text"  class="form-control">
                        </div>
                      </div>
                      <div class="form-group row">
                        <input type="hidden" id="postid" name="postid" value='{{postid}}'>
                      </div>
                      <div class="form-group row">
                        <input type="hidden" id="hidden_id" name="hidden_id">
                      </div>
                      <div class="form-group row">
                        <div class="col-md-3">
                           <label class="label-text">Sequence<span class="red-text">*</span></label>
                        </div>
                        <div class="col-md-2">
                          <input id="sequencedata" ng-model="sequencedata" name="video_sequence"  autocomplete="off" required="" type="number" min="1" class="form-control">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-3"></div>
                        <div class="col-md-5">
                          <div>
                            <button class="button-normal btn-save-icon" type="submit">Save</button>
                            <button class="button-normal btn-reset-icon" id="resets" type="reset">Reset</button>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="rel_lf mand">* All Inputs Should  Begin Without Spaces</div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 pad-0">
              <div class="card">
                <div class="table-responsive">
                  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper"><table class="table-striped table-sort dataTable" id="DataTables_Table_0" role="grid">
                    <thead>
                      <tr role="row">
                        <th  class="sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="descending" aria-label="Heading: activate to sort column ascending" style="width: 380px;">Heading</th>
                        <!-- <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Content: activate to sort column ascending" style="width: 614px;">Content</th> -->
                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Image: activate to sort column ascending" style="width: 67px;">Image</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Sequence: activate to sort column ascending" style="width: 149px;">Sequence</th>
                        <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Edit" style="width: 46px;">Edit</th><th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Delete" style="width: 69px;">Delete</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <td rowspan="1" colspan="1">
                          <input ng-change="headingsearch()" ng-model="heading_search" type="text" name="" class="search-table">
                        </td>
                        <td rowspan="1" colspan="1"></td>
                        <td rowspan="1" colspan="1">
                          <input ng-change="sequencesearch()" ng-model="sequence_search" type="text" name="" class="search-table"></td>
                        <td rowspan="1" colspan="1"></td>
                        <td rowspan="1" colspan="1"></td>
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr ng-repeat="(key, value) in pagedItems[currentPage]">
                        <td>{{'{{value.title}}'}}</td>
                        <td><img src="{{'{{value.file}}'}}"></td>
                        <td>{{'{{value.sequence}}'}}</td>
                        <td><a  ng-click='editvideos(value.id)' class="edit-icons"><img src="../themes/APA Admin Theme/images/icons/table-edit.png"></a></td>
                        <td><span  id="{{'{{value.id}}'}}" ng-click="deleteconfirm(value.id)" class="delete-icons" ><img src="../themes/APA Admin Theme/images/icons/table-delete.png"></span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            <div class="container-fluid pad-0 bg-pagination">
              <ul class="pagination pull-right pagi_master ">
                <li ng-class="{disabled: currentPage == 0}">
                    <a href ng-click="prevPage()">«</a>
                </li>
                <li ng-repeat="n in pagenos | limitTo:5"
                    ng-class="{active: n == currentPage}"
                ng-click="setPage()">
                    <a href ng-bind="n + 1">1</a>
                </li>
                <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                    <a href ng-click="nextPage()">»</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="modal show" id="topic" aria-modal="true" >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Topic</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <div class="col-md-12">
                <label class="label-text">Topic<span class="red-text">*</span></label>
                <input ng-model="topics" type="text" required="" name="" class="form-control">
              </div>
            </div>
            <div class="form-group width-100 display_inlineblock">
              <div class="float-right">
                <button ng-click="addtopics()" type="button" class="button-normal btn-save-icon" data-dismiss="modal">Save</button>
                <button type="reset" class="button-normal btn-reset-icon">Reset</button>
              </div>
            </div>
          </form>
          <div class="form-group row">
            <div class="col-md-12">
              <table class="table-striped">
                <tbody>
                  <tr>
                    <th>Topic</th>
                    <th>Delete</th>
                  </tr>
                  <tr ng-repeat="(key, value) in videosetting">
                    <td>{{'{{value.videocategory}}'}}</td>
                    <td><a ng-click="deletetopics(value.id)" class="delete-icons" href="">
                        <img src="../themes/APA Admin Theme/images/icons/table-delete.png">
                        </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
  <div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-content_in">
          <div class="icon-box">
              <i data-dismiss="modal" class="fa fa-close"></i>
          </div>
          <h4 class="modal-title cclr">Are you sure?</h4>
            <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p typess="aboutus"  id="confirms">Do you really want to delete these records?</p>
        </div>
        <div class="modal-footer svv">
          <button  type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
          <button  id="videoid" type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  CKEDITOR.replace( 'editor1' );
</script>
