  <footer class="footer_main">
    <div class="container">
     <!--  <div class="news_letter">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="footer_newsletter">
              <div class="col-sm-8">
                <h3>Subscribe to our <span>Newsletter</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
              </div>
              <div class="newsletter_input col-sm-4">
                <form action="#" method="GET">
                  <input type="text" class="form-contact" name="email" placeholder="Enter your email here...">
                  <button type="submit" name="submitNewsletter" class="">
                    SUBSCRIBE
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="footer_info">
        <div class="row">
          <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 contactid">
            <h2 class="footer_title">Contact us</h2>
            <p>We are a team of designers and developers that
              create high quality Magento, Prestashop, Opencart...</p>
            <ul class="personal_info">
              <li>
                <i class="fa fa-envelope"></i>
                Email : <a href="mailto:info@apaengineering.com">info@apaengineering.com</a>
              </li>
              <li>
                <i class="fa fa-phone"></i>
                Phone : +91 488-634-7071
              </li>
               <li>
                <i class="fa fa-fax"></i>
                Fax : +55 528-634-7071
              </li>
              <li>
                <i class="fa fa-map-marker"></i>
                <span>
                  Address : 20/F Green Road, Dhanmondi, Dhaka
                </span>
              </li>
            </ul>
          </div> --> 
          <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 sitemapid">
            <h2 class="footer_title">Site Map</h2>
            <div class="col-sm-6">
              <ul class="personal_info">
                <li>
                  <a href="{{ url('<front>') }}articles">Home</a>
                </li>
                <li>
                  <a href="{{ url('<front>') }}about_us">About Us</a>
                </li>
                <li>
                  <a href="{{ url('<front>') }}services">Services</a>
                </li>
                <li>
                  <a href="{{ url('<front>') }}testimonial">Testimonial</a>
                </li>
                <li>
                  <a href="{{ url('<front>') }}contact_us">Contact us</a>
                </li>
              </ul>
            </div>
            </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <h2 class="footer_title">Quick Links</h2>
            <div class="col-sm-6">
              <ul class="personal_info">
                <li>
                  <a href="{{ url('<front>') }}our_product">View All Products</a>
                </li>
                <li>
                  <a href="{{ url('<front>') }}part_search">Part Search</a>
                </li>
                <li>
                  <a href="{{ url('<front>') }}brands">Customers</a>
                </li>
                <li>
                  <a href="{{ url('<front>') }}about_us">FAQ's</a>
                </li>
                <li>
                  <a href="#">Terms & Conditions</a>
                </li>
              </ul>
            </div>
          </div> -->
         <!--  <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 keepid">
            <h2 class="footer_title">Keep in Touch</h2>
            <ul class="social_icons">

              <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
              <li><a href="#"><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
    <div class="copy_right">
      Powered by APA Engineering Pvt Ltd. © 2019 All rights reserved
    </div>
  </footer>