<div class="testimonial">
      <div class="container">
        <div class="row">
          <div class="main_title">Testimonials</div>
          <div class="col-md-12">
            <div id="testimonial" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                {% for result in testimonial %}
                <div class="item {% if loop.first %}active{% endif %}">
                  <div class="col-sm-1 col-md-1"></div>
                  <div class="col-xs-2 col-sm-3 col-md-2">
                    <div class="testimonial_img">
                      <img src="{{result[2]}}" alt="About">
                    </div>
                  </div>
                  <div class="col-xs-10 col-sm-7 col-md-8">
                    <p class="text-justify">{{result[1]|raw}}</p>
                  </div>
                  <div class="col-sm-1 col-md-1"></div>
                </div>
                {% endfor %}
              </div>
              <!-- Left and right controls -->
              <a class="left carousel-control" href="#testimonial" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#testimonial" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>