

<div class="col-lg-3 col-md-3 col-sm-5 col-xs-12"">
            <h2 class="footer_title">LOCATIONS</h2>
            <div class="col-sm-12">
              <ul class="personal_info">
                {% for key,val in loca %}
                <li>
                  <a href="{{ url('<front>') }}node/{{val[1]}}">{{val[0]}}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
