/**
 * Fileuploader
 * Copyright (c) 2018 Innostudio.de
 * Website: http://innostudio.de/fileuploader/
 * Version: 2.1 (26-Nov-2018)
 * Requires: jQuery v1.7.1 or later
 * License: https://innostudio.de/fileuploader/documentation/#license
 */
@font-face {
  font-family: 'font-fileuploader';
  src:  url('../fonts/font-fileuploader.eot?l2vub3');
  src:  url('../fonts/font-fileuploader.eot?l2vub3#iefix') format('embedded-opentype'),
        url('../fonts/font-fileuploader.ttf?l2vub3') format('truetype'),
        url('../fonts/font-fileuploader.woff?l2vub3') format('woff'),
        url('../fonts/font-fileuploader.svg?l2vub3#font-fileuploader') format('svg');
  font-weight: normal;
  font-style: normal;
}
