<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{{ url('<front>') }}themes/RTSALLISON/js/jquery-3.3.1.min.js"></script>
  <script src="{{ url('<front>') }}themes/RTSALLISON/js/jquery.smoove.js"></script>
  <!-- <script src="{{ url('<front>') }}themes/AUTOTECH/js/jquery-3.3.1.min.js"></script> -->
  <!-- <script src="{{ url('<front>') }}themes/RTSALLISON/js/angular.min.js"></script> -->
  <!-- <script src="https://www.paypal.com/sdk/js?client-id=AZ9PY46A9BSqNk4gkPM863KKE7lCvVjk_e-c6Khy6g6NYbhyFkkugps53k1itAWCeK48QsjKroqDWT-J"></script> -->
<!--
  <script>window.broadlyChat={id:"5dd55dc096fd00001d6eb69f"};</script><script src="https://chat.broadly.com/javascript/chat.js" async></script>
  <script src="//assets.adobedtm.com/175f7caa2b90/33075e5c8c08/launch-4d0e6c8aab4c.min.js" async></script> -->
</head>

<div id="pageloader" style="display : none;position : fixed;z-index: 100;background-color:#666;opacity : 0.4;background-repeat : no-repeat;background-position : center;left : 0;bottom : 0;right : 0;top : 0; height:1000px;">
<img src="{{ url('<front>') }}sites/default/files/loader.gif" width="58px" height="58px" ng-if="isLoading" style="margin-left:50%;margin-top:25%"/></div>

  <div id="pageloader_order" style="display : none;position : fixed;z-index: 100;background-color:#666;opacity : 0.4;background-repeat : no-repeat;background-position : center;left : 0;bottom : 0;right : 0;top : 0; height:1000px;">
<img src="{{ url('<front>') }}sites/default/files/loader.gif" width="58px" height="58px" ng-if="isLoading" style="margin-left:50%;margin-top:25%"/></div>

  <div id="pageloader_partsearch" style="display : none;position : fixed;z-index: 100;background-color:#666;opacity : 0.4;background-repeat : no-repeat;background-position : center;left : 0;bottom : 0;right : 0;top : 0; height:1000px;">
<img src="{{ url('<front>') }}sites/default/files/loader.gif" width="58px" height="58px" ng-if="isLoading" style="margin-left:50%;margin-top:25%"/></div>

<body ng-app="postApp" ng-controller="postController" ng-cloak>
  <!--TOPBAR-->
  <header class="wow slideInDown" data-wow-delay="0.7s">
    <div  class="top_border">
      <div class="container mbll">
        <div class="row">
          <div class="col-lg-3 col-sm-3">
            <div class="mbl_tp_1">
              {{page.topbar_first}}
            </div>
          </div>
          <div class="col-lg-9 col-sm-9">
            <nav class="topbar_nav">
              <ul class="navv">
                <li>{{page.topbar_third}}</li>
                <li>{{page.topbar_fourth}}</a></li>
                <li>
                  {% set roles = user.getroles(TRUE) %}

                  {% if (roles.0 == 'site_admin') or (roles.0 == 'administrator') %}
                          <a href="{{ url('<front>') }}admin/home">Admin</a>
                  {% endif %}
                </li>
                <li>
                        {% if logged_in == 1 %}
                        <a href="#"><i class="fa fa-user" aria-hidden="true"></i><font id="faq">Welcome {{ user.displayname }} </font></a>
                        {% endif %}
                </li>
                <li class="fd">{{ page.secondary_menu }}</li>
                {% if logged_in == 1 %}

                {% endif %}
                <li class="dc">{{page.topbar_second}}</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="nav_mainlogo sticky-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-2 col-xs-3">
            <div class="nav_logo wow slideInLeft" data-wow-delay="0.3s">
              {{ page.header }}
            </div>
          </div>
          <!--NAVBAR-->
          <nav class="nav_main col-lg-9 col-sm-10 col-xs-9">
            <div class="">
              <div class="row">
                <div class="col-sm-12 col-xs-12">
                  <div class="nav_main_list wow slideInRight" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: slideInRight;">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>
                    <div class="collapse navbar-collapse navbar-main-slide" id="nav">
                      <ul class="navbar-nav-menu">
                        <li class="">
                          {{ page.primary_menu }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </nav>
          <!--NAVBAR-->
           <div class="col-lg-5 col-sm-4 col-xs-4 dsp_nne" style="display:none;">
             {{page.topbar_search}}
          </div>
          <div class="col-lg-3 col-sm-4 col-xs-4 full_width" style="display:none;">
            <div class="top_cart">
              {{page.topbar_five}}
              {{page.topbar_six}}
            </div>
           </div>
        </div>
      </div>
    </div>
  </header>
  <!--TOPBAR-->

  <!--NAVBAR-->
  <nav class="nav_main sticky-header" style="display:none;">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <div class="nav_main_list wow slideInRight" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: slideInRight;">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse navbar-main-slide" id="nav">
              <ul class="navbar-nav-menu">
                <li class="">
                  {{ page.primary_menu }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!--NAVBAR-->
  <!--BANNER-->
  <div class="htt_ld">
    <!-- <div ng-app="postApp" ng-controller="postController" ng-cloak> -->
      <div>
            {{ page.content }}
      </div>

    </div>

          <div id="pop1" class="simplePopup"></div>
  <!--FOOTER-->

<footer class="footer_main">
   <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="footer_info">
              {{page.footer_first}}
              {{page.footer_second}}
              {{page.footer_third}}
              {{page.footer_fourth}}
          </div>
        </div>
      </div>
      <div class="copy_right" style="display:none;">
        {{page.footer_copy}}
      </div>
    </div>
</footer>
<a onclick="topFunction()" id="totop_btn" class="btn-primary" title="Go to top"><i class="fa fa-chevron-up"></i></a>

<script type="text/javascript">

  $('.animate').smoove({offset:'40%'});

</script>

<script>
//Get the button
var mybutton = document.getElementById("totop_btn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>

  <!-- <script>


$('.menu-item--expanded a:first').each(function () {

  $(this).addClass('mainmenuiconcls');

});

$('.menu-item--expanded a:eq(4)').each(function () {
  $(this).addClass('mainmenuiconcls');
});
$('.menu-item--expanded a:eq(5)').each(function () {
  $(this).addClass('mainmenuiconcls');
});
</script> -->
