<div class="container">
  <div class="row">
  	{% for key,value in service_array%}
    <div class="col-sm-6">
      <div class="home-network_block m-t-70 m-b-70">
        <section class="lazy-load-box">
          <div class="home_title">
          	 
            <h5 class="p-b-25">{{value.title}}</h5>
            
            <p>   {{value.body | raw}}</p>
             
         <!--    <div class="home-network_btn_block">
              <a href="http://opticat.net/join_us" title="Join the Network" class="btn home-network_btn btn-gray" target="_blank">Join the Network</a>
            </div> -->
          </div>
        </section>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="home-network_block m-t-70 m-b-70">
        <section class="lazy-load-box">
          <img class="img-responsive" src="{{value.file}}" alt="sellmore">
        </section>
      </div>
    </div>
     {% endfor %}
  </div>
</div> 

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <section class="lazy-load-box home-video_block">
        <a href="http://www.opticatonline.com/" target="_blank">www.opticatonline.com</a>
        <div>
          <div class="home_video">
          	{% for key,value in service_array1%}
          	{{value.body | raw}}
         <!--    <video controls="">
              <source type="video/mp4" src="sites/default/files/OptiCat promo_2015_01mp4_for_web.mp4">
            </video> -->
            {% endfor %}
          </div>
        </div>
      </section>
    </div>
  </div>
</div>          