<div class="container" style="display:none;">
  <div class="row">
    <div class="col-md-12">
      <div class="breadcrumb-section">
        <h1 class="title-header">ALL PRODUCTS</h1>
        <ul class="breadcrumb-list">
          <li>
            <a href="">Home</a>
          </li>
          <li class="divider"></li>
          <li class="active">Products</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="content-section">
        <div class="section img-width-150">
          <a href="onboard.html"><img src="sites/default/files/onboard.png"></a><a href="onboard.html"><img src="sites/default/files/onboardpro.png"></a>
        </div>
        <div class="section">
          <div class="small-title">
            OnBoard & OnBoardPro
          </div>
          <ul class="listing-style-dot">
            <li>Supplier Catalog Data Validation, Authorization and Distribution Portal</li>
            <li>ACES Validator to AAIA, XSD, VCDB and PCDB</li>
            <li>Receiver Authorization System</li>
            <li>Cataloging and Product Data Distribution System (FTP and Email)</li>
            <li>Custom Product Information Templates</li>
            <li>PIES Export from Flat File</li>
          </ul>
        </div>

        <div class="section img-width-150">
          <a href="ondemand.html"><img src="sites/default/files/ondemand.png"></a>
        </div>
        <div class="section">
          <div class="small-title">
            OnDemand
          </div>
          <ul class="listing-style-dot">
            <li>Receiver Catalog Data Selection, Template Creation and Delivery Portal</li>
            <li>Data Selection</li>
            <li>Authorization System</li>
            <li>Custom Data Templates for producing flat file or XML Formats</li>
            <li>Interchange Data</li>
            <li>Email Notifications</li>
            <li>FTP/Email Delivery Options</li>
            <li>Data Delivery</li>
          </ul>
        </div>

        <div class="section img-width-150">
          <a href="ontarget.html"><img src="sites/default/files/ontarget.png"></a><a href="ontarget.html"><img src="sites/default/files/ontargetpro.png"></a>
        </div>
        <div class="section">
          <div class="small-title">
            OnTarget & OnTargetPro
          </div>
          <ul class="listing-style-dot">
            <li>Supplier ACES Data Validation, Content Comparison and Assessment Program</li>
            <li>ACES Validator to AAIA, XSD, VCDB and PCDB (Current or Historical)</li>
            <li>Duplication Check</li>
            <li>Overlap Check</li>
            <li>Overlap with Notes Check</li>
            <li>Note Conflict Check</li>
            <li>Valid Positions</li>
            <li>Valid Part Types</li>
            <li>Quantity Conflicts</li>
            <li>XML Viewer</li>
          </ul>
        </div>

        <div class="section img-width-150">
          <a href="online.html"><img src="sites/default/files/online.png"></a>
        </div>
        <div class="section">
          <div class="small-title">
            Web Catalog
          </div>
          <p class="para-txt mt-20">
            Success in the Automotive Aftermarket means having the right parts at the right time. OptiCat’s WebCatalog is an additional product to help customers get it right, with extensive auto parts data and photos that are just a click away in the OptiCat Web Catalog. This can be an easy alternative to the traditional paper catalog. The WebCatalog is a powerful tool that allows for multiple searches for automotive parts. This WebService returns a search based on a Make, Model, Year lookup.
          </p>
        </div>
        <div class="section">
          <p><img src="sites/default/files/pies_aces.gif" class="aligncenter"></p>
          <p><img src="sites/default/files/strong-supporter.png" class="aligncenter"></p>
          <p><img src="sites/default/files/autocare.png" class="aligncenter"></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="sidebar-section">
        <div class="recent-post widget">
          <h3 class="sidebar-title">Recent Posts</h3>
          <ul class="sidebar-listing-style">
            <li>
              <a href="">OptiCat Announces that Paramount Data Management has integrated into the OptiCat OnBoard API</a>
            </li>
            <li>
              <a href="">OptiCat LLC Named to MountainWest Capital Network’s 2018 Utah 100</a>
            </li>
            <li>
              <a href="">OptiCat LLC and JNPSoft Announce New API Connection</a>
            </li>
            <li>
              <a href="">The New TecAlliance Global Vehicle Table</a>
            </li>
            <li>
              <a href="">OptiCat Announces Three Exciting New Catalog Products</a>
            </li>
          </ul>
        </div>
        <div class="recent-comments widget">
          <h3 class="sidebar-title">Recent Comments</h3>

        </div>
        <div class="archives widget">
          <h3 class="sidebar-title">Recent Posts</h3>
          <ul class="sidebar-listing-style">
            <li><a href="javascript://">December 2018</a></li>
            <li><a href="javascript://">November 2018</a></li>
            <li><a href="javascript://">October 2018</a></li>
            <li><a href="javascript://">September 2018</a></li>
            <li><a href="javascript://">July 2018</a></li>
            <li><a href="javascript://">June 2018</a></li>
            <li><a href="javascript://">June 2017</a></li>
            <li><a href="javascript://">October 2016</a></li>
            <li><a href="javascript://">March 2016</a></li>
            <li><a href="javascript://">February 2016</a></li>
            <li><a href="javascript://">December 2015</a></li>
            <li><a href="javascript://">September 2015</a></li>
            <li><a href="javascript://">August 2015</a></li>
            <li><a href="javascript://">July 2015</a></li>
            <li><a href="javascript://">June 2015</a></li>
            <li><a href="javascript://">May 2015</a></li>
            <li><a href="javascript://">April 2015</a></li>
            <li><a href="javascript://">January 2015</a></li>
            <li><a href="javascript://">August 2014</a></li>
            <li><a href="javascript://">May 2014</a></li>
            <li><a href="javascript://">April 2014</a></li>
            <li><a href="javascript://">January 2014</a></li>
            <li><a href="javascript://">April 2011</a></li>
            <li><a href="javascript://">March 2011</a></li>
          </ul>
        </div>
        <div class="categories widget">
          <h3 class="sidebar-title">Categories</h3>
          <ul class="sidebar-listing-style">
            <li><a href="javascript://">AASA</a></li>
            <li><a href="javascript://">ACES</a></li>
            <li><a href="javascript://">Aftermarket</a></li>
            <li><a href="javascript://">Automotive Aftermarket Data Receivers</a></li>
            <li><a href="javascript://">Automotive Aftermarket Data Suppliers</a></li>
            <li><a href="javascript://">Catalogs</a></li>
            <li><a href="javascript://">GVT</a></li>
            <li><a href="javascript://">JNPSoft</a></li>
            <li><a href="javascript://">OnBoardPro</a></li>
            <li><a href="javascript://">OnTarget</a></li>
            <li><a href="javascript://">OnTargetPro</a></li>
            <li><a href="javascript://">Opticat News</a></li>
            <li><a href="javascript://">PDM</a></li>
            <li><a href="javascript://">Press Releases</a></li>
            <li><a href="javascript://">TecAlliance</a></li>
            <li><a href="javascript://">TecDoc</a></li>
            <li><a href="javascript://">Uncategorized</a></li>
        </ul>

        </div>
      </div>
    </div>
  </div>
</div>

<!--NEWS PAGE start-->

<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="breadcrumb-section">
					<h1 class="title-header">NEWS</h1>
					<ul class="breadcrumb-list">
						<li>
							<a href="">Home</a>
						</li>
						<li class="divider"></li>
						<li class="active">NEWS</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="content-section">
					<div class="section">
						<p class="para-txt">Click on links below to see full lists of Opticat's receivers and suppliers.</p>
					</div>
					<div class="section">
							<a href="" class="red-txt bold" target="_blank">News</a>
					</div>
					<div class="section">
							<a href="" class="red-txt bold" target="_blank">Events</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--NEWS PAGE End-->

<!-- News  start-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="breadcrumb-section">
        <h1 class="title-header">NEWS</h1>
        <ul class="breadcrumb-list">
          <li>
            <a href="">Home</a>
          </li>
          <li class="divider"></li>
          <li class="active">NEWS</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="content-section">
        <div class="post-wrapper">
          <div class="post-header">
            <h2 class="post-title">TecAlliance de México presents Mexico edition of the TecDoc Catalogue at INA PAACE Automechanika Mexico City</h2>
          </div>
          <div class="post-content">
            <p class="para-txt mb-20">July 6, 2018 – From 11 to 13 July 2018, TecAlliance de México will participate in INA PAACE Automechanika Mexico City, the most important event for the Automotive Aftermarket in Latin America. As a highlight, TecAlliance will be presenting the new solution specially designed for the Mexican aftermarket sector: the “multi-format” Mexico edition of the TecDoc…</p>
            <div class="readmore"><a href="">Read more</a></div>
          </div>
        </div>
        
        
        
      </div>
    </div>
  </div>
</div>
<!--NEWS End-->
