<style>
 #cpatchaTextBox{
  margin-bottom: 5px;
 }
 canvas{
  pointer-events:none;
  background-color: green;
  padding: 2px 2px 2px 2px;
}
</style>
  <div class="row">
    <div class="col-md-12">
      <div class="breadcrumb-section">
        <h1 class="title-header">Contact us</h1>
        <ul class="breadcrumb-list">
          <li>
            <a href="http://opticat.net/">Home</a>
          </li>
          <li class="divider"></li>
          <li><a href="http://opticat.net/about">About opticat</a></li>
          <li class="divider"></li>
          <li class="active">contact us</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
     <div class="col-md-12">  
      <div class="content-section">
        <div class="section">
          {% if error != '' %}
               <p id="msg"  class="alert-danger" style="padding:10px">{{error}}</p> 
              {% elseif success != '' %}
               <p id="msg" class="alert-success" style="padding:10px">{{success}}</p>
              {% endif %}
          <div class="small-title">
            Contact Form</div>
          <p class="para-txt mt-20">Please enter your contact details and a short message below and we will answer your query as soon as possible.</p>
        </div>
        <div class="section">
            <div class="col-sm-8">
              <form class="form-horizontal" action="contact_us" method="post" id="contact_form">

                <input type="hidden" id="postid" name="postid" value='{{postid}}'>
                <div class="form-group">
                  <label class="control-label" for="name">Name: </label>
                  <div class="">
                     <input type="text"  class="" required="" id="name" name="name_data" placeholder="Your Name">                
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="email">Email Address: </label>
                  <div class="">
                    <input type="email" required="" class="" id="email" name="mail_data" placeholder="Your Email Address">                    
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="confirm_email">Confirm Email Address: </label>
                  <div class="">
                    <input type="email" required="" class="" id="email_re" name="mail_re_data" onblur="checkmailid()" placeholder="Confirm Your Email Address">
                        <p id="msg_er"  class="" ></p> 
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label" for="message">Message: </label>
                  <div class="">
                    <textarea name="msg_data" rows="8" cols="100" style="height:150px;"></textarea>
                  </div>
                </div>

                 <div class="form-group">
                      <div id="captcha">
                      </div>
                      <input type="text" placeholder="Captcha" id="cpatchaTextBox"/>


                      
                  </div>    
                <div class="form-group">
                 
                  <button class="m-t-10 btn home-network_btn btn-gray" onclick="validateCaptcha()">Send Message &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button>    
                     <!--  <div class="form-group">
                        <button class="btn btn-large btn-color" onclick="validateCaptcha()">Submit</button> 
                      </div>     -->        
                </div>
              </form>
            </div>
          </div>
      </div>    
  </div>
</div> 

<script>
    //  setTimeout(function(){ $('#msg').fadeOut("slow"); }, 3000);


    window.onload = function() {
      createCaptcha();
    };
    var code;

function createCaptcha() {
      document.getElementById('captcha').innerHTML = "";
      var charsArray ="0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ@!#$%^&*";
      var lengthOtp = 6;
      var captcha = [];
      for (var i = 0; i < lengthOtp; i++) {
        var index = Math.floor(Math.random() * charsArray.length + 1);
        if (captcha.indexOf(charsArray[index]) == -1)
          captcha.push(charsArray[index]);
        else i--;
      }
      var canv = document.createElement("canvas");
      canv.id = "captcha";
      canv.width = 100;
      canv.height = 50;
      var ctx = canv.getContext("2d");
      ctx.font = "25px Georgia";
      ctx.strokeText(captcha.join(""), 0, 30);
      code = captcha.join("");
      document.getElementById("captcha").appendChild(canv); 
  
  }
  function validateCaptcha() {


    if($('#name').val() == ''){
      $('#name').css("border-color","red");
      return false;
    }else{
      $('#name').css("border-color","green");
    }

    if($('#email').val() == ''){
      $('#email').css("border-color","red");
      return false;
    }else{
      $('#email').css("border-color","green");
    }

    if($('#email_re').val() == ''){
      $('#email_re').css("border-color","red");
      return false;
    }else{
      $('#email_re').css("border-color","green");
    }



    


    event.preventDefault();
    var capchaval=document.getElementById("cpatchaTextBox").value;
    if(capchaval == '' || capchaval == undefined){
      $('#cpatchaTextBox').css("border-color","red");
    }else{
      if (capchaval == code) {
       $( "#contact_form" ).submit();
      }else{
        $('#cpatchaTextBox').css("border-color","red");
        $('#cpatchaTextBox').val("");
        createCaptcha();
      }
    }
    
  }

function checkmailid() {
  
  $('#msg_er').html('');
  var a =$('#email_re').val();
  var b = $('#email').val();
  if(a=='' || a==null)
  {
    $('#msg_er').css("color",'red');
    $('#msg_er').html("Please fill this filed ");
  }
  else
  {
  var isMatch = a === b;
  if ( !isMatch ){
    $('#msg_er').css("color",'red');
    $('#msg_er').html("Those emails don't match!");
   $('#email_re').val('');
   }
  }
 } 


  $(".region-content").addClass("container");
  $("#block-rtsallison-content").addClass("col-sm-8");  
  setTimeout(function(){ $("#block-sidebarcustomblock").addClass("col-sm-4"); }, 1000);
</script>