<!-- News  start-->
<!-- <div class="container"> -->

  <div class="row">
    <div class="col-md-12">
      <div class="breadcrumb-section">
        <h1 class="title-header">EVENTS</h1>
        <ul class="breadcrumb-list">
          <li>
            <a href="http://opticat.net/">Home</a>
          </li>
          <li class="divider"></li>
          <li class="active">Events</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11">
      <div class="content-section">
        {% for key,value in items%}
          <div class="post-header">
            <h2 class="post-title">{{value.title}}</h2>
          </div>
          <div class="post-wrapper">
            {{value.detailval | raw}}
          </div><br><br><br>
          <div class="readmore"><a href="{{ url('<front>') }}node/{{value.id}}">Read more</a></div>
        {% endfor %}                     
      </div>
    </div>
  </div>
<!-- </div> -->
<!--NEWS End-->



<script>
   
$(".region-content").addClass("container");
  $("#block-rtsallison-content").addClass("col-sm-8");  
  setTimeout(function(){ $("#block-sidebarcustomblock").addClass("col-sm-4"); }, 1000);

</script>