<section class="banner_slider m-b-5">
    <div class="container">
      <div id="carousel" class="slide carousel carousel-fade">
        <div class="carousel-inner">
          <div class="item active">
            <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/slider-1.jpg" alt="sliderImg" />
          </div>
          <div class="item">
            <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/slider-2.jpg" alt="sliderImg" />
          </div>
          <div class="item">
            <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/slider-3.jpg" alt="sliderImg" />
          </div>
        </div>
        <a class="carousel-control right" href="#carousel" data-slide="next">
          <i class="fa fa-angle-right m-control-right"></i>
        </a>
        <a class="carousel-control left" href="#carousel" data-slide="prev">
          <i class="fa fa-angle-left m-control-left"></i>
        </a>
      </div>
    </div>
  </section>

<div class="featured_item_box">
 <ul>
 {% for key,value in items %}
 <h5> <li>{{ value }}</li></h5>
 {% endfor %}
 </ul>
 </div>
 <section class="our_categories">
    <div class="container">
      <div class="row">
        <div class="main_title">Our Categories</div>
        <div class="col-sm-12">
          <div class="">
            <div class="featured_item_box">
              <a href="#">
                <h4>AUDI</h4>
                <div class="category_circle">
                  <img class="category_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/audi_logo.jpg" alt="featured product">
                </div>
                <div class="category_view">View products <i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
              </a>
            </div>
            <div class="featured_item_box">
              <a href="#">
                <h4>Volkswagen</h4>
                <div class="category_circle">
                  <img class="category_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/volkswagen_logo.png" alt="featured product">
                </div>
                <div class="category_view">View products <i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
              </a>
            </div>
            <div class="featured_item_box">
              <a href="#">
                <h4>Fiat</h4>
                <div class="category_circle">
                  <img class="category_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/fiat_logo.jpg" alt="featured product">
                </div>
                <div class="category_view">View products <i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
              </a>
            </div>
            <div class="featured_item_box">
              <a href="#">
                <h4>Aston Martin</h4>
                <div class="category_circle">
                  <img class="category_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/aston_logo.png" alt="featured product">
                </div>
                <div class="category_view">View products <i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
              </a>
            </div>
          </div>
          <div class="view_all">
            <button type="button" class="view">View All</button>
          </div>
        </div>
      </div>
    </div>
  </section>
<section class="featured_product">
    <div class="container">
      <div class="row">
        <div class="main_title">Featured Products</div>
        <div class="col-sm-12">
          <div class="">
            <div class="featured_item_box">
              <a href="product_description.html">
                <img class="featured_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/mers.jpg" alt="featured product">
                <span class="new_brand">New</span>
                <span class="stock_status in">In Stock</span>
                <div class="featured_item_price">
                  Total Price: <span class="price_color">$184,900</span>
                </div>
                </a><div class="product_wishlist"><a href="product_description.html">
                  </a><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <h5>MERCEDES-AMG GT / GT S</h5>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                  </ul>
                </div>

              <div class="feature_info">
                <a href="product_description.html">More Info</a>|
                <a href="product_description.html">Add to Cart</a>|
                <a href="#">Compare</a>
              </div>
            </div>
            <div class="featured_item_box">
              <a href="product_description.html">
                <img class="featured_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/aston.jpg" alt="featured product">
                <span class="new_brand">New</span>
                <span class="stock_status out">Out of Stock</span>
                <div class="featured_item_price">
                  Total Price: <span class="price_color">$160,700</span>
                </div>
                </a><div class="product_wishlist"><a href="product_description.html">
                  </a><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <h5>ASTON-AMT GT-5</h5>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                  </ul>
                </div>

              <div class="feature_info">
                <a href="product_description.html">More Info</a>|
                <a href="product_description.html">Add to Cart</a>|
                <a href="#">Compare</a>
              </div>
            </div>
            <div class="featured_item_box">
              <a href="product_description.html">
                <img class="featured_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/audi.jpg" alt="featured product">
                <span class="stock_status in">In Stock</span>
                <div class="featured_item_price">
                  Total Price: <span class="price_color">$177,850</span>
                </div>
                </a><div class="product_wishlist"><a href="product_description.html">
                  </a><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <h5>AUDI-A8 GT / F1</h5>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                  </ul>
                </div>

              <div class="feature_info">
                <a href="product_description.html">More Info</a>|
                <a href="product_description.html">Add to Cart</a>|
                <a href="#">Compare</a>
              </div>
            </div>
            <div class="featured_item_box">
              <a href="product_description.html">
                <img class="featured_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/jaguar.jpg" alt="featured product">
                <span class="new_brand">New</span>
                <span class="stock_status out">Out of Stock</span>
                <div class="featured_item_price">
                  Total Price: <span class="price_color">$204,000</span>
                </div>
                </a><div class="product_wishlist"><a href="product_description.html">
                  </a><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <h5>JAGUAR-AMT SPORT - S</h5>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                  </ul>
                </div>

              <div class="feature_info">
                <a href="product_description.html">More Info</a>|
                <a href="product_description.html">Add to Cart</a>|
                <a href="#">Compare</a>
              </div>
            </div>
            <div class="featured_item_box">
              <a href="product_description.html">
                <img class="featured_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/audi.jpg" alt="featured product">
                <span class="new_brand">New</span>
                <span class="stock_status out">Out of Stock</span>
                <div class="featured_item_price">
                  Total Price: <span class="price_color">$184,900</span>
                </div>
                </a><div class="product_wishlist"><a href="product_description.html">
                  </a><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <h5>AUDI MOTO A9 </h5>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                  </ul>
                </div>

              <div class="feature_info">
                <a href="product_description.html">More Info</a>|
                <a href="product_description.html">Add to Cart</a>|
                <a href="#">Compare</a>
              </div>
            </div>
            <div class="featured_item_box">
              <a href="product_description.html">
                <img class="featured_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/jaguar.jpg" alt="featured product">
                <span class="stock_status in">In Stock</span>
                <div class="featured_item_price">
                  Total Price: <span class="price_color">$134,899</span>
                </div>
                </a><div class="product_wishlist"><a href="product_description.html">
                  </a><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <h5>JAGUAR STREET ST</h5>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                  </ul>
                </div>

              <div class="feature_info">
                <a href="product_description.html">More Info</a>|
                <a href="product_description.html">Add to Cart</a>|
                <a href="#">Compare</a>
              </div>
            </div>
            <div class="featured_item_box">
              <a href="product_description.html">
                <img class="featured_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/mers.jpg" alt="featured product">
                <span class="stock_status in">In Stock</span>
                <div class="featured_item_price">
                  Total Price: <span class="price_color">$154,000</span>
                </div>
                </a><div class="product_wishlist"><a href="product_description.html">
                  </a><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <h5>MERCEDES-AMG GT / GT S</h5>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                  </ul>
                </div>

              <div class="feature_info">
                <a href="product_description.html">More Info</a>|
                <a href="product_description.html">Add to Cart</a>|
                <a href="#">Compare</a>
              </div>
            </div>
            <div class="featured_item_box">
              <a href="product_description.html">
                <img class="featured_img" src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/aston.jpg" alt="featured product">
                <span class="new_brand">New</span>

                <span class="stock_status out">Out of Stock</span>
                <div class="featured_item_price">
                  Total Price: <span class="price_color">$136,000</span>
                </div>
                </a><div class="product_wishlist"><a href="product_description.html">
                  </a><a href="#"><i class="fa fa-heart" aria-hidden="true"></i></a>
                </div>
                <div class="clearfix"></div>
                <h5>ASTON-AMG S</h5>
                <div class="feature_ratings">
                  <ul>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star-half-o"></i></li>
                  </ul>
                </div>

              <div class="feature_info">
                <a href="product_description.html">More Info</a>|
                <a href="product_description.html">Add to Cart</a>|
                <a href="#">Compare</a>
              </div>
            </div>
          </div>
          <div class="view_all">
            <button type="button" class="view">View All</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="about_us">
    <div class="container">
      <div class="row">
        <div class="main_title">About Us</div>
        <div class="col-sm-12">
          <div class="col-sm-4">
            <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/about-bg.jpg" alt="About" style="max-width:100%;">
          </div>
          <div class="col-sm-8 text-left">
            <strong>Lorem ipsum dolor sit amet, consectetur adipissed do eiusmod tempor incididunt</strong>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quisthe nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseqenim
              ipsam voluptatem quia volupta.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tdidunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua dolor
              sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.</p>
            <span><a href="#" class="color_blue">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></span>
            <!-- <div class="view_all m-t-25">
              <button type="button" class="view float-l">Read More</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="">
    <div class="main_title">Brands</div>
    <div class="client_block">
      <div class="container">
        <div class="col-md-12">
          <div class="carousel our-partners slide" id="ourPartners">
            <div class="carousel-inner">
              <div class="item active">
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand.png" alt="brand-1">
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand1.png" alt="brand-2">
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand2.png" alt="brand-3">
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand3.png" alt="brand-4">
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand4.png" alt="brand-4">
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand5.png" alt="brand-4">
                  </a>
                </div>
              </div>
              <div class="item">
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand.png" alt="brand-1">
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand1.png" alt="brand-2">
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand2.png" alt="brand-3">
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand3.png" alt="brand-4">
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand4.png" alt="brand-4">
                  </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <a href="#">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/brand5.png" alt="brand-4">
                  </a>
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#ourPartners" data-slide="prev"><i class="fa fa-chevron-left icon-prev"></i></a>
            <a class="right carousel-control" href="#ourPartners" data-slide="next"><i class="fa fa-chevron-right icon-next"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonial">
    <div class="container">
      <div class="row">
        <div class="main_title">Testimonials</div>
        <div class="col-md-12">
          <div id="testimonial" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item">
                <div class="col-sm-1 col-md-1"></div>
                <div class="col-xs-2 col-sm-3 col-md-2">
                  <div class="testimonial_img">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/testimonial_img.jpg" alt="About">
                  </div>
                </div>
                <div class="col-xs-10 col-sm-7 col-md-8">
                  <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipissed do eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam,
                    quisthe nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseqenim ipsam voluptatem quia volupta. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tdidunt ut labore et dolore magna
                    aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-1 col-md-1"></div>
              </div>
              <div class="item">
                <div class="col-sm-1 col-md-1"></div>
                <div class=" col-xs-2 col-sm-3 col-md-2">
                  <div class="testimonial_img">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/testimonial_img.jpg" alt="About">
                  </div>
                </div>
                <div class="col-xs-10 col-sm-7 col-md-8">
                  <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipissed do eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam,
                    quisthe nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseqenim ipsam voluptatem quia volupta. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tdidunt ut labore et dolore magna
                    aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-1 col-md-1"></div>
              </div>
              <div class="item active">
                <div class="col-sm-1 col-md-1"></div>
                <div class="col-xs-2 col-sm-3 col-md-2">
                  <div class="testimonial_img">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/testimonial_img.jpg" alt="About">
                  </div>
                </div>
                <div class="col-xs-10 col-sm-7 col-md-8">
                  <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipissed do eiusmod tempor incididunt Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua. Ut
                    enim ad minim veniam,
                    quisthe nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseqenim ipsam voluptatem quia volupta. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tdidunt ut labore et dolore magna
                    aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="col-sm-1 col-md-1"></div>
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#testimonial" data-slide="prev">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#testimonial" data-slide="next">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="video_block m-b-30">
    <div class="container">
      <div class="row">
        <div class="main_title">Videos</div>
        <div class="col-md-12">
          <div class="container">
            <div class="video_slide">
              <ul class="videoslide_img" style="position: relative; width: 750px; height: 300px; list-style: none; padding: 0px; margin: 0px 0px 0px 50%; left: -375px; top: 1431.25px;">
                <li style="display: block; position: absolute; z-index: 9999; overflow: hidden; width: 97.2px; height: 64.8px; left: 0px; top: 117.6px;">
                  <a data-type="iframe" width="420" height="315" href="https://www.youtube.com/channel/UCSAhbGQ1ZwQBhdiKUVJ1bRw" allowfullscreen="" class="fancybox">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/slider-1.jpg" alt="slider image" style="width: 100%; height: 100%;">
                  </a>
                </li>
                <li style="display: block; position: absolute; z-index: 10000; overflow: hidden; width: 162px; height: 108px; left: 50px; top: 96px;">
                  <a data-type="iframe" width="420" height="315" href="https://www.youtube.com/channel/UCSAhbGQ1ZwQBhdiKUVJ1bRw" allowfullscreen="" class="fancybox">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/slider-3.jpg" alt="slider image" style="width: 100%; height: 100%;">
                  </a>
                </li>
                <li style="display: block; position: absolute; z-index: 10001; overflow: hidden; width: 270px; height: 180px; left: 100px; top: 60px;">
                  <a data-type="iframe" width="420" height="315" href="https://www.youtube.com/channel/UCSAhbGQ1ZwQBhdiKUVJ1bRw" allowfullscreen="" class="fancybox">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/slider-2.jpg" alt="slider image" style="width: 100%; height: 100%;">
                  </a>
                </li>
                <li style="display: block; position: absolute; z-index: 10002; overflow: hidden; width: 450px; height: 300px; left: 150px; top: 0px;">
                  <a data-type="iframe" width="420" height="315" href="https://www.youtube.com/channel/UCSAhbGQ1ZwQBhdiKUVJ1bRw" allowfullscreen="" class="fancybox">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/slider-1.jpg" alt="slider image" style="width: 100%; height: 100%;">
                  </a>
                </li>
                <li style="display: block; position: absolute; z-index: 9998; overflow: hidden; width: 270px; height: 180px; left: 380px; top: 60px;">
                  <a data-type="iframe" width="420" height="315" href="https://www.youtube.com/channel/UCSAhbGQ1ZwQBhdiKUVJ1bRw" allowfullscreen="" class="fancybox">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/slider-3.jpg" alt="slider image" style="width: 100%; height: 100%;">
                  </a>
                </li>
                <li style="display: block; position: absolute; z-index: 9997; overflow: hidden; width: 162px; height: 108px; left: 538px; top: 96px;">
                  <a data-type="iframe" width="420" height="315" href="https://www.youtube.com/channel/UCSAhbGQ1ZwQBhdiKUVJ1bRw" allowfullscreen="" class="fancybox">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/slider-1.jpg" alt="slider image" style="width: 100%; height: 100%;">
                  </a>
                </li>
                <li style="display: block; position: absolute; z-index: 9996; overflow: hidden; width: 97.2px; height: 64.8px; left: 652.8px; top: 117.6px;">
                  <a data-type="iframe" width="420" height="315" href="https://www.youtube.com/channel/UCSAhbGQ1ZwQBhdiKUVJ1bRw" allowfullscreen="" class="fancybox">
                    <img src="https://www.apagreen.com/apadesign/creativewebbuilder/theme1/assets/images/slider-2.jpg" alt="slider image" style="width: 100%; height: 100%;">
                  </a>
                </li>
                <span class="left" style="position: absolute; left: 10px; top: 50%; z-index: 10007;">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                </span>
                <span class="right" style="position: absolute; right: 10px; top: 50%; z-index: 10007;">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </span>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
