<div class="container">
  <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-section">
          <h1 class="title-header">Join us</h1>
          <ul class="breadcrumb-list">
            <li>
              <a href="http://opticat.net/">Home</a>
            </li>
            <li class="divider"></li>
            <li><a href="http://opticat.net/about">About opticat</a></li>
            <li class="divider"></li>
            <li class="active">join us</li>
          </ul>
        </div>
      </div>
  </div>
  <div class="page-title-box">
    {% if title != "" %}
      <div style="width: 50%"  id="msg" class="alert alert-success">
          {{title}}
      </div>     
    {% endif %}                           
  </div>
  <div class="row">
      <div class="col-md-8">
        <div class="content-section">
          <div class="section">
            <div class="small-title">Join the Opticat Network</div>
          </div>
          <div class="section">
            <form class="form-horizontal" action="joinpage" method="post" autocomplete="off">
              <div class="col-sm-12">
                
              <div class="form-group">
                <label class="control-label required" for="comp_name">Company Name</label>
                <div class="">
                  <input type="text" class="" required="" id="company_name" name="company_name" placeholder="Company Name">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label required" for="con_name">Contact Name</label>
                <div class="">
                  <input type="text" class="" required="" placeholder="Your Name" id="contact_name" name="contact_name">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label required" for="contact_phone">Contact Phone Number</label>
                <div class="">
                  <input type="text" class="" required="" name="contact_phone" placeholder="Your Phone Number" id="contact_phone" onblur="getsubmenucheck_joinusdetails(this.value,1)"  onkeypress="return isNumber(event)" >
                    <p id="msg_er_m"  class="" ></p> 
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6">
                    <label class="control-label required" for="contact_email">Contact Email Address</label>
                    <div class="">
                      <input type="email" class="" required="" placeholder="Your Email Address" name="contact_email" id="contact_email" required="required" onblur="getsubmenucheck_joinusdetails(this.value,2)">
                       <p id="msg_er_e"  class="" ></p> 
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label class="control-label required" for="confirm_email">Confirm Email Address</label>
                    <div class="">
                      <input type="email" class="" name="confirm_email" placeholder="Confirm Your Email Address" id="confirm_email" onblur="checkmailid()" required="required">
                        <p id="msg_er"  class="" ></p> 
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <input type="hidden" id="postid" name="postid" value='{{postid}}'>
              </div>
              <div class="form-group">
                <label class="control-label required" for="message">Products of Interest</label>
                <div class="">
                  <textarea name="interest" required="" rows="8" cols="100" style="height:150px;"></textarea>
                  <p>Please tell us which of our products interests you.</p>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="m-t-10 btn home-network_btn btn-gray">Join &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
              </div>                
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
<script>
   setTimeout(function(){ $('#msg').fadeOut("slow"); }, 3000);

function checkmailid() {
  
  $('#msg_er').html('');
  var a =$('#confirm_email').val();
  var b = $('#contact_email').val();
  if(a=='' || a==null)
  {
    $('#msg_er').css("color",'red');
    $('#msg_er').html("Please fill this filed ");
  }
  else
  {
  var isMatch = a === b;
  if ( !isMatch ){
    $('#msg_er').css("color",'red');
    $('#msg_er').html("Those emails don't match!");
   $('#confirm_email').val('');
   }
  }
 } 

  $(".region-content").addClass("container");
  $("#block-rtsallison-content").addClass("col-sm-8");  
  setTimeout(function(){ $("#block-sidebarcustomblock").addClass("col-sm-4"); }, 1000);
  function getsubmenucheck_joinusdetails(a,b){
 
    $('#msg_er_m').html('');
    $('#msg_er_e').html('');
    if(a!='' && a!=null)
      {    
         $.ajax({
              type: "POST",
              url: "http://opticat.net/check_joinus_details",
              data: {det:a,typ:b},
              success: function(response){
                var result=JSON.parse(response);
                 if(result==2)
                 {
                    if(b==1)
                    {
                       $('#msg_er_m').css("color",'red');
                       $('#msg_er_m').html("Phone Number already exist ");
                       $('#contact_phone').val('');                       
                    }
                    else{

                       $('#msg_er_e').css("color",'red');
                       $('#msg_er_e').html("Email Address  already exist ");
                       $('#contact_email').val('');
                       $('#confirm_email').val('');
                    }                   
                 }              
              }
            });
      }
  }

   function isNumber(evt) {
    evt = (evt) ? evt : window.event;  
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}

$(document).ready(function(){
   $('#contact_phone').on("cut copy paste",function(e) {
      e.preventDefault();
   });
    $('#contact_phone').on('drop', function(event) {
    event.preventDefault();
  });
});
</script>