<!-- ONBOARD -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="breadcrumb-section">
        <h1 class="title-header">ONBOARD</h1>
        <ul class="breadcrumb-list">
          <li>
            <a href="">Home</a>
          </li>
          <li class="divider"></li>
          <li class=""><a href="">Products</a></li>
          <li class="divider"></li>
          <li class="active">OnBoard</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="content-section">
        <div class="section">
          <a href="http://www.opticatnetwork.com/onboard/" class="red-txt bold" target="_blank">Login to OnBoard</a>
        </div>
        <div class="section">
          <a class="img-width-150 align-left"><img src="sites/default/files/onboard.png"></a>
          <p class="small-title-snall">Supplier Catalog Data Validation, Authorization and Distribution Portal</p>
          <p class="para-txt mt-20">Quality of data and speed to market of that data, really matter when selling auto parts especially for new product lines. Distributing catalog and product information quickly and efficiently is vital for companies to gain an edge in the Automotive Aftermarket. <strong>OptiCat OnBoard</strong> and <strong>OnBoard Pro</strong> are web based programs that help suppliers manage their data relationships with a comprehensive and secure authorization system, validation routines that check data and a distribution engine that takes the pain out of getting product information to channel partners and other data receivers.</p>
          <p class="para-txt mt-20">The Aftermarket Catalog Enhanced Standard (ACES) from the Auto Care Association provides a framework for authoring, validating and distributing vehicle application data in XML format to aftermarket trading partners. It also enables data receivers to process catalogs into their systems in an automated way.</p>
        </div>
        <div class="section">
          <a class="img-width-150 align-left"><img src="sites/default/files/onboardpro.png"></a>
          <p class="para-txt mt-20"><strong>OnBoard </strong> and  <strong>OnBoard Pro</strong> are based on a SaaS (software as a service) model that requires no complex local installation. It includes the ability to deliver ACES, PIES, Images and other data, like pricing and installation instructions, to data receivers in a secure and efficient way. Private labeling support and connectivity for e-tailors is also available as part of the solution.  Text Flat File (CSV, TAB) importing of product data is acceptable and OnBoard will convert that data to PIES or other custom designed formats for channel partners and data receivers.</p>
          <p class="para-txt mt-20">Relationships are managed through a “handshake” system where receivers request data and suppliers grant access once to the cataloging information, then every time a new file is uploaded the receiver has the data automatically delivered to its eMail address or FTP server. They are also notified of its availability and delivery automatically.</p>
        </div>
        <div class="section">
          <div class="small-title">
            Web Catalog
          </div>
          <p class="para-txt mt-20">
            Success in the Automotive Aftermarket means having the right parts at the right time. OptiCat’s WebCatalog is an additional product to help customers get it right, with extensive auto parts data and photos that are just a click away in the OptiCat Web Catalog. This can be an easy alternative to the traditional paper catalog. The WebCatalog is a powerful tool that allows for multiple searches for automotive parts. This WebService returns a search based on a Make, Model, Year lookup.
          </p>
        </div>

        <div class="section">
          <div class="img-width-100 text-center">
            <img src="sites/default/files/onboard.png">
            <img src="sites/default/files/onboardpro.png">
          </div>
        </div>
        <div class="section">
          <div class="text-center">
            <img src="sites/default/files/OBTable.png">
            <p class="bold para-txt mt-20">Easy to Use Web‐based Toolset</p>
          </div>
        </div>
        <div class="section">
          <div class="text-center img-width-full">
            <img src="sites/default/files/OnBoard_Receivers_for_Website.png">
          </div>
        </div>
        <div class="section">
          <p class="para-txt">Uploaded files are checked for compliance to the VCDB and PCDB as well as XML formatting rules. OptiCat securely transfers thousands of files a month to more than 200 data receivers.</p>
          <p class="para-txt">Suppliers that use <strong> OnBoard </strong>are spending less time on manual data distribution tasks. This time is being reinvested to address cataloging issues and to develop richer product information that helps sell more parts. Suppliers have confidence in knowing who has their data, that the data is up to date and correct in downstream systems.</p>
          <p class="para-txt">A recently new feature called <strong> OnMail </strong> allows suppliers to specify the eMail address or FTP address for data distribution to any data receiver.  Supplier's will still have all the security and data delivery logs included in all other types of distribution as well as the ability to deliver any type of data, ACES, PIES, AWDA, Custom Created, etc...</p>
          <p class="para-txt">Many automotive aftermarket suppliers are increasing the frequency of catalog publishing. <strong> OnBoard </strong> helps cataloging departments keep up with up with the increased demand from data receivers and gives peace of mind that files are being delivered safely and reliably as they are published to their downstream partners.</p>
          <p class="bold para-txt mt-20 text-center">System Requirements</p>
          <ul class="listing-style-dot">
            <li>Window's platform, Microsoft Internet Explorer 7 or greater, Google Chrome or Firefox Internet Connectivity</li>
          </ul>

          <p class="bold para-txt mt-20 text-center">Key Benefits</p>
          <ul class="listing-style-circle">
            <li>Speed to market —&nbsp;resulting in more sales of new products.</li>
            <li>Central Repository model — that delivers Cataloging, Product Information and Digital Assets efficiently to Data Receivers from one upload.</li>
            <li><span class="s1">OptiCat securely transfers thousands of files each month to data receivers.</span></li>
            <li>Optimized error handling — tools to find errors before your customers do.</li>
            <li>Accurate, efficient and fast delivery of data — with reporting that lets you easily understand who has received the data.</li>
            <li>Integrated to OnTarget ACES Validation and Comparison software.</li>
            <li>OnMail delivery of data to any data receiver.</li>
            <li>Improved service to data receivers — with less reprocessing.</li>
            <li>Integration with OnDemand&nbsp;and OnTarget ACES Validation and Comparison software.</li>
            <li>Image Sync Service (New)</li>
            <li>Heavy Duty Data (New)</li>
            <li>ACES/PIES Private Label File Creation (New)</li>
          </ul>

        </div>



        <div class="section">
          <p><img src="sites/default/files/pies_aces.gif" class="aligncenter"></p>
          <p><img src="sites/default/files/strong-supporter.png" class="aligncenter"></p>
          <p><img src="sites/default/files/autocare.png" class="aligncenter"></p>
          <p class="small-title-snall mt-20 text-center">OptiCat—Global Aftermarket Data Solutions for Suppliers, Data Receivers and Technology Providers </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="sidebar-section">
        <div class="recent-post widget">
          <h3 class="sidebar-title">Recent Posts</h3>
          <ul class="sidebar-listing-style">
            <li>
              <a href="">OptiCat Announces that Paramount Data Management has integrated into the OptiCat OnBoard API</a>
            </li>
            <li>
              <a href="">OptiCat LLC Named to MountainWest Capital Network’s 2018 Utah 100</a>
            </li>
            <li>
              <a href="">OptiCat LLC and JNPSoft Announce New API Connection</a>
            </li>
            <li>
              <a href="">The New TecAlliance Global Vehicle Table</a>
            </li>
            <li>
              <a href="">OptiCat Announces Three Exciting New Catalog Products</a>
            </li>
          </ul>
        </div>
        <div class="recent-comments widget">
          <h3 class="sidebar-title">Recent Comments</h3>

        </div>
        <div class="archives widget">
          <h3 class="sidebar-title">Recent Posts</h3>
          <ul class="sidebar-listing-style">
            <li><a href="javascript://">December 2018</a></li>
            <li><a href="javascript://">November 2018</a></li>
            <li><a href="javascript://">October 2018</a></li>
            <li><a href="javascript://">September 2018</a></li>
            <li><a href="javascript://">July 2018</a></li>
            <li><a href="javascript://">June 2018</a></li>
            <li><a href="javascript://">June 2017</a></li>
            <li><a href="javascript://">October 2016</a></li>
            <li><a href="javascript://">March 2016</a></li>
            <li><a href="javascript://">February 2016</a></li>
            <li><a href="javascript://">December 2015</a></li>
            <li><a href="javascript://">September 2015</a></li>
            <li><a href="javascript://">August 2015</a></li>
            <li><a href="javascript://">July 2015</a></li>
            <li><a href="javascript://">June 2015</a></li>
            <li><a href="javascript://">May 2015</a></li>
            <li><a href="javascript://">April 2015</a></li>
            <li><a href="javascript://">January 2015</a></li>
            <li><a href="javascript://">August 2014</a></li>
            <li><a href="javascript://">May 2014</a></li>
            <li><a href="javascript://">April 2014</a></li>
            <li><a href="javascript://">January 2014</a></li>
            <li><a href="javascript://">April 2011</a></li>
            <li><a href="javascript://">March 2011</a></li>
          </ul>
        </div>
        <div class="categories widget">
          <h3 class="sidebar-title">Categories</h3>
          <ul class="sidebar-listing-style">
            <li><a href="javascript://">AASA</a></li>
            <li><a href="javascript://">ACES</a></li>
            <li><a href="javascript://">Aftermarket</a></li>
            <li><a href="javascript://">Automotive Aftermarket Data Receivers</a></li>
            <li><a href="javascript://">Automotive Aftermarket Data Suppliers</a></li>
            <li><a href="javascript://">Catalogs</a></li>
            <li><a href="javascript://">GVT</a></li>
            <li><a href="javascript://">JNPSoft</a></li>
            <li><a href="javascript://">OnBoardPro</a></li>
            <li><a href="javascript://">OnTarget</a></li>
            <li><a href="javascript://">OnTargetPro</a></li>
            <li><a href="javascript://">Opticat News</a></li>
            <li><a href="javascript://">PDM</a></li>
            <li><a href="javascript://">Press Releases</a></li>
            <li><a href="javascript://">TecAlliance</a></li>
            <li><a href="javascript://">TecDoc</a></li>
            <li><a href="javascript://">Uncategorized</a></li>
        </ul>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- ONBOARD End-->

<!-- ONDEMAND start-->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="breadcrumb-section">
        <h1 class="title-header">ONDEMAND</h1>
        <ul class="breadcrumb-list">
          <li>
            <a href="">Home</a>
          </li>
          <li class="divider"></li>
          <li class=""><a href="">Products</a></li>
          <li class="divider"></li>
          <li class="active">OnDemand</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="content-section">
        <div class="section">
          <a href="http://www.opticatnetwork.com/ondemand" class="red-txt bold" target="_blank">Login to OnDemand</a>
        </div>
        <div class="section">
          <a class="img-width-150 align-left"><img src="sites/default/files/ondemand.png"></a>
          <p class="small-title-snall">Receiver Catalog Data Selection, Template Creation and Delivery Porta</p>
          <p class="para-txt mt-20">Having Clean and Accurate data really makes a difference when trying to build an electronic catalog.  The cleaner this data the faster it processes into systems, and the better the results on the counter. Receiving catalog and product information quickly and efficiently is vital for data receivers to compete in the Automotive Aftermarket. <strong> OptiCat's OnDemand </strong> software helps data receivers manage their data relationships with a comprehensive and secure authorization system, validation routines that check data and a delivery engine that takes pain out of receiving product information from suppliers.  For even better data, request your suppliers to use OptiCat's OnTarget validation software.  How nice, one place to go to get all your aftermarket cataloging data.  You can even create your own custom format of PIES or flat data by controlling the fields and their placement in the delivery file.</p>
          <p class="para-txt mt-20"><strong> OnDemand </strong> is based on a SaaS (software as a service) model that requires no complex local installation. It includes the ability to receive ACES, PIES, Images and other data like pricing from suppliers in a secure and efficient way. Private labeling support is built into the solution. Relationships are managed through a “handshake” system where receivers request data and suppliers grant access once to the cataloging information, then every time a new file is uploaded the receiver has the data automatically delivered to its eMail address or FTP server. Receivers are also notified of its availability and delivery automatically.</p>
          <p class="para-txt mt-20">Uploaded files are checked for compliance to the VCDB and PCDB as well as XML formatting rules. Receivers that use <strong> OnDemand </strong> are spending less time on manual data processing tasks. Data Receivers have confidence in knowing that their data is up to date and correct.  Many data receivers have built in automated processing routines so that data is received, processed into a catalog and available to the market within 4 to 48 hours.
          </p>
          <div class="text-center img-width-full">
            <p class="bold para-txt mt-20 mb-20">Easy to use Web-based toolset with custom PIES Templates </p>
            <img src="sites/default/files/New_OnDemand_Tempalte_for_Website.png">
          </div>

        </div>
        <div class="section">
          <p class="bold para-txt mt-20 text-center">System Requirements</p>
          <ul class="listing-style-dot">
            <li>Windows Platform, Microsoft Internet Explorer 7 or greater, Google Chrome or Firefox Internet Connectivity</li>
          </ul>

          <p class="bold para-txt mt-20 text-center">Key Benefits</p>
          <ul class="listing-style-circle">
            <li>Clean and Accurate Data.</li>
            <li>Central Repository model—that delivers Cataloging, Product Information and Images efficiently from Data Suppliers and their brands, all from one place.</li>
            <li>Efficient and fast delivery of data.</li>
            <li>Improved service from suppliers — with less reprocessing.</li>
            <li>Better control of data partner relationships.</li>
            <li>Custom built Product Information Output Templates.</li>
            <li>Image Sync Service (New)</li>
            <li>Heavy Duty Data (New)</li>
          </ul>

        </div>



        <div class="section">
          <p><img src="sites/default/files/pies_aces.gif" class="aligncenter"></p>
          <p><img src="sites/default/files/strong-supporter.png" class="aligncenter"></p>
          <p><img src="sites/default/files/autocare.png" class="aligncenter"></p>
          <p class="small-title-snall mt-20 text-center">OptiCat—Global Aftermarket Data Solutions for Suppliers, Data Receivers and Technology Providers</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="sidebar-section">
        <div class="recent-post widget">
          <h3 class="sidebar-title">Recent Posts</h3>
          <ul class="sidebar-listing-style">
            <li>
              <a href="">OptiCat Announces that Paramount Data Management has integrated into the OptiCat OnBoard API</a>
            </li>
            <li>
              <a href="">OptiCat LLC Named to MountainWest Capital Network’s 2018 Utah 100</a>
            </li>
            <li>
              <a href="">OptiCat LLC and JNPSoft Announce New API Connection</a>
            </li>
            <li>
              <a href="">The New TecAlliance Global Vehicle Table</a>
            </li>
            <li>
              <a href="">OptiCat Announces Three Exciting New Catalog Products</a>
            </li>
          </ul>
        </div>
        <div class="recent-comments widget">
          <h3 class="sidebar-title">Recent Comments</h3>

        </div>
        <div class="archives widget">
          <h3 class="sidebar-title">Recent Posts</h3>
          <ul class="sidebar-listing-style">
            <li><a href="javascript://">December 2018</a></li>
            <li><a href="javascript://">November 2018</a></li>
            <li><a href="javascript://">October 2018</a></li>
            <li><a href="javascript://">September 2018</a></li>
            <li><a href="javascript://">July 2018</a></li>
            <li><a href="javascript://">June 2018</a></li>
            <li><a href="javascript://">June 2017</a></li>
            <li><a href="javascript://">October 2016</a></li>
            <li><a href="javascript://">March 2016</a></li>
            <li><a href="javascript://">February 2016</a></li>
            <li><a href="javascript://">December 2015</a></li>
            <li><a href="javascript://">September 2015</a></li>
            <li><a href="javascript://">August 2015</a></li>
            <li><a href="javascript://">July 2015</a></li>
            <li><a href="javascript://">June 2015</a></li>
            <li><a href="javascript://">May 2015</a></li>
            <li><a href="javascript://">April 2015</a></li>
            <li><a href="javascript://">January 2015</a></li>
            <li><a href="javascript://">August 2014</a></li>
            <li><a href="javascript://">May 2014</a></li>
            <li><a href="javascript://">April 2014</a></li>
            <li><a href="javascript://">January 2014</a></li>
            <li><a href="javascript://">April 2011</a></li>
            <li><a href="javascript://">March 2011</a></li>
          </ul>
        </div>
        <div class="categories widget">
          <h3 class="sidebar-title">Categories</h3>
          <ul class="sidebar-listing-style">
            <li><a href="javascript://">AASA</a></li>
            <li><a href="javascript://">ACES</a></li>
            <li><a href="javascript://">Aftermarket</a></li>
            <li><a href="javascript://">Automotive Aftermarket Data Receivers</a></li>
            <li><a href="javascript://">Automotive Aftermarket Data Suppliers</a></li>
            <li><a href="javascript://">Catalogs</a></li>
            <li><a href="javascript://">GVT</a></li>
            <li><a href="javascript://">JNPSoft</a></li>
            <li><a href="javascript://">OnBoardPro</a></li>
            <li><a href="javascript://">OnTarget</a></li>
            <li><a href="javascript://">OnTargetPro</a></li>
            <li><a href="javascript://">Opticat News</a></li>
            <li><a href="javascript://">PDM</a></li>
            <li><a href="javascript://">Press Releases</a></li>
            <li><a href="javascript://">TecAlliance</a></li>
            <li><a href="javascript://">TecDoc</a></li>
            <li><a href="javascript://">Uncategorized</a></li>
        </ul>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- ONDEMAND end-->

<!-- ONTARGET start-->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="breadcrumb-section">
        <h1 class="title-header">ONTARGET</h1>
        <ul class="breadcrumb-list">
          <li>
            <a href="">Home</a>
          </li>
          <li class="divider"></li>
          <li class=""><a href="">Products</a></li>
          <li class="divider"></li>
          <li class="active">OnTarget</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="content-section">
        <div class="section">
          <a href="http://www.opticatnetwork.com/ontarget/" class="red-txt bold" target="_blank">Install OnTarget</a>
        </div>
        <div class="section">
          <a class="img-width-150 align-left"><img src="sites/default/files/ontarget.png"></a>
          <p class="small-title-snall">Supplier ACES Data Validation, Content Comparison and Assessment Program</p>
          <p class="para-txt mt-20">Having quality data is critical to compete in this competitive parts selling environment and for reducing returns. Also, having well formed and correct ACES files is vital for delivery of data to today's high tech receivers who can process your data and have it to market in hours instead of months. <strong> OptiCat OnTarget </strong>is a toolset with services that validate supplier data, identifying errors in mapping, output logic and even data mapping issues with the PCDB and VCDB.  It will also compare your new ACES file with the file you delivered previously and shows you dropped parts and vehicles as well as those added and many other features.</p>
          <p class="para-txt mt-20"><strong> OnTarget </strong> provides onsite, locally available functionality that enables a discreet quality control function on suppliers cataloging output and product information management system output logic. Issues are exposed internally allowing catalog managers to make any necessary corrections before their downstream partners find them and create painful assessment document which are sometimes weeks later.</p>
          <div class="text-center mb-20">
            <p class="bold para-txt mt-20 mb-20">File Selection Screen with Integration to OnBoard</p>
            <img src="sites/default/files/Website_OnTarget_Discrepancy_View.png">
          </div>

        </div>
        <div class="section mt-20">
          <p class="bold para-txt text-center">Key Benefits</p>
          <ul class="listing-style-dot">
            <li>Increased speed to market - resulting in more sales.</li>
            <li>Optimized error handling - you find errors before your customers do.</li>
            <li>Tools to view and troubleshoot XML data with ease.</li>
            <li>More effective presentation of your data at point of sale — fewer returns.</li>
            <li>Better quality control of all major components of the cataloging chain.</li>
            <li>Integration to OptiCat OnBoard and OnDemand</li>
            <li>View Receiver Requirements</li>
            <li>Ability to&nbsp;validate ACES data against&nbsp;current or previous versions of the VCDB and PCDB .</li>
          </ul>
        </div>

        <div class="section">
          <a class="img-width-150 align-left"><img src="sites/default/files/ontargetpro.png"></a>
          <p class="small-title-snall">OnTarget Pro  - Validation and Assessment Toolset with integration to OnDemand</p>
          <p class="para-txt mt-20"> <strong> OptiCat OnTarget Pro </strong> is an expanded OnTarget system with services that validate supplier data, identifying errors in mapping, output logic and even data mapping issues with the PCDB and VCDB.  <strong> OnTarget Pro </strong> has the ability to compare current ACES files with previously distributed files to view new or dropped vehicles and parts as well as potential changes in the data. Additionally users are able to see the expectations for data quality from their major data receivers called Receiver Requirements and are able to see upfront if the file will be accepted by their customers based on their requirements.</p>
          <div class="text-center mb-20">
            <p class="bold para-txt mt-20 mb-20">Example Summary Screen Showing File Comparison Results</p>
            <img src="sites/default/files/New_OnTarget_Comparison_View.png" title="New_OnTarget_Comparison_View.png">
          </div>

        </div>


        <div class="section mt-20">
          <p class="bold para-txt text-center">System Requirements</p>
          <ul class="listing-style-dot">
            <li>Minimum - a 32 bit Windows 7 or 8 operating system with&nbsp;4 gigabytes of RAM and at least 10 gigabyte of free hard drive space</li>
            <li>Recommended - a 64bit Windows 7 or 8 operating system with&nbsp;8 gigabytes of RAM with at least 20 gigabyte of free hard drive space.</li>
          </ul>

          <p class="bold para-txt text-center">Additional Benefits</p>
          <ul class="listing-style-dot">
            <li>ACES data comparison to previously distributed data finding dropped records</li>
            <li>Increased speed to market with major data receivers - resulting in more sales.</li>
            <li>Helps catalog managers verify the data is accurate and complete.</li>
            <li>New or Deleted Parts, Vehicles, Part Types and potential changes in the data are visible as shown above.</li>
            <li>All results are exportable to a text file.</li>
            <li>Improved relationship with data receivers — with less reprocessing.</li>
            <li>Integration to OptiCat OnDemand Receiver Requirements.</li>
            <li>Reduced Assessment time with data receivers.</li>
            <li>PIES Validation (New)</li>
            <li>VCdb Validation (New)</li>
            <li>Position Validation (New)</li>
            <li>Assessment Documents (New)</li>
            <li>Automated Data Delivery Documents (New)</li>
          </ul>
          <p class="small-title-snall mt-20 text-center">OptiCat-Global Aftermarket Data Solutions for Suppliers, Data Receivers and Technology Providers</p>
        </div>



        <div class="section">
          <p><img src="sites/default/files/pies_aces.gif" class="aligncenter"></p>
          <p><img src="sites/default/files/strong-supporter.png" class="aligncenter"></p>
          <p><img src="sites/default/files/autocare.png" class="aligncenter"></p>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="sidebar-section">
        <div class="recent-post widget">
          <h3 class="sidebar-title">Recent Posts</h3>
          <ul class="sidebar-listing-style">
            <li>
              <a href="">OptiCat Announces that Paramount Data Management has integrated into the OptiCat OnBoard API</a>
            </li>
            <li>
              <a href="">OptiCat LLC Named to MountainWest Capital Network’s 2018 Utah 100</a>
            </li>
            <li>
              <a href="">OptiCat LLC and JNPSoft Announce New API Connection</a>
            </li>
            <li>
              <a href="">The New TecAlliance Global Vehicle Table</a>
            </li>
            <li>
              <a href="">OptiCat Announces Three Exciting New Catalog Products</a>
            </li>
          </ul>
        </div>
        <div class="recent-comments widget">
          <h3 class="sidebar-title">Recent Comments</h3>

        </div>
        <div class="archives widget">
          <h3 class="sidebar-title">Recent Posts</h3>
          <ul class="sidebar-listing-style">
            <li><a href="javascript://">December 2018</a></li>
            <li><a href="javascript://">November 2018</a></li>
            <li><a href="javascript://">October 2018</a></li>
            <li><a href="javascript://">September 2018</a></li>
            <li><a href="javascript://">July 2018</a></li>
            <li><a href="javascript://">June 2018</a></li>
            <li><a href="javascript://">June 2017</a></li>
            <li><a href="javascript://">October 2016</a></li>
            <li><a href="javascript://">March 2016</a></li>
            <li><a href="javascript://">February 2016</a></li>
            <li><a href="javascript://">December 2015</a></li>
            <li><a href="javascript://">September 2015</a></li>
            <li><a href="javascript://">August 2015</a></li>
            <li><a href="javascript://">July 2015</a></li>
            <li><a href="javascript://">June 2015</a></li>
            <li><a href="javascript://">May 2015</a></li>
            <li><a href="javascript://">April 2015</a></li>
            <li><a href="javascript://">January 2015</a></li>
            <li><a href="javascript://">August 2014</a></li>
            <li><a href="javascript://">May 2014</a></li>
            <li><a href="javascript://">April 2014</a></li>
            <li><a href="javascript://">January 2014</a></li>
            <li><a href="javascript://">April 2011</a></li>
            <li><a href="javascript://">March 2011</a></li>
          </ul>
        </div>
        <div class="categories widget">
          <h3 class="sidebar-title">Categories</h3>
          <ul class="sidebar-listing-style">
            <li><a href="javascript://">AASA</a></li>
            <li><a href="javascript://">ACES</a></li>
            <li><a href="javascript://">Aftermarket</a></li>
            <li><a href="javascript://">Automotive Aftermarket Data Receivers</a></li>
            <li><a href="javascript://">Automotive Aftermarket Data Suppliers</a></li>
            <li><a href="javascript://">Catalogs</a></li>
            <li><a href="javascript://">GVT</a></li>
            <li><a href="javascript://">JNPSoft</a></li>
            <li><a href="javascript://">OnBoardPro</a></li>
            <li><a href="javascript://">OnTarget</a></li>
            <li><a href="javascript://">OnTargetPro</a></li>
            <li><a href="javascript://">Opticat News</a></li>
            <li><a href="javascript://">PDM</a></li>
            <li><a href="javascript://">Press Releases</a></li>
            <li><a href="javascript://">TecAlliance</a></li>
            <li><a href="javascript://">TecDoc</a></li>
            <li><a href="javascript://">Uncategorized</a></li>
        </ul>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- ONTARGET end-->

<!-- ONLINE START-->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="breadcrumb-section">
        <h1 class="title-header">ONLINE</h1>
        <ul class="breadcrumb-list">
          <li>
            <a href="">Home</a>
          </li>
          <li class="divider"></li>
          <li class=""><a href="">Products</a></li>
          <li class="divider"></li>
          <li class="active">online</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="content-section">
        <div class="section">
          <a class="img-width-150 align-left"><img src="sites/default/files/online.png"></a>
          <p class="para-txt mt-20">Finding aftermarket parts is easy with OptiCat's new easy to use <strong> OnLine Web Catalog.</strong>  Within hours after a supplier uploads new ACES or PIES data it is visible in the new OptiCat OnLine web catalog.  This allows suppliers, WD's, Professional Repair Shops and consumers a trusted place to go for quality parts information.  This catalog is based on the Auto Care Industry standards and leverages the industry reference data for a consistent cataloging experience for the users. The user can search by Part Number, Brand or Vehicle.  The OnLine Catalog contains, with supplier approval, all the information the supplier provides to OptiCat’s data repository including multiple, high quality images.</p>
          <p class="para-txt mt-20">OptiCat can also offer a custom <strong>Supplier's Branded Catalog Web Site </strong> containing only the supplier's parts. This can be customized to look like, and be fully integrated into, the supplier's web site.</p>
          <p class="para-txt mt-20">OptiCat also offers third-party <strong> Web Services </strong> for accessing the OnLine catalog content and displaying it in their own parts catalog interface.</p>
          <div class="section text-center">
            <a href="https://www.opticatonline.com/" class="red-txt bold" target="_blank">www.opticatonline.com</a>
          </div>
          <div class="section text-center mb-20">
            <video width="100%" controls poster="sites/default/files/491254061.jpg">
              <source src="sites/default/files/videos/491254061.mp4" type="video/mp4">
              <source src="sites/default/files/videos/491254061.ogg" type="video/ogg">
              Your browser does not support HTML5 video.
            </video>
          </div>

        </div>
        <div class="section mt-20">
          <p class="bold para-txt text-center">Key Benefits</p>
          <ul class="listing-style-dot">
            <li>Supplier Brand Support (New)</li>
            <li>AASA Know Your Parts (New)</li>
            <li>VIN Lookup (New)</li>
          </ul>
        </div>
        <div class="section">
          <p><img src="sites/default/files/pies_aces.gif" class="aligncenter"></p>
          <p><img src="sites/default/files/strong-supporter.png" class="aligncenter"></p>
          <p><img src="sites/default/files/autocare.png" class="aligncenter"></p>

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="sidebar-section">
        <div class="recent-post widget">
          <h3 class="sidebar-title">Recent Posts</h3>
          <ul class="sidebar-listing-style">
            <li>
              <a href="">OptiCat Announces that Paramount Data Management has integrated into the OptiCat OnBoard API</a>
            </li>
            <li>
              <a href="">OptiCat LLC Named to MountainWest Capital Network’s 2018 Utah 100</a>
            </li>
            <li>
              <a href="">OptiCat LLC and JNPSoft Announce New API Connection</a>
            </li>
            <li>
              <a href="">The New TecAlliance Global Vehicle Table</a>
            </li>
            <li>
              <a href="">OptiCat Announces Three Exciting New Catalog Products</a>
            </li>
          </ul>
        </div>
        <div class="recent-comments widget">
          <h3 class="sidebar-title">Recent Comments</h3>

        </div>
        <div class="archives widget">
          <h3 class="sidebar-title">Recent Posts</h3>
          <ul class="sidebar-listing-style">
            <li><a href="javascript://">December 2018</a></li>
            <li><a href="javascript://">November 2018</a></li>
            <li><a href="javascript://">October 2018</a></li>
            <li><a href="javascript://">September 2018</a></li>
            <li><a href="javascript://">July 2018</a></li>
            <li><a href="javascript://">June 2018</a></li>
            <li><a href="javascript://">June 2017</a></li>
            <li><a href="javascript://">October 2016</a></li>
            <li><a href="javascript://">March 2016</a></li>
            <li><a href="javascript://">February 2016</a></li>
            <li><a href="javascript://">December 2015</a></li>
            <li><a href="javascript://">September 2015</a></li>
            <li><a href="javascript://">August 2015</a></li>
            <li><a href="javascript://">July 2015</a></li>
            <li><a href="javascript://">June 2015</a></li>
            <li><a href="javascript://">May 2015</a></li>
            <li><a href="javascript://">April 2015</a></li>
            <li><a href="javascript://">January 2015</a></li>
            <li><a href="javascript://">August 2014</a></li>
            <li><a href="javascript://">May 2014</a></li>
            <li><a href="javascript://">April 2014</a></li>
            <li><a href="javascript://">January 2014</a></li>
            <li><a href="javascript://">April 2011</a></li>
            <li><a href="javascript://">March 2011</a></li>
          </ul>
        </div>
        <div class="categories widget">
          <h3 class="sidebar-title">Categories</h3>
          <ul class="sidebar-listing-style">
            <li><a href="javascript://">AASA</a></li>
            <li><a href="javascript://">ACES</a></li>
            <li><a href="javascript://">Aftermarket</a></li>
            <li><a href="javascript://">Automotive Aftermarket Data Receivers</a></li>
            <li><a href="javascript://">Automotive Aftermarket Data Suppliers</a></li>
            <li><a href="javascript://">Catalogs</a></li>
            <li><a href="javascript://">GVT</a></li>
            <li><a href="javascript://">JNPSoft</a></li>
            <li><a href="javascript://">OnBoardPro</a></li>
            <li><a href="javascript://">OnTarget</a></li>
            <li><a href="javascript://">OnTargetPro</a></li>
            <li><a href="javascript://">Opticat News</a></li>
            <li><a href="javascript://">PDM</a></li>
            <li><a href="javascript://">Press Releases</a></li>
            <li><a href="javascript://">TecAlliance</a></li>
            <li><a href="javascript://">TecDoc</a></li>
            <li><a href="javascript://">Uncategorized</a></li>
        </ul>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- ONLINE END-->

<!-- KNOWLEDGE BASE start-->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="breadcrumb-section">
        <h1 class="title-header">KNOWLEDGE BASE</h1>
        <ul class="breadcrumb-list">
          <li>
            <a href="">Home</a>
          </li>
          <li class="divider"></li>
          <li class=""><a href="">Products</a></li>
          <li class="divider"></li>
          <li class="active">knowledge base</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="content-section">
        <div class="section">
          <h2 class="title-header">WEBINAR UPDATES</h2>
        </div>
        <div class="section">
          <p class="text-center small-title-snall bold ">What's New at OptiCat by Marc Poulsen (21:29)</p>
          <div class="text-center mb-20">
            <video width="100%" controls>
              <source src="sites/default/files/videos/201512151303WhatsNewatOptiCat_.mp4" type="video/mp4">
              <source src="sites/default/files/videos/201512151303WhatsNewatOptiCat_.ogg" type="video/ogg">
              Your browser does not support HTML5 video.
            </video>
          </div>
          <p class="mb-20" style="text-align: center;">---------------------------------------------------------------------------------------------------------</p>
          <p class="text-center small-title-snall bold ">What's New at OptiCat by Brandi Williams (8:36)</p>
          <div class="text-center mb-20">
            <video width="100%" controls>
              <source src="sites/default/files/videos/OnDemand Updates 11_23_15.mp4" type="video/mp4">
              <source src="sites/default/files/videos/OnDemand Updates 11_23_15.ogg" type="video/ogg">
              Your browser does not support HTML5 video.
            </video>
          </div>
          <p class="mb-20" style="text-align: center;">---------------------------------------------------------------------------------------------------------</p>
          <p class="text-center small-title-snall bold ">How to Use the VCDB Changes Tool in OnTarget by Brandi Williams (5:21)</p>
          <div class="text-center mb-20">
            <video width="100%" controls>
              <source src="sites/default/files/videos/201601251301HowtousetheVCdbChangesToolinOnTarget.mp4" type="video/mp4">
              <source src="sites/default/files/videos/201601251301HowtousetheVCdbChangesToolinOnTarget.ogg" type="video/ogg">
              Your browser does not support HTML5 video.
            </video>
          </div>
          <p class="mb-20" style="text-align: center;">---------------------------------------------------------------------------------------------------------</p>
          <p class="text-center small-title-snall bold ">Talking Global by Marc Poulsen (5:32)</p>
          <div class="text-center mb-20">
            <video width="100%" controls>
              <source src="sites/default/files/videos/201603041402GlobalSuccess.mp4" type="video/mp4">
              <source src="sites/default/files/videos/201603041402GlobalSuccess.ogg" type="video/ogg">
              Your browser does not support HTML5 video.
            </video>
          </div>
          <p class="mb-20" style="text-align: center;">---------------------------------------------------------------------------------------------------------</p>
          <p class="text-center small-title-snall bold ">How to get your Heavy Duty Data in OptiCat by Blake Barson (8:34)</p>
          <div class="text-center mb-20">
            <video width="100%" controls>
              <source src="sites/default/files/videos/2016-06-22 13.02 How To Get Your Heavy Duty Data in OptiCat.mp4" type="video/mp4">
              <source src="sites/default/files/videos/2016-06-22 13.02 How To Get Your Heavy Duty Data in OptiCat.ogg" type="video/ogg">
              Your browser does not support HTML5 video.
            </video>
          </div>
          <p class="mb-20" style="text-align: center;">---------------------------------------------------------------------------------------------------------</p>
          <p class="text-center small-title-snall bold ">Delivering Data to "Out of Network" Channel Partners is as easy as OnMail! by Brandi Williams (3:06)</p>
          <div class="text-center mb-20">
            <video width="100%" controls>
              <source src="sites/default/files/videos/OnMail_DEMO2.mp4" type="video/mp4">
              <source src="sites/default/files/videos/OnMail_DEMO2.ogg" type="video/ogg">
              Your browser does not support HTML5 video.
            </video>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="sidebar-section">
        <div class="recent-post widget">
          <h3 class="sidebar-title">Recent Posts</h3>
          <ul class="sidebar-listing-style">
            <li>
              <a href="">OptiCat Announces that Paramount Data Management has integrated into the OptiCat OnBoard API</a>
            </li>
            <li>
              <a href="">OptiCat LLC Named to MountainWest Capital Network’s 2018 Utah 100</a>
            </li>
            <li>
              <a href="">OptiCat LLC and JNPSoft Announce New API Connection</a>
            </li>
            <li>
              <a href="">The New TecAlliance Global Vehicle Table</a>
            </li>
            <li>
              <a href="">OptiCat Announces Three Exciting New Catalog Products</a>
            </li>
          </ul>
        </div>
        <div class="recent-comments widget">
          <h3 class="sidebar-title">Recent Comments</h3>

        </div>
        <div class="archives widget">
          <h3 class="sidebar-title">Recent Posts</h3>
          <ul class="sidebar-listing-style">
            <li><a href="javascript://">December 2018</a></li>
            <li><a href="javascript://">November 2018</a></li>
            <li><a href="javascript://">October 2018</a></li>
            <li><a href="javascript://">September 2018</a></li>
            <li><a href="javascript://">July 2018</a></li>
            <li><a href="javascript://">June 2018</a></li>
            <li><a href="javascript://">June 2017</a></li>
            <li><a href="javascript://">October 2016</a></li>
            <li><a href="javascript://">March 2016</a></li>
            <li><a href="javascript://">February 2016</a></li>
            <li><a href="javascript://">December 2015</a></li>
            <li><a href="javascript://">September 2015</a></li>
            <li><a href="javascript://">August 2015</a></li>
            <li><a href="javascript://">July 2015</a></li>
            <li><a href="javascript://">June 2015</a></li>
            <li><a href="javascript://">May 2015</a></li>
            <li><a href="javascript://">April 2015</a></li>
            <li><a href="javascript://">January 2015</a></li>
            <li><a href="javascript://">August 2014</a></li>
            <li><a href="javascript://">May 2014</a></li>
            <li><a href="javascript://">April 2014</a></li>
            <li><a href="javascript://">January 2014</a></li>
            <li><a href="javascript://">April 2011</a></li>
            <li><a href="javascript://">March 2011</a></li>
          </ul>
        </div>
        <div class="categories widget">
          <h3 class="sidebar-title">Categories</h3>
          <ul class="sidebar-listing-style">
            <li><a href="javascript://">AASA</a></li>
            <li><a href="javascript://">ACES</a></li>
            <li><a href="javascript://">Aftermarket</a></li>
            <li><a href="javascript://">Automotive Aftermarket Data Receivers</a></li>
            <li><a href="javascript://">Automotive Aftermarket Data Suppliers</a></li>
            <li><a href="javascript://">Catalogs</a></li>
            <li><a href="javascript://">GVT</a></li>
            <li><a href="javascript://">JNPSoft</a></li>
            <li><a href="javascript://">OnBoardPro</a></li>
            <li><a href="javascript://">OnTarget</a></li>
            <li><a href="javascript://">OnTargetPro</a></li>
            <li><a href="javascript://">Opticat News</a></li>
            <li><a href="javascript://">PDM</a></li>
            <li><a href="javascript://">Press Releases</a></li>
            <li><a href="javascript://">TecAlliance</a></li>
            <li><a href="javascript://">TecDoc</a></li>
            <li><a href="javascript://">Uncategorized</a></li>
        </ul>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- KNOWLEDGE BASE end-->


<!-- HOME - OPTICAT ONPOINT NEWSLETTER start-->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="breadcrumb-section">
        <h1 class="title-header">OPTICAT ONPOINT NEWSLETTER</h1>
        <ul class="breadcrumb-list">
          <li>
            <a href="">Home</a>
          </li>
          <li class="divider"></li>
          <li class="active">OPTICAT ONPOINT NEWSLETTER</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="content-section">
        <div class="section img-width-150">
          <a href="#"><img src="sites/default/files/OnPoint-Web-Graphic-134x134.png" alt="onpoint" /></a>
        </div>
        <div class="section">
          <div class="small-title">
            Executive Points
          </div>
          <p class="para-txt mt-20">
            The OptiCat Team is excited to provide you with our Newsletter, “OnPoint” Volume 1, Issue 3, as we reach out to share effective insights into important OptiCat product developments and tips that can help you sell more parts in 2015! Here are some of the “Points” covered in this issue:
          </p>
          <ul class="listing-style-dot">
            <li>OptiCat’s Image Sync Service (ISS) Allows OptiCat to sync receivers image folders with suppliers on a net change basis.</li>
            <li>OptiCat Education Series- Allows students the ability to use the OptiCat Online Catalog to help with ASE parts certification.</li>
            <li>Receivers now have the ability to receive ACES flat or CSV files from suppliers.</li>
            <li>OptiCat’s NEW Automated Data Delivery Documents and Assessment Documents allow suppliers to easily submit their data to those receivers that require these types of documents quickly and easily!</li>
            <li>PIES Mapping Services – Just ask us how!</li>
          </ul>
          <p>
            <a class="red-txt bold" href="sites/default/files/April  2015 Newsletter V2 Draft 0010.pdf" target="_blank" target="_blank">Click here to read more ...</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- HOME - OPTICAT ONPOINT NEWSLETTER end-->



<!-- HOME - Web services start-->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="breadcrumb-section">
        <h1 class="title-header">WEB SERVICES</h1>
        <ul class="breadcrumb-list">
          <li>
            <a href="">Home</a>
          </li>
          <li class="divider"></li>
          <li class="active">WEB SERVICES</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="content-section">
        <div class="section img-width-150">
          <a href="#"><img src="sites/default/files/Web-Services-Logo-134x134 .png" alt="onpoint" /></a>
        </div>
        <div class="section">
          <p class="para-txt mt-20">
            Your systems need the best automotive data, but you don’t have time to become an automotive data expert. Here’s the solution: our suite of web services allow you to access our data, institutional know-how, and expertise with minimal start-up time and 24×7 availability, by providing the Automotive Industry with the online tools needed to promote and effectively manage business.  Web Services allow you to access catalog application data or just PIES data to help you create a world class ACES / PIES compliant catalog.  These web services allow you to request Year, Make, Model, Category, Sub-Category and the Parts, Images and other digital assets that fit the application selected.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- HOME - HOME - Web services end-->
