
<section class="page-header page-header-xs dark">
				<div class="container">

					<h1>Locations</h1>

					<!-- breadcrumbs -->
					<ol class="breadcrumb">
						<li><a href="{{ url('<front>') }}">Home</a></li>
						<li class="active">Locations</li>
					</ol><!-- /breadcrumbs -->

				</div>
			</section>
<section id="portfolio" class="nopadding-bottom">
{% set arr_len = items|length %}
{% for key,value in items %}

<a href="{{ url('<front>') }}node/{{value[1]}}">
 {{ value[0]|raw }}
  </a>
   {% if key < arr_len-1 %}
    	<div class="divider divider-right"><!-- divider -->
	    <i class="fa fa-star-o"></i>
	   </div>
   {% endif %}
  
 {% endfor %}
</section>