<section class="featured_product">
    <div class="container">
      <div class="row">
        <div class="main_title">Featured Products</div>

        <button style="width:15%" class="btn btn-primary btn-appl-flit" onclick="compareproducts();">Compare Products</button>
        <div style="clear:both"></div>
        <br
        <div class="col-sm-12">
          <div class="">
            
            {% for key,value in products %}

              <div class="featured_item_box">
                <a href="{{ url('<front>') }}product_desc/{{value[0]}}">
                  <img class="featured_img" src="sites/default/files/{{value[6]}}" alt="featured product">
                  
                  {% if value[2] == 0 %}
              <span class="new_brand">New</span>
              {% else %}
              <span class="new_brand">Featured</span>
          {% endif %} 
                  {% if value[4] == 0 %}
            <span class="stock_status in">In Stock</span>
          {% else %}
             <span class="stock_status out">Out of Stock</span>
          {% endif %}

                  <div class="featured_item_price">
                    <span class="price_color">${{value[5]}}</span>
                  </div>
                  </a>                                    
                  <div class="product_wishlist"><a href="{{ url('<front>') }}product_desc/{{value[0]}}">
                    <a id="wishtlist_class" wishvalue= {{ value[0] }}>                                
                      <i  id="{{ value[0] }}insidewish" {% if value[7] == 1 %} class="fa fa-heart" {% else %} class="fa fa-heart-o" {% endif %} aria-hidden="true">
                      </i>
                    </a>
                  </div>
                  <div class="clearfix"></div>
                  <h5><b>{{value[9]}} {{value[10]}} </b></h5>
                      <div class="tooltipcustom">{{value[1]}}
                        <span class="tooltiptext">{{value[8]}}</span>
                      </div>
                  <div class="feature_ratings">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star-half-o"></i></li>
                    </ul>
                  </div>
                
                <div class="feature_info">
                  <a href="{{ url('<front>') }}product_desc/{{value[0]}}">More Info</a>|
                  <a  id="{{value[0]}}" class="addtocart_class">Add to Cart</a>|
                  <a href="#">Compare</a>
                  <input type="checkbox" class ="compareselect" id="{{value[0]}}">
                </div>
              </div>
            {% endfor %}
          </div>         
        </div>
      </div>
    </div>
  </section>