<!-- why opticat start -->

<div class="container" style="display:none;">
  <div class="row">
    <div class="col-md-12">
      <div class="breadcrumb-section">
        <h1 class="title-header">Why opticat?</h1>
        <ul class="breadcrumb-list">
          <li>
            <a href="">Home</a>
          </li>
          <li class="divider"></li>
          <li class="active">why opticat?</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="content-section">
        <div class="section">
          <div class="small-title">
            WHY OptiCat?</div>
          <p class="para-txt mt-20">Both Suppliers of data and Receivers of data are significantly improving their catalog data “time to market” when they join the OptiCat Network!  Speed of data to market is most important when you want to market new product lines or need to provide data updates to your channel partners. Delays or errors will cause many unintended consequences including high product returns due to miss application and lost customers.</p>

          <p class="para-txt mt-20">OptiCat’s programs allow data Suppliers and Receivers to efficiently manage multiple channel partner relationships in one application.</p>
          <div class="small-title">The OptiCat Strategic Advantage</div>
          <ul class="listing-style-dot">
							<li>Suppliers and Data Receivers can experience “Near Real Time” data delivery of ACES, PIES, AWDA, IMAGES and other data files.</li>
							<li>OptiCat software helps Suppliers find data discrepancies that keeps data from processing error free at the Receivers locations.</li>
							<li>Excellent ACES data comparison program to help Suppliers deliver better data and catch accidental mistakes in the ACES creation process.</li>
							<li>A customized portal for Suppliers provides a clean and simple way for validation, authorization and distribution of all catalog data.</li>
							<li>View delivery logs as old as six months ago.</li>
							<li>Inclusion, if you choose, in the OnLine Web Catalog allowing you to ensure that your latest parts and parts versions are being viewed by the marketplace, meaning more sales and, as important, more “sales that stick”.</li>
						</ul>
        </div>
        <div class="section">
          <div class="small-title">Supplier Solutions Include:</div>
          <ul class="listing-style-dot">
              <li>Data Validation.</li>
              <li>Data Distribution (ACES, PIES, Images, Pricing, Product Information).</li>
              <li>Global Market Opportunities.</li>
              <li>Assessment Optimization.</li>
              <li>Flexible product information data delivery (PIES Flat Files).</li>
              <li>Receivers can create their own product information data delivery templates.</li>
          </ul>
        </div>
        <div class="section">
						<a href="http://www.opticatnetwork.com/ontarget/" class="red-txt bold" target="_blank">Clean, Accurate Data</a>
            <ul class="listing-style-dot">
                <li>A place where data receivers can create their own data formats that all product information can be delivered to.</li>
                <li>A web portal built specifically for Data Receivers where they can request and manage the distribution of all data types from brands of hundreds of different suppliers.</li>
                <li>Receive email notification when data is available.</li>
                <li>Set Data Quality Requirements that suppliers can see when validating data.</li>
            </ul>
        </div>
        <div class="section">
						<div class="small-title">Receiver Solutions Include:</div>
            <ul class="listing-style-dot">
                <li>Receiver Requirements</li>
                <li>Data Custom Templates for custom file delivery</li>
                <li>Most current data available from Suppliers</li>
                <li>Clean data delivery for error free processing.</li>
                <li>Global Connections.</li>
                <li>Assessment Optimization.</li>
            </ul>
        </div>
        <div class="section">
						<a href="http://www.opticatnetwork.com/ontarget/" class="red-txt bold" target="_blank">Collaboration for Technology Providers</a>
            <ul class="listing-style-dot">
                <li>OptiCat Integration.</li>
                <li>TecDoc data Integration.</li>
            </ul>
            <p class="para-txt mt-20">OptiCat has worked to resolve thousands of data and data process issues with suppliers and receivers resulting in improved data quality and speed to market. These, in turn, result in more sales for all… and “This is what OptiCat is all about… supporting your success!”</p>
        </div>
        <div class="section">
          <p><img src="sites/default/files/pies_aces.gif" class="aligncenter"></p>
          <p><img src="sites/default/files/strong-supporter.png" class="aligncenter"></p>
          <p><img src="sites/default/files/autocare.png" class="aligncenter"></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="sidebar-section">
        <div class="recent-post widget">
          <h3 class="sidebar-title">Recent Posts</h3>
          <ul class="sidebar-listing-style">
            <li>
              <a href="">OptiCat Announces that Paramount Data Management has integrated into the OptiCat OnBoard API</a>
            </li>
            <li>
              <a href="">OptiCat LLC Named to MountainWest Capital Network’s 2018 Utah 100</a>
            </li>
            <li>
              <a href="">OptiCat LLC and JNPSoft Announce New API Connection</a>
            </li>
            <li>
              <a href="">The New TecAlliance Global Vehicle Table</a>
            </li>
            <li>
              <a href="">OptiCat Announces Three Exciting New Catalog Products</a>
            </li>
          </ul>
        </div>
        <div class="recent-comments widget">
          <h3 class="sidebar-title">Recent Comments</h3>

        </div>
        <div class="archives widget">
          <h3 class="sidebar-title">Recent Posts</h3>
          <ul class="sidebar-listing-style">
            <li><a href="javascript://">December 2018</a></li>
            <li><a href="javascript://">November 2018</a></li>
            <li><a href="javascript://">October 2018</a></li>
            <li><a href="javascript://">September 2018</a></li>
            <li><a href="javascript://">July 2018</a></li>
            <li><a href="javascript://">June 2018</a></li>
            <li><a href="javascript://">June 2017</a></li>
            <li><a href="javascript://">October 2016</a></li>
            <li><a href="javascript://">March 2016</a></li>
            <li><a href="javascript://">February 2016</a></li>
            <li><a href="javascript://">December 2015</a></li>
            <li><a href="javascript://">September 2015</a></li>
            <li><a href="javascript://">August 2015</a></li>
            <li><a href="javascript://">July 2015</a></li>
            <li><a href="javascript://">June 2015</a></li>
            <li><a href="javascript://">May 2015</a></li>
            <li><a href="javascript://">April 2015</a></li>
            <li><a href="javascript://">January 2015</a></li>
            <li><a href="javascript://">August 2014</a></li>
            <li><a href="javascript://">May 2014</a></li>
            <li><a href="javascript://">April 2014</a></li>
            <li><a href="javascript://">January 2014</a></li>
            <li><a href="javascript://">April 2011</a></li>
            <li><a href="javascript://">March 2011</a></li>
          </ul>
        </div>
        <div class="categories widget">
          <h3 class="sidebar-title">Categories</h3>
          <ul class="sidebar-listing-style">
            <li><a href="javascript://">AASA</a></li>
            <li><a href="javascript://">ACES</a></li>
            <li><a href="javascript://">Aftermarket</a></li>
            <li><a href="javascript://">Automotive Aftermarket Data Receivers</a></li>
            <li><a href="javascript://">Automotive Aftermarket Data Suppliers</a></li>
            <li><a href="javascript://">Catalogs</a></li>
            <li><a href="javascript://">GVT</a></li>
            <li><a href="javascript://">JNPSoft</a></li>
            <li><a href="javascript://">OnBoardPro</a></li>
            <li><a href="javascript://">OnTarget</a></li>
            <li><a href="javascript://">OnTargetPro</a></li>
            <li><a href="javascript://">Opticat News</a></li>
            <li><a href="javascript://">PDM</a></li>
            <li><a href="javascript://">Press Releases</a></li>
            <li><a href="javascript://">TecAlliance</a></li>
            <li><a href="javascript://">TecDoc</a></li>
            <li><a href="javascript://">Uncategorized</a></li>
        </ul>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- why opticat start -->

<!-- Solutions start-->

<div class="container" style="display:none;">
  <div class="row">
    <div class="col-md-12">
      <div class="breadcrumb-section">
        <h1 class="title-header">SOLUTIONS</h1>
        <ul class="breadcrumb-list">
          <li>
            <a href="">Home</a>
          </li>
          <li class="divider"></li>
          <li>why opticat?</li>
          <li class="divider"></li>
          <li class="active">Solutions</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="content-section">
        <div class="section">
        <div class="small-title">WHY OptiCat?</div>
          </div>
        <div class="section">
          <div class="small-title">The OptiCat Strategic Advantage</div>
          <ul class="listing-style-dot">
							<li>Suppliers and Data Receivers can experience “Near Real Time” data delivery of ACES, PIES, AWDA, IMAGES and other data files.</li>
							<li>Excellent ACES validation and data comparison programs to help suppliers deliver cleaner data and catch accidental mistakes in the ACES creation process.</li>
							<li>A customized portal for Suppliers, provides a clean and simple way for validation, authorization and distribution of all catalog data.</li>
							<li>View delivery logs as old as six months ago so you know who you have sent data to and when.</li>
							<li>OptiCat provides a consistent, updated portal for communicating with your channel partners for data delivery and receiving.  So you will always know who to contact.</li>
						</ul>
        </div>
        <div class="section">
          <div class="small-title">Supplier Advantages Include:</div>
          <ul class="listing-style-dot">
              <li>Data Validation</li>
              <li>Data Distribution (ACES, PIES, Images, Pricing, Product Information and other digital assets)</li>
              <li>Global Market Opportunities</li>
              <li>Assessment Optimization</li>
              <li>Receiver contact connections</li>
              <li>Flexible product information data delivery (PIES Flat Files)</li>
              <li>Receivers can create their own product information data delivery templates</li>
          </ul>
        </div>
        <div class="section">
						<a href="http://www.opticatnetwork.com/ontarget/" class="red-txt bold" target="_blank">Better Data Sells More Parts "Sooner":</a>
            <ul class="listing-style-dot">
                <li>A place where data receivers can create their own data formats that all product information can be delivered in</li>
                <li>A web portal built specifically for Data Receivers where they can request and manage the distribution of all data types from different suppliers</li>
                <li>Receive email advance shipping notification when data is available</li>
                <li>Set Data Quality Requirements that suppliers can see when validating data</li>
                <li>Delivering cleaner data will allow suppliers data to process quicker, avoid assessment delays and be on the counter and web sites sooner</li>
            </ul>
        </div>
        <div class="section">
						<div class="small-title">Receiver Advantages Include:</div>
            <ul class="listing-style-dot">
                <li>Clean data delivery for error free processing</li>
                <li>Global Connections.</li>
                <li>Assessment Optimization.</li>
                <li>Supplier contact connections</li>
                <li>Create your own custom formats for Product Information or PIES type data</li>
                <li>We enable data receivers and channel partners to have control of their cataloging destiny</li>
            </ul>
        </div>
        <div class="section">
						<a href="http://www.opticatnetwork.com/ontarget/" class="red-txt bold" target="_blank">Collaboration for Technology Providers:</a>
            <ul class="listing-style-dot">
                <li>OptiCat Integration</li>
                <li>TecDoc data Integration</li>
            </ul>
            <p class="para-txt mt-20">OptiCat has worked on and resolved thousands of data issues with suppliers resulting in better quality and more timely data throughout the aftermarket.  Our goal is to help suppliers delivery accurate and process able data to data receivers.</p>
        </div>
        <div class="section">
          <p><img src="sites/default/files/pies_aces.gif" class="aligncenter"></p>
          <p><img src="sites/default/files/strong-supporter.png" class="aligncenter"></p>
          <p><img src="sites/default/files/autocare.png" class="aligncenter"></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="sidebar-section">
        <div class="recent-post widget">
          <h3 class="sidebar-title">Recent Posts</h3>
          <ul class="sidebar-listing-style">
            <li>
              <a href="">OptiCat Announces that Paramount Data Management has integrated into the OptiCat OnBoard API</a>
            </li>
            <li>
              <a href="">OptiCat LLC Named to MountainWest Capital Network’s 2018 Utah 100</a>
            </li>
            <li>
              <a href="">OptiCat LLC and JNPSoft Announce New API Connection</a>
            </li>
            <li>
              <a href="">The New TecAlliance Global Vehicle Table</a>
            </li>
            <li>
              <a href="">OptiCat Announces Three Exciting New Catalog Products</a>
            </li>
          </ul>
        </div>
        <div class="recent-comments widget">
          <h3 class="sidebar-title">Recent Comments</h3>

        </div>
        <div class="archives widget">
          <h3 class="sidebar-title">Recent Posts</h3>
          <ul class="sidebar-listing-style">
            <li><a href="javascript://">December 2018</a></li>
            <li><a href="javascript://">November 2018</a></li>
            <li><a href="javascript://">October 2018</a></li>
            <li><a href="javascript://">September 2018</a></li>
            <li><a href="javascript://">July 2018</a></li>
            <li><a href="javascript://">June 2018</a></li>
            <li><a href="javascript://">June 2017</a></li>
            <li><a href="javascript://">October 2016</a></li>
            <li><a href="javascript://">March 2016</a></li>
            <li><a href="javascript://">February 2016</a></li>
            <li><a href="javascript://">December 2015</a></li>
            <li><a href="javascript://">September 2015</a></li>
            <li><a href="javascript://">August 2015</a></li>
            <li><a href="javascript://">July 2015</a></li>
            <li><a href="javascript://">June 2015</a></li>
            <li><a href="javascript://">May 2015</a></li>
            <li><a href="javascript://">April 2015</a></li>
            <li><a href="javascript://">January 2015</a></li>
            <li><a href="javascript://">August 2014</a></li>
            <li><a href="javascript://">May 2014</a></li>
            <li><a href="javascript://">April 2014</a></li>
            <li><a href="javascript://">January 2014</a></li>
            <li><a href="javascript://">April 2011</a></li>
            <li><a href="javascript://">March 2011</a></li>
          </ul>
        </div>
        <div class="categories widget">
          <h3 class="sidebar-title">Categories</h3>
          <ul class="sidebar-listing-style">
            <li><a href="javascript://">AASA</a></li>
            <li><a href="javascript://">ACES</a></li>
            <li><a href="javascript://">Aftermarket</a></li>
            <li><a href="javascript://">Automotive Aftermarket Data Receivers</a></li>
            <li><a href="javascript://">Automotive Aftermarket Data Suppliers</a></li>
            <li><a href="javascript://">Catalogs</a></li>
            <li><a href="javascript://">GVT</a></li>
            <li><a href="javascript://">JNPSoft</a></li>
            <li><a href="javascript://">OnBoardPro</a></li>
            <li><a href="javascript://">OnTarget</a></li>
            <li><a href="javascript://">OnTargetPro</a></li>
            <li><a href="javascript://">Opticat News</a></li>
            <li><a href="javascript://">PDM</a></li>
            <li><a href="javascript://">Press Releases</a></li>
            <li><a href="javascript://">TecAlliance</a></li>
            <li><a href="javascript://">TecDoc</a></li>
            <li><a href="javascript://">Uncategorized</a></li>
        </ul>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Solutions end -->

<!-- Opticat Strategic's start-->

<div class="container" style="display:none;">
  <div class="row">
    <div class="col-md-12">
      <div class="breadcrumb-section">
        <h1 class="title-header">Opticat's strategic Advantage</h1>
        <ul class="breadcrumb-list">
          <li>
            <a href="">Home</a>
          </li>
          <li class="divider"></li>
          <li class=""><a href="">why opticat?</a></li>
          <li class="divider"></li>
          <li class="active">Opticat's strategic Advantage</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="content-section">
        <div class="section">
          <ul class="listing-style-dot">
							<li>Speed to Market by distributing multiple files to multiple data receivers all at once via Email or FTP.</li>
							<li>Securely deliver your data to a pre-selected list of Receivers automatically when you upload your files.</li>
							<li>Securely distribute Private Label data to specific Receivers.</li>
							<li>ACES Data Validation and Assessment Program helps reduce the time to market by helping you minimize the assessment processes.</li>
							<li>Deliver all types of data such as ACES, PIES, IMAGES and any other type file you need your receivers to have.</li>
              <li>Know who your receivers are and who's getting your data and when they last got the data from you.</li>
              <li>Upload and distribute product information data from a FLAT text file.</li>
              <li>Convert your PIES flat data into PIES 6.5 XML data.</li>
						</ul>
        </div>
        <div class="section">
          <div class="small-title">OptiCat's Solutions Include:</div>
          <ul class="p-t-10">
            <li><a href="http://www.opticatnetwork.com/products/onboard/" class="red-txt" target="_blank">OnBoard - Data Distribution Dashboard.</a></li>
            <li><a href="http://opticat.net/products/ontarget/" class="red-txt" target="_blank">OnTarget - Assessment and Validation.</a>
            </li>
            <li><a href="href="http://www.tecdoc.de/index.php?pid=jpEFQqMD51jsRj2aOR2IzgdjhO2N5URn&scope=portal&language=de&id=&country=de" class="red-txt" target="_blank">Vehicle Information and Data for over 100 different countries and 29 languages throughout the world via TecAlliance / TecDoc.</a>
            </li>
            </ul>
        </div>
        <div class="section">
          <p><img src="sites/default/files/pies_aces.gif" class="aligncenter"></p>
          <p><img src="sites/default/files/strong-supporter.png" class="aligncenter"></p>
          <p><img src="sites/default/files/autocare.png" class="aligncenter"></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="sidebar-section">
        <div class="recent-post widget">
          <h3 class="sidebar-title">Recent Posts</h3>
          <ul class="sidebar-listing-style">
            <li>
              <a href="">OptiCat Announces that Paramount Data Management has integrated into the OptiCat OnBoard API</a>
            </li>
            <li>
              <a href="">OptiCat LLC Named to MountainWest Capital Network’s 2018 Utah 100</a>
            </li>
            <li>
              <a href="">OptiCat LLC and JNPSoft Announce New API Connection</a>
            </li>
            <li>
              <a href="">The New TecAlliance Global Vehicle Table</a>
            </li>
            <li>
              <a href="">OptiCat Announces Three Exciting New Catalog Products</a>
            </li>
          </ul>
        </div>
        <div class="recent-comments widget">
          <h3 class="sidebar-title">Recent Comments</h3>

        </div>
        <div class="archives widget">
          <h3 class="sidebar-title">Recent Posts</h3>
          <ul class="sidebar-listing-style">
            <li><a href="javascript://">December 2018</a></li>
            <li><a href="javascript://">November 2018</a></li>
            <li><a href="javascript://">October 2018</a></li>
            <li><a href="javascript://">September 2018</a></li>
            <li><a href="javascript://">July 2018</a></li>
            <li><a href="javascript://">June 2018</a></li>
            <li><a href="javascript://">June 2017</a></li>
            <li><a href="javascript://">October 2016</a></li>
            <li><a href="javascript://">March 2016</a></li>
            <li><a href="javascript://">February 2016</a></li>
            <li><a href="javascript://">December 2015</a></li>
            <li><a href="javascript://">September 2015</a></li>
            <li><a href="javascript://">August 2015</a></li>
            <li><a href="javascript://">July 2015</a></li>
            <li><a href="javascript://">June 2015</a></li>
            <li><a href="javascript://">May 2015</a></li>
            <li><a href="javascript://">April 2015</a></li>
            <li><a href="javascript://">January 2015</a></li>
            <li><a href="javascript://">August 2014</a></li>
            <li><a href="javascript://">May 2014</a></li>
            <li><a href="javascript://">April 2014</a></li>
            <li><a href="javascript://">January 2014</a></li>
            <li><a href="javascript://">April 2011</a></li>
            <li><a href="javascript://">March 2011</a></li>
          </ul>
        </div>
        <div class="categories widget">
          <h3 class="sidebar-title">Categories</h3>
          <ul class="sidebar-listing-style">
            <li><a href="javascript://">AASA</a></li>
            <li><a href="javascript://">ACES</a></li>
            <li><a href="javascript://">Aftermarket</a></li>
            <li><a href="javascript://">Automotive Aftermarket Data Receivers</a></li>
            <li><a href="javascript://">Automotive Aftermarket Data Suppliers</a></li>
            <li><a href="javascript://">Catalogs</a></li>
            <li><a href="javascript://">GVT</a></li>
            <li><a href="javascript://">JNPSoft</a></li>
            <li><a href="javascript://">OnBoardPro</a></li>
            <li><a href="javascript://">OnTarget</a></li>
            <li><a href="javascript://">OnTargetPro</a></li>
            <li><a href="javascript://">Opticat News</a></li>
            <li><a href="javascript://">PDM</a></li>
            <li><a href="javascript://">Press Releases</a></li>
            <li><a href="javascript://">TecAlliance</a></li>
            <li><a href="javascript://">TecDoc</a></li>
            <li><a href="javascript://">Uncategorized</a></li>
        </ul>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Opticat strategic's end -->


<!-- Clean-accurate data start-->

<div class="container" style="display:none;">
  <div class="row">
    <div class="col-md-12">
      <div class="breadcrumb-section">
        <h1 class="title-header">clean, Accurate data for data receivers</h1>
        <ul class="breadcrumb-list">
          <li>
            <a href="">Home</a>
          </li>
          <li class="divider"></li>
          <li class=""><a href="">why opticat?</a></li>
          <li class="divider"></li>
          <li class="active">clean, Accurate data for data receivers</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="content-section">
        <div class="section">
          <ul class="listing-style-dot">
							<li>Data is typically pushed to you directly from Suppliers via OptiCat’s OnDemand portal without the data being modified.</li>
							<li>Enjoy the ability to see all the supplier contact information from this simple to use portal.</li>
							<li>Requesting data from suppliers is easy and efficient.</li>
							<li>Data has been validated to ensure you can automate your cataloging processes with market ready data.</li>
							<li>Receive ACES, PIES and AWDA data formats.</li>
              <li>Create your own product data templates for XML or FLAT Text files to be delivered to you from all receivers.</li>
          	</ul>
        </div>
        <div class="section">
          <div class="small-title">Solutions for Data Receivers include:</div>
          <ul class="p-t-10">
            <li><a href="http://opticat.net/products/ondemand/" class="red-txt" target="_blank">OnDemand with Custom PIES Templates and Receiver Requirements.</a></li>
            <li><a href="http://opticat.net/products/onsite/" class="red-txt" target="_blank">OnSite — Build your own internally controlled electronic catalog.</a>
            </li>
            <li><a href="href="http://www.tecdoc.de/index.php?pid=jpEFQqMD51jsRj2aOR2IzgdjhO2N5URn&scope=portal&language=de&id=&country=de" class="red-txt" target="_blank">Vehicle Information and Data for over 100 different countries and 29 languages throughout the world via TecAlliance / TecDoc.</a>
            </li>
            </ul>
        </div>
        <div class="section">
          <p><img src="sites/default/files/pies_aces.gif" class="aligncenter"></p>
          <p><img src="sites/default/files/strong-supporter.png" class="aligncenter"></p>
          <p><img src="sites/default/files/autocare.png" class="aligncenter"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Clean-accurate data end -->

<!-- Collabration for Technology start -->

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="breadcrumb-section">
        <h1 class="title-header">Collaboration for technology providers</h1>
        <ul class="breadcrumb-list">
          <li>
            <a href="">Home</a>
          </li>
          <li class="divider"></li>
          <li class=""><a href="">why opticat?</a></li>
          <li class="divider"></li>
          <li class="active">Collaboration for technology providers</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="content-section">
        <div class="section">
          <div class="small-title">Collaboration - Web Services, Vehicle and Carpart Data and Data Structures that enable Technology Providers to better serve their customers.</div>
          <p class="small-title-snall">Receiver Catalog Data Selection, Template Creation and Delivery Porta</p>
          <p class="para-txt mt-20">OptiCat focuses on efficiently delivering supplier content to the market and offers a number of collaborative products to Technology Providers to help them support their clients.</p>
          </div>
          <div class="section">
            <div class="small-title">Solutions for Technology Providers Include:</div>
              <ul class="listing-style-dot">
  							<li>PIM System Integration Web Services to OnBoard.</li>
  							<li>PIM System Integration to TecDoc.</li>
  							<li>OnLine - Supplier Catalog Web Services.</li>
  							<li>Solutions for Markets Outside of North America.</li>
            	</ul>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Collabration for Technology end -->
