<div class="container">
     <!-- Slider -->
     <!-- <div class="">
      <div class="faq-page-breadcrumb">
        <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
          <div class="breadcrumb-item"><a href="{{ url('<front>') }}">Home</a></div><i class="fa fa-chevron-right"></i><div class="breadcrumb-item current">Brands</div>
        </div>
      </div>
     </div> -->

     <!-- Middle Content -->
    <div class="line-card-section">
      <div class="">
          <div id="div1" class="">
            <div class="">
            <!-- {{items.orderid}}
            {{items.status}} -->

<div class="container">
 {% set statuss = items['status'] %}
<div id="success" class="sccss" {% if statuss == 'COMPLETED' %} style="display: block" {% else %}
 style="display: none" 
 {% endif %}>
  <div class="order_placed">
    <div class="order_header">
      <img src="{{ url('<front>') }}themes/AUTOTECH/images/success.png" alt="payment success" class="img-responsive m-r-15" /> Payment Successful !
    </div>
    <h3>Thank you! Your payment has been received.</h3>
    <h4>Order ID : {{items['orderid']}} | Transaction ID : {{items['txn_id']}}</h4>
    <div class="display:inline-block;">
      <!-- <a href="#" type="button" class="view btn btn_bg_even dis-inline-block m-r-10 p-10">&nbsp;&nbsp;Print Receipt&nbsp;&nbsp;</a> -->
    <a href="{{ url('<front>') }}" type="button" class="backsite view btn btn_bg dis-inline-block p-10"> &nbsp;&nbsp;continue shopping&nbsp;&nbsp; </a>
    </div>
  </div>
      <!-- <div class="row">
        <h2 class="main_title">Similar Products</h2>
        <div class="col-sm-12">
          <div class="row-flex">
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
              <div class="ordered_feature_product">
                <a class="product_img_head" href="#" target="_blank">
                  <div class="ordered_feature_img">
                    <img class="img-responsive" src="{{ url('<front>') }}themes/AUTOTECH/images/img1.png" alt="featured product" />
                  </div>
                </a>
                <div class="clearfix"></div>
                <a class="product_img_head" href="#product_description" target="_blank">
                  <h5 class="text-up">Lightweight Torque Starter</h5>
                </a>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
              <div class="ordered_feature_product">
                <a class="product_img_head" href="#product_description" target="_blank">
                  <div class="ordered_feature_img">
                    <img class="img-responsive" src="{{ url('<front>') }}themes/AUTOTECH/images/img2.png" alt="featured product" />
                  </div>
                </a>
                <div class="clearfix"></div>
                <a class="product_img_head" href="#product_description" target="_blank">
                  <h5 class="text-up">50 AMP ALTERNATOR</h5>
                </a>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
              <div class="ordered_feature_product">
                <a class="product_img_head" href="#product_description" target="_blank">
                  <div class="ordered_feature_img">
                    <img class="img-responsive" src="{{ url('<front>') }}themes/AUTOTECH/images/img3.png" alt="featured product" />
                  </div>
                </a>
                <div class="clearfix"></div>
                <a class="product_img_head" href="#product_description" target="_blank">
                  <h5 class="text-up">1575 HP TURBOCHARGER</h5>
                </a>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
              <div class="ordered_feature_product">
                <a class="product_img_head" href="#product_description" target="_blank">
                  <div class="ordered_feature_img">
                    <img class="img-responsive" src="{{ url('<front>') }}themes/AUTOTECH/images/img4.png" alt="featured product" />
                  </div>
                </a>
                <div class="clearfix"></div>
                <a class="product_img_head" href="#product_description" target="_blank">
                  <h5 class="text-up">AUTOMOTIVE BATTERY</h5>
                </a>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
              <div class="ordered_feature_product">
                <a class="product_img_head" href="#product_description" target="_blank">
                  <div class="ordered_feature_img">
                    <img class="img-responsive" src="{{ url('<front>') }}themes/AUTOTECH/images/img5.png" alt="featured product" />
                  </div>
                </a>
                <div class="clearfix"></div>
                <a class="product_img_head" href="#product_description" target="_blank">
                  <h5 class="text-up">GRILLE CHR GDN856</h5>
                </a>
              </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
              <div class="ordered_feature_product">
                <a class="product_img_head" href="#product_description" target="_blank">
                  <div class="ordered_feature_img">
                    <img class="img-responsive" src="{{ url('<front>') }}themes/AUTOTECH/images/img6.png" alt="featured product" />
                  </div>
                </a>
                <div class="clearfix"></div>
                <a class="product_img_head" href="#product_description" target="_blank">
                  <h5 class="text-up">TURBO MOTOR</h5>
                </a>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div> -->
    </div>

   
   
   

    <div id="error"  {% if statuss == 'COMPLETED' %} style="display: none" {% endif %}>
      <div class="container">
        <div class="">
          <div class="order_placed">
            <div class="order_header order_error">
              <img src="{{ url('<front>') }}themes/AUTOTECH/images/notfound.png" alt="payment success" class="img-responsive m-r-15" /> Sorry,  your payment is failed
            </div>
            <h3>Unfortunately your payment request could not be completed.<br>Please try again.</h3>
            <h4>If we receive a payment from your bank, refund will be issued shortly</h4>
            <div class="display:inline-block;">
              <button type="button" class="view btn btn_bg_even dis-inline-block m-r-10">&nbsp;&nbsp;Need help?&nbsp;&nbsp;</button>
            <button type="button" class="view btn btn_bg dis-inline-block"> &nbsp;&nbsp;Go back&nbsp;&nbsp; </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
  /*var url_string = window.location.href;
  var url = new URL(url_string);
  var c = url.searchParams.get("status");
  
  
  if (c == "COMPLETED") {
    $('#success').show();
    $('#error').hide();
  }
  else {
    $('#success').hide();
    $('#error').show();
  }*/
</script>

<style type="text/css">
  #block-autotech-main-menu{
    display: none;
  }
</style>
