
<style>
  section {
    display: block;
    position: relative;
    padding: 40px 0;
    border-bottom: rgba(0,0,0,0.1) 1px solid;
    background-color: #fff;
    -webkit-transition: all .400s;
    -moz-transition: all .400s;
    -o-transition: all .400s;
    transition: all .400s;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    background-size: cover !important;
    box-sizing: border-box !important;
}
.custom_serv {
padding-left:0;
}
.custom_serv li {
  list-style-type: initial;

}
</style>
      <!--Locations - Tampa, FL-->
      <div class="container">
            <div class="faq-page-breadcrumb">
                  <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
                    <div class="breadcrumb-item"><a href="/rtsallison">Home</a></div>
                    <i class="fa fa-chevron-right"></i>
                    <div class="breadcrumb-item"><a href="/rtsallison/our_location">Locations</a></div>
                    <i class="fa fa-chevron-right"></i>
                    <div class="breadcrumb-item current">RTS Tampa</div>
                  </div>
            </div>
      </div>
      <section class="no-transition h-550 parallax parallax-4" style="background-image: url(https://www.apacatapult.com/rtsallison/sites/default/files/RTStampa.jpg); background-position: 50% 0px;">
				<div class="overlay dark-0"></div>
			</section>
      <section class="page-header dark page-header-xs">
				<div class="container">
					<h1 class="font-open-sans font-weight-bold">RTS Allison - Tampa, Florida </h1>
				</div>
			</section>
      <section id="portfolio" class="pb-0">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-8">
              <div class="heading-title heading-border">
                <h2>RTS Allison <span>Tampa</span></h2>
                <ul class="list-inline categories m-0">
                  <li><a href="#">Full Service and Authorized Allison Transmission Dealer</a></li>
                </ul>
              </div>
              <p class="fs-15">The start of it all. RTS Allison in Tampa is also home of our corporate office and the birth place of our company. RTS Allison is a full service Allison transmission dealer that has been serving the area since 1981. Our company uses only genuine Allison parts and serviced by Allison certified technicians. </p>
              <p class="font-lato fs-18">We welcome all vocations from fire trucks, garbage, transit, school buses, contruction equipment, delivery and Transport, and much more.</p>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="card card-default">
                <div class="card-block">
                  <p class="font-lato fs-18">Full Allison Transmission Service Center</p>
                  <ul class="portfolio-detail-list list-unstyled m-0">
                    <li><span><i class="fa fa-user"></i>Branch Manager</span> Dennis Wooten</li>
                    <li><span><i class="fa fa-phone"></i>Toll Free</span> 800-344-0485</li>
                    <li><span><i class="fa fa-phone"></i>Local</span> 813-677-8883</li>
                    <li><span><i class="fa fa-envelope-o"></i>Email</span><a href="mailto:Dennisw@rtsallison.com">DennisW@rtsallison.com</a></li>
                  </ul>
                </div>
                <div class="card-footer">
                  <a href="http://www.facebook.com/rtsallison" class="social-icon social-icon-sm social-icon-transparent social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google plus">
                    <i class="fa fa-google-plus"></i>
                  </a>
                  <a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                    <i class="fa fa-linkedin"></i>
                  </a>
                  <a href="#" class="social-icon social-icon-sm social-icon-transparent social-pinterest" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                    <i class="fa fa-pinterest"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
  <div class="col-md-3">
    <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-map-marker"></i>
        <h2>Address</h2>
      </div>
      <address class="text-center margin-top-15">6613 78th Street South <br> Riverview,FL 33578</address>
    </div>
  </div>
  <div class="col-md-3">
    <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-clock-o"></i>
        <h2>Location Hours</h2>
      </div>
      <ul class="margin-top-15 p-l-55">Monday-Friday ---8-5:00pm<br>
      Saturday ---- Closed<br>
      Sunday ------ Closed
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-wrench"></i>
        <h2>Services</h2>
      </div>
        <ul class="text-center margin-top-15 custom_serv">
          <li>Allison Warranty Service</li>
          <li>Allison Service and Parts</li>
          <li>Allison Exchange Units</li>
                    <li>Telma</li>
        </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-credit-card"></i>
        <h2>Payment Forms Accepted</h2>
      </div>
      <div class="text-center margin-top-15">
          <ul class="custom_serv">Mastercard<br>
             Visa<br>
             Discover<br>
             American Express<br>
             Money Order
          </ul>
      </div>
    </div>
  </div>
</div>
<div class="divider divider-dotted"></div>
          <!--Snazzy Maps -->
          <div class="center-block">
            <iframe src="https://snazzymaps.com/embed/26435" width="100%" height="300px" style="border:none;"></iframe>
          </div>

        </div>
      </section>
      <a href="tel:+800-344-0485" class="btn btn-red btn-lg btn-block">
				<span class="font-lato size-30">

					<strong>Call Us Today »</strong><li class="fa fa-phone"></li>
				</span>
			</a>
      <!--Locations - Tampa, FL-->

      <!--Locations - Jacksonville, FL-->
      <div class="container">
            <div class="faq-page-breadcrumb">
                  <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
                    <div class="breadcrumb-item"><a href="/rtsallison">Home</a></div>
                    <i class="fa fa-chevron-right"></i>
                    <div class="breadcrumb-item"><a href="/rtsallison/our_location">Locations</a></div>
                    <i class="fa fa-chevron-right"></i>
                    <div class="breadcrumb-item current"> RTS Jacksonville</div>
                  </div>
            </div>
      </div>
      <section class="no-transition h-550 parallax parallax-4" style="background-image: url(https://www.apacatapult.com/rtsallison/sites/default/files/jacksonville.jpg); background-position: 50% 0px;">
				<div class="overlay dark-0"></div>
			</section>
      <section class="page-header dark page-header-xs">
				<div class="container">
					<h1 class="font-open-sans font-weight-bold">RTS Allison - Jacksonville, Florida </h1>
				</div>
			</section>
      <section id="portfolio" class="pb-0">
				<div class="container">

					<div class="row">

						<div class="col-md-8 col-sm-8">

							<!-- Subtitle -->
							<div class="heading-title heading-border">
								<h2>RTS Allison <span>Jacksonville</span></h2>

								<ul class="list-inline categories m-0">
									<li><a href="#">Full Service and Authorized Allison Transmission Dealer</a></li>

								</ul>

							</div>
							<!-- /Subtitle -->

							<p> Welcome to RTS Jacksonville. We are a full service Allison dealer. If you have problems with an Allison warranty, need to buy parts, servicing, or an Allison exchange transmission we are your number one stop.  </p>
							<p class="font-lato fs-18">We welcome all vocations from fire trucks, garbage, transit, school buses, contruction equipment, delivery and Transport, and much more.</p>


						</div>

						<div class="col-md-4 col-sm-4">

							<div class="card card-default">
								<div class="card-block">

									<p class="font-lato fs-18">Full Allison Transmission Service Center</p>

									<ul class="portfolio-detail-list list-unstyled m-0">
										<li><span><i class="fa fa-user"></i>General Manager</span> Claude Peppers</li>
										<li><span><i class="fa fa-phone"></i>Toll Free</span> 800-344-0485</li>
										<li><span><i class="fa fa-phone"></i>Local</span> 904-378-1703</li>
										<li><span><i class="fa fa-envelope-o"></i>Email</span><a href="mailto:ClaudeP@rtsallison.com">ClaudeP@rtsallison.com</a></li>

									</ul>

								</div>

								<div class="card-footer">

									<!-- Social Icons -->
									<a href="http://www.facebook.com/rtsallison" class="social-icon social-icon-sm social-icon-transparent social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
										<i class="fa fa-facebook"></i>
									</a>
									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
										<i class="fa fa-twitter"></i>
									</a>
									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google plus">
										<i class="fa fa-google-plus"></i>
									</a>
									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
									<i class="fa fa-linkedin"></i>
									</a>

									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-pinterest" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
										<i class="fa fa-pinterest"></i>
									</a>
									<!-- /Social Icons -->

								</div>

							</div>

						</div>

					</div>

					<!-- Location Info -->
					<div class="row">

	<div class="col-md-3">

		<div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
			<div class="box-icon-title">
				<i class="b-0 fa fa-map-marker"></i>
				<h2>Address</h2>
			</div>
			<address class="text-center margin-top-15">6740 Highway avenue <br> Jacksonville,FL 32254</address>

		</div>

	</div>

	<div class="col-md-3">

		<div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
			<div class="box-icon-title">
				<i class="b-0 fa fa-clock-o"></i>
				<h2>Location Hours</h2>
			</div>
			<ul class="margin-top-15 p-l-55">Monday-Friday ---8-5:00pm<br>
			Saturday ---- Closed<br>
			Sunday ------ Closed
			</ul>
		</div>
	</div>
	<div class="col-md-3">
		<div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
			<div class="box-icon-title">
				<i class="b-0 fa fa-wrench"></i>
				<h2>Services</h2>
			</div>

				<ul class="text-center margin-top-15 custom_serv">
					<li>Allison Warranty Service</li>
					<li>Allison Service and Parts</li>
					<li>Allison Exchange Units</li>
                    <li>Telma</li>
				</ul>
		</div>
	</div>
	<div class="col-md-3">
		<div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
			<div class="box-icon-title">
				<i class="b-0 fa fa-credit-card"></i>
				<h2>Payment Forms Accepted</h2>
			</div>
			<div class="text-center margin-top-15">
			    <ul class="custom_serv">Mastercard<br>
			       Visa<br>
			       Discover<br>
			       American Express<br>
			       Money Order
			    </ul>
			</div>
		</div>
	</div>
</div>
<div class="divider divider-dotted"></div>
					<div class="center-block">
						<iframe src="https://snazzymaps.com/embed/86024" width="100%" height="300px" style="border:none;"></iframe>
					</div>
				</div>
			</section>
      <a href="tel:+800-344-0485" class="btn btn-red btn-lg btn-block">
				<span class="font-lato size-30">

					<strong>Call Us Today »</strong><li class="fa fa-phone"></li>
				</span>
			</a>
      <!--Locations - Jacksonville, FL-->

      <!--Locations - Tampa, FL-->
      <div class="container">
            <div class="faq-page-breadcrumb">
                  <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
                    <div class="breadcrumb-item"><a href="/rtsallison">Home</a></div>
                    <i class="fa fa-chevron-right"></i>
                    <div class="breadcrumb-item"><a href="/rtsallison/our_location">Locations</a></div>
                    <i class="fa fa-chevron-right"></i>
                    <div class="breadcrumb-item current">RTS Slidell, LA</div>
                  </div>
            </div>
      </div>
      <section class="no-transition h-550 parallax parallax-4" style="background-image: url(https://www.apacatapult.com/rtsallison/sites/default/files/lousianaSlyline.jpg); background-position: 50% 0px;">
				<div class="overlay dark-0"></div>
			</section>
      <section class="page-header dark page-header-xs">
				<div class="container">
					<h1 class="font-open-sans font-weight-bold">RTS Allison - Slidell, LA </h1>
				</div>
			</section>
      <section id="portfolio" class="pb-0">
        <div class="container">
          <div class="row">
						<div class="col-md-8 col-sm-8">
							<!-- Subtitle -->
							<div class="heading-title heading-border">
								<h2>RTS Allison <span>Slidell, LA</span></h2>
								<ul class="list-inline categories m-0">
									<li><a href="#">Allison Transmission Full Service Dealer Location</a></li>
								</ul>
							</div>
							<!-- /Subtitle -->
							<p>Welcome to RTS Allison in Slidell, Lousiana. Our highly trained Allison technicans are proud to serve their surrounding community in Allison support and products. </p>
							<p class="font-lato fs-18">We welcome all vocations from fire trucks, garbage, transit, school buses, contruction equipment, delivery and Transport, and much more.</p>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="card card-default">
								<div class="card-block">
									<p class="font-lato fs-18"> Allison Transmission Full Service Dealership Center</p>
									<ul class="portfolio-detail-list list-unstyled m-0">
										<li><span><i class="fa fa-user"></i>Branch Manager</span> George Schmitt</li>
										<li><span><i class="fa fa-phone"></i>Local</span>985-200-0400</li>
										<li><span><i class="fa fa-envelope-o"></i>Email</span><a href="mailto:georges@rtsallison.com">GeorgeS@RTSAllison.com</a></li>

									</ul>

								</div>

								<div class="card-footer">

									<!-- Social Icons -->
									<a href="http://www.facebook.com/rtsallison" class="social-icon social-icon-sm social-icon-transparent social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
										<i class="fa fa-facebook"></i>
								  </a>
									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
										<i class="fa fa-twitter"></i>
									</a>
									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google plus">
										<i class="fa fa-google-plus"></i>
									</a>
									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
									<i class="fa fa-linkedin"></i>
									</a>
									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-pinterest" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
										<i class="fa fa-pinterest"></i>
									</a>
									<!-- /Social Icons -->
								</div>

							</div>

						</div>

					</div>
          <div class="row">
            <div class="col-md-3">

          		<div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
          			<div class="box-icon-title">
          				<i class="b-0 fa fa-map-marker"></i>
          				<h2>Address</h2>
          			</div>
          			<address class="text-center margin-top-15">129 Industrial Drive <br> Slidell, LA 70460</address>

          		</div>

          	</div>
  <div class="col-md-3">
    <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-clock-o"></i>
        <h2>Location Hours</h2>
      </div>
      <ul class="margin-top-15 p-l-55">Monday-Friday ---8-5:00pm<br>
      Saturday ---- Closed<br>
      Sunday ------ Closed
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-wrench"></i>
        <h2>Services</h2>
      </div>
        <ul class="text-center margin-top-15 custom_serv">
          <li>Allison Warranty Service</li>
          <li>Allison Service and Parts</li>
          <li>Allison Exchange Units</li>
                    <li>Telma</li>
        </ul>
    </div>
  </div>
  <div class="col-md-3">
    <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-credit-card"></i>
        <h2>Payment Forms Accepted</h2>
      </div>
      <div class="text-center margin-top-15">
          <ul class="custom_serv">Mastercard<br>
             Visa<br>
             Discover<br>
             American Express<br>
             Money Order
          </ul>
      </div>
    </div>
  </div>
          </div>
          <div class="divider divider-dotted"></div>
          <!--Snazzy Maps -->
          <div class="center-block">
            <iframe src="https://snazzymaps.com/embed/52195" width="100%" height="300px" style="border:none;"></iframe>
          </div>

        </div>
      </section>
      <a href="tel:+985-200-0400" class="btn btn-red btn-lg btn-block">
				<span class="font-lato size-30">

					<strong>Call Us Today »</strong><li class="fa fa-phone"></li>
				</span>
			</a>
      <!--Locations - RTS Slidell, LA-->

      <!--Locations - RTS Atlanta, GA-->
      <div class="container">
            <div class="faq-page-breadcrumb">
                  <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
                    <div class="breadcrumb-item"><a href="/rtsallison">Home</a></div>
                    <i class="fa fa-chevron-right"></i>
                    <div class="breadcrumb-item"><a href="/rtsallison/our_location">Locations</a></div>
                    <i class="fa fa-chevron-right"></i>
                    <div class="breadcrumb-item current">RTS Atlanta, GA</div>
                  </div>
            </div>
      </div>
      <section class="no-transition h-550 parallax parallax-4" style="background-image: url(https://www.apacatapult.com/rtsallison/sites/default/files/AtlantaSkyline.jpg); background-position: 50% 0px;">
        <div class="overlay dark-0"></div>
      </section>
      <section class="page-header dark page-header-xs">
        <div class="container">
          <h1 class="font-open-sans font-weight-bold">RTS Allison - Atlanta, GA </h1>
        </div>
      </section>
      <section id="portfolio" class="pb-0">
        <div class="container">
          <div class="row">

						<div class="col-md-8 col-sm-8">

							<!-- Subtitle -->
							<div class="heading-title heading-border">
								<h2>RTS Allison <span>Atlanta, GA</span></h2>

								<ul class="list-inline categories m-0">
									<li><a href="#">Allison Transmission Service and Support- Non Dealer Location</a></li>

								</ul>

							</div>
							<!-- /Subtitle -->

							<p>Welcome to RTS Allison in Atlanta, Georgia area. Our highly trained technicans are proud to serve their surrounding community in Allison support and products. </p>
							<p class="font-lato fs-18">We welcome all vocations from fire trucks, garbage, transit, school buses, contruction equipment, delivery and Transport, and much more.</p>


						</div>

						<div class="col-md-4 col-sm-4">

							<div class="card card-default">
								<div class="card-block">

									<p class="font-lato fs-18"> Allison Transmission Service and Support Center</p>

									<ul class="portfolio-detail-list list-unstyled m-0">
										<li><span><i class="fa fa-user"></i>Branch Manager</span></li>
										<li><span><i class="fa fa-phone"></i>Toll Free</span> 800-677-3950</li>
										<li><span><i class="fa fa-phone"></i>Local</span>404-361-8033</li>
										<li><span><i class="fa fa-envelope-o"></i>Email</span><a href="mailto:info@rtsallison.com">info@rtsallison.com</a></li>

									</ul>

								</div>

								<div class="card-footer">

									<!-- Social Icons -->
									<a href="http://www.facebook.com/rtsallison" class="social-icon social-icon-sm social-icon-transparent social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
										<i class="fa fa-facebook"></i>
									</a>
									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
										<i class="fa fa-twitter"></i>
									</a>
									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google plus">
										<i class="fa fa-google-plus"></i>
									</a>

									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
									<i class="fa fa-linkedin"></i>
									</a>

									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-pinterest" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
										<i class="fa fa-pinterest"></i>
									</a>
									<!-- /Social Icons -->

								</div>

							</div>

						</div>

					</div>
          <div class="row">
      <div class="col-md-3">
      <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-map-marker"></i>
        <h2>Address</h2>
      </div>
      <address class="text-center margin-top-15">4541 Thurman Road <br> Conley, GA 30288</address>
      </div>
      </div>
      <div class="col-md-3">
      <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-clock-o"></i>
        <h2>Location Hours</h2>
      </div>
      <ul class="margin-top-15 p-l-55">Monday-Friday ---8-5:00pm<br>
      Saturday ---- Closed<br>
      Sunday ------ Closed
      </ul>
      </div>
      </div>
      <div class="col-md-3">
      <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-wrench"></i>
        <h2>Services</h2>
      </div>
        <ul class="text-center margin-top-15 custom_serv">
          <li>Allison Warranty Service</li>
          <li>Allison Service and Parts</li>
          <li>Allison Exchange Units</li>
                    <li>Telma</li>
        </ul>
      </div>
      </div>
      <div class="col-md-3">
      <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-credit-card"></i>
        <h2>Payment Forms Accepted</h2>
      </div>
      <div class="text-center margin-top-15">
          <ul class="custom_serv">Mastercard<br>
             Visa<br>
             Discover<br>
             American Express<br>
             Money Order
          </ul>
      </div>
      </div>
      </div>
      </div>
      <div class="divider divider-dotted"></div>
          <!--Snazzy Maps -->
          <div class="center-block">
            <iframe src="https://snazzymaps.com/embed/52190" width="100%" height="300px" style="border:none;"> </iframe>
          </div>

        </div>
      </section>
      <a href="tel:+877-542-0506" class="btn btn-red btn-lg btn-block">
				<span class="font-lato size-30">

					<strong>Call Us Today »</strong><li class="fa fa-phone"></li>
				</span>
			</a>
      <!--Locations - RTS Atlanta, GA-->

      <!--Locations - RTS Houston-->
      <div class="container">
            <div class="faq-page-breadcrumb">
                  <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
                    <div class="breadcrumb-item"><a href="/rtsallison">Home</a></div>
                    <i class="fa fa-chevron-right"></i>
                    <div class="breadcrumb-item"><a href="/rtsallison/our_location">Locations</a></div>
                    <i class="fa fa-chevron-right"></i>
                    <div class="breadcrumb-item current">RTS Houston</div>
                  </div>
            </div>
      </div>
      <section class="no-transition h-550 parallax parallax-4" style="background-image: url(https://www.apacatapult.com/rtsallison/sites/default/files/RTSHouston.jpg); background-position: 50% 0px;">
        <div class="overlay dark-0"></div>
      </section>
      <section class="page-header dark page-header-xs">
        <div class="container">
          <h1 class="font-open-sans font-weight-bold">RTS Allison - Houston, Texas </h1>
        </div>
      </section>
      <section id="portfolio" class="pb-0">
        <div class="container">
          <div class="row">

  						<div class="col-md-8 col-sm-8">

  							<!-- Subtitle -->
  							<div class="heading-title heading-border">
  								<h2>RTS Allison <span>Houston</span></h2>

  								<ul class="list-inline categories m-0">
  									<li><a href="#">Full Service and Authorized Allison Transmission Dealer</a></li>

  								</ul>

  							</div>
  							<!-- /Subtitle -->

  							<p>Welcome to RTS Allison in Houston, TX. Our highly trained Allison technicans are proud to serve their surrounding community in Allison support and product. </p>
  							<p class="font-lato fs-18">We welcome all vocations from fire trucks, garbage, transit, school buses, contruction equipment, delivery and Transport, and much more.</p>


  						</div>

  						<div class="col-md-4 col-sm-4">

  							<div class="card card-default">
  								<div class="card-block">

  									<p class="font-lato fs-18">Full Allison Transmission Service Center</p>

  									<ul class="portfolio-detail-list list-unstyled m-0">
  										<li><span><i class="fa fa-user"></i>Branch Manager</span> Marcia Moya</li>
  										<li><span><i class="fa fa-phone"></i>Toll Free</span> 877-211-1839</li>
  										<li><span><i class="fa fa-phone"></i>Local</span> 713-742-9633</li>
  										<li><span><i class="fa fa-envelope-o"></i>Email</span><a href="mailto:marciam@rtsallison.com">marciam@rtsallison.com</a></li>

  									</ul>

  								</div>

  								<div class="card-footer">

  									<!-- Social Icons -->
  									<a href="http://www.facebook.com/rtsallison" class="social-icon social-icon-sm social-icon-transparent social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
		                  <i class="fa fa-facebook"></i>
  									</a>
  									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
  										<i class="fa fa-twitter"></i>
  									</a>
  									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google plus">
  										<i class="fa fa-google-plus"></i>
  									</a>
  									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
  									<i class="fa fa-linkedin"></i>
  									</a>

  									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-pinterest" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
  										<i class="fa fa-pinterest"></i>
  									</a>
  									<!-- /Social Icons -->

  								</div>

  							</div>

  						</div>

  					</div>
          <div class="row">
      <div class="col-md-3">
      <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-map-marker"></i>
        <h2>Address</h2>
      </div>
      <address class="text-center margin-top-15">12209 Aldine Westfield Rd <br> Houston, Tx 77093</address>
      </div>
      </div>
      <div class="col-md-3">
      <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-clock-o"></i>
        <h2>Location Hours</h2>
      </div>
      <ul class="margin-top-15 p-l-55">Monday-Friday ---8-5:00pm<br>
      Saturday ---- Closed<br>
      Sunday ------ Closed
      </ul>
      </div>
      </div>
      <div class="col-md-3">
      <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-wrench"></i>
        <h2>Services</h2>
      </div>
        <ul class="text-center margin-top-15 custom_serv">
          <li>Allison Warranty Service</li>
          <li>Allison Service and Parts</li>
          <li>Allison Exchange Units</li>
                    <li>Telma</li>
        </ul>
      </div>
      </div>
      <div class="col-md-3">
      <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-credit-card"></i>
        <h2>Payment Forms Accepted</h2>
      </div>
      <div class="text-center margin-top-15">
          <ul class="custom_serv">Mastercard<br>
             Visa<br>
             Discover<br>
             American Express<br>
             Money Order
          </ul>
      </div>
      </div>
      </div>
      </div>
      <div class="divider divider-dotted"></div>
          <!--Snazzy Maps -->
          <div class="center-block">
            <iframe src="https://snazzymaps.com/embed/39096" width="100%" height="300px" style="border:none;"></iframe>
          </div>

        </div>
      </section>
      <a href="tel:+800-344-0485" class="btn btn-red btn-lg btn-block">
				<span class="font-lato size-30">

					<strong>Call Us Today »</strong><li class="fa fa-phone"></li>
				</span>
			</a>
      <!--Locations - RTS Houston-->

      <!--Locations - RTS Indianapolis-->
      <div class="container">
            <div class="faq-page-breadcrumb">
                  <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
                    <div class="breadcrumb-item"><a href="/rtsallison">Home</a></div>
                    <i class="fa fa-chevron-right"></i>
                    <div class="breadcrumb-item"><a href="/rtsallison/our_location">Locations</a></div>
                    <i class="fa fa-chevron-right"></i>
                    <div class="breadcrumb-item current">RTS Indianapolis</div>
                  </div>
            </div>
      </div>
      <section class="no-transition h-550 parallax parallax-4" style="background-image: url(https://www.apacatapult.com/rtsallison/sites/default/files/indianapolis_downtown.jpg); background-position: 50% 0px;">
        <div class="overlay dark-0"></div>
      </section>
      <section class="page-header dark page-header-xs">
        <div class="container">
          <h1 class="font-open-sans font-weight-bold">RTS Allison - Indianapolis, In </h1>
        </div>
      </section>
      <section id="portfolio" class="pb-0">
        <div class="container">
          <div class="row">

						<div class="col-md-8 col-sm-8">

							<!-- Subtitle -->
							<div class="heading-title heading-border">
								<h2>RTS Allison <span>Indianapolis, IN</span></h2>

								<ul class="list-inline categories m-0">
									<li><a href="#">Full Service and Authorized Allison Transmission Dealer</a></li>

								</ul>

							</div>
							<!-- /Subtitle -->

							<p>Welcome to RTS Allison in Indianapolis, Indiana. Our highly trained Allison technicans are proud to serve their surrounding community in Allison support and product. </p>
							<p class="font-lato fs-18">We welcome all vocations from fire trucks, garbage, transit, school buses, contruction equipment, delivery and Transport, and much more.</p>


						</div>

						<div class="col-md-4 col-sm-4">

							<div class="card card-default">
								<div class="card-block">

									<p class="font-lato fs-18">Full Allison Transmission Service Center</p>

									<ul class="portfolio-detail-list list-unstyled m-0">
										<li><span><i class="fa fa-user"></i>General Manager</span> Dave Johnsen</li>
										<li><span><i class="fa fa-phone"></i>Toll Free</span> 877-542-0506</li>
										<li><span><i class="fa fa-phone"></i>Local</span>317-889-8130</li>
										<li><span><i class="fa fa-envelope-o"></i>Email</span><a href="mailto:DaveJ@rtsallison.com">DaveJ@rtsallison.com</a></li>

									</ul>

								</div>

								<div class="card-footer">

									<!-- Social Icons -->
									<a href="http://www.facebook.com/rtsallison" class="social-icon social-icon-sm social-icon-transparent social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
										<i class="fa fa-facebook"></i>
									</a>
									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
										<i class="fa fa-twitter"></i>
									</a>
									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google plus">
										<i class="fa fa-google-plus"></i>
									</a>

									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
									<i class="fa fa-linkedin"></i>
									</a>

									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-pinterest" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
										<i class="fa fa-pinterest"></i>
									</a>
									<!-- /Social Icons -->

								</div>

							</div>

						</div>

					</div>
          <div class="row">
      <div class="col-md-3">
      <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-map-marker"></i>
        <h2>Address</h2>
      </div>
      <address class="text-center margin-top-15">325 E. Stop 18 Road <br> Greenwood, Indiana 46143</address>
      </div>
      </div>
      <div class="col-md-3">
      <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-clock-o"></i>
        <h2>Location Hours</h2>
      </div>
      <ul class="margin-top-15 p-l-55">Monday-Friday ---8-5:00pm<br>
      Saturday ---- Closed<br>
      Sunday ------ Closed
      </ul>
      </div>
      </div>
      <div class="col-md-3">
      <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-wrench"></i>
        <h2>Services</h2>
      </div>
        <ul class="text-center margin-top-15 custom_serv">
          <li>Allison Warranty Service</li>
          <li>Allison Service and Parts</li>
          <li>Allison Exchange Units</li>
                    <li>Telma</li>
        </ul>
      </div>
      </div>
      <div class="col-md-3">
      <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-credit-card"></i>
        <h2>Payment Forms Accepted</h2>
      </div>
      <div class="text-center margin-top-15">
          <ul class="custom_serv">Mastercard<br>
             Visa<br>
             Discover<br>
             American Express<br>
             Money Order
          </ul>
      </div>
      </div>
      </div>
      </div>
      <div class="divider divider-dotted"></div>
          <!--Snazzy Maps -->
          <div class="center-block">
            <iframe src="https://snazzymaps.com/embed/52181" width="100%" height="300px" style="border:none;"></iframe>
          </div>

        </div>
      </section>
      <a href="tel:+877-542-0506" class="btn btn-red btn-lg btn-block">
        <span class="font-lato size-30">

          <strong>Call Us Today »</strong><li class="fa fa-phone"></li>
        </span>
      </a>
      <!--Locations - RTS Indianapolis-->

      <!--Locations - Tampa, FL-->
      <div class="container">
            <div class="faq-page-breadcrumb">
                  <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
                    <div class="breadcrumb-item"><a href="/rtsallison">Home</a></div>
                    <i class="fa fa-chevron-right"></i>
                    <div class="breadcrumb-item"><a href="/rtsallison/our_location">Locations</a></div>
                    <i class="fa fa-chevron-right"></i>
                    <div class="breadcrumb-item current">RTS Dayton</div>
                  </div>
            </div>
      </div>
      <section class="no-transition h-550 parallax parallax-4" style="background-image: url(https://www.apacatapult.com/rtsallison/sites/default/files/dayton-ohio.jpg); background-position: 50% 0px;">
        <div class="overlay dark-0"></div>
      </section>
      <section class="page-header dark page-header-xs">
        <div class="container">
          <h1 class="font-open-sans font-weight-bold">RTS Allison - Dayton, OH </h1>
        </div>
      </section>
      <section id="portfolio" class="pb-0">
        <div class="container">
          <div class="row">

  						<div class="col-md-8 col-sm-8">

  							<!-- Subtitle -->
  							<div class="heading-title heading-border">
  								<h2>RTS Allison <span>Dayton, OH</span></h2>

  								<ul class="list-inline categories m-0">
  									<li><a href="#">Full Service and Authorized Allison Transmission Dealer</a></li>

  								</ul>

  							</div>
  							<!-- /Subtitle -->

  							<p>Welcome to RTS Allison in Dayton, OH. Our highly trained Allison technicans are proud to serve their surrounding community in Allison support and product. </p>
  							<p class="font-lato fs-18">We welcome all vocations from fire trucks, garbage, transit, school buses, contruction equipment, delivery and Transport, and much more.</p>


  						</div>

  						<div class="col-md-4 col-sm-4">

  							<div class="card card-default">
  								<div class="card-block">

  									<p class="font-lato fs-18">Full Allison Transmission Service Center</p>

  									<ul class="portfolio-detail-list list-unstyled m-0">
  										<li><span><i class="fa fa-user"></i>Branch Manager</span> Jim Sweeney </li>
  										<li><span><i class="fa fa-phone"></i>Toll Free</span> 888-868-2391</li>
  										<li><span><i class="fa fa-phone"></i>Local</span>937-226-1050</li>
  										<li><span><i class="fa fa-envelope-o"></i>Email</span><a href="mailto:JimS@rtsallison.com">JimS@rtsallison.com</a></li>

  									</ul>

  								</div>

  								<div class="card-footer">

  									<!-- Social Icons -->
  									<a href="http://www.facebook.com/rtsallison" class="social-icon social-icon-sm social-icon-transparent social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
  										<i class="fa fa-facebook"></i>
	                  </a>
  									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
  										<i class="fa fa-twitter"></i>
  									</a>
  									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google plus">
  										<i class="fa fa-google-plus"></i>
  									</a>

  									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
  									<i class="fa fa-linkedin"></i>
  									</a>
  									<a href="#" class="social-icon social-icon-sm social-icon-transparent social-pinterest" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
  										<i class="fa fa-pinterest"></i>
  									</a>
  									<!-- /Social Icons -->
  								</div>
  							</div>
  						</div>
  					</div>
          <div class="row">
      <div class="col-md-3">
      <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-map-marker"></i>
        <h2>Address</h2>
      </div>
      <address class="text-center margin-top-15">1930 Kuntz Street <br> Dayton, OH 45404</address>
      </div>
      </div>
      <div class="col-md-3">
      <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-clock-o"></i>
        <h2>Location Hours</h2>
      </div>
      <ul class="margin-top-15 p-l-55">Monday-Friday ---8-5:00pm<br>
      Saturday ---- Closed<br>
      Sunday ------ Closed
      </ul>
      </div>
      </div>
      <div class="col-md-3">
      <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-wrench"></i>
        <h2>Services</h2>
      </div>
        <ul class="text-center margin-top-15 custom_serv">
          <li>Allison Warranty Service</li>
          <li>Allison Service and Parts</li>
          <li>Allison Exchange Units</li>
                    <li>Telma</li>
        </ul>
      </div>
      </div>
      <div class="col-md-3">
      <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
      <div class="box-icon-title">
        <i class="b-0 fa fa-credit-card"></i>
        <h2>Payment Forms Accepted</h2>
      </div>
      <div class="text-center margin-top-15">
          <ul class="custom_serv">Mastercard<br>
             Visa<br>
             Discover<br>
             American Express<br>
             Money Order
          </ul>
      </div>
      </div>
      </div>
      </div>
      <div class="divider divider-dotted"></div>
          <!--Snazzy Maps -->
          <div class="center-block">
            <iframe src="https://snazzymaps.com/embed/52186" width="100%" height="300px" style="border:none;"></iframe>
          </div>

        </div>
      </section>
      <a href="tel:+888-868-2391" class="btn btn-red btn-lg btn-block">
        <span class="font-lato size-30">

          <strong>Call Us Today »</strong><li class="fa fa-phone"></li>
        </span>
      </a>
      <!--Locations - RTS Dayton-->
