<div >

  <div class="pfl_hle ord">
    <form method="post" action='user_profile'>
      <div class="row">

        <div class="col-md-12">

          <div class="pfl_dtl">
            <h4>Your Information</h4>
            <div class="alert alert-success" {% if title == "" %} style="display:none" {% endif %}>
              {{title}}
            </div>
            <div class="alert alert-danger" {% if error == "" %} style="display:none;color:red" {% endif %}>
              {{error}}
            </div>
           <!--  <div class="row">
              {% for myinfo in profileinfo %}
              <div class="col-md-6">
                <div class="field">
                  <input type="text" name="fullname" id="first_name" placeholder="First Name" value="{{myinfo.username}}">

               </div>
              </div>
              <div class="col-md-6">
                <div class="field">
                  <input type="text" name="last name" id="last_name" placeholder="Last Name" value="{{myinfo.loginusername}}">

                </div>
              </div>
              <div class="col-md-6">
                <div class="field">
                  <input type="email" name="E-mail" id="E-mail" placeholder="E-mail" value="{{myinfo.email}}">

                </div>
              </div>
              <div class="col-md-6">
                <div class="field">
                  <input type="text" name="old password" id="old_ password" placeholder="old Password">

                </div>
              </div>
              <div class="col-md-6">
                <div class="field">
                  <input type="text" name="New Password" id="New_password" placeholder="New Password">

                </div>
              </div>
              <div class="col-md-6">
                <div class="field">
                  <input type="text" name="Conform Password" id="Conform_password" placeholder="Conform Password">

                </div>
              </div>

              <div class="col-md-6">
                <div class="field">
                  <input type="text" name="Phone Number" id="Phone_number" placeholder="Phone Number" value="9896598475">

                </div>
              </div>
              <div class="col-md-6">
                <div class="field">
                  <input type="text" name="Organization" id="Organization" placeholder="Organization" value="{{myinfo.address_organization}}">

                </div>
              </div>
              {% endfor %}
            </div> -->
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="bll_dtl">
            <h4>Billing Information</h4>            
            <input type="hidden" name="profile_id" value="{{hiddenid}}">
            <div class="form-group row">
              <input type="hidden" id="postid"  name="postid" value='{{postid}}'>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="field">
                  <input type="text" name="bill_firstname" maxlength="30" required id="bill_firstname" placeholder="First Name">

               </div>
              </div>
              <div class="col-md-6">
                <div class="field">
                  <input type="text" name="bill_lastname" maxlength="30" required id="bill_lastname" placeholder="Last Name">

                </div>
              </div>
              <div class="col-md-12">
                <div class="field"> 
                  <input type="text" name="bill_address1" maxlength="65" required id="bill_address1" placeholder="Address">

                </div>
              </div>
              <div class="col-md-6">
                <div class="field">
                  <input type="text" name="bill_address2" maxlength="65"  required id="bill_address2" placeholder="Address2">

                </div>
              </div>
              <!-- <div class="col-md-6">
                <div class="field">
                  <input type="text" name="bill_zipcode" maxlength="10" required id="bill_zipcode" placeholder="Zip code">

                </div>
              </div> -->
              <!-- <div class="col-md-6">
                <div class="field">
                  <input type="text" name="bill_city" maxlength="15" required id="bill_city" placeholder="City">

                </div>
              </div>
              <div class="col-md-6">
                <div class="field">
                  <input type="text" maxlength="15" name="bill_state" required id="bill_state" placeholder="State">

                </div>
              </div> -->
              <div class="col-md-6">
                <div class="field">                  
                  <select class="form-control" name="bill_state"  id="bill_state" ng-change="state_change();"  ng-model="statechange" required>
                    <option value="">Select State</option>

                    {% for key,value in state %}
                      {% if selected_bill_state==key %}
                        <option value="{{key}}" selected="selected">{{value}}</option>
                      {% else %}
                        <option value="{{key}}">{{value}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
             

              <input type="hidden" id="h_b_city" value="{{ selected_bill_city }}">
              <input type="hidden" id="h_s_city" value="{{ selected_ship_city }}">
              <input type="hidden" id="h_b_zip" value="{{ selected_bill_zip }}">
              <input type="hidden" id="h_s_zip" value="{{ selected_ship_zip }}">


              <div class="col-md-6">
                <div class="field">  
                  <select ng-change="city_change();" name="bill_city"  id="bill_city"  class="form-control" ng-model="citychange"  required>
                    <option value="" selected="selected">Select City</option>
                    <option ng-repeat="option in citydata" value="{{'{{option}}'}}">{{'{{option}}'}}</option>

                  </select>
                </div>
              </div>

             <!--  <div class="col-md-6">
                <div class="field">  
                  <select  name="bill_zipcode" ng-model="zipchange" id="bill_zipcode"  class="form-control"   required>
                    <option value="" selected="selected">Select Zip</option>
                    <option ng-repeat="option in zipdata" value="{{'{{option}}'}}">{{'{{option}}'}}</option>

                  </select>
                </div>
              </div> -->
              <div class="col-md-6">
                        <div class="field">
                          <input type="text" name="bill_zipcode" required id="bill_zipcode" value="{{result_data[0]['bill_zipcode']}}" class="eff2" placeholder="Zip code *" maxlength="10">
                          
                        </div>
                      </div>
           
              <div class="col-md-6">
                <div class="field">
                  <input type="text" maxlength="15" name="bill_phone" required id="bill_phone" placeholder="Phone Number">

                </div>
              </div>
              <div class="col-md-6">
                <div class="field">
                  <input type="email" maxlength="60" name="bill_email" required id="bill_email" placeholder="E-mail">

                </div>
              </div>
            </div>
          </div>
            </div>

            <div class="col-md-12">
              <div class="pretty p-default p-round p-smooth">
                <input type="checkbox" id="billing_shipping" />
                <div class="state p-primary">
                    <label>Same as Billing Address</label>
                </div>
          </div>
              <div class="shp_dtl"><h4>Shipping Information</h4>
            <div class="row">
              <div class="col-md-6">
                <div class="field">
                  <input type="text" maxlength="30" name="s_firstname" required id="s_firstname" placeholder="First Name">

               </div>
              </div>
              <div class="col-md-6">
                <div class="field">
                  <input type="text" maxlength="30" name="s_lastname" required id="s_lastname" placeholder="Last Name">

                </div>
              </div>
              <div class="col-md-12">
                <div class="field"> 
                  <input type="text" maxlength="65" name="s_address1" required id="s_address1" placeholder="Address">

                </div>
              </div>
              <div class="col-md-6">
                <div class="field">
                  <input type="text" maxlength="65" name="s_address2"  required id="s_address2" placeholder="Address2">

                </div>
              </div>

               <div class="col-md-6">
                <div class="field">                  
                  <select class="form-control" name="s_state"  id="s_state" ng-change="s_state_change();"  ng-model="s_statechange" required>
                    <option value="">Select State</option>

                    {% for key,value in state %}
                      {% if selected_ship_state==key %}
                        <option value="{{key}}" selected="selected">{{value}}</option>
                      {% else %}
                        <option value="{{key}}">{{value}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="field">  
                  <select ng-change="s_city_change();" name="s_city"  id="s_city"  class="form-control" ng-model="s_citychange"  required>
                    <option value="" selected="selected">Select City</option>
                    <option ng-repeat="option in s_citydata" value="{{'{{option}}'}}">{{'{{option}}'}}</option>

                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="field">
                  <input type="text" maxlength="15" name="s_zipcode" required id="s_zipcode" placeholder="Zip code">

                </div>
              </div>

              <!-- <div class="col-md-6">
                <div class="field">  
                  <select  name="s_zipcode" ng-model="s_zipchange"  id="s_zipcode"  class="form-control"   required>
                    <option value="" selected="selected">Select Zip</option>
                    <option ng-repeat="option in s_zipdata" value="{{'{{option}}'}}">{{'{{option}}'}}</option>

                  </select>
                </div>
              </div> -->
              <!-- <div class="col-md-6">
                <div class="field">
                  <input type="text" maxlength="15" name="s_zipcode" required id="s_zipcode" placeholder="Zip code">

                </div>
              </div>
              <div class="col-md-6">
                <div class="field">
                  <input type="text" maxlength="15" name="s_city" required id="s_city" placeholder="City">

                </div>
              </div>
              <div class="col-md-6">
                <div class="field">
                  <input type="text" maxlength="15" name="s_state" required id="s_state" placeholder="State">

                </div>
              </div>
              <div class="col-md-6">

                 <select   class="form-control" name="s_country" required="" id="s_country">
                    <option value="">Country</option>
                    {% for key,value in countrys %}
                      {% if selected_ship_country==key %}
                        <option value="{{key}}" selected="selected">{{value}}</option>
                      {% else %}
                        <option value="{{key}}">{{value}}</option>
                      {% endif %}
                      
                    {% endfor %}
                  </select>
              </div> -->
              <div class="col-md-6">
                <div class="field">
                  <input type="text" maxlength="15" name="s_phonenumber" required id="s_phonenumber" placeholder="Phone Number">

                </div>
              </div>
              <div class="col-md-6">
                <div class="field">
                  <input type="email" maxlength="60" name="s_email" required id="s_email" placeholder="E-mail">

                </div>
              </div>
            </div>
          </div>
            </div>

          </div>

            <div class="upt_btn upt_btn text-center" style="margin: 0 auto;
    margin-bottom: 7px;width: 90px;">
              <input type="submit"  value="Save" style="border-radius: 6px;">
            </div>
        </div>
      </div>
    </form>
  </div>
</div>

