<div class="login-main">
  <div class="login-banner">
    <div class="login-main-logo text-center">
      <img src="{{ url('<front>') }}sites/default/files/autotech_new.png">
    </div>
  </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-9 col-md-8 col-lg-4 center-block">
  <form method="post" action='user_create'>
    <div class="login-form-wrapper">

        <div class="row">
          <div class="">
            <div class="login-form-block" >
        <div class="login-text text-center">
          <h1>Create New Account</h1>
          <div class="alert alert-success" {% if title == "" %} style="display:none" {% endif %}>
            User Created Successfully <a href="{{title}}/user/login">Please Login</a>
          </div>
          <div class="alert alert-danger" {% if error == "" %} style="display:none;color:red" {% endif %}>
            {{error}}
        </div>
        </div>

        <div class="login-content">
          <div class="form-group with-addon">
            <span class="input-addon">
              <i class="fa fa-user-o" aria-hidden="true"></i>
            </span>
            <input type="text" name="username" maxlength="30" required  placeholder="Username" class="form-control">
          </div>

         <!--  <div class="form-group with-addon">
            <span class="input-addon">
              <i class="fa fa-user-o" aria-hidden="true"></i>
            </span>
            <input type="text" name="lastname" placeholder="Last Name" class="form-control">
          </div>
 -->
          <div class="form-group with-addon">
            <span class="input-addon">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>

            </span>
            <input type="email"  name="email" maxlength="50" required  placeholder="E-mail" class="form-control">
          </div>

          <div class="form-group with-addon">
            <span class="input-addon">
              <i class="fa fa-key" aria-hidden="true"></i>
            </span>
            <input type="password" name="password" maxlength="10" required  placeholder="Password" class="form-control">
          </div>

          <div class="form-group">
            <div class="checkbox checkbox-info">
              <input id="remember" required="" type="checkbox">
              <label for="remember">I agree to the
                <a data-toggle="modal" data-target="#exampleModalCenter">Terms of Service &amp; Privacy Policy</a>
              </label>
            </div>
          </div>

          <div class="form-group row">
            <input type="hidden" id="postid" name="postid" value='{{postid}}'>
          </div>
        <div class="upt_btn">
          <input type="submit" value="submit" class="login-button">
        </div>
        <p class="sign-up-text text-muted text-center">Back to <a class="text-dark" href="{{ url('<front>') }}/user/login"><b>Sign In</b></a>
        </p>
        </div>
        </div>
        </div>
        </div>
      </form>
  </div>
  </div>
</div>
<div class="modal fade term" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Terms of Service and Privacy Policy</h2>


        <p>
           By agreeing to enter our portal.  You agree to provide information to AutoTech Engineering that will be contained in our SECURE portal.  Your information will NEVER be shared and will only be held for billing purposes.
        </p>
        <p>  By also agreeing to our terms of service you confirm that you are 18 years of age and fully understand the NO CASH REFUND policy since each unit is a custom built unit.
        </p>

      </div>
    </div>
  </div>
</div>
