
  <!-- Slider -->
<div class="container">
  <div class="faq-page-breadcrumb">
    <div class="breadcrumbs revealOnScroll" data-animation="fadeIn">
      <!-- <div class="breadcrumb-item"><a href="{{ url('<front>') }}">Home</a></div><i class="fa fa-chevron-right"></i> -->
      <div class="breadcrumb-item current">Wish List</div>
    </div>
  </div>

  <!-- Middle Content -->
  <div class="single-product-section">
    <!-- <h2 class="h2-title text-center">H2 Tage goes here</h2> -->
    <div class="">
      <div class="part-search-page">
        <div class="col-md-12" >
          <section class="featured_product">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="" ng-if="productwish.length > 0" >                    
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="(key, value) in productwish" id="wishblk_{{'{{value.product_id}}'}}">
                        <div class="wish_{{'{{value.product_id}}'}}">
                          <div class="featured_item_box">
                            <a class="product_img_head" href="{{ url('<front>') }}product_desc/{{'{{value.product_id}}'}}">
                              <img class="featured_img" src="{{'{{value.spliturl}}'}}" alt="featured product">                            
                              <!-- <span ng-if="value.field_new == 1" class="new_brand">New</span>
                              <span ng-if="value.field_new == 0 && value.field_new_feature == 0" class="new_brand">Best Seller</span>
                              <span ng-if="value.field_new == 0 && value.field_new_feature == 1" class="new_brand">Only A Few Left</span>
                              <span ng-if="value.field_new == 0 && value.field_new_feature == 2" class="new_brand">10 % Off</span>
                              <span ng-if="value.field_new == 0 && value.field_new_feature == 3" class="new_brand">BOGO Sale</span>
                              <span ng-if="value.field_new == 0 && value.field_new_feature == 4" class="new_brand">Sold Out</span> -->
                            </a>
                            <div class="featured_item_price">
                              <span class="price_color">${{'{{value.field_total_price}}'}}</span><!--  <span class="price_strike">${{'{{value.discount_price}}'}}</span> -->
                            </div>              
                            <div class="product_wishlist">
                                <!-- id="wishtlist_class" -->
                              <a href="">                                
                                <i ng-if="value.status1==1" id="{{'{{value.product_id}}'}}insidewish" class="fa fa-heart" aria-hidden="true"  wishlist_show='remove_wish' ng-click="remove_wish($event)" wishvalue="{{'{{ value.product_id }}'}}" ></i> 
                              </a>
                            </div>
                            <div class="clearfix"></div>
                            <a href="#" data-tooltip="Part#: {{'{{value.partnos}}'}}"><h5 class="text-up"><!-- {{'{{value[9]}}'}} {{'{{value[10]}}'}} -->{{'{{value.pname}}'}}</h5></a>
                            <div class="feature_shipping">
                              <i class="fa fa-truck" aria-hidden="true"></i>&nbsp;Free Delivery
                            </div>
                          </div>
                        </div>  
                      </div>
                  </div>                  
                  <div ng-if="productwish.length < 1">
                      <br><br>
                      <img src="{{ url('<front>') }}/sites/default/files/wishlist-empty.png"/>
                      <h3>Empty Wishlist</h3>
                      <h4>You have no items in your wishlist. Start adding!</h4>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>



